
<div id='abc_queue_cid'><%= flash[:notice] -%>
<% cid = "" if !defined?(cid) %>
<% gid = "" if !defined?(gid) %>

<%= form_tag :action => "abc_build_cid", :method => 'post' do %>
  <p>Circuit Id:<%= text_field_tag 'cid', cid, :size => 30 %>	
  Grid Id:<%= text_field_tag 'gid', gid, :size => 10 %>

<%= button_to_remote 'Queue to Automated Build Center',
  :url => {:action => "abc_build_cid"},
  :update => 'abc_queue_cid',
  :with => "'cid=' + $('cid').value + '&gid=' + $('gid').value" %>
<% end %>
</p>
</div>