<%= render partial: "monit/display_monit_statuses", locals: { statuses: @statuses } %>

<%= form_tag :action => 'index' do %>
  <%= render :partial => 'admin/list_any_type', :object => @in_progress,
             :locals => {
        :legend => 'In Progress',
        :fcn_tail => nil,
        :cols => %w{Circuit\ Id},
                :local_link => nil,
                :detail_link => nil,
        :attrs => %w{to_s},
        :details => %w{}
        } %>
<% end %>

<%= form_tag :action => 'index' do %>
  <%= render :partial => 'admin/list_any_type', :object => @pending,
             :locals => {
        :legend => "Pending circuits (Total pending #{@total_pending})",
        :fcn_tail => nil,
        :cols => %w{Circuit\ Id},
                :local_link => nil,
                :detail_link => nil,
        :attrs => %w{to_s},
        :details => %w{}
        } %>
<% end %>

<%= form_tag :action => 'index' do %>
  <%= render :partial => 'admin/list_any_type', :object => @summary,
             :locals => {
        :legend => 'Build Summary',
        :fcn_tail => nil,
        :cols => %w{Summary Hour Day Week Month Total},
                :local_link => nil,
                :detail_link => nil,
        :attrs => ["first.to_s", "last['Hour']", "last['Day']", "last['Week']", "last['Month']", "last['Total']"],
        :details => %w{}
        } %>
<% end %>

<%= form_tag :action => "abc_to_csv", :method => 'post' do %>
  <%= select_tag 'result', options_for_select(@summary.keys), :include_blank => true %>
  <%= submit_tag("Save to CSV") %>
<% end %>