
<div id='abc_bulk_build'><%= flash[:notice] -%>

  <%= form_tag :action => "abc_bulk_build", :method => 'post' do %>
    <p>Format: Circuit_id:Grid_id one per line</br><%= text_area_tag 'cid', "", :cols => 40, :rows => 5 %></br>	
      <%= button_to_remote 'Queue to Automated Build Center',
        :url => {:action => "abc_bulk_build"},
        :update => 'abc_bulk_build',
        :with => "'cids=' + $('cid').value" %>
    </p>
  <% end %>
  <%= button_to_remote 'Requeue All "Not Currently Supported"',
    :url => {:action => "requeue_all_of_type"},
    :update => 'abc_bulk_build',
    :with => "'summary=' + 'Not Currently Supported'"%>

  <%= button_to_remote 'Requeue All "Failed"',
    :url => {:action => "requeue_all_of_type"},
    :update => 'abc_bulk_build',
    :with => "'summary=' + 'Failed'"%>

</div>