<dev id='abc_results'>
<%= form_tag :action => 'index' do %>
  <%= render :partial => 'admin/list_any_type', :object => @builder_logs,
             :locals => {
				:legend => 'Filtered Logs',
				:fcn_tail => 'builder_log',
				:cols => %w{Name Grid\ Id Build\ Summary Detail Updated\ At},
				:sorted => true,
                :local_link => nil,
                :detail_link => 'name',
				:attrs => %w{grid_id summary summary_detail updated_at},
				:details => %w{},
				:enable_search => true
				} %>
<% end %>
</div>