#remove_circuit
  = render :partial => 'automated_build_center/remove_status', :locals => { :status => nil }
  = form_tag('automated_build_center/remove_circuit', :controller => 'automated_build_center', :action => 'remove_circuit', remote: true)  do
    = label_tag( :circuit, "Input: circuit id, grid id, or cid:gid")
    = text_field_tag( :circuit )
    = submit_tag("Remove", :confirm => "Are you sure you want to delete this Circuit?")