#remove_status
  - unless remove_status.nil?
    -#%textarea{ rows: "10", cols: "100", readonly: "readonly" }= remove_status
    =label_tag(:remove_status, remove_status, :style => ((remove_status =~ /^Circuit .* Successfully removed/) ? "color: green;" : "color: red;") )
    %br
