<h1>Builder log</h1>

<%= error_messages_for 'builderlog' %>

<fieldset>
 <p>Summary:<br/><%= text_field_tag 'summary', @builder_log.summary, :size => 30, :readonly => true %></p>	
 <p>Summary:<br/><%= text_field_tag 'summary detail', @builder_log.summary_detail, :size => 80, :readonly => true %></p>	
 <p>Details:<br/><%= text_area_tag 'details', @builder_log.details, :cols => 80, :rows => 20, :readonly => true%></p>
</fieldset>
<%= render :partial => 'abc_build_cid', :locals => {:cid => @builder_log.name, :gid => @builder_log.grid_id} %>
