<h2><b>Automated Build Center</b></h2>

<script type="text/javascript">
  new Ajax.PeriodicalUpdater("build_logs_auto_update", 
    "/automated_build_center/auto_update", 
    { frequency: 30, 
      method: 'get' })
</script>

<div id='build_logs_auto_update'>
  <p>Loading...</p>
</div>

<fieldset>
 <legend>Request a rebuild</legend>
  <%= render :partial => 'abc_bulk_build' %>
</fieldset>

<fieldset>
  <legend>Remove a circuit</legend>
  <%= render :partial => 'remove_circuit' %>
</fieldset>

<fieldset>
 <legend>Automated Build Center Logs</legend>
 <%= form_tag :action => "abc_filter", :method => 'post' do %>
   <p>Circuit Id:<%= text_field_tag 'cid_filter', @cid_filter, :size => 30 %>
   Summary:<%= text_field_tag 'summary_filter', @summary_filter, :size => 10 %>
   Max Results:<%= text_field_tag 'row_limit', @row_limit, :size => 10 %>

 <%= button_to_remote 'Filter',
   :url => {:action => "abc_filter"},
   :update => 'abc_results',
   :with => "'cid_filter=' + $('cid_filter').value + '&summary_filter=' + $('summary_filter').value + '&row_limit=' + $('row_limit').value" %>
 <% end %>
 </p>
<%= render :partial => 'abc_results' %>
</fieldset>



