%fieldset
  %legend Uploaded Files
  - if @raw_files.empty?
    %p No files processed
  - else
    %p= "The #{@raw_files.size} most recent loaded files (most recent on top -- and might still be loading)"
    %div{ :class => "history" }
      %table
        %tr
          %th Filename
          %th Date
          %th Mode
        - @raw_files.each do |data|
          %tr
            %td= data[:basefilename]
            %td= Cmaudit::Validator.time_to_s(data[:ts],"","%Y-%m-%d %H:%M:%S UTC")
            %td= data[:mode]