%fieldset
  %legend Audit Command History
  =form_tag('/audit/history', :controller => 'audit', :action => 'history') do
    = text_field_tag( :num_lines, @history.size)
    = submit_tag("Refresh")
  = render partial: "eve/history", locals:  { history: @history, controller: "" }