%fieldset
  %legend Audit Summary

  = render :partial => "eve/exec", :locals => { :name => "Audit Current Task", :exec => @audit_exec }
  
  - @audit_queues.each do |display_name,list|
    = render :partial => "eve/enqueue", :locals => { :name => display_name, :enqueued => list }

  = render :partial => "audit/raw_files", :locals => { :raw_files => @raw_files }
  = render :partial => "eve/queue_processed", :locals => { :name => "Audit Processed Tasks", :enqueued => @audit_processed }
  = render :partial => "eve/queue_failed", :locals => { :name => "Audit Failed Tasks", :enqueued => @audit_failed }    

  <script type="text/javascript">
  new Ajax.PeriodicalUpdater("update_area", "/audit/_audit_status", { frequency: 300, method: 'get' })
  </script>
  #update_area
    %p Loading...

  = render :partial => "eve/polling", :locals => { :poll_cmds => @poll_cmds, :duration => @poll_duration, :polling => @polling }
  = render :partial => "grid/sources", :locals => { :storages => @sources }
  = render :partial => "grid/archives", :locals => { :storages => @archives }
  = render :partial => "eve/registries", :locals => { :registries => @registries }
  %fieldset
    %legend Audit Configurations
    %ul
      %li= "CM DIR: #{@cm_dir}"
      
      %li= render :partial => "eve/redis", :locals => { :redis => @redis }

  %fieldset
    %legend= "Audit Format Paths (#{@audit_target})"
    %ul
      - @format_paths.each do |f|
        %li= f