%fieldset
  %legend Archives
  -if storages.empty?
    %p There are no archives
  - else
    %ul
      - storages.each_with_index do |data,index|
        - path,storage = data
        - storage_name = GridApp.cmd("archive name #{index}") || "#{index}"
        %li= "#{storage_name} (#{storage.storage_path(true)})"
