#control_grid
  = flash[:notice]
  %fieldset
    %legend Grid status
    = text_field_tag 'Grid status', grid_info[:stopped] ? "Paused" : "Running", :size => 30, :readonly => true,
      :style => grid_info[:stopped] ? "color: red;" : ""  
    <br/>
    - if grid_info[:stopping]
      %p
        Details:<br/>
        = text_area_tag 'details', grid_info[:progress].join("\n"), :cols => 120, :rows => 10, :readonly => true
    Executing:&nbsp;
    - if grid_info[:exec].is_a? String
      #{grid_info[:exec]}
    - else
      - grid_info[:exec].each do |pid, data|
        = "#{data["cmd"]} (PID #{pid}, started at #{data["started"]})"
    <br/>
    - grid_info[:latest].each do |latest|
      = latest
      <br/>
    = button_to_remote 'Pause Grid', :url => {:controller => 'grid', :action => "pause_grid"}, :update => 'control_grid'
    = button_to_remote 'Resume Grid', :url => {:controller => 'grid', :action => "resume_grid"}, :update => 'control_grid'