%fieldset
  %legend= title
  -if results.is_a?(String)
    %p= results
  -else
    %ul
      -results.each do |result|
        %li
          = "Error: "
          %br
          - result[:error].split("\n").each do |line|
            =line
            %br
          = "Action: "
          %br
          - result[:action].split("\n").each do |line|
            =line
            %br