= render partial: "control_grid", locals: { grid_info: @grid_info }
= render partial: "monit/display_monit_statuses", locals: { statuses: @statuses }
= render partial: "eve/history", locals:  { history: @history, controller: "grid" }
= render partial: "grid_logs", locals: { server: @server, log: @log, polling_logs: @polling_logs }