%style
  = ".audit_report table { width: 65%; margin: 10px 0 10px 0; border-collapse:collapse; }"
  = ".audit_report table, .audit_report tr, .audit_report th, .audit_report td { border: 1px solid grey; padding: 2px 5px 2px 2px; }"
  = ".audit_report th { background-color: #c6c6c6; }"
  = ".audit_partials table { width: 95%; margin: 10px 0 10px 0; border-collapse:collapse; }"
  = ".audit_partials table, .audit_partials tr, .audit_partials th, .audit_partials td { border: 1px solid grey; padding: 2px 5px 2px 2px; }"
  = ".audit_partials th { background-color: #c6c6c6; }"
%fieldset
  %legend Run the Grid Audit Report
  %div{ :class => "audit_report" }
    %table
      %tr
        = form_tag  action: :grid_audit_report, :method => 'post' do
          %td
            = label_tag(:start_date, "Check availability starting:")
            = text_field_tag(:start_date, start_date)
          %td
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
          %td
            = label_tag(:availability, "availability:")
            = check_box_tag(:availability)
            = " <- this takes a long time."
            = submit_tag 'Run Full Audit'
  = " - - - Or select a portion of the audit - - - "
  %div{ :class => "audit_partials" }
    %table
      %tr
        %td
          = form_tag  action: :grid_audit_valid, :method => 'post' do
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            = submit_tag "Check validity of Grid's IDs"
        %td
          = form_tag  action: :grid_audit_abc, :method => 'post' do
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            = submit_tag "Check Grid circuits vs ABC circuits"
        %td
          = form_tag  action: :grid_audit_da, :method => 'post' do
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            = submit_tag "Check Grid vs DA"
        %td
          = form_tag  action: :grid_audit_lkp, :method => 'post' do
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            = submit_tag "Check Grid vs LKP"
        %td
          = form_tag  action: :grid_audit_samples, :method => 'post' do
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            = submit_tag "Check samples missing from circuits"
        %td
          = form_tag  action: :grid_audit_avail, :method => 'post' do
            = label_tag(:start_date, "Check availability starting:")
            = text_field_tag(:start_date, start_date)
            = label_tag(:out_limit, "Circuits output limit:")
            = text_field_tag(:out_limit, output_limit)
            %br
            = "this takes a long time."
            = submit_tag "Check availability CDB vs DA"