%fieldset
  %legend Grid Logs
  %P
    = "Most recent logs recorded for Grid: (log: #{log}"
    = "server: #{server}" if server and !server.empty?
    = ")"
  %textarea{ rows: "10", cols: "150", readonly: "readonly"}= polling_logs.join("\n")