#search_circuit_info
  %fieldset
    %legend Circuit Information
    = render :partial => 'grid/circuit_info', :locals => { :circuit_info => circuit_info }
    Enter Circuit ID or Name 
    = form_tag('grid/circuit_info', :controller => 'grid', :action => 'circuit_info',  method: "get", remote: true)  do
      = text_field_tag( :circuit )
      = submit_tag("Search")