%fieldset
  %legend Sources
  -if storages.empty?
    %p There are no sources
  - else
    - storages.each_with_index do |data,index|
      - path,storage = data
      - storage_name = GridApp.cmd("source name #{index}") || "#{index}"
      / HACK - should be a message
      - last_accessed = GridApp.eve.redis.get(GridApp.eve.lookup_id("sources.#{storage.storage_path}.last_accessed"))
      - last_accessed = "Never" if last_accessed.blank?
      %h3= storage_name
      %ul
        %li= "Location: #{storage.storage_path(false)}"
        %li= "Last Accessed: #{last_accessed}"
        - unprocessed_files = storage.ls
        - if unprocessed_files.empty?
          %li There are no outstanding files to process
        - else
          %li
            = "The following #{unprocessed_files.size} file(s) have not been processed yet."
            %ul
              - storage.ls.each do |file|
                %li= file
