%fieldset
  %legend Targets
  -if targets.empty?
    %p There are no targets
  - else
    %ul
      - targets.each do |target|
        %li= "#{target[:storage_name]} (#{target[:storage].storage_path(false)}, on: #{target[:host]})"
        - if target[:target_format].empty?
          -if target[:FNF]
            %p FORMAT: File Not Found or is Empty: #{target[:filename]}
          -else
            %p FORMAT: No Target Format - Copy "as-is"
        - else
          = render :partial => "grid/target_format", :locals => { :filename => target[:filename], :target_format => target[:target_format] }
          