%style
  = ".spreadsheet table { width: 95%; margin: 10px 0 10px 0; border-collapse:collapse; }"
  = ".spreadsheet table, .spreadsheet tr, .spreadsheet th, .spreadsheet td { border: 1px solid black; padding: 2px 5px 2px 2px; }"
%div{ :class => "spreadsheet" }
  %p= "FORMAT: #{filename}"
  / - spreadsheet = Kpigen::Spreadsheet.load(filename)
  %table
    - target_format.each do |data_row|
      %tr
        - data_row.each do |entry|
          %td= entry