%fieldset
  %legend Grid Audit Report
  = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_valid], results: @report_data[:grid_audit_valid] }
  = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_abc], results: @report_data[:grid_audit_abc] }
  = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_da], results: @report_data[:grid_audit_da] }
  = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_lkp], results: @report_data[:grid_audit_lkp] }
  = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_samples], results: @report_data[:grid_audit_samples] }
  - if @report_data[:grid_audit_avail]
    = render partial: "grid_audit_partial", locals: { title: @titles[:grid_audit_avail], results: @report_data[:grid_audit_avail] }