%fieldset
  %legend Grid Command History
  =form_tag('/grid/history', :controller => 'grid', :action => 'history') do
    = text_field_tag( :num_lines, @history.size)
    = submit_tag("Refresh")
  = render partial: "eve/history", locals:  { history: @history, controller: "" }