%fieldset
  %legend Grid Summary
  <script type="text/javascript">
  new Ajax.PeriodicalUpdater("update_area", "/grid/_grid_status", 
  { frequency: 30, method: 'get' })
  </script>
  #update_area
    %p Loading...

  = render partial: "grid_audit_options", locals: { output_limit: @out_limit, start_date: @start_date }
  = render partial: "search_circuit_info", locals: { circuit_info: @circuit_info }
  = render :partial => "eve/registries", :locals => { :registries => @registries }
  = render :partial => "eve/polling", :locals => { :poll_cmds => @poll_cmds, :duration => @poll_duration, :polling => @polling }
  = render :partial => "grid/sources", :locals => { :storages => @sources }
  = render :partial => "grid/targets", :locals => { :targets => @targets }
  = render :partial => "grid/archives", :locals => { :storages => @archives }
  = render :partial => "eve/api", :locals => { :name => "Grid API", :api => @grid_api }
  = render :partial => "eve/api", :locals => { :name => "GCI API", :api => @gci_api }
  %fieldset
    %legend Versions and Misc
    %ul
      %li
        = render :partial => "grid/versions", :locals => { :versions => @versions, :names => ["Eve", "Grid"] }
      %li= "Big T: #{@big_t}"
      %li= "Sources: #{@sources.size}"
      %li= "Targets: #{@targets.size}"
      %li= "Archives: #{@archives.size}"
      %li= render :partial => "eve/redis", :locals => { :redis => @redis }
