
<h1>DEMO CONFIGURATION</h1>

<h2>Reset Other Data Sources</h2>
<ul>
  <li><%= link_to 'Reset Orders', {:controller => 'db', :action => 'reset_orders'}, :confirm => 'Are you sure?' %> -- remove all screenshots, and information about each 'order' sent to AT&T.</li>
  <li><%= link_to 'Reset Grid', {:controller => 'db', :action => 'reset_grid'}, :confirm => 'Are you sure?' %> -- remove topology info, and all activity from sources, targets and archives in Grid.</li>
  <li><%= link_to 'Reset LKP', {:controller => 'db', :action => 'reset_lkp'}, :confirm => 'Are you sure?' %> -- remove lkp data.</li>
</ul>

<h2>Database Reset</h2>

<% if @sin_doc_path.nil? -%>
  <p>Unable to locate sin_doc within</p>
  <ul>
    <% @available_paths.each do |path| -%>
      <li><%= path %></li>
    <% end -%>
  </ul>
<% else -%>

  <p>
  After you select the appropriate demo-seed, the following actions will be performed on this web application
  </p>

  <ul>
    <li>SIN_DOCs will be updated</li>
    <li>Database will be reset (all data will be erased)</li>
    <li>Selected database will be loaded</li>
    <li>Database will be migrated (to ensure capability)</li>
    <li>POE logs will be deleted (/cenx/osl/data/cm)</li>
    <li>CDB web application will be reset</li>
    <li>Inventory display will be updated (sphinx re-index)</li>
  </ul>

  <p>Available Databases (<%= @sin_doc_path %>):</p>
  
  <ul>
    <% @avaiable_dbs.each do |db| -%>
    <li>
      <%=  link_to db, { :controller => :db, :action => :reset, :id => db }, :confirm => "About to load #{db}\nWill take approx. 1 minute.\n Are you sure?" %> 
    </li>
    <% end -%>
  </ul>

  <p>Database Environment</p>
  <ul>
    <li>Name: <%= @db_configs["database"] %></li>
    <li>User: <%= @db_configs["username"] %></li>
    <li>Password: <%= @db_configs["password"].nil? ? "-- none --" : "******" %>
  </ul>

<% end -%>