

%h1 SUCCESSFULLY RESET GRID

= render :partial => "grid/sources", :locals => { :storages => @sources }
= render :partial => "grid/targets", :locals => { :storages => @targets }
= render :partial => "grid/archives", :locals => { :storages => @archives }
