
- if @overall_success
  %h1= "SUCCESSFULLY COMPLETED #{@reset_name}"
- else
  %h1= "ISSUES FOUND WHEN RUNNING #{@reset_name}, SEE RESULTS BELOW"
%ul
= @cmds_run.each do |data|
  %li
    %p= data[:script]
    %p= data[:did_work] ? "SUCCEEDED" : "FAILED"
    %pre= data[:result]
