%fieldset
  %legend Backlog
  %ul
    - @back_logs.each_with_index do |back_log, index|
      - if index == 0
        %li= "Total samples waiting to be processed: #{back_log}"
      -else
        %li= "samples waiting to be processed by worker #{index}: #{back_log}"
= render partial: "monit/display_monit_statuses", locals: { statuses: @statuses }
