%fieldset
  %legend LKP Status and Summary
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("lkp_area", 
    "lkp/_lkp_status", 
    { frequency: 30, method: 'get' })
  %fieldset
    %legend LKP Redis Database
    = "Current Size: #{@database_size}B"
  #lkp_area
    %p Loading...
  %fieldset
    %legend Recent Files Processed
    %P
      = "100 most recent files processed from #{@directory}: (log: #{@log}"
      = "server: #{@server}" if @server and !@server.empty?
      = ")"
    %textarea{ rows: "15", cols: "150", readonly: "readonly"}
      - @filelist.each do |line|
        = "Opened:#{line[1].to_s(:long)}:#{0 if line[1].sec < 10}#{line[1].sec}\tClosed:#{line[2].to_s(:long)}:#{0 if line[2].sec < 10}#{line[2].sec}  File:#{line[0]}#{"\n" unless Rails.env.production?}"

  = form_tag :action => 'index' do
    = render :partial => 'admin/list_any_type', :object => @error_data, :locals => { :legend => 'Number of Exceptions Raised', :fcn_tail => nil, :cols => %w{\  Hour Day Week Month Total}, :local_link => nil, :detail_link => nil, :attrs => ["first.to_s", "last['Hour']", "last['Day']", "last['Week']", "last['Month']", "last['Total']"], :details => %w{}}
  %fieldset
    %legend Number of CTVs seen by LKP vs CDB
    %ul
      %li= "Redis CTVs in weekly rollup: #{@count_W}"
      %li= "Redis CTVs in monthly rollup: #{@count_M}"
      %li= "Total CTVs in CDB: #{@total_circuits}"
  %fieldset
    %legend Thresholds for Availability Calculations
    %ul
      %li= "Frame Loss Ratio Threshold: #{@flr_threshold}%"
      %li= "Availability Threshold: #{@availability_threshold} consecutive samples"
  %fieldset
    %legend Warnings and Errors
    %p
      = "100 most recent warning or error log entries:  (log: #{@log} "
      = "server: #{@server}" if @server and !@server.empty? 
      = ")"  
    %textarea{ rows: "15", cols: "150", readonly: "readonly"}="#{@log_summary.join("\n")}"