%style
  = ".status table { width: 95%; margin: 10px 0 10px 0; border-collapse:collapse; }"
  = ".status table, .status tr, .status th, .status td { border: 1px solid black; padding: 2px 5px 2px 2px; }"
= render partial: "monit/display_monit_statuses", locals: { statuses: @statuses }
%fieldset
  %legend Database Status
  .status
    %p
      = "Timestamp of Most Recent Archive Record: #{@newest_entry}"
      %br
      = "Current Size of Data Archive: #{@da_size}"
      %br
      - unless  @da_partition[1] == @cdb_partition[1]
        = "Status of Data Archive partition:"
        %br
        %table
          - @da_partition.each do |line|
            %tr
            - line.split(" ").each do |entry|
              - unless entry == "on"
                %td= entry
      = "Current Size of CDB: #{@cdb_size}"
      %br
      - if  @da_partition[1] != @cdb_partition[1]
        = "Status of CDB partition:"
      - else
        = "Status of Database partition:"
      %br
      %table
        - @cdb_partition.each do |line|
          %tr
          - line.split(" ").each do |entry|
            - unless entry == "on"
              %td= entry

%fieldset
  %legend
    = "100 " unless @newest_data.split("\n").count < 100
    = "Most recent data files loaded: (log: #{@log}" 
    = " server: #{@server}" if !@server.empty? 
    = ")"
  %textarea{ rows: "10", cols: "150", readonly: "readonly" }= @newest_data
  %br