#gid_info
  - if !gid_info.nil?
    = "Circuit #{gid_info[:gid]} has data from:"
    - if !gid_info[:record_start]
      'Grid ID'
    -else
      = "#{gid_info[:record_start].to_s(:long)}"
    to:
    - if !gid_info[:record_end]
      'Not Found'
    - else
      ="#{gid_info[:record_end].to_s(:long)}"
    %br
