#search_grid_id
  %fieldset
    %legend Active Period of Circuit
    = render :partial => 'data_archive/gid_info', :locals => { :gid_info => gid_info }
    Enter Grid Circuit ID
    = form_tag('data_archive/search_grid_id', :controller => 'data_archive', :action => 'search_grid_id',  method: "get", remote: true)  do
      = text_field_tag( :gid )
      = submit_tag("Search")