%fieldset
  %legend Data Archive Status and Summary  
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("da_area", 
    "data_archive/_da_status", 
    { frequency: 300, method: 'get' })
  #da_area
    %p Loading...
  %fieldset
    %legend Shard Table Info
    %ul
      %li= "Number of shard tables: #{@shard_count}"
      %li= "First empty shard encountered: #{@empty_shard}"
      %li= "Number of empty shards: #{@empty_shard_count} (#{@empty_shard_space} Circuit IDs of free space)"
      %li
        List of partially filled shards,
        = " Count: #{@partial_shards_count}, Total 'wasted' space: #{@total_space} Circuit IDs"
        %br
        %textarea{ rows: "10", cols: "80", readonly: "readonly" }
          - @partial_shards.each do |key, value|
            = "#{key} \t#{value} Circuits of space#{"\n" unless Rails.env.production?}"
      %br
      %li
        = "Grid Circuit IDs (#{@da_grid_id_count}):"
        %br
        %textarea{ rows: "10", cols: "80", readonly: "readonly" }=@da_grid_ids.join("\n")
    %br
  %fieldset 
    %legend SQL Database Summary
    %ul
      %li= "Number of Connections: #{@connections}"
      %li
        Who is connected:
        %br
        %textarea{ rows: "10", cols: "150", readonly: "readonly" }
          - @process_list.each do |process| 
            = "Id: #{process["Id"]}, \tUser: #{process["User"]},\tHost: #{process["Host"]},\tdb: #{process["db"]},\tCommand: #{process["Command"]}#{"\n" unless Rails.env.production?}"
      %br
      %li
        slow queries
        %ul
          %li= "current count: #{@slow_queries}"
          %li= "logger status: #{@slow_logging}"
          %li= "logger file: #{@slow_log}"
          %li= "time threshold: #{@slow_time} seconds"
        %p
          If slow query tracking is disabled open mysql as root user and make these changes:<br/>
          SET GLOBAL long_query_time=time in seconds; (default 10s)<br/>
          SET GLOBAL slow_query_log_file=path/to/log/filename.log; (has a default)<br/>
          SET GLOBAL slow_query_log=ON; or 1 (off or 0)<br/>
          To check the variables: show global variables like '%lo%que%';<br/><br/>
  %fieldset
    %legend Cleaner Fish
    = "Last time cleaner fish was run: #{@cleaner_timestamp}"
  %br
  = render :partial => "search_grid_id", :locals => { :gid_info => nil }





