<fieldset>
  <legend>Copy Results</legend>

  <!-- Errors -->
  <% unless errors.empty? %>
    <fieldset>
      <legend>Warnings</legend>
      <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </fieldset>
  <% else %>
    Ports Copied Successfully!
  <% end %>

  <!-- Results -->
  <% @results.each do |nodes, ports| %>
    <% next if nodes.is_a? Symbol %>
    <fieldset>
      <legend><%= "Ports copied from #{nodes[:source].name} to #{nodes[:dest].name}" %></legend>
      <ul>
        <% ports.each do |port_info| %>
        <li><%= "New " if port_info[:new]%><%= "#{port_info[:port].name}" %> </li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>
</fieldset>