<div class='lookup_form'> 
  <div class="right" style="margin-right:10px">
    <%= form_tag url_for(:controller => 'admin', :action => 'search_member_handle'), :method => :get, :id => @product do %>
      <input class='entry' name='member_handle' placeholder='Member Handle...' type='text' /> 
      <input class="submit_button quick_search" name="commit" type="submit" value="Go" /> 
    <% end %>
  </div>


  <div class="right" style="margin-right:20px">
    <%= form_tag url_for(:controller => 'admin', :action => 'search_cenx_id'), :id => @product do %>
      <input class='entry' name='cenx_id' placeholder='Cenx ID/Name...' type='text' /> 
      <input class="submit_button quick_search" name="commit" type="submit" value="Go" /> 
    <% end %>
  </div>

</div>