<div id="demarc_order_list_field" >
<%= render :partial => 'list_any_type', :object => @sos,
             :locals => {
               :legend => 'Demarc Orders',
				:fcn_tail => 'so',
				:cols => %w{ Description cenx\ id type demarc\ info State},
                                :local_link => 'title',
                                :detail_link => nil,
				:attrs => %w{cenx_id action},
				:details => %w{ordered_entity_info get_order_name},
				:enable_search => true
				} %>
</div>


