<div id="node_list_field" >
     <%=  if @site
     #button_to "Add New Port", :action => 'new_port', :id => @node.id
     link_to "Add Node to #{@site.name} Site", :action => 'new_node', :id => @site.id
   end %> <br />
<%= render :partial => 'list_any_type', :object => @nodes,
             :locals => {
				:legend => 'Nodes',
                                :cols => %w{Name type IP loopback Site State},
                                :fcn_tail => 'node',
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{node_type primary_ip loopback_ip},
				:details => %w{site_info get_prov_name},
                                :methods => {},
				:enable_search => true,
				:enable_delete => true
				} %>
</div>
