<div id="ii_list_field" >
     <%=  if @site
     link_to "Add Equipment to #{@site.name} Site", :action => 'new_ii', :id => @site.id
   end %> <br />
  <%= render :partial => 'list_any_type', :object => @iis,
             :locals => {
                :legend => 'Equipment',
				:fcn_tail => 'ii',
				:cols => %w{vendor cabinet make/model description cenx\ naming\ std serial\ number cenx\ po\ number service\ start\ date service\ end\ date site},
                :local_link => 'vendor',
                :detail_link => nil,
				:attrs => %w{cabinet_position make_model description cenx_naming_std serial_number cenx_po_number service_start_date service_end_date},
				:details => %w{site_info},
                :methods => {},
				:enable_search => true,
				:enable_delete => true
				} %>
</div>
