<%= render :partial => 'list_any_type', :object => mas,
             :locals => {
               :legend => 'Member Attribute Definitions',
				:fcn_tail => 'ma',
				:cols => %w{name type syntax value\ range optional},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => %w{type syntax value_range allow_blank},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_ma', :id => id, :ae_type => ae_type %>
