<div id="enni_list_field" >
<%= render :partial => 'list_any_type', :object => @ennis.turbo_cenx_name.turbo_sp_info_enni.turbo_site_info.turbo_path_count.turbo_prov_name,
             :locals => {
				:legend => 'ENNIs',
                                # See James this breaks the search
				#:fcn_tail => 'enninew',
                                :fcn_tail => 'demarc',
				:cols => %w{ Cenx\ Name Cenx\ id Lag encap Prot. Member Site Paths State 24x7\ Support},
				:cols => %w{ Cenx\ Name Cenx\ id Lag encap Prot. Member Site Paths State 24x7\ Support},
                                :local_link => nil,
                                # See James this breaks the search
                                #:detail_link => 'turbo_cenx_name',
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id lag_id port_enap_type}, 
				# See James this breaks the search
                                #:details => %w{short_prot_type turbo_sp_info_enni turbo_site_info turbo_path_count turbo_prov_name emergency_contact_number},
				:details => %w{short_prot_type sp_info_enni site_info path_count prov_name emergency_contact_number},
                                :enable_search => true,
				:countable_object => @ennis
				} %>
</div>
