<div id="bulk_order_list_field" >	
<%= render :partial => 'list_any_type', :object => @sos,
             :locals => {
				:legend => 'Cenx Bulk Orders',
				:fcn_tail => 'bo',
				:cols => %w{ Title order\ type cenx\ id action path\ info State},
                                :local_link => 'title',
                                :detail_link => nil,
				:attrs => %w{bulk_order_type cenx_id action},
				:details => %w{ordered_entity_info get_order_name},
				:enable_search => true} %>
</div>
