<div id="port_list_field" >
   <%= render :partial=> 'select_node',
                     :locals => {
                          :prompt => 'Filter by Node:',
                          :action => 'filter_node_port',
                          :update => 'port_list_field',
                          :with => '"id=" + value' } %>
   <%=  if @node
     #button_to "Add New Port", :action => 'new_port', :id => @node.id
     link_to "Add Port to #{@node.name}", :action => 'new_port', :id => @node.id
   end %> <br />

   <%= render :partial => 'list_any_type', :object => @ports,
             :locals => {
				:legend => 'Ports',
				:fcn_tail => 'port',
				:cols => %w{name phy\ type slot/port strands mac node site connected\ to},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{phy_type patch_panel_slot_port strands mac},
				:details => %w{node_info site_info all_connection_info_port},
                                :sorted => true,
				:enable_search => true
				} %>

        
</div>
