<div id="input_column_left">
<p>Site Groups:<br/>
	<%= f.select :site_group_ids, options_from_collection_for_select(SiteGroup.all, :id, :name, @site.site_groups.collect{|sg| sg.id}), {}, {:multiple => true, :cols => 60} %>
</p>

<p> *Type:<br/>
<% if @site.site_type.nil? or is_new %>
  <% prompt = @site.possible_site_types.empty? ? "No Valid Site Types" : "Select" %>
  <%= f.select :site_type, @site.possible_site_types, :prompt => prompt %>
<% else %>
  <%= f.text_field :site_type, :disabled => true %>
<% end %>
</p>
<p> Site Layout:<br/> <%= f.select :site_layout, HwTypes::SITE_LAYOUTS, :prompt => "Select" %> </p>
<% if(@site.operator_network_id == nil || is_new) %>
<p> *Network:<br/> <%= f.select :operator_network_id,
         options_from_collection_for_select(@ons, :id, :name, @site.operator_network_id ),
         :prompt => "Select"%> </p>
<% else %>
  <p>Network:<br/><%= text_field_tag "site_operator_network_id", @site.on_info_site, :size => 50, :disabled => true %>
  <%= link_to "--View", :action => 'edit_on', :id =>  @site.operator_network_id %></p>
<% end %>
<p> *Name:<br/> <%= f.text_field :name%> </p>
<p> *Site Host<br/> <%= f.text_field :site_host%> </p>
<p> *City:<br/> <%= f.text_field :city %> </p>
<p> State/Province:<br/> <%= f.text_field :state_province %> </p>
<label>*Street Address: </label><br/>
<%= f.text_area :address, :cols => 40, :rows => 3%><br/>
<p> Zip/Postal Code:<br/> <%= f.text_field :postal_zip_code%> </p>
<p> *Country:<br/> <%= f.text_field :country %> </p>
<p> *Floor:<br/> <%= f.text_field :floor%> </p>
<p> CLLI:<br/> <%= f.text_field :clli%> </p>
<p> ICSC:<br/> <%= f.text_field :icsc%> </p>
<p> 24x7 Support Info: </label><br/>
<%= f.text_area :emergency_contact_info, :cols => 40, :rows => 2%></p>
<p> *Escalation Contact Info: </label><br/>
<%= f.text_area :contact_info, :cols => 40, :rows => 6%></p>
</div>
<div id="input_column_right"><br/><br/><br/>
<p> *Node Name Prefix:<br/> <%= f.text_field :node_prefix, :readonly => !is_new%></p>
<p> *Network Address:<br/> <%= f.text_field :network_address%> </p>
<p> *Broadcast Address:<br/> <%= f.text_field :broadcast_address%> </p>
<p> *Loopback Address:<br/> <%= f.text_field :loopback_address%> </p>
<p> *Host Range:<br/> <%= f.text_field :host_range%> </p>
<p> *Hosts per subnet:<br/> <%= f.text_field :hosts_per_subnet%> </p>
<p>Latitude:<br/>
  <%= f.text_field :latitude, :size => 30 %></p>
<p>Longitude:<br/>
  <%= f.text_field :longitude, :size => 30 %></p>
<p>Hardware Configuration:<br/> <%= text_field_tag 'site_config',@site.site_configuration, :size => 30, :disabled => true %> </p>
<p> Site Access Notes (How to get into building etc..):<br/> <%= f.text_area :site_access_notes, :cols => 40, :rows => 10%></p>
<p> Notes (Cabinet Lock Combinations etc..):<br/> <%= f.text_area :notes, :cols => 40, :rows => 10%></p>

<%= render(:partial => 'options_subclass_site', :locals => {:f => f}) %>
</div>
    
