<p> Name:<br/><%= f.text_field :name, :size => 40 %> </p>
<p> Network Manager:<br/><%= text_field_tag :nm_info, @nm_server.nm_info, :size => 40, :disabled => true%>
<p> Primary IP:<br/><%= f.text_field :primary_ip, :size => 40%> </p>
