<div id="input_column_left">

<p>Site:<br/>
  <%= text_field_tag 'site_name',@ii.site.name, :size => 20, :disabled => true %>
  <% if(@sites.length > 1) %>
  <%= f.select :site_id,
      options_from_collection_for_select(@sites.collect {|site| [site.id, site.name]}, 'first', 'last', @ii.site_id ),
      :prompt => "Select", :size => 20 %>
  <button id="site_button" type="button" onclick="choose_site()">Change Site</button></p>
      
  <script type="text/javascript">
    document.getElementById("ii_site_id").style.display = "none";
    
    function choose_site()
    {
      var f = document.getElementById('site_name');
      var s = document.getElementById('ii_site_id');
      var b = document.getElementById("site_button");
      f.style.display = "none";
      s.style.display = "inline";
      b.style.display = "none";
    }
    
    function update_site()
    {
      var f = document.getElementById('site_name');
      var s = document.getElementById('ii_site_id');
      var text = s.options[s.selectedIndex].innerHTML;
      text = text.substr(0, text.length-1);
      text = text.split(" (", 2);
      f.value = text[0];
    }
  </script>
  <% end %>
  
  <%= observe_field "ii_site_id",
      :function => "update_site()" %>
<p> Vendor:<br/> <%= f.text_field :vendor %> </p>
<p> Cabinet Position:<br/> <%= f.text_field :cabinet_position %> </p>
<p> Equipment / Model:<br/> <%= f.text_field :make_model %> </p>
<p> Description:<br/> <%= f.text_field :description , :size => 50%> </p>
<p>Service Start Date:<br/>
<%= calendar_date_select :ii, :service_start_date%> </p>
<p>Service End Date:<br/>
<%= calendar_date_select :ii, :service_end_date%> </p>
</div>
<div id="input_column_right">
<p> CENX Naming STD:<br/> <%= f.text_field :cenx_naming_std %> </p>
<p> Serial Number:<br/> <%= f.text_field :serial_number %> </p>
<p> CENX PO Number:<br/> <%= f.text_field :cenx_po_number %> </p>
<p> Notes:<br/> <%= f.text_area :notes, :cols => 40, :rows => 13%> </p>
</div>