<p> *Name (Last, First): <br/> <%= f.text_field :name, :size => 40 %> </p>
<p> Position: <br/><%= f.text_field :position, :size => 40 %> </p>
<p> Work Phone: <br/><%= f.text_field :work_phone, :size => 40 %> </p>
<p> Mobile Phone: <br/><%= f.text_field :mobile_phone, :size => 40 %> </p>
<p> *E-Mail:<br/> <%= f.text_field :e_mail, :size => 40 %> </p>
<p> Fax: <br/><%= f.text_field :fax, :size => 40 %> </p>
<p> Address:<br/><%= f.text_area :address, :cols => 40, :rows => 4%></p>


