<div id="input_column_left">
<p>Operator Network Type:<br/>
  <%= text_field_tag 'sp_name',@cost.operator_network_type.name, :size => 30, :disabled => true %></p>
<p>COS Name:<br/><%= f.text_field :name%> </p>

<% if @cost.class == CenxClassOfServiceType %>
  <p>*CAC % Limit (CIR):<br/><%= text_field_tag 'cir_cac_limit', ServiceCategories::ON_NET_OVC_COS_TYPES[@cost.name][:cir_cac_limit], :size => 30, :disabled => true %> </p>
  <p>*CAC % Limit (EIR):<br/><%= text_field_tag 'eir_cac_limit', ServiceCategories::ON_NET_OVC_COS_TYPES[@cost.name][:eir_cac_limit], :size => 30, :disabled => true %> </p>
  <p>Short Name:<br/>
  <%= text_field_tag 'short_name', ServiceCategories::ON_NET_OVC_COS_TYPES[@cost.name][:short_name], :size => 30, :disabled => true %></p>
  <p>Forwarding Class:<br />
  <%= text_field_tag 'fwding_class', ServiceCategories::ON_NET_OVC_COS_TYPES[@cost.name][:fwding_class], :size => 30, :disabled => true %></p>
<% end %>
<fieldset>
  <legend>ENNI Mapping</legend>
  <p>Mapping Mechanism: <%= f.select :cos_id_type_enni, options_for_select(HwTypes::ENNI_COS_ID_TYPES, @cost.cos_id_type_enni), :prompt => "Select" %> </p>
  <p>Ingress Mapping: <%= f.text_field :cos_mapping_enni_ingress, :size => 20 %> </p>
  <p>Egress Marking (Green): <%= f.select :cos_marking_enni_egress, options_for_select(HwTypes::COS_ENNI_EGRESS_MARKING, @cost.cos_marking_enni_egress), :prompt => "Select" %> </p>
  <p>Egress Marking (Yellow): <%= f.select :cos_marking_enni_egress_yellow, options_for_select(HwTypes::COS_ENNI_EGRESS_MARKING, @cost.cos_marking_enni_egress_yellow), :prompt => "Select" %> </p>
</fieldset>
<fieldset>
  <legend>UNI Mapping</legend>
  <p>Mapping Mechanism: <%= f.select :cos_id_type_uni, options_for_select(HwTypes::UNI_COS_ID_TYPES, @cost.cos_id_type_uni), :prompt => "Select" %> </p>
  <p>Ingress Mapping: <%= f.text_field :cos_mapping_uni_ingress, :size => 20 %> </p>
  <p>Egress Marking (Green): <%= f.select :cos_marking_uni_egress, options_for_select(HwTypes::COS_UNI_EGRESS_MARKING, @cost.cos_marking_uni_egress), :prompt => "Select" %></p>
  <p>Egress Marking (Yellow): <%= f.select :cos_marking_uni_egress_yellow, options_for_select(HwTypes::COS_UNI_EGRESS_MARKING, @cost.cos_marking_uni_egress_yellow), :prompt => "Select" %></p>
</fieldset>
</div>
<div id="input_column_right">
<p>Availability (%):<br/> <%= f.text_field :availability%> </p>
<p>Frame Loss Ratio (%):<br/> <%= f.text_field :frame_loss_ratio%> </p>
<p>Mean Time to Repair (hrs):<br/> <%= f.text_field :mttr_hrs%> </p>

<p> General Notes:<br/><%= f.text_area :notes, :cols => 40, :rows => 15%> </p>
</div>
