<div id="input_column_left">
<% if id %>
  <p>Affected Entity:<br/><%= text_field_tag 'ae_info',@ma.ae_info_ma, :size => 30, :disabled => true %><br/></p>
<% elsif new %>
  <p>*Affected Type:<br/><%= f.select :affected_entity_type, options_for_select(MemberAttrTypes::ATTR_AFFECTED_CLASSES), :prompt => "Select" %>
<% else %>
  <p>Affected Type:<br/><%= text_field_tag 'at_info',@ma.at_info_ma, :size => 30, :disabled => true %><br/></p>
<% end %>
<p>*Name:<br/><%= f.text_field :name, :size => 40 %> </p>
<% if new %>
  <p>*Type:<br/> <%= f.select :type, MemberAttrTypes::ATTR_OBJECT_TYPES, :prompt => "Select" %> </p>
<% else %>
  <p>Type:<br/><%= text_field_tag 't_info', @ma.t_info_ma, :size => 30, :disabled => true %><br/></p>
<% end %>
<p>*Syntax:<br/> <%= f.select :syntax,MemberAttrTypes::ATTR_TYPES,:prompt => "Select" %> </p>
</div>
<div id="input_column_right">
<p>*Value Range (ex: list, regex, ..):<br/><%= f.text_area :value_range, :cols => 40, :rows => 3 %> </p>
<p>Default Value:<br/><%= f.text_field :default_value, :size => 40 %> </p>
<p>Is Optional: <%= f.check_box :allow_blank %></p>
<p>Disable Input: <%= f.check_box :disabled %></p>
</div>