<p>Member:<br/>
  <%= text_field_tag 'sp_name', @demarc.operator_network.service_provider.name, :size => 30, :disabled => true %>
  <%= if @demarc.operator_network.service_provider != nil
   link_to "--View Member ", :action => 'edit_sp', :id =>  @demarc.operator_network.service_provider_id
  end %>
</p>
<p>Network:<br/>
  <%= text_field_tag 'on_name',@demarc.operator_network.name, :size => 30, :disabled => true %>
  <%= if @demarc.operator_network != nil
   link_to "--View Network ", :action => 'edit_on', :id =>  @demarc.operator_network_id
  end %>
</p>

<% if @demarc.new_record? %>
  <p>On Behalf of Service Provider:<br/>
    <%= select_tag 'on_behalf_of_service_provider_id', raw("<option>Select</option>" + options_from_collection_for_select(@sps, :id, :name, @demarc.on_behalf_of_service_provider_id)) %>
  </p>
<% else %>
  <% if @demarc.on_behalf_of_service_provider %>
    <p>On Behalf of Service Provider:<br/>
      <%= text_field_tag 'behalf_of_name', @demarc.on_behalf_of_service_provider.name, :size => 30, :disabled => true %>
      <%= link_to "--View Member ", :action => 'edit_sp', :id =>  @demarc.on_behalf_of_service_provider_id %>
    </p>
  <% end %>
<% end %>

<p>Cenx ID (Auto generated):<br/>
  <%= text_field_tag 'cenx_id',@demarc.cenx_id, :size => 30, :readonly => true %></p>
<p>CENX Name for <%= @demarc.cenx_demarc_type %> (Auto generated):<br/>
  <%= text_field_tag 'cenx_name',@demarc.cenx_name, :size => 80, :readonly => true %> </p>

<p>Latitude:<br/>
  <%= text_field_tag 'latitude',@demarc.latitude, :size => 30, :disabled => @demarc.is_a?(EnniNew) ? true : false %></p>
<p>Longitude:<br/>
  <%= text_field_tag 'longitude',@demarc.longitude, :size => 30, :disabled => @demarc.is_a?(EnniNew) ? true : false %></p>

<% if is_new && !(@so && HwTypes::DEMARC_TYPES.map{|index, value| value}.include?(@so.ordered_entity_subtype))  %>
<p> *Demarc Class:<br/> <%= f.select :cenx_demarc_type, [['Select', 'none']] + (@so ? HwTypes::DEMARC_TYPES.reject{|dt| dt.include?("UNI") || dt.include?("ENNI") } : HwTypes::DEMARC_TYPES) %>
  <% if !@so %>
  <%= observe_field 'demarc_cenx_demarc_type',
		    :on => "changed",
		    :url => { :action => :options_demarc_type_demarc },
		    :update => 'demarc_subclass_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'demarc_type=' + value + '&demarc_id=#{@demarc.id}&on_id=#{@demarc.operator_network_id}#{@so ? "&so_id=" + @so.id.to_s : ""}'",
			:condition => 'value != ""'
			%>
  <% end %>
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
</p>
<% else %>
<p>Demarc Class:<br/><%= text_field_tag "cenx_demarc_type", @demarc.cenx_demarc_type, :size => 30, :disabled => true %><br/>
<%= f.hidden_field :cenx_demarc_type, :size => 30 %></p>
<% end %>
<%= render(:partial=> 'options_subclass_demarc')%>
<fieldset>
<legend>CLLI Info</legend>
<p>Near Side CLLI:<br/>
  <%= f.text_field :near_side_clli, :size => 30%> </p>
<p>Far Side CLLI:<br/>
  <%= f.text_field :far_side_clli, :size => 30%> </p>
</fieldset>
<fieldset>
<legend>Latest Order for this <%= @demarc.class.to_s %></legend>
  <p>
    <% if @so != nil %>
       <%=  link_to "View Latest Order Details ", :action => 'edit_so', :id =>  @so.id %>
    <% else %>
      <strong> No Order Placed for this <%= @demarc.class.to_s %></strong>
    <% end %>

   </p>
   <p>
    Primary Contact:<br/>
    <%=  text_field_tag('so_prim_contact',(@so) ? @so.primary_contact.name : "NONE!!", :size => 30, :readonly => true) %>
    <%= if @so != nil
       link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.primary_contact_id
    end %>
   </p>
   <p>
    Testing Contact:<br/>
    <%=  text_field_tag('so_testing_contact',(@so) ? @so.testing_contact.name : "NONE!!", :size => 30, :readonly => true) %>
    <%= if @so != nil
       link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.testing_contact_id
    end %>
   </p>
</fieldset>
<p>Notes:<br/> <%= text_area :demarc, :notes, :cols => 70, :rows => 10 %></p>
