<div id="input_column_left">
<p> *Name:<br/><%= f.text_field :name, :size => 60%> </p>
<p> Connectivity Model:<br/> <%= f.select :segment_type, HwTypes::Path_TYPES, :prompt => 'Select' %></p>
<p> Frame Aware:<%= f.check_box :is_frame_aware %> </p>
<p> Underlying Technology:<br/> <%= f.text_field :underlying_technology %> </p>
<p> Redundancy Mechanism:<br/> <%= f.text_field :redundancy_mechanism %> </p>
<p> Equipment Vendor:<br/> <%= f.text_area :equipment_vendor, :cols => 60, :rows => 2 %> </p>

<fieldset>
  <legend>MEF Certifications</legend>
  <p> MEF 9:<br/>
   <%= f.select :mef9_cert, ServiceCategories::SERVICE_MEF9_CERTIFICATION,
    :prompt => 'Select' %> </p>
  <p> MEF 14:<br/>
   <%= f.select :mef14_cert, ServiceCategories::SERVICE_MEF14_CERTIFICATION,
    :prompt => 'Select' %> </p>
</fieldset>

<p> Max MTU:<br/> <%= f.text_field :max_mtu %> </p>
<p> Preserve CE VLAN ID Values:<br/>
   <%= f.select :c_vlan_id_preservation, ServiceCategories::CE_VLAN_PRESERVATION,
    :prompt => 'Select' %> </p>
<p> Preserve CE VLAN CoS Values:<%= f.check_box :c_vlan_cos_preservation %> </p>
<p> If your service-type attributes <br/>differ from standard MEF Service Definitions,<br/> please document them here:<br/>
  <%= f.text_area :service_attribute_notes, :cols => 40, :rows => 2%></p>
</div>
<div id="input_column_right">
<p> How many CoS per Segment are supported?:<br/> <%= f.select :max_num_cos, HwTypes::OVC_MAX_NUM_COS, :prompt => 'Select' %>
<p> Is any color information (down marking) <br/>passed to CENX at the ENNI?<br/>If so, what mechanism are you using to mark the frames?:<br/>
   <%= f.select :color_marking, FrameTypes::FRAME_COLOR_MARKING_TYPES,
    :prompt => 'Select' %> </p>
<p> Coloring Comments:<br/>
  <%= f.text_area :color_marking_notes, :cols => 40, :rows => 2%></p>
<legend>Frame Delivery Conditions</legend>
<p> Unicast:<br/>
   <%= f.select :unicast_frame_delivery_conditions, ServiceCategories::SERVICE_FRAME_DELIVERY,
    :prompt => 'Select' %> </p>
<p> Conditional Details - Unicast:<br/> <%= f.text_area :unicast_frame_delivery_details, :cols => 40, :rows => 2 %> </p>
<p> Multicast:<br/>
   <%= f.select :multicast_frame_delivery_conditions, ServiceCategories::SERVICE_FRAME_DELIVERY,
    :prompt => 'Select' %> </p>
<p> Conditional Details - Multicast:<br/> <%= f.text_area :multicast_frame_delivery_details, :cols => 40, :rows => 2 %> </p>
<p> Broadcast:<br/>
   <%= f.select :broadcast_frame_delivery_conditions, ServiceCategories::SERVICE_FRAME_DELIVERY,
    :prompt => 'Select' %> </p>
<p> Conditional Details - Broadcast:<br/> <%= f.text_area :broadcast_frame_delivery_details, :cols => 40, :rows => 2 %> </p>
<p> General Notes:<br/><%= f.text_area :notes, :cols => 60, :rows => 10%> </p>
</div>

