<p> Type:<br/><%= f.text_field :type, :size => 60%> </p>

<p>State:<br/>
	<%= f.select :states,
	         options_from_collection_for_select(input_sh.get_state.valid_transitions, :name, :state_name, input_sh.to_generic(input_sh.get_state).to_s ),
	         :prompt => "Select State"%></p>
