<p>*Summary:<br/><%= f.text_field :description, :size => 50 %> </p>
<p>*Execution Order:<br/><%= f.text_field :execution_order %> </p>
<% if new %>
  <p>*Action:<br/> <%= f.select :action, MemberAttrTypes::ATTR_CONTROL_ACTIONS, :prompt => "Select" %> </p>
<% else %>
  <p>Action:<br/><%= text_field_tag 'action', @mac.action, :size => 30, :disabled => true %><br/></p>
<% end %>
<p>*Code:<br/><%= f.text_area :code, :style => "width:75%;", :wrap => "off", :rows => 10 %> </p>
<p>Notes:<br/><%= f.text_area :notes, :cols => 70, :rows => 10 %> </p>