<fieldset>
  <legend><%= legend %></legend>
<fieldset>
  <p> STP: <%= f.select "stp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
  <p> RSTP: <%= f.select "rstp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
  <p> MSTP: <%= f.select "mstp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
</fieldset>

  <p> PAUSE (802.3x): <%= f.select "pause#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>

<fieldset>
  <p> LACP (802.3ad): <%= f.select "lacp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
  <p> LAMP (802.3ad): <%= f.select "lamp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
</fieldset>

  <p> Link OAM (802.3ah): <%= f.select "link_oam#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>

  <p> Port Auth (802.1x): <%= f.select "port_auth#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>

  <p> LLDP (802.1ab): <%= f.select "lldp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
<fieldset>
  <p> GARP: <%= f.select "garp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
  <p> MRP Block: <%= f.select "mrp_b#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
</fieldset>
  
  <p> Cisco BPDU: <%= f.select "cisco_bpdu#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>

  <p> Default for Other L2CPs: <%= f.select "default_l2cp#{suffix}", FrameTypes::L2CP_HANDLING, :prompt => 'Select' %> </p>
 
  <p> L2CP Notes:<br/><%= f.text_area "lacp_notes#{suffix}", :cols => 40, :rows => 4%> </p>
</fieldset>