<p> *Time:<br/><%= f.text_field :timestamp, :size => 60%> </p>
<p> *Type:<br/><%= f.text_field :type, :size => 60%>  </p>
<p> Name:<br/><%= f.text_field :name, :size => 60%>  </p>
<p> Notes:<br/><%= f.text_area :notes, :cols => 60, :rows => 10%>  </p>
