<div id="input_column_left">
<p>Operator Network Type:<br/>
  <%= text_field_tag 'sp_name', @bwpt.class_of_service_type.operator_network_type.name, :size => 30, :disabled => true %>
</p>
<p>Class of Service:<br/>
  <%= text_field_tag 'sp_name', @bwpt.class_of_service_type.name, :size => 30, :disabled => true %>
</p>
<p> Policing Traffic at:<br/> <%= f.select :bwp_type,
		     FrameTypes::LOCALE_DIRECTION,
			:prompt => "Select" %> </p>
<fieldset><legend>Rate Limiting</legend>
<p> Rate Limiting Performed:<%= f.check_box :rate_limiting_performed %> </p>
<p> Mechanism:<br/> <%= f.select :rate_limiting_mechanism, ServiceCategories::RATE_LIMITING_MECHANISM,:prompt => "Select" %></p>
<p> Function based on a L1, L2, or L3 frame<br/>- L1 ethernet includes IPG and Preamble;<br/>- L2 includes the Ethernet packet from Dst MAC to FCS;<br/>- L3 is IP packet based:<br/>
    <%= f.select :rate_limiting_layer, ServiceCategories::LAYERS,:prompt => "Select" %></p>
<p>Notes:<br/><%= f.text_area :rate_limiting_notes, :cols => 40, :rows => 2%> </p>
</fieldset>

<fieldset><legend>CIR Info </legend>
<p>Range of CIR Values (Mbps):<br/><%= f.text_area :cir_range_notes, :cols => 40, :rows => 5%> </p>
</fieldset>
<fieldset><legend>CBS Info </legend>
<p>Range of CBS Values (kB):<br/><%= f.text_area :cbs_range_notes, :cols => 40, :rows => 5%> </p>
</fieldset>
</div>
<div id="input_column_right">
<fieldset><legend>EIR Info </legend>
<p>Range of EIR Values (Mbps):<br/><%= f.text_area :eir_range_notes, :cols => 40, :rows => 5%> </p>
</fieldset>
<fieldset><legend>EBS Info </legend>
<p>Range of EBS Values (kB):<br/><%= f.text_area :ebs_range_notes, :cols => 40, :rows => 5%> </p>
</fieldset>
<p>Color Mode:<br/> <%= f.select :color_mode,
		     ServiceCategories::COLOR_MODE,
			:prompt => "Select" %></p>
<p>Coupling Flag:<br/> <%= f.select :coupling_flag,
		     ServiceCategories::COUPLING_FLAG,
			:prompt => "Select" %></p>
<p> Additional Notes:<br/><%= f.text_area :notes, :cols => 60, :rows => 20%> </p>
</div>