<div id="input_column_left">
<p>Cenx ID (Auto generated):<br/>
<%= f.text_field :cenx_id, :size => 30, :readonly => true%></p>
<p> CENX CMA (Auto generated):<br/>
<%= f.text_field :cenx_cma, :size => 30, :readonly => true%>
<% result, result_string, cma_num, version_num = IdTools::CenxCmaGenerator.decode_cenx_cma String(@sp.cenx_cma)
  if (result) %>
  <script type="text/javascript">
    version = <%= version_num %>
    cma_num = <%= "'" + cma_num + "'" %>
    function up_cma()
    {
      if(confirm("Are you sure you want to increment the CMA version?\n\nChanges won't be saved untill you hit update!"))
      {
        var c = document.getElementById('sp_cenx_cma');
        c.value = cma_num + "-" + String(++version);
      }
    }
  </script>
  <button id="up_button" type="button" onclick="up_cma()">Up Version</button></p>
<% else  %>
  <script type="text/javascript">
    var c = document.getElementById('sp_cenx_cma');
    c.value = "<%= IdTools::CenxCmaGenerator.generate_cenx_cma ServiceProvider %>";
  </script>
<% end %></p>
<p> *Name:<br/>
<%= f.text_field :name, :size => 40 %> </p>
<p>Address:<br/>
<%= f.text_area :address, :cols => 40, :rows => 2%></p>
</div>
<div id="input_column_right">
<p> Website:<br/>
<%= f.text_field :website %> </p>
<p>Notes:<br/>
<%= f.text_area :notes, :cols => 40, :rows => 4%></p>
<!-- <p> Logo File:<br/><%= f.text_field :logo_url %> </p>
<p> Cenx?: <%= f.check_box :is_system_owner %> </p> -->
</div>