<p> Name:<br/><%= f.text_field :name, :size => 40 %> </p>
<p> Type:<br/><%= f.select :nm_type, HwTypes::NM_TYPES, :prompt => "Select" %> </p>
<p> Url:<br /><%= f.text_field :url, :size => 40 %> </p>
<p> Username:<br /><%= f.text_field :username, :size => 40 %> </p>
<p> New Password:<br /><%= f.password_field :new_password, :size => 40, :value => "", :autocomplete => "off"  %> </p>
<p> Password Confirmation:<br /><%= f.password_field :new_password_confirmation, :size => 40, :value => "", :autocomplete => "off"  %> </p>
<% if !@nm.password.blank? %>
<p> Old Password:<br /><%= f.password_field :old_password, :size => 40, :value => "", :autocomplete => "off"  %> </p>
<% end %>

