<p> Time (epoch):<br/><%= f.text_field :timestamp, :size => 60%> </p>
<p> Exception Type:<br/><%= f.text_field :exception_type, :size => 60 %> </p>
<p> Severity:<br/><%= f.text_field :severity, :size => 60%>  </p>
<p> Details:<br/><%= f.text_area :details, :cols => 60, :rows => 10%>  </p>
