<div id="input_column_left">
 <p> Node:<br/><%= text_field_tag 'node_name',@port.node_info, :size => 20, :disabled => true %>
 <p> *Name: (ex: Slot/MDA/Port):<br/><%= f.text_field :name %> </p>
 <p> *Phy Type:<br/><%= f.select :phy_type,
            HwTypes::PHY_TYPES,
            :prompt => "Select phy type" %> </p>
 <%= render(:partial=> 'options_port_mac')%>
 <fieldset> <legend>Patch Panel Info</legend>
   <p> Cabinet:<br/><%= text_field_tag 'cabinet_name',@port.cabinet_info, :size => 20, :disabled => true %>
   <p> Slot/Port:<br/><%= f.text_field :patch_panel_slot_port %> </p>
   <p> Strands:<br/><%= f.text_field :strands %> </p>
   <p> Color Code:<br/><%= f.text_field :color_code %> </p>
 </fieldset>
</div>
<div id="input_column_right"><br/>
 <fieldset> <legend>MMR Cabling Info</legend>
   	<p>MMR Site:<br/><%= f.select :patch_panel_id,
	         options_from_collection_for_select(@pps, :id, :name, @port.patch_panel_id ),
	         :prompt => "Select Site"%></p>
        <p>Cabling Info (from LOA etc..):<br/><%= f.text_area :notes, :cols => 50, :rows => 25%></p>
 </fieldset>
</div>
