<div id="input_column_left">
<p>Endpoint Type:<br/><%= text_field_tag 'segmentep_class', @segmentep.type, :size => 30, :readonly => true %><br/></p>
<p>Cenx ID (Auto generated):<br/><%= text_field_tag 'cenx_id',@segmentep.cenx_id, :size => 30, :readonly => true%></p>
<p>Cenx Name (Auto generated):<br/><%= text_area_tag 'cenx_id',@segmentep.cenx_name,  :cols => 50, :rows => 2, :readonly => true%></p>
<p>Parent Segment Name:<br/>
  <%= text_area_tag 'cenx_name',@segmentep.segment.cenx_name, :cols => 50, :rows => 2, :readonly => true %>
  <%= link_to "--View Segment Details ", :action => 'edit_segment', :id =>  @segmentep.segment_id %>
</p>
<p>*Segment End Point Type:<br/> <%= f.select :segment_end_point_type_id,
         options_from_collection_for_select(@segmentepts, :id, :name, @segmentep.segment_end_point_type_id ),
         :prompt => "Select one"%>
<%= if @segmentep.segment_end_point_type_id != nil
    link_to "--View Segment End Point Type ", :action => 'edit_segmentept', :id =>  @segmentep.segment_end_point_type_id
end %>
  <%= observe_field 'segmentep_segment_end_point_type_id',
		    :on => "changed",
		    :url => { :action => :options_type_element_instance_element },
		    :update => 'instance_element_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'te_id=' + value + '&te_type=segmentept&ie_type=segmentep&ie_id=#{@segmentep.id}&use_tma=#{@segmentep.type_member_attr_instances_enabled}'"
			%>
</p>
<p>Monitored: <%= f.check_box :is_monitored %> </p>

<fieldset>
  <legend>Layer 3 Attributes</legend>
  <p>IP Address:<br/>
  <%=  text_field_tag('ip_address',@segmentep.ip_address, :size => 30)%></p>
 <p>Routing Cost:<br/>
  <%=  text_field_tag('routing_cost',@segmentep.routing_cost, :size => 30)%></p>
</fieldset>

<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<%= render(:partial => 'options_monitoring_segmentep') %>
<%= observe_field 'segmentep_is_monitored',
		    :on => "changed",
		    :url => { :action => :options_monitoring_segmentep },
		    :update => 'segmentep_monitoring_field',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'is_monitored=' + value + '&segmentep_id=#{@segmentep.id}'"
%>
<% if @segmentep.cos_test_vectors.size != 0 %>
  <p> <%= link_to "See Graphs", {:controller => "stats", :action => "stats_input_params_segmentep", :id => @segmentep.id} %> </p>
<% end %>
</div>
<div id="input_column_right">
<%= render(:partial=> 'options_subclass_segmentep')%>
<p>Default CoS Handling (From OSS Data):<br/>
   <%=  text_field_tag 'default_cos_handling', @segmentep.default_cos_handling, :size => 30, :disabled => true %>
</p
<p>Notes:<br/><%= f.text_area :notes, :cols => 40, :rows => 2%></p>
</div>
