<p>Member:<br/>
  <%= text_field_tag 'name',@ont.service_provider.name, :size => 30, :disabled => true %>
</p>
<p> Network Type Name:<br/><%= f.text_field :name, :size => 40 %> </p>
<p> Remarks:<br/><%= f.text_area :notes, :cols => 60, :rows => 7%> </p>
