<% if new_kpi %>
  <% kpi_disabled = []; for_klass_disabled = [] %>
<% else %>
  <% kpi_disabled = Kpi::KPI_NAMES; for_klass_disabled = Kpi::FOR_KLASS %>
<% end %>
<p>*Kpi:<br/> <%= f.select :name, Kpi::KPI_NAMES, :prompt => "Select", :disabled => kpi_disabled %> </p>
<p>*For Class:<br/> <%= f.select :for_klass, Kpi::FOR_KLASS, :prompt => "Select", :disabled => for_klass_disabled %> </p>
<p> Units:<br/> <%= f.select :units, Kpi::UNITS, :prompt => "Select" %> </p>
<p> Warning threshold:<br/><%= f.text_field :warning_threshold, :size => 60%>  </p>
<p> Warning time(Secs):<br/><%= f.text_field :warning_time, :size => 60%>  </p>
<p> Error threshold:<br/><%= f.text_field :error_threshold, :size => 60%>  </p>
<p> Error time(Secs):<br/><%= f.text_field :error_time, :size => 60%>  </p>
<p> Delta t:<br/><%= f.text_field :delta_t, :size => 60%>  </p>
