<p>Name (Auto generated):<br/>
<%= text_area_tag 'name',@cose.name, :cols => 60, :rows => 2, :readonly => true %></p>
<p>Segment:<br/><%= text_field_tag 'segment_name', @cose.segment_end_point.segment.cenx_name, :size => 80, :disabled => true %>
   <%=  link_to "--View Segment ", :action => 'edit_segment', :id =>  @cose.segment_end_point.segment_id %>
</p>
<p>Segment Endpoint:<br/><%= text_field_tag 'segmentep_name', @cose.segment_end_point.cenx_name, :size => 100, :disabled => true %>
  <%=  link_to "--View Endpoint ", :action => 'edit_segmentep', :id =>  @cose.segment_end_point_id %>
</p>
<p>*Class of Service:<br/>
<%= f.select :cos_instance_id,
         options_from_collection_for_select(@cosis, :id, :cos_name, @cose.cos_instance_id ),
         :prompt => "Select"%>
  <%= if @cose.cos_instance_id != nil
         link_to "--View Cos Instance ", :action => 'edit_cosi', :id =>  @cose.cos_instance.id
  end %>
  <%= if @cose.cos_instance_id != nil
         link_to "--View Cos Type ", :action => 'edit_cost', :id =>  @cose.cos_instance.class_of_service_type_id
  end %><br/>
</p>
<%= observe_field 'cose_cos_instance_id',
                    :on => "changed",
                    :url => { :action => :options_cose_cost_values },
                    :update => 'cost_value_select',
		    :with => '"id=" + value',
                    :with => "'cosi_id=' + value + '&segmentep_id=' + #{@cose.segment_end_point_id} + '&cose_id=' + '#{@cose.id}'",
		    :condition => 'value != ""'
		%>
<%= render( :partial=> 'options_cose_cost_values') %>
