<p> *Time (epoch):<br/><%= f.text_field :time_of_event, :size => 60%> </p>
<p> Type:<br/><%= f.text_field :type, :size => 60, :disabled => true%> </p>
<p> State:<br/><%= f.text_field :state, :size => 60%>  </p>
<p> Orig. State:<br/><%= f.text_field :original_state, :size => 60%>  </p>
<p> Details:<br/><%= f.text_area :details, :cols => 60, :rows => 10%>  </p>
