<div id="input_column_left">
  
<p> *Class:<br/>
<% if is_new %>
  <%= select_tag :class, options_for_select(@descendants) %> </p>
<% else %>
  <%= text_field_tag :class, (@path[:type].nil? ? "path" : @path[:type]), :size => 30, :disabled => true %> </p>
<% end %>

<p>Owner:<br/>
  <%= text_field_tag 'sp_name',@path.operator_network.service_provider.name, :size => 30, :disabled => true %>
</p>
<p>
  Network:<br/><%= text_field_tag 'on_name',@path.operator_network.name, :size => 30, :disabled => true %><br/>
</p>
<p>Cenx ID (Auto generated):<br/>
  <%= text_field_tag 'cenx_id',@path.cenx_id, :size => 30, :readonly => true%></p>
<p>CENX Name for Path (Auto generated):<br/>
<%= text_area_tag 'cenx_name',@path.cenx_name, :cols => 60, :rows => 3, :readonly => true %></p>
</div>
<div id="input_column_right">
<p>*Cenx Path Type:<br/> <%= f.select :cenx_path_type, HwTypes::CENX_Path_TYPES, :prompt => "Select" %> </p>
<p>Member Path Type:<br/> <%= f.select :path_type_id,
         raw("<option value =''>Select one - if defined</option>" + options_from_collection_for_select(@pathts, :id, :name, @path.path_type_id )) %>
<%= if @path.path_type_id != nil
    link_to "--View Path Type ", :action => 'edit_patht', :id =>  @path.path_type_id
end %>
  <%= observe_field 'path_path_type_id',
		    :on => "changed",
		    :url => { :action => :options_type_element_instance_element },
		    :update => 'instance_element_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'te_id=' + value + '&te_type=patht&ie_type=path&ie_id=#{@path.id}'"
			%>
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
</p>
<p> Notes:<br/> <%= f.text_area :description, :cols => 40, :rows => 5%> </p>
<fieldset>
  <legend>Latest Order for this Path</legend>
    <p>
    <% if @so != nil %>
       <%=  link_to "View Latest Order Details ", :action => 'edit_so', :id =>  @so.id %>
    <% else %>
      <strong> No Order Placed for this Path</strong>
    <% end %>
    </p>
    <p>
    Primary Contact:<br/>
    <%=  text_field_tag('so_prim_contact',(@so) ? @so.primary_contact.name : "N/A", :size => 30, :readonly => true) %>
    <%= if @so != nil
       link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.primary_contact_id
    end %>
   </p>
</fieldset>
</div>
