<p>SLA Name (Auto generated):<br/><%= text_area_tag 'cenx_bx_sla_name',@costv.bx_sla_name,  :cols => 50, :rows => 2, :readonly => true%></p>
<p>Cenx Name (Auto generated):<br/><%= text_area_tag 'cenx_name',@costv.cenx_name,  :cols => 50, :rows => 2, :readonly => true%></p>
<p>Cenx ID (Auto generated):<br/><%= text_field_tag 'cenx_id',@costv.cenx_id, :size => 30, :readonly => true %></p>
<p>Cos Test Type:<br/><%= text_field_tag 'type',@costv.type, :size => 30, :disabled => true %></p>

<p>Circuit Id format:</br><%= f.select :circuit_id_format, @circuit_formats, :prompt => false %> </p>
<p>Loopback Address:</br><%= text_field_tag 'loopback_address', @costv.loopback_address, :size => 30 %></p> 
<p>CoS Endpoint:<br/><%= text_field_tag 'cose_name', @costv.cos_end_point.name, :size => 80, :disabled => true %>
   <%=  link_to "--View CoS Endpoint ", :action => 'edit_cose', :id =>  @costv.cos_end_point_id %>
</p>
<p>*Test Type:<br/> <%= f.select :test_type, ServiceTestTypes::TEST_TYPES, :prompt => "Select" %> </p>
<p>*Service Level Guarantee (Distance Range):<br/>
<%= f.select :service_level_guarantee_type_id,
         options_from_collection_for_select(@slgts, :id, :name, @costv.service_level_guarantee_type_id ),
         :prompt => "Select"%>(km)
  <%= if @costv.service_level_guarantee_type_id != nil
         link_to "--View SLG Type ", :action => 'edit_slgt', :id =>  @costv.service_level_guarantee_type_id
  end %>
</p>
<%= observe_field 'costv_service_level_guarantee_type_id',
                    :on => "changed",
                    :url => { :action => :options_costv_slgt_values },
                    :update => 'slgt_value_select',
                    :with => "'slgt_id=' + value + '&cose_id=' + #{@costv.cos_end_point_id} + '&costv_id=' + '#{@costv.id}'",
		    :condition => 'value != ""'
		%>
<%= render :partial=> 'options_costv_slgt_values' %>
<% if @costv.class == BxCosTestVector %>
  <%= render :partial=> 'options_costv_test_ids' %>
<% elsif @costv.class == SpirentCosTestVector %>
  <%= render :partial=> 'options_costv_spirent' %>
<% end %>
<p>Test Target:<br/> <%= text_area_tag 'test_target_address', @costv.test_target_address , :cols => 40, :rows => 4, :readonly => true%></p>
<p>Event Filter:<br/> <%= text_area_tag 'bx_event_filter', @costv.bx_event_filter , :cols => 80, :rows => 3, :readonly => true%></p>

<p> Notes:<br/><%= f.text_area :notes, :cols => 40, :rows => 4%></p>