<p>Owner:<br/>
<%= text_field_tag 'sp_name',@ont.service_provider.name, :size => 20, :disabled => true %></p>
<p>*Name:<br/>
<%= f.text_field :name%> </p>
<p>Path Type: <%= f.select :path_type, HwTypes::Path_TYPES, :prompt => 'Select' %>
<p> Max Num. UNI's:<br/> <%= f.text_field :max_num_unis%> </p>
<p> MTU:<br/> <%= f.text_field :mtu%> </p>
