<div id="input_column_left">
  <p>Site Groups:<br/>
	<%= select_tag "site_groups_ids", options_from_collection_for_select(@node.site.site_groups, :id, :name, @node.site.site_groups.collect{|sg| sg.id}), {:multiple => true, :cols => 60, :disabled => true} %>
</p>
<p>Site:<br/>
  <%= text_field_tag 'site_name',@node.site.name, :size => 40, :disabled => true %>
  <%= if @node.site_id != nil
  link_to "--View Site", :action => 'edit_site', :id =>  @node.site_id
  end %>
</p>
<p> *Type:<br/> <%= f.select :node_type,
              HwTypes::NODE_TYPES,
              :prompt => "Select" %>
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
</p>
<%= observe_field 'node_node_type',
		    :on => "changed",
		    :url => { :action => :options_nm_node },
		    :update => 'node_nm_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'node_type=' + value + '&id=#{@node.id}'"
			%>
<%= render :partial => 'options_nm_node' %>

<%= observe_field 'node_node_type',
		    :on => "changed",
		    :url => { :action => :options_ip_name_node },
		    :update => 'node_id_name_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'node_type=' + value + '&id=#{@node.id}&site_id=#{@node.site_id}'"
			%>
<%= render :partial => 'options_ip_name_node' %>
</div>
<div id="input_column_right"><br/>
<p> Loopback IP:<br/> <%= f.text_field :loopback_ip %> </p>
<p>Cabinet:<br/>
<%= f.select :cabinet_id,
         options_from_collection_for_select(@cabs, :id, :name, @node.cabinet_id ),
         :prompt => "Select Cabinet"%></p>
<p> Net Mask (CIDR):<br/> <%= f.text_field :net_mask %> </p>
<p> Notes:<br/> <%= f.text_area :notes, :cols => 40, :rows => 6%> </p>
</div>