<div id="input_column_left">
<p>Member:<br/><%= text_field_tag 'sp_name',@ossi.operator_network_type.service_provider.name, :size => 30, :disabled => true %></p>
<p>Network Type:<br/><%= text_field_tag 'ont_name',@ossi.operator_network_type.name, :size => 30, :disabled => true %>
<%= link_to "--View OSS Data ", :action => "edit_ont", :id =>  @ossi.operator_network_type_id %><br/></p>
<p>*Title:<br/><%= f.text_field :name, :size => 60 %> </p>
<p>Study Completion Date:<br/>
<%= calendar_date_select :ossi, :completion_date%> </p>
<p>Cenx Eng. Contact:<br/>
  <%= f.select :cenx_contact_id, options_from_collection_for_select(
    @cenx_contacts, :id, :name, @ossi.cenx_contact_id ), :prompt => "Select"%></p>
<p>Member Prime Contact:<br/>
  <%= f.select :member_contact_id, options_from_collection_for_select(
    @member_contacts, :id, :name, @ossi.member_contact_id ), :prompt => "Select"%></p>
</div>
<div id="input_column_right">
<p>Reference Documents:<br/><%= f.text_area :reference_documents, :cols => 60, :rows => 5%></p>
<p>Notes:<br/> <%= f.text_area :notes, :cols => 60, :rows => 10%> </p>
</div>