<div id="input_column_left">
<p>Owner:<br/>
<%= text_field_tag 'sp_name',@ont.service_provider.name, :size => 20, :disabled => true %></p>
<p>*Name:<br/>
<%= f.text_field :name%> </p>
<% if is_new %>
  <p>Type: <%= f.select :demarc_type_type, DemarcType::TYPES, :prompt => 'Select' %>
  <%= observe_field 'dt_demarc_type_type',
		    :on => "changed",
		    :url => { :action => :options_demarc_type_type },
		    :update => 'demarc_type_type_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'demarc_type_type=' + value"
			%>
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
  </p>
<% else %>
  <p>Type:<br/><%= f.text_field :demarc_type_type, :size => 30, :disabled => true %></p>
<% end %>
<fieldset>
  <legend>Physical Layer</legend>
  <p> Optical Interfaces:<br/><%= f.text_area :physical_medium, :cols => 40, :rows => 4%> </p>
  <p> Autonegotiate: <%= f.select :auto_negotiate, HwTypes::PHY_HANDOFF_TYPES, :prompt => 'Select'%> </p>
  <p> Additional Items/Notes:<br/><%= f.text_area :physical_medium_notes, :cols => 40, :rows => 7%> </p>
</fieldset>
<%= render(:partial => 'options_demarc_type_type') %>
</div>
<div id="input_column_right">
<% if @dt.demarc_type_type == "ENNI Type" %>
  <%= render(:partial => 'input_l2cp_info', :object => @demarc,
           :locals => {:legend => 'L2CP Behavior Un-tagged', :suffix => '_untagged', :f => f}) %>
  <%= render(:partial => 'input_l2cp_info', :object => @demarc,
           :locals => {:legend => 'L2CP Behavior Tagged', :suffix => '_tagged', :f => f}) %>
<% end %>
<fieldset>
  <legend>Max Number of Segments</legend>
<p> Max Num. Segment's:<br/> <%= f.text_area :max_num_segments, :cols => 40, :rows => 4%> </p>
<p> Additional Items/Notes:<br/> <%= f.text_area :max_num_segments_notes, :cols => 40, :rows => 3%> </p>
</fieldset>
<p> Connected Device Type:<br/> <%= f.text_area :connected_device_type, :cols => 40, :rows => 5%> </p>
<p> LS Access Solution Model: <%= f.select :ls_access_solution_model, LightSquaredTypes::ACCESS_SOLUTION_MODEL, :prompt => 'Select'%> </p>
<p> General Notes:<br/><%= f.text_area :remarks, :cols => 40, :rows => 7%> </p>
</div>
