<div id="input_column_left">
<p> *Name:<br/> <%= f.text_field :name, :size => 40 %> </p>
<p> *Class:<br/>
<%= text_field_tag :class, (@site_group[:type].nil? ? "SiteGroup" : @site_group[:type]), :size => 30, :readonly => true %> </p>
<p> *Sites:</br>
<%= f.select :site_ids, options_from_collection_for_select(Site.all, :id, :name, @sites.collect{|site| site.id}), {}, {:multiple => true } %>
</p>
</div>

