<div id="div_for_<%= name %>">
<p><%= html_escape(((mai.allow_blank || mai.syntax == "boolean") ? "" : "*") + (mai.visible ? "" : "<Hidden>") + mai.name) %>: 
<%=raw( if mai.const != nil || mai.disabled
    value = mai.const ? mai.const : mai.value
    String.new(hidden_field_tag(name, value.to_s)) + case mai.syntax
      when "boolean" then check_box_tag(name, '1', value == "1", :disabled => true)
      else "<br/>" + text_field_tag(name, value, :size => 80, :disabled => true)
    end
  else
    case mai.syntax
    when "boolean" then String.new(hidden_field_tag(name, '0'))  + check_box_tag(name, '1', mai.value, :onclick => "document.getElementById('#{name}').value = this.checked ? 1 : 0")
      when "menu" then "<br/>" + select_tag(name, "<option value=''>Select</option>" + options_for_select(mai.select_options, mai.value))
      else "<br/>" + text_field_tag(name, mai.value, :size => 80)
    end
  end)
%></p>
