<div id="input_column_left">
<p> Direction:<br/>  <%= text_field_tag 'direction', @qosp.direction, :size => 30, :disabled => true %> </p>
<p> Policy Name:<br/> <%= text_field_tag 'name', @qosp.policy_name, :size => 30, :disabled => true %> </p>
<p> Policy ID:<br/> <%= text_field_tag 'id', @qosp.policy_id, :size => 30, :disabled => true %> </p>
</div>

<div id="input_column_right">
  <p>Site:<br/> <%= text_field_tag "site", @qosp.site.name, :size => 30, :disabled => true %>
  <%= link_to "--View", :action => "edit_site", :id => @qosp.site.id %></p>
</div>