<div id="field_action_<%= valuename %>" >
  <p>
  <%= text_field_tag "text_field_" + valuename, ((defined? value) ? value : "") %>
  <%= button_to_remote prompt, :url => { :action => action}, :update => update,
            :before => before,
            :complete => complete,
            :with => ((defined? with) ? with + "+ '&" : "'") + valuename + "=' + $('text_field_" + valuename + "').value + '#{((defined? params) ? "&" + params.reject{|key, value| value.nil?}.to_query : "")}'"
   %>
  </p>
</div>