<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<div id="input_column_left">    
<%= hidden_field_tag 'ordered_entity_type' %>                                                                  
<% if @so.ordered_entity_type %>
  <p>Service Being Ordered:<br/><%= text_field_tag 'ordered_entity_type', @so.ordered_entity_type, :size => 30, :readonly => true %></p>
<% end %>
<p>Cenx ID (Auto generated):<br/><%= text_field_tag 'cenx_id',@so.cenx_id, :size => 30, :readonly => true %></p>
<% if (@so.ordered_entity.nil? && @so.bulk_order_type == "Circuit Order") || is_new %>
  <%= render( :partial=> 'select_sp',  :object => @on,
                      :locals => {
                          :prompt => '*Ordering Member:',
                          :action => 'options_order_bo',
                          :update => 'service_order_select_field',
                          :with => "'spid=' + value + '&ordered_entity_type=' + $('ordered_entity_type').value" }) %>

  <%= render(:partial=> 'options_so') %>

  <p>*Bulk Order Type:<br/> <%= f.select :bulk_order_type, ServiceProviderTypes::BULK_ORDER_TYPES,:prompt => 'Select' %>

  <p>*Order Activity Type:<br/> <%= f.select :action, ServiceProviderTypes::ORDER_TYPES,:prompt => 'Select' %>

    <%= observe_field 'so_action',
		    :on => "changed",
		    :url => { :action => :select_ordered_entity_bo },
		    :update => 'service_order_entity_select_field',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner'); if ($('ordered_entity_group_id')) { " +
		    remote_function(:url => { :action => 'options_type_element_instance_element' },
		        :before => "Element.show('spinner')",
		        :complete => "Element.hide('spinner')" ,
		        :update => 'instance_element_options',
		        :with => "'ordered_entity=' + ((value != 'New') ? $('affected_entity_id').value : '') + ';#{@so.is_a?(DemarcOrder) ? "demarc" : "segment"}&te_id=' + $('ordered_entity_group_id').value + '&te_type=oeg&ie_id=#{@so.id}&ie_type=so'"
		        ) + " }",
			:with => "'so_action=' + value + '&so_bulk_order_type=' + $('so_bulk_order_type').value + '&on_id=' + $('operator_network_id').value + '&oon_id=' + ($('ordered_operator_network_id') ? $('ordered_operator_network_id').value : '') + '&path_id=' + ($('path_id') ? $('path_id').value : '') + '&ordered_entity_type=' + $('ordered_entity_type').value",
			:condition => 'value != ""'
			%>
    <%= render(:partial=> 'select_ordered_entity_bo')%>
  </p>

<% else %>
  <p>Member:<br/>
    <%= text_field_tag 'covco_path_service_provider_name', @so.operator_network.service_provider.name, :size => 30, :disabled => true%>
  </p>
 
  <p>Operator Network:<br/>
    <%= text_field_tag "so_operator_network_name", @so.operator_network.name, :size => 50, :disabled => true %>
    <%= hidden_field_tag 'operator_network_id', @so.operator_network_id %>
  </p>

  <%= render(:partial=> 'input_so_contacts',  :locals => {:disable_tech_contact => false}) %>

  <p>*Bulk Order Type:<br/>
	<%= text_field_tag 'so_bulk_order_type',@so.bulk_order_type, :size => 30, :disabled => true %></p>
  <p>*Order Activity Type:<br/>
    <%= text_field_tag 'so_action',@so.action, :size => 30, :disabled => true %></p>
  <% if @so.ordered_entity %>
    <p>*Entity Affected:<br/>
      <%= text_field_tag 'so_enni_name', @so.ordered_entity.cenx_name, :size => 60, :disabled => true %>
      <%= link_to "--View #{@so.ordered_entity.class.to_s}", :action => "edit_#{parent_type_from_table @so.ordered_entity.class.table_name.classify}", :id =>  @so.ordered_entity_id %>
    </p>
  <%end %>

	
<% end %>

<p>*Order Title:<br/> <%= f.text_field :title, :size => 60%> </p>

</div>
<div id="input_column_right">
  <%= render(:partial=> 'input_so_dates', :object => @so, :locals => {:f => f}) %>
</div>


