<p>*Requested Service Date:<br/>
<%= calendar_date_select :so, :requested_service_date%> </p>
<p>Order Created Date:<br/>
<%= calendar_date_select :so, :order_created_date%> </p>
<p>Ready to Order Date:<br/>
<%= calendar_date_select :so, :ready_to_order_date%> </p>
<p>Order Received Date:<br/>
<%= calendar_date_select :so, :order_received_date%> </p>
<p>Order Acceptance Date:<br/>
<%= calendar_date_select :so, :order_acceptance_date%> </p>
<p>Design Complete Date:<br/>
<%= calendar_date_select :so, :design_complete_date%> </p>
<p>Order Completion Date:<br/>
<%= calendar_date_select :so, :order_completion_date%> </p>
<p>Customer Acceptance Date:<br/>
<%= calendar_date_select :so, :customer_acceptance_date %> </p>
<p>Billing Start Date:<br/>
<%= calendar_date_select :so, :billing_start_date %> </p>
<p>Firm Order Completion Date:<br/>
<%= calendar_date_select :so, :foc_date %> </p>
<p> Notes:<br/> <%= f.text_area :notes, :cols => 60, :rows => 10%> </p>