<% if @ehs.size != 0 %>
  <% if @ehs.first.alarm_records.sort.last.state == AlarmSeverity::MTC %>
   <%=  button_to "Take out of Maintenance", {:action => 'handle_maintenance_ehs', :id => @ehs.first.id, :mtc_action => "cleared"}, :confirm => "Are you sure?" %> 
  <% else %>
    <%=  button_to "Place in Maintenance", {:action => 'handle_maintenance_ehs', :id => @ehs.first.id, :mtc_action => "maintenance"}, :confirm => "Are you sure?" %>
  <% end %>
<% end %>
