<p> *Event Filter:<br/><%= f.text_area :event_filter, :cols => 80, :rows => 3%> </p>
<p> Type:<br/><%= f.text_field :type, :size => 60%> </p>
<p> Alarm Mapping:<br/><%= f.text_area :alarm_mapping, :cols => 60, :rows => 10%> </p>
<p> Retention time (days):<br/><%= f.text_field :retention_time, :size => 10%> </p>
