<div id="input_column_left">
<p>Segment Type:<br/><%= text_field_tag "segment_type", @segment.type, :size => 30, :disabled => true %><br/>
<p>Buyer:<br/>
  <%= text_field_tag 'sp_name',@segment.buyer_name, :size => 20, :disabled => true %>
</p>
<p>Seller:<br/>
  <%= text_field_tag 'sp_name',@segment.seller_name, :size => 20, :disabled => true %>
</p>
<% if is_new %>
  <%= hidden_field_tag 'path_id', @path.id, :disabled => true %>
<% end %>
<p>Cenx ID (Auto generated):<br/>
  <%= text_field_tag 'cenx_id',@segment.cenx_id, :size => 30, :readonly => true%></p>
<p>CENX Name (Auto generated):<br/>
  <%= text_field_tag 'cenx_name',@segment.cenx_name, :size => 60, :readonly => true %> </p>
  <%= render(:partial=> 'options_subclass_segment', :locals => {:is_new => is_new})%>

<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<% if OnNetSegment.get_active_onovcs.include? @segment %>
  <p> <%= link_to "See Graphs", {:controller => "stats", :action => "stats_input_params_onovc", :id => @segment.id} %> </p>
<% end %>
</div>
<div id="input_column_right">
<p>Use Member Attributes: <%= f.check_box :use_member_attrs %></p>
  <%= observe_field 'segment_use_member_attrs',
		    :on => "changed",
		    :url => { :action => :options_type_element_segment },
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
		    :update => 'instance_element_options',
			:with => "'use_ma=' + value + '&id=#{@segment.id}&segmentt_id=' + $('segment_type_id').value + '&on_id=' + ($('operator_network_id') ? $('operator_network_id').value : false) + '&site_id=' + ($('site_id') ? $('site_id').value : false) + '&path_id=' + $('path_id').value + '&est_id=' + $('ethernet_service_type_id').value"
			%>
<% if !is_new %>
  <%= observe_field "segment_use_member_attrs",
	:on => "changed",
    :url => { :action => "options_instance_elements", :id => @segment.id },
	:before => "Element.show('spinner')",
	:complete => "Element.hide('spinner')" ,
    :update => "instance_elements_options",
    :with => "'hide=false&tail=segment&use_ma=' + $('segment_use_member_attrs').checked " %>
<% end %>
<p>24 x 7 Support:<br/><%= select_tag :'emergency_contact_id', raw("<option value=''>Select</option>" + options_from_collection_for_select(
    @contacts, :id, :name, @segment.emergency_contact_id)), :prompt => "Select"%>
  Wk. No: <%=  text_field_tag 'emergency_contact_phone_no', @segment.emergency_contact_id ? @segment.emergency_contact.work_phone : "TBD", :size => 20, :readonly => true %>
  <%= if @segment.emergency_contact_id
    link_to "--View", :action => 'edit_contact', :id =>   @segment.emergency_contact_id
  end %>
</p>
<p> Notes:<br/>
<%= f.text_area :notes, :cols => 50, :rows => 10%> </p>

<fieldset>
  <legend>Layer 3 Attributes</legend>
  <p>AS ID:<br/>
  <%=  text_field_tag('as_id',@segment.as_id, :size => 30)%></p>
 <p>Router Type:<br/>
  <%=  text_field_tag('router_type',@segment.router_type, :size => 30)%></p>
  <p>Router ID:<br/>
  <%=  text_field_tag('router_id',@segment.router_id, :size => 30)%></p>
  <p>Routing Domain:<br/>
  <%=  text_field_tag('routing_domain',@segment.routing_domain, :size => 30)%></p>
</fieldset>

<fieldset>
  <legend>Latest Order for this Segment</legend>
    <p>
    <% if @so != nil %>
       <%=  link_to "View Latest Order Details ", :action => 'edit_so', :id =>  @so.id %>
    <% else %>
      <strong> No Order Placed for this Segment</strong>
    <% end %>
    </p>
    <p>
    Primary Contact:<br/>
    <%=  text_field_tag('so_prim_contact',(@so) ? @so.primary_contact.name : "N/A", :size => 30, :readonly => true) %>
    <%= if @so != nil
       link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.primary_contact_id
    end %>
   </p>
</fieldset>

</div>

