<div id="input_column_left">
<p> Operator Network:<br/>
	<%= text_field_tag "operator_network_name", @operator_network.name, :size => 100, :disabled => true %>
  <%= link_to "--View", :action => 'edit_on', :id =>  @operator_network.id %></p>
  <%= f.hidden_field :operator_network_id, { :value => @operator_network.id} %>

<p> *Target:</br>
<%= f.select :target_id, options_from_collection_for_select(@targets, :id, :name, @target_id)%>

<p> *Permission:</br>
<%= f.select :permission, options_for_select(AccessPermission::PERMISSION_TYPES, @access_permission.permission)
 %>
</p>
</div>

