<p> *Name:<br/><%= f.text_field :name, :size => 60%> </p>
<p>Default COS:
<%= text_field_tag 'default_cos_type_info',@segmentept.default_cos_type_info, :size => 30, :readonly => true%>
    <%= if @segmentept.class_of_service_type_id != nil
       link_to "--View CoS ", :action => 'edit_cost', :id =>  @segmentept.class_of_service_type_id
    end %></p>
<p>Notes:
  <%= text_area_tag 'notes', @segmentept.notes, :cols => 40, :rows => 3%></p>
