<p> You will only get emails if the delivery is on
</br>Deliveries are currently <%= CdbMailer.perform_deliveries ? "on" : "off" %></p>
<p> *Email address:<br/><%= text_field_tag :email_address%> </p>
<p> Result:<br/><%= text_area_tag :result, @result, :cols => 60, :rows => 10, :disabled => true %> </p>
<%= button_to_remote 'Check Email delivery',
  :url => {:action => "check_email_delivery"},
  :update => 'result',
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :with => "'email_address=' + $('email_address').value" %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
