<p> *Name:<br/><%= f.text_field :name, :size => 60%> </p>

<p>*Ethernet Service Types:<br/>
<%= f.select :ethernet_service_type_id, @ests.collect{|est| [est.name, est.id]}, :prompt => "Select" %></p>
