<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<div id="input_column_left">                                                                       
<p>Service Being Ordered:<br/><%= text_field_tag 'ordered_entity_type',(@so.ordered_entity_subtype && !@so.ordered_entity_subtype.empty? && @so.ordered_entity_type != "UNI") ? @so.ordered_entity_subtype : @so.ordered_entity_type, :size => 30, :readonly => true %></p>
<p>Cenx ID (Auto generated):<br/><%= text_field_tag 'cenx_id',@so.cenx_id, :size => 30, :readonly => true %></p>
<% if @so.ordered_entity.nil? || is_new %>
  <%= render( :partial=> 'select_sp',  :object => @on,
                      :locals => {
                          :prompt => '*Buying Member:',
                          :action => 'options_order_so',
                          :update => 'service_order_select_field',
                          :with => "'spid=' + value + '&ordered_entity_type=' + $('ordered_entity_type').value" }) %>

  <%= render(:partial=> 'options_so') %>

  <% if ["OffNetOvcOrder", "DemarcOrder", "UniOrder", "EnniOrderNew"].include? @so.type %>
    <p><% if @osp.nil? %>
      <%= render( :partial=> 'select_sp', :object => @so,
                        :locals => {
                          :prompt => '*Selling Member:',
                          :action => 'options_son_so',
                          :update => 'ordered_on_select_field',
                          :prefix => 'ordered_',
                          :with => "'spid=' + value" }) %>
    <% else %>
      *Seller Member:<br/><%= text_field_tag 'osp_info_so', @so.osp_info_so, :size => 40, :disabled => true %>
    <% end %></p>

    <p><%= render( :partial=> 'select_on', :object => @so,
                        :locals => {
                          :prompt => '*Seller Network:',
                          :action => 'options_oeg_so',
                          :update => 'oeg_select_field',
                          :prefix => 'ordered_',
                          :list => @oons,
                          :with => "'onid=' + value + '&ordered_entity_type=' + $('ordered_entity_type').value" }) %></p>

    <p><% if @oeg.nil? %>
      <%= render( :partial=> 'select_oeg', :object => @so,
                      :locals => {
                          :prompt => 'Ordered Entity Group:',
                          :action => 'options_oet_so',
                          :update => 'service_order_oet_field',
                          :with => "'oeg_id=' + value + '&ordered_entity_type=' + $('ordered_entity_type').value" }) %>
    <% else %>
      Ordered Entity Group:<br/><%= text_field_tag 'oeg_info_so', @so.oeg_info_so, :size => 40, :disabled => true %>
      <%= hidden_field_tag 'ordered_entity_group_id', @so.ordered_entity_group_id %>
      <%= hidden_field_tag 'oeg_id', @so.ordered_entity_group_id %>
      <%= link_to "--View Ordered Entity Group Info ", :action => "edit_oeg", :id =>  @so.ordered_entity_group_id %>
    <% end %></p>
    
    <% if @oets.nil? %>
      Ordered Entity Type:<br/><%= text_field_tag 'oet_info_so', @so.oet_info_so, :size => 40, :disabled => true %>
      <%= hidden_field_tag 'ordered_object_type_id', @so.ordered_object_type_id %>
      <%= hidden_field_tag 'oet_id', @so.ordered_object_type_id %>
      <%= link_to "--View Type Info ", :action => "edit_#{parent_type_from_table(@so.ordered_object_type_type)}", :id =>  @so.ordered_object_type_id %>
    <% else %>
      <%= render(:partial=> 'select_oet_so')%>
    <% end %>

  <% end %>

  <p>*Order Activity Type:<br/> <%= f.select :action, ServiceProviderTypes::ORDER_TYPES,:prompt => 'Select' %>

    <%= observe_field 'so_action',
		    :on => "changed",
		    :url => { :action => :select_ordered_entity_so },
		    :update => 'service_order_entity_select_field',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner'); if ($('ordered_entity_group_id')) { " +
		    remote_function(:url => { :action => 'options_type_element_instance_element' },
		        :before => "Element.show('spinner')",
		        :complete => "Element.hide('spinner')" ,
		        :update => 'instance_element_options',
		        :with => "'ordered_entity=' + ((value != 'New') ? $('affected_entity_id').value : '') + ';#{@so.is_a?(DemarcOrder) ? "demarc" : "segment"}&te_id=' + $('ordered_entity_group_id').value + '&te_type=oeg&ie_id=#{@so.id}&ie_type=so'"
		        ) + " }",
			:with => "'so_action=' + value + '&on_id=' + $('operator_network_id').value + '&oon_id=' + ($('ordered_operator_network_id') ? $('ordered_operator_network_id').value : '') + '&path_id=' + ($('path_id') ? $('path_id').value : '') + '&ordered_entity_type=' + $('ordered_entity_type').value",
			:condition => 'value != ""'
			%>
    <%= render(:partial=> 'select_ordered_entity_so')%>
  </p>
<% else %>
  <p>Member:<br/>
    <%= text_field_tag 'covco_path_service_provider_name', @so.operator_network.service_provider.name, :size => 30, :disabled => true%>
  </p>
  <p>Operator Network:<br/>
    <%= text_field_tag "so_operator_network_name", @so.operator_network.name, :size => 50, :disabled => true %>
    <%= hidden_field_tag 'operator_network_id', @so.operator_network_id %>
  </p>
  <% if @so.type == "OnNetOvcOrder" || @so.type == "OffNetOvcOrder"%>
    <p>Path:<br/>
      <%= text_field_tag "so_operator_network_name", @so.path.cenx_name, :size => 50, :disabled => true %>
    </p>
  <% end %>

  <% if ["OffNetOvcOrder", "DemarcOrder", "UniOrder", "EnniOrderNew"].include? @so.type %>
    <p>Selling Member:<br/>
      <%= text_field_tag 'so_osp_info', @so.osp_info_so, :size => 30, :disabled => true%>
    </p>
    <p>Seller Network:<br/>
      <%= text_field_tag 'so_oon_info', @so.oon_info_so, :size => 30, :disabled => true%>
    </p>
    <% if @so.ordered_object_type %>
      <p>Ordered Entity Group:<br/>
        <%= text_field_tag 'so_oeg_info', @so.oeg_info_so, :size => 30, :disabled => true%>
        <%= link_to "--View Ordered Entity Group Info ", :action => "edit_oeg", :id =>  @so.ordered_entity_group_id %>
      </p>
      <p>Ordered Entity Type:<br/>
        <%= text_field_tag 'so_oet_info', @so.oet_info_so, :size => 30, :disabled => true%>
        <%= link_to "--View Type Info ", :action => "edit_#{parent_type_from_table(@so.ordered_object_type_type)}", :id =>  @so.ordered_object_type_id %>
      </p>
    <% end %>
  <% end %>

  <%= render(:partial=> 'input_so_contacts', :locals => {:disable_tech_contact => false}) %>

  <p>*Order Activity Type:<br/>
    <%= text_field_tag 'so_action',@so.action, :size => 30, :disabled => true %></p>
  <p>*Entity Affected:<br/>
    <%= text_field_tag 'so_enni_name',(@so.ordered_entity ? @so.ordered_entity.cenx_name : "Unknown"), :size => 60, :disabled => true %>
    <%= if @so.ordered_entity
  link_to "--View #{@so.ordered_entity.class.to_s}", :action => "edit_#{parent_type_from_table @so.ordered_entity.class.table_name.classify}", :id =>  @so.ordered_entity_id
    end %>
  </p>
<% end %>

<p>*Order Title:<br/> <%= f.text_field :title, :size => 70%> </p>

<p> Expedite: <%= f.check_box :expedite %> </p>
</div>
<div id="input_column_right">
<%= render(:partial=> 'input_so_dates', :object => @so, :locals => {:f => f}) %>
</div>


