<p>Member:<br/>
  <%= text_field_tag 'sp_name',@on.service_provider.name, :size => 30, :disabled => true %>
</p>
<p> Network Name:<br/><%= f.text_field :name, :size => 40 %> </p>
<p>Network Type:<br/> <%= f.select :operator_network_type_id,
         options_from_collection_for_select(@onts, :id, :name, @on.operator_network_type_id ),
         :prompt => "Select one - if defined"%>
<%= if @on.operator_network_type_id != nil
    link_to "--View Network Type ", :action => 'edit_ont', :id =>  @on.operator_network_type_id
end %>
  <%= observe_field 'on_operator_network_type_id',
		    :on => "changed",
		    :url => { :action => :options_type_element_instance_element },
		    :update => 'instance_element_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'te_id=' + value + '&te_type=ont&ie_type=on&ie_id=#{@on.id}'"
			%>
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
</p>
<%= render(:partial => "options_instance_element", :locals => {:ie => @on, :tail => 'on' }) %>