<p>Operator Network Type:<br/>
  <%= text_field_tag 'sp_name',@slgt.class_of_service_type.operator_network_type.name, :size => 30, :disabled => true %>
</p>
<p>Class of Service Type:<br/>
  <%= text_field_tag 'sp_name',@slgt.class_of_service_type.name, :size => 30, :disabled => true %>
</p>
<p>Min. Distance (km):<br/> <%= f.text_field :min_dist_km%> </p>
<p>Max. Distance (km or unlimited):<br/> <%= f.text_field :max_dist_km%> </p>
<!-- <p>   Max. Unbounded: <%= f.check_box :is_unbounded %> </p> -->
<p>Delay (us):<br/> <%= f.text_field :delay_us%> </p>
<p>Delay Variation (us):<br/> <%= f.text_field :delay_variation_us%> </p>
<p> General Notes:<br/><%= f.text_area :notes, :cols => 40, :rows => 7%> </p>
