<div id="service_order_contacts_field">	
<p>*Primary Contact:<br/>
  <%= select_tag "primary_contact_id", raw(((@so.primary_contact_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@contacts, :id, :name, @so.primary_contact_id))%>
  <%= if @sp.name != nil
    link_to "--Add New contact", :action => 'new_contact', :id =>  @sp.id
  end %>
  <%= if @so.primary_contact_id != nil
    link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.primary_contact_id
  end %>
  <br />

</p>
<p>*Testing Contact:<br/>
   <%= select_tag "testing_contact_id", raw(((@so.testing_contact_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@contacts, :id, :name, @so.testing_contact_id))%>
    <%= if @sp.name != nil
    link_to "--Add New contact", :action => 'new_contact', :id =>  @sp.id
  end %>
    <%= if @so.testing_contact_id != nil
    link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.testing_contact_id
  end %>
  <br />
</p>

<% if !disable_tech_contact %>
  <p>Technical Contact:<br/>
    <%= select_tag "technical_contact_id", raw(((@so.technical_contact_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@contacts, :id, :name, @so.technical_contact_id))%>
    <%= if @sp.name != nil
      link_to "--Add New contact", :action => 'new_contact', :id =>  @sp.id
    end %>
    <%= if @so.technical_contact_id != nil
      link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.technical_contact_id
    end %>
    <br />
  </p>
<% end %>

<p>Local Contact: (If Applicable)<br/>
  <%= select_tag "local_contact_id", raw(((@so.local_contact_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@contacts, :id, :name, @so.local_contact_id))%>
  <%= if @sp.name != nil
    link_to "--Add New contact", :action => 'new_contact', :id =>  @sp.id
  end %>
  <%= if @so.local_contact_id != nil
    link_to "--View Contact Info ", :action => 'edit_contact', :id =>  @so.testing_contact_id
  end %>
  <br />
</p>
</div>
