<p>Ethernet Service Type:<br/>
<%=  text_field_tag 'st', @cosi.ethernet_service_type_info, :size => 30, :disabled => true %> </p>

<p>Class of Service:<br/>
<%= f.select :class_of_service_type_id,
         options_from_collection_for_select(@costs, :id, :name, @cosi.class_of_service_type_id ),
         :prompt => "Select"%>
     <%= if @cosi.class_of_service_type_id != nil
      link_to "--View", :action => 'edit_cost', :id =>  @cosi.class_of_service_type_id
    end %>
<%= render :partial=> 'input_cosi_cosid_value' %>

  <%= observe_field 'cosi_class_of_service_type_id',
                    :on => "changed",
                    :url => { :action => :grab_cos_id_cosi },
                    :update => 'cos_mapping',
		    :with => '"id=" + value',
		    :condition => 'value != ""'
		%>
</p>
