<span id='cos_mapping'>
<fieldset>
<legend>ENNI Mapping</legend>
<p>Mapping Mechanism: <%=  text_field_tag 'cos_id_type_enni', @cost.cos_id_type_enni, :size => 10, :disabled => true %></p>
<p>Ingress Mapping: <%=  text_field_tag 'cos_mapping_enni_ingress', @cost.cos_mapping_enni_ingress, :size => 15, :disabled => true %></p>
<p>Egress Marking: <%= text_field_tag 'cos_mapping_enni_ingress', @cost.cos_marking_enni_egress, :size => 15, :disabled => true %></p>
</fieldset>
<fieldset>
<legend>UNI Mapping</legend>
<p>Mapping Mechanism: <%=  text_field_tag 'cos_id_type_enni', @cost.cos_id_type_uni, :size => 10, :disabled => true %></p>
<p>Ingress Mapping: <%=  text_field_tag 'cos_mapping_uni_ingress', @cost.cos_mapping_uni_ingress, :size => 15, :disabled => true %></p>
<p>Egress Marking: <%=  text_field_tag 'cos_marking_uni_egress', @cost.cos_marking_uni_egress, :size => 15, :disabled => true %></p>
</fieldset>
</span>
