<br />
<div id="list_for_<%=legend %>">
<fieldset>
  <legend><b><%= legend %></b></legend>
    <span><img alt="spinner_<%= legend %>" id="spinner_<%= legend %>" src="/images/small-loading.gif" style="display:none"/></span>
    <% if !defined?(@items) || @items.nil?
    @items = list_special_any_type
  end

  if !defined?(ctl_name) || ctl_name.nil?
    ctl_name = controller_name
  end
  if !defined?(get_id)
    get_id = ""
  end
  if get_id != ""
	get_id = "." + get_id
  end
  if((!defined? lenforsearch) || lenforsearch == nil)
    lenforsearch = 1
  end
  if !defined?(enable_delete) || enable_delete == "false"
    enable_delete = false
  end
  if !defined?(delete_on)
    delete_on = CDBInfo::DELETE_ON
  elsif delete_on == "false"
    delete_on = false
  end
  if !defined?(enable_search) || enable_search == "false"
    enable_search = false
  end
  table = table_from_type(fcn_tail)
  if(table != nil && enable_search && @items.length >= lenforsearch) %>
  <%= if(!defined? search)
      search = ""
    end
    render( :partial=> 'admin/input_field_action',
	  :locals => {
		  :prompt => 'Search Table',
		  :action => 'search_table',
		  :update => 'list_for_' + legend,
		  :before => "Element.show('spinner_#{legend}')",
		  :complete => "Element.hide('spinner_#{legend}')",
		  :valuename => "search",
		  :value => search,
		  :params => { :items => @items.collect{|o| o.id},
		          :legend => legend,
		          :cols => cols,
			  :fcn_tail => fcn_tail,
			  :local_link => local_link,
			  :detail_link => detail_link,
			  :attrs => attrs,
			  :details => details,
			  :methods => methods,
			  :confirm_methods => confirm_methods,
		      :enable_search => enable_search,
			  :enable_delete => enable_delete
		      },
		  :with => "'delete_on=' + delete_on"
		  }) %>
  <% end %>
  <div id="simple_table" >	
    <table>
    <% if !list_special_any_type.empty?  %>
    <thead>
      <tr>
        <% for c in cols %>
     	  <th scope ="col"><%= c %></th>
        <% end %>
        
        <% confirm_methods.each do |m| %>
          <th scope ="col">&nbsp;</th>
        <% end %>
        <% methods.each do |m| %>
          <th scope ="col">&nbsp;</th>
        <% end %>
          <th scope ="col">&nbsp;</th>
      </tr>
    </thead>
    <% end %>
    <tfoot>
      <tr>
        <td colspan="50"><%= (defined?(countable_object) && countable_object ? countable_object : list_special_any_type).count %> <%= legend %></td>
      </tr>
    </tfoot>
   <tbody>

    <% if defined?(sorted) and sorted %>
     <% list =  list_special_any_type%>
    <% else %>
     <% list = list_special_any_type.sort_by do |s|
        if local_link
          eval("s.#{local_link}")
        elsif detail_link
          eval("s.#{detail_link}")
        else
          eval("s.#{attrs[0]}")
        end
      end %>
    <% end %>

    <% action = "#{action}_#{fcn_tail}" if fcn_tail %>	
    <%  list.each do |o|  %>

    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <% if local_link %>
      <td>
        <b><%= link_to "#{eval("o.#{local_link}")}", :action => action, :controller => ctl_name,  :id => eval("o#{get_id}.id") %></b>
      </td>
      <% end %>
       <% if detail_link %>
      <td>
        <b><%= link_to "#{eval("o.#{detail_link}")}", :action => action, :controller => ctl_name,  :id => eval("o#{get_id}.id")  %></b>
      </td>
      <% end %>
      <% for a in attrs %>
        <td>
        <b><%=h eval("o.#{a}") %></b>
        </td>
      <% end %>
       <% for d in details %>
        <td>
        <%=h eval("o.#{d}") %>
        </td>
      <% end %>

      <% methods.each do |key,value|
        temp = value.split("?")
        view = temp[0]
        args = {}
        if temp[1]
          vars = temp[1].split("&")
          vars.each{|a| args[a.split("=")[0]] = a.split("=")[1] }
        end %>
        <td><%= link_to "#{key}", { :action => "#{view}", :id => eval("o#{get_id}.id") }.merge(args) %></td>
      <% end %>
      <% confirm_methods.each do |key,value|
        temp = value.split("?")
        view = temp[0]
        args = {}
        if temp[1]
          vars = temp[1].split("&")
          vars.each{|a| args[a.split("=")[0]] = a.split("=")[1] }
        end %>
        <td><%= link_to "#{key}",{ :action => "#{view}", :id => eval("o#{get_id}.id") }.merge(args), {:confirm => 'Are you sure?'}  %></td>
      <% end %>
      <td><%= link_to "Delete", { :action => "destroy_#{fcn_tail}", :controller => ctl_name, :id => eval("o#{get_id}") }, {:name => "destroy_link_#{legend}", :style => (delete_on && enable_delete) ? "" : "display: none", :confirm => 'Are you sure?'}  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <% if table && enable_delete %>
    <%= javascript_tag do %>
      toggle_functions["<%= legend %>"] = function(){
        var x = document.getElementsByName("destroy_link_<%= legend %>")
        for(var i = 0; i < x.length; i++)
        {
          x[i].style.display = (delete_on && <%= enable_delete %>) ? "inline" : "none"
        }
      }
	<% end %>
  <% end 
  @items = nil%>
</fieldset>
</div>