<%= render :partial => 'list_special_any_type', :object => ufs,
             :locals => {
				:legend => 'Attached Files',
				:fcn_tail => 'uf',
				:cols => %w{comment type},
                                :fcn_tail => 'uf',
                                :local_link => nil,
                                :detail_link => nil,
				:attrs => %w{comment content_type},
				:details => %w{},
                                :sorted => defined?(sorted) ? sorted : false,
				:methods => {"View" => "show_uf?controller=admin" },
                                :confirm_methods => {},
				:enable_delete => true
				} %>

<%= button_to 'Attach File', :action => 'new_uf', :parent_type => tail, :id => id %>
