<% use_full_form_id = (defined? use_full_form_id) && use_full_form_id
if !defined?(with)
  with = nil
end
%>
<fieldset>
<legend><%= legend %></legend>
<%= error_messages_for tail, :object => mais %>
<% mais.each do |mai|
name = use_full_form_id ? mai.full_form_id : mai.form_id %>
<%= render :partial => "input_mai", :locals => {:name => name, :mai => mai}%>
</div>
<% mai.observes.each do |mai_obs| %>
<%= observe_field use_full_form_id ? mai_obs.full_form_id : mai_obs.form_id,
        :frequency => 0.25,
        :url => {:action => :update_mai},
	    :update => "div_for_#{name}",
        :with => "'observed_value=' + value + '&observed_id=#{mai_obs.full_form_id}&observer_value=' + $('#{name}').value + '&observer_id=#{mai.full_form_id}&name=#{name}#{with ? "&" + with : ""}'"
    %>
<% end %>
<% end %>
</fieldset>
