<div id="fancy_table" >
  <table >
    <caption><%= legend %></caption>
    <thead>
      <tr>
        <% for c in cols %>
     	  <th scope ="col"><%= c %></th>
        <% end %>
      </tr>
    </thead>
    <tfoot>
      <tr>
	<th scope="row">Total:</th>
        <td colspan="4"><%= list_any_type_fancy.count %> <%= legend %></td>
      </tr>
    </tfoot>
    <tbody>
    <% list_any_type_fancy.each do |o| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <% for a in attrs %>
      <td>
	<%=h o.read_attribute(a) %>
      </td>
      <% end %>
      <% for d in details %>
      <td>
        <%=h o.send(d) %>
      </td>
      <% end %>
      <td><%= link_to 'View/Edit', :action => "edit_#{fcn_tail}",  :id => o.id %></td>
      <td><%= link_to 'Delete', { :action => "destroy_#{fcn_tail}", :id => o.id},
			         {:confirm => 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>