<%= render :partial => 'list_any_type', :object => @so.order_annotations,
             :locals => {
				:legend => 'OrderAnnotations',
                                :fcn_tail => 'oa',
                                :cols => %w{Date Severity Note},
                                :local_link => "date",
                                :detail_link => nil,
				:attrs => %w{severity},
				:details => %w{short_title}
				} %>
<%= button_to 'Add an annotation', :action => 'new_oa', :so_id => @so.id %>
