<fieldset>
  <legend><b><%= legend %></b></legend>
  <div id="simple_table" >
    <table>
    <thead>
      <tr>
        <% for c in cols %>
     	  <th scope ="col"><%= c %></th>
        <% end %>
      </tr>
    </thead>

   <tbody>
    <% list_any_type_old.each do |o| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<% for a in attrs %>
      <td>
        <b><%=h o.read_attribute(a) %></b>
      </td>
      <% end %>
       <% for d in details %>
      <td>
        <%=h o.send(d) %>
      </td>
      <% end %>

       <td><%= link_to 'View/Edit', :action => "edit_#{fcn_tail}",  :id => o.id %></td>
       <td><%= link_to 'Delete', { :action => "destroy_#{fcn_tail}", :id => o.id},
			         {:confirm => 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

</fieldset>