<% if Kpi::FOR_KLASS.include?(object.class.name) %>
  <% object.kpis.where(:actual_kpi => true).each do |kpi| 
       mask_kpis = object.get_kpi_masks(kpi.name, kpi.for_klass).collect {|a,b| b.kpi_ownerships[0]}
       kpi_owner = kpi.kpi_ownerships.find_by_kpiable_type_and_kpiable_id_and_kpi_id(object.class.base_class.name, object.id, kpi.id)
       mask_kpis << kpi_owner
   %>

  <%= render :partial => 'list_any_type', :object => mask_kpis,
           :locals => {
				:legend => "Resultant KPIs for #{kpi.name}",
                              :fcn_tail => 'kpi',
                              :cols => %w{Object Real\ KPI Class Units Warning\ Threshold Warning\ Time Error\ Threshold Error\ Time Delta_t},
                              :local_link => "kpiable.class.name",
                              :detail_link => nil,
							  :get_id => "kpi",
				:attrs => %w{kpi.actual_kpi kpi.for_klass kpi.units kpi.warning_threshold kpi.warning_time kpi.error_threshold kpi.error_time kpi.delta_t},
				:details => %w{},
				:sorted => true
				} %>
  <% end %>
<% else %>				
<%= render :partial => 'list_any_type', :object => object.kpis.where(:actual_kpi => false),
             :locals => {
				:legend => 'Mask KPIs',
                                :fcn_tail => 'kpi',
                                :cols => %w{Name Class Units Warning\ Threshold Warning\ Time Error\ Threshold Error\ Time Delta_t},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{for_klass units warning_threshold warning_time error_threshold error_time delta_t},
				:details => %w{},
				:sorted => true
				} %>
<% end %>
<%= button_to 'Add KPI Mask', :action => 'new_kpi', :object => object.class.name, :id => object.id %>
</br>