<%= render :partial => 'list_special_any_type', :object => list_any_type_edit_del,
             :locals => {
				:legend => legend,
				:cols => cols,
                                :fcn_tail => fcn_tail,
                                :action => defined?(action) ? action : "edit",
                                :local_link => nil,
                                :detail_link => nil,
                                :attrs => attrs,
				:details => details,
                                :sorted => defined?(sorted) ? sorted : false,
				:methods => {"View/Edit" => "edit_#{fcn_tail}"},
				:ctl_name => defined?(ctl_name) ? ctl_name : nil
				} %>
