<%= render :partial => 'admin/list_special_any_type', :object => list_any_type,
             :locals => {
				:legend => legend,
                                :fcn_tail => fcn_tail,
                                :action => defined?(action) ? action : "edit",
                                :local_link => local_link,
                                :detail_link => detail_link,
				:cols => cols,
                                :attrs => attrs,
				:details => details,
                                :sorted => defined?(sorted) ? sorted : false,
                                :methods => {},
                                :confirm_methods => ((defined? confirm_methods) ? confirm_methods : {}),
                                :enable_search => ((defined? enable_search) ? enable_search : nil),
                                :lenforsearch => ((defined? lenforsearch) ? lenforsearch : nil),
                                :enable_delete => true,
                                :countable_object => defined?(countable_object) ? countable_object : nil,
			                    :get_id => defined?(get_id) ? get_id : "",
			                    :ctl_name => defined?(ctl_name) ? ctl_name : nil
				} %>

