<p>Destination Site:<br />
<% options = "<option>Select</option>" %>
<% options += options_from_collection_for_select(@sites, :id, :name) unless @sites.nil? %>
<%= select_tag :site_id, raw(options)%></p>
