<div id="site_subclass_options">
  <% if @site.is_a?(AggregationSite) %>
    <fieldset>
      <legend>Aggregation Site Options</legend>	
		<legend>VPLS Service ID Range</legend>
		<p> *Low:<br/> <%= f.text_field :service_id_low %> </p>
		<p> *High:<br/> <%= f.text_field :service_id_high %> </p>
    </fieldset>
  <% end %>
</div>
