<div id="node_nm_options">
<p>Network Manager:<br/> <%= select_tag :network_manager_id,
         raw("<option value =''>None</option>" + options_from_collection_for_select(@nms, :id, :name, @node.network_manager_id ))%>
<%= if @node.network_manager_id != nil
link_to "--View Network Manager", :action => 'edit_nm', :id =>  @node.network_manager_id
end %>
</div>
