<div id="demarc_type_type_options">
<% case @dt.demarc_type_type 
when "ENNI Type" then %> 
<fieldset>
  <legend>ENNI Type Options</legend>
  <fieldset>
    <legend>Frame Format</legend>
    <p> Ether Type: <%= select_tag :frame_format, raw("<option value=''>Select</option>" + options_for_select(FrameTypes::ETHER_TYPES, @dt.frame_format)) %> </p>
    <p> Consistent Ether Type: 
      <%= hidden_field_tag :consistent_ethertype, '0'  %>
      <%= check_box_tag :consistent_ethertype, '1', @dt.consistent_ethertype %>
    </p>
    <p> At the ENNI, what VLAN tags are used to identify and classify frames into an Segment?:
      <%= select_tag :outer_tag_segment_mapping, raw("<option value=''>Select</option>" + options_for_select(HwTypes::TAG_MAPPING_TYPES, @dt.outer_tag_segment_mapping)) %> </p>
    </p>
    <p> Additional Items/Notes:<br/><%= text_area_tag :frame_format_notes, @dt.frame_format_notes, :cols => 40, :rows => 4%> </p>
  </fieldset>
  <fieldset>
    <legend>Protection</legend>
    <p> LAG Supported: 
      <%= hidden_field_tag :lag_supported, '0' %>
      <%= check_box_tag :lag_supported, '1', @dt.lag_supported %>
    </p>
    <p> LAG Type Supported: <%= select_tag :lag_type, raw("<option value=''>Select</option>" + options_for_select(HwTypes::LAG_TYPES, @dt.lag_type)) %> </p>
    <p> Multiple (>2) links supported:
      <%= hidden_field_tag :multi_link_support, '0' %>
      <%= check_box_tag :multi_link_support, '1', @dt.multi_link_support %><br/>
      --- if yes, how many: <%= text_field_tag :max_links_supported, @dt.max_links_supported, :size => 20%>
    </p>
    <p> LACP Supported: 
      <%= hidden_field_tag :lacp_supported, '0' %>
      <%= check_box_tag :lacp_supported, '1', @dt.lacp_supported %>
    </p>
    <p> LACP w Port Priorities: 
      <%= hidden_field_tag :lacp_priority_support, '0' %>
      <%= check_box_tag :lacp_priority_support, '1', @dt.lacp_priority_support %>
    </p>
    <p> LAG Active Link Selection: <%= select_tag :lag_control, raw("<option value=''>Select</option>" + options_for_select(HwTypes::LAG_SELECTION_CONTROL, @dt.lag_control)) %> </p>
    <p> Protection Notes:<br/><%= text_area_tag :protection_notes, @dt.protection_notes, :cols => 40, :rows => 5%> </p>
  </fieldset>
  <fieldset>
    <legend>OAM</legend>
    <p> 802.3ah OAM Support: 
      <%= hidden_field_tag :ah_supported, '0' %>
      <%= check_box_tag :ah_supported, '1', @dt.ah_supported %>
    </p>
    <p> 802.1ag MIPs on connected device: 
      <%= hidden_field_tag :ag_supported, '0' %>
      <%= check_box_tag :ag_supported, '1', @dt.ag_supported %>
    </p>
    <p> OAM Notes:<br/><%= text_area_tag :oam_notes, @dt.oam_notes, :cols => 40, :rows => 4%> </p>
  </fieldset>
</fieldset>
<% when "UNI Type" then %>
<fieldset>
  <legend>UNI Type Options</legend>
<p> MTU: <%= text_field_tag :mtu, @dt.mtu, :size => 30%> </p>
<p> 802.3ah OAM Support:
  <%= hidden_field_tag :ah_supported, '0' %>
  <%= check_box_tag :ah_supported, '1', @dt.ah_supported %>
</p>
<p>CFM Supported (802.1ag or Y1731) MEPs at UNI:
  <%= hidden_field_tag :cfm_supported, '0' %>
  <%= check_box_tag :cfm_supported, '1', @dt.cfm_supported %>
</p>
<p>Supported Monitoring Reflection Mechanisms:<br/>
  <%= text_area_tag :reflection_mechanisms, @dt.reflection_mechanisms, :cols => 40, :rows => 4%>
</p>
<p>Supported Turnup Reflection Mechanisms:<br/>
  <%= text_area_tag :turnup_reflection_mechanisms, @dt.turnup_reflection_mechanisms, :cols => 40, :rows => 4%>
</p>
<p>Service Rate Reflection Supported:
  <%= hidden_field_tag :service_rate_reflection_supported, '0' %>
  <%= check_box_tag :service_rate_reflection_supported, '1', @dt.service_rate_reflection_supported %>
</p>
<p> Max Reflection Rate: <%= text_field_tag :max_reflection_rate, @dt.max_reflection_rate, :size => 30%> </p>
<p>Service Multiplexing:
  <%= hidden_field_tag :service_multiplexing, '0' %>
  <%= check_box_tag :service_multiplexing, '1', @dt.service_multiplexing %>
</p>
<p>Bundling Support:
  <%= hidden_field_tag :bundling, '0' %>
  <%= check_box_tag :bundling, '1', @dt.bundling %>
</p>
<p>All to One Bundling Support:
  <%= hidden_field_tag :ato_bundling, '0' %>
  <%= check_box_tag :ato_bundling, '1', @dt.ato_bundling %>
</p>
</fieldset>
<% end %>
</div>
