<%= error_message_on 'demarc', 'lag_id', :prepend_text => "Lag ", :css_class => "errorExplanation" %>
<div id="enni_lag_id_select_field">
  <% if @demarc.protection_type and not @demarc.is_lag %>
    <%= hidden_field_tag 'lag_id', nil %>
    <%= hidden_field_tag 'lag_mac_primary', nil %>
    <%= hidden_field_tag 'lag_mac_secondary', nil %>
    <%= hidden_field_tag 'lag_mode', nil %>
  <% elsif @demarc.protection_type and @demarc.is_lag %>
    <p>*Lag ID:<br/> <%= text_field_tag 'lag_id',@demarc.lag_id, :size => 30 %>
      <%= link_to_remote "-- Suggest Valid ID",
        :url => {:action => :suggest_lag_id_demarc, :demarc_id => @demarc.id},
        :update => 'enni_lag_id_select_field',
        :before => "Element.show('spinner')",
        :complete => "Element.hide('spinner')",
        :with => "'site_id=' + $('site_id').value + '&protection_type=' + $('protection_type').value"
    %>
    </p>
    <p>Lag MAC Address (avaliable once lag is configured):<br/> <%= text_field_tag 'lag_mac_primary',@demarc.lag_mac_primary, :size => 30 %>
      <% if @demarc.is_multi_chassis %>
      <p>Lag Secondary MAC Address (avaliable once lag is configured):<br/> <%= text_field_tag 'lag_mac_secondary',@demarc.lag_mac_secondary, :size => 30 %>
      <% else %>
        <%= hidden_field_tag 'lag_mac_secondary', nil %>
      <% end %>
      <%= link_to_remote "-- Grab MAC Value(s)",
        :url => {:action => :get_demarc_mac_info, :id => @demarc.id},
        :update => 'enni_lag_id_select_field',
        :before => "Element.show('spinner')",
        :complete => "Element.hide('spinner')"
    %>
    </p>
    <p>*Lag Mode:<br/> <%= select_tag 'lag_mode', raw("<option value=''>Select</option>" + options_for_select(HwTypes::LAG_MODES, @demarc.lag_mode)) %></p>
  </p>
<% end %>
</div>
