<%= error_messages_for 'costv' %>
<div id="costv_id_field">
<fieldset> <legend> BrixWorx IDs </legend>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<p> SLA ID:<br/> <%= text_field_tag 'sla_id', @costv.sla_id%></p>
<p> Service Instance ID:<br/> <%= text_field_tag 'service_instance_id', @costv.service_instance_id%></p>
<p> Test Instance ID:<br/> <%= text_field_tag 'test_instance_id', @costv.test_instance_id%>
<p> Test Instance Class ID:<br/> <%= text_field_tag 'test_instance_class_id', @costv.test_instance_class_id%>
  <%= link_to_remote "-- Get Values",
    :url => {:action => :get_test_vector_info, :costv_id => @costv.id},
    :update => 'costv_id_field',
    :before => "Element.show('spinner')",
    :complete => "Element.hide('spinner')"
  %>
</p>
</fieldset>
</div>
