
<fieldset>
  <legend>Move Information</legend>

  <!-- Errors -->
  <% unless @info[:errors].empty? %>
    <fieldset>
      <legend>Errors</legend>
      <ul>
      <% @info[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </fieldset>
  <% end %>

  <!-- Segments -->
  <% @info.keys.select{|k| k.is_a? Segment}.each do |segment| %>
    <% ennis = @info[segment] %>
    <fieldset>
      <legend><%= "ENNIs Moving for Segment #{segment.name} (#{segment.cenx_id})" %></legend>
      <%= "Moving from VPLS ID #{segment.service_id} to #{@form[:vpls_id]}" %>
      <ul>
        <% ennis.each do |enni| %>
        <li><%= enni.name %></li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>

  <!-- Port Deletions -->
  <% unless @info[:deletions].empty? %>
    <fieldset>
      <legend>Existing Ports for Deletion</legend>
      <ul>
      <% @info[:deletions].each do |deletion| %>
        <li><%= "Port #{deletion.name} on Node #{deletion.node.name}" %></li>
      <% end %>
      </ul>
    </fieldset>
  <% end %>


  <!-- ENNIs -->
  <% @info.keys.select{|k| k.is_a? EnniNew}.each do |enni| %>
    <% moves = @info[enni] %>
    <fieldset>
      <legend><%= "Move Details for #{enni.name} (#{enni.cenx_id})" %></legend>
      <table>
        <tr> <th>Port</th> <th>Source Node</th> <th></th> <th>Destination Node</th> </tr>
        <% moves.each do |port, nodes| %>
        <tr>
          <td><%= port.name %></td>
          <td><%= nodes.first.name %> </td>
          <td>-></td>
          <td><%= nodes.last.name %></td>
        </tr>
        <% end %>
      </table>
    </fieldset>
  <% end %>

  <%= form_tag('/admin/move_confirm') do %>
    <% @form.each do |id, value| %>
      <%= hidden_field_tag id, value %>
    <% end %>
    <%= submit_tag 'Move! (Can NOT be undone)', :disabled => invalid %>
  <% end %>
</fieldset>
