<div id="instance_element_options">
  <% mais = ie.get_member_attr_instances
mais.reject!{|mai| mai.is_a? MemberHandleInstance} if (defined? disable_handles) && disable_handles
mais.reject!{|mai| !mai.is_a? MemberHandleInstance} if (defined? disable_non_handles) && disable_non_handles
unless defined?(with)
  with = nil
end

if !mais.empty? %>
  <%= render(:partial => "list_mais", :locals => {
      :mais => mais,
      :legend => "Member Attributes",
      :tail => tail,
      :with => with
  } )%>
<% end %>
</div>