<div id="slgt_value_select">
  <fieldset> <legend> Guaranteed Thresholds </legend>
  <p>
    *Delay SLA Guarantee (us):<br/><%=  text_field_tag 'delay_sla_guarantee', @costv.delay_sla_guarantee, :size => 30 %>
    SLG Value (from OSS): <%=  text_field_tag 'slg_delay', @slgt.delay_us, :size => 50, :disabled => true %>
  </p>
  <p>
    *Delay Error Threshold (us):<br/><%=  text_field_tag 'delay_error_threshold', @costv.delay_error_threshold, :size => 30 %>
    <%= link_to_function "Get Delay Error Threshold from SLA", "$('delay_error_threshold').value = '#{@sla_delay_threshold}'" %>
  </p>
  <p>Delay Warning Threshold (us):<br/><%=  text_field_tag 'delay_warning_threshold', @costv.delay_warning_threshold, :size => 30 %>
  <%= link_to_remote "Get Default Warning Threshold",
:url => {:action => "get_costv_default_warning"},
    :with => "'value=' + $F('delay_error_threshold') + '&element=delay_warning_threshold'" %></p>
  <p>
    *Delay Variation SLA Guarantee (us):<br/><%=  text_field_tag 'dv_sla_guarantee', @costv.dv_sla_guarantee, :size => 30 %>
    SLG Value (from OSS): <%=  text_field_tag 'slg_delay_variation', @slgt.delay_variation_us, :size => 50, :disabled => true %>
  </p>
  <p>
    *Delay Variation Error Threshold (us):<br/><%=  text_field_tag 'dv_error_threshold', @costv.dv_error_threshold, :size => 30 %>
    <%= link_to_function "Get Delay Variation Error Threshold from SLA", "$('dv_error_threshold').value = '#{@sla_dv_threshold}'" %>
  </p>
  <p>Delay Variation Warning Threshold (us):<br/><%=  text_field_tag 'dv_warning_threshold', @costv.dv_warning_threshold, :size => 30 %>
  <%= link_to_remote "Get Default Warning Threshold",
:url => {:action => "get_costv_default_warning"},
    :with => "'value=' + $F('dv_error_threshold') + '&element=dv_warning_threshold'" %></p>
  <p>
    *FLR SLA Guarantee (%):<br/><%=  text_field_tag 'flr_sla_guarantee', @costv.flr_sla_guarantee, :size => 30 %>
    SLG Value (from OSS): <%=  text_field_tag 'slg_flr', @slgt.frame_loss_ratio_percent, :size => 50, :disabled => true %>
  </p>
  <p>
    *FLR Error Threshold (%):<br/><%=  text_field_tag 'flr_error_threshold', @costv.flr_error_threshold, :size => 30 %>
    <%= link_to_function "Get FLR Error Threshold from SLA", "$('flr_error_threshold').value = '#{@sla_flr_threshold}'" %>
  </p>
  <p>FLR Warning Threshold (%):<br/><%=  text_field_tag 'flr_warning_threshold', @costv.flr_warning_threshold, :size => 30 %>
  <%= link_to_remote "Get Default Warning Threshold",
:url => {:action => "get_costv_default_warning"},
    :with => "'value=' + $F('flr_error_threshold') + '&element=flr_warning_threshold'" %></p>
  <p>
    *Availability Guarantee (%):<br/><%=  text_field_tag 'availability_guarantee', @costv.availability_guarantee, :size => 30 %>
    SLG Value (from OSS): <%=  text_field_tag 'slg_flr', @slgt.availability_guarantee, :size => 50, :disabled => true %>
  </p>

  </fieldset>

  <fieldset> <legend> Reference levels </legend>
	<div id="input_column_left">
      <p>FLR (%):<br/><%=  text_field_tag 'flr_reference', @costv.flr_reference, :size => 30 %></p>
      <p>Average Delay (us):<br/><%=  text_field_tag 'delay_reference', @costv.delay_reference, :size => 30 %></p>
      <p>Max Delay (us):<br/><%=  text_field_tag 'delay_max_reference', @costv.delay_max_reference, :size => 30 %></p>
      <p>Min Delay (us):<br/><%=  text_field_tag 'delay_min_reference', @costv.delay_min_reference, :size => 30 %></p>
    </div>
	<div id="input_column_right">
	  <p>Average Delay Variation (us):<br/><%=  text_field_tag 'dv_reference', @costv.dv_reference, :size => 30 %></p>
      <p>Max Delay Variation (us):<br/><%=  text_field_tag 'dv_max_reference', @costv.dv_max_reference, :size => 30 %></p>
      <p>Min Delay Variation (us):<br/><%=  text_field_tag 'dv_min_reference', @costv.dv_min_reference, :size => 30 %></p>
    </div>
  </fieldset>

</div>