<%= error_messages_for 'costv' %>
<div id="costv_id_field">
<fieldset> <legend> Spirent IDs </legend>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<p> GRID ID:<br/> <%= text_field_tag 'grid_circuit_id', @costv.grid_circuit_id, :size => 80%> </p>
<p> Circuit ID:<br/> <%= text_field_tag 'circuit_id', @costv.circuit_id, :size => 80%> </p>
<p> Ref. Circuit ID:<br/> <%= text_field_tag 'ref_circuit_id', @costv.ref_circuit_id, :size => 80%> </p>
<p> Last Hop Circuit ID:<br/> <%= text_field_tag 'last_hop_circuit_id', @costv.last_hop_circuit_id, :size => 80%> </p>
</fieldset>
</div>
