<fieldset>
  <legend><%= legend %> </legend>

    <% if errors and errors.any? %>
      <strong>Errors:</strong><br />
      <ul>
      <% errors.each do |error| %>
        <li><span style="color: red;"><%= error %></span></li>
      <% end %>
      </ul>
    <% end %>

  <% if @costs.empty? %>
    No Cenx CoS Endpoints Found
  <%  else %>
    <table border="0">
      <tr><td></td><td>CIR</td><td></td><td>EIR</td><td></td><td>Total</td><td></td></tr>
    <% options_cac_provisioned_bandwidth.keys.sort_by{|o| o.to_s}.each do |name| %>
      <% next unless name.is_a? String %>
      <% values = options_cac_provisioned_bandwidth[name] %>
    <tr>
      <td><%= "#{name}:" %></td>
      <td><%= text_field_tag "#{name}_cir_total_mbps", values[:cir], :size => 15, :disabled => true %>Mbps </td>
      <td><%= text_field_tag "#{name}_cir_total_ratio", values[:cir_rate], :size => 5, :disabled => true %>% &nbsp;&nbsp; </td>
      <td><%= text_field_tag "#{name}_eir_total_mbps", values[:eir], :size => 15, :disabled => true %>Mbps </td>
      <td><%= text_field_tag "#{name}_eir_total_ratio", values[:eir_rate], :size => 5, :disabled => true %>% &nbsp;&nbsp;</td>
      <td><%= text_field_tag "#{name}_total_mbps", values[:total], :size => 15, :disabled => true %>Mbps</td>
      <td><%= text_field_tag "#{name}_total_ratio", values[:rate], :size => 5, :disabled => true %>% </td>
    </tr>
    <% end %>

    <tr>
      <td><hr /><%= "Total:" %></td>
      <td><hr /><%= text_field_tag "grand_cir_total_mbps", options_cac_provisioned_bandwidth[:grand][:cir], :size => 15, :disabled => true %>Mbps </td>
      <td><hr /><%= text_field_tag "grand_cir_total_ratio", options_cac_provisioned_bandwidth[:grand][:cir_rate], :size => 5, :disabled => true %>% &nbsp;&nbsp; </td>
      <td><hr /><%= text_field_tag "grand_eir_total_mbps", options_cac_provisioned_bandwidth[:grand][:eir], :size => 15, :disabled => true %>Mbps </td>
      <td><hr /><%= text_field_tag "grand_eir_total_ratio", options_cac_provisioned_bandwidth[:grand][:eir_rate], :size => 5, :disabled => true %>% &nbsp;&nbsp;</td>
      <td><hr /><%= text_field_tag "grand_total_mbps", options_cac_provisioned_bandwidth[:grand][:total], :size => 15, :disabled => true %>Mbps</td>
      <td><hr /><%= text_field_tag "grand_total_ratio", options_cac_provisioned_bandwidth[:grand][:rate], :size => 5, :disabled => true %>% </td>
    </tr>
  </table>
<% end %>

</fieldset>