<div id="onovc_id_select_field">
<%= error_messages_for 'segment' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<p>*Segment ID:<br/> <%= text_field_tag 'service_id',@segment.service_id, :size => 30 %>
<%= link_to_remote '-- Suggest Valid ID',
      :url => {:action => 'suggest_service_id_onovc', :segment_id => @segment.id},
      :update => 'onovc_id_select_field',
      :before => "Element.show('spinner')",
      :complete => "Element.hide('spinner')",
      :with => "'site_id=' + $('site_id').value"
    %>
</p>
<p>On Switch name for Segment (Derived Data):<br/><%= text_field_tag 'on_sw_name',@segment.on_switch_name, :size => 40, :disabled => true %></p>

</div>
