<div id="instance_elements_options">
<% if !defined? disable_handles
  disable_handles = false
end
if !defined? disable_non_handles
  disable_non_handles = false
end

if !@ies.empty? %>
  <% if hide && hide != 0%>
  <%= button_to_remote "Show Attached Member Attributes",
      :url => { :action => "options_instance_elements", :id => id },
      :update => "instance_elements_options",
      :with => "'hide=false&tail=#{tail}&disable_handles=#{disable_handles}&disable_non_handles=#{disable_non_handles}'" + ((tail == "segment") ? " + '&use_ma=' + $('#{tail}_use_member_attrs').value" : "") %>
  <% else %>
    <fieldset>
    <legend>Attached Member Attributes</legend>
    <% @ies.each do |ie| %>
      <% if ie 
           mais = ie.get_member_attr_instances
           mais.reject!{|mai| mai.is_a? MemberHandleInstance} if disable_handles
           mais.reject!{|mai| !mai.is_a? MemberHandleInstance} if disable_non_handles
        %>
        <%= render(:partial => "list_mais", :locals => {
            :mais => mais,
            :legend => ie.cenx_name,
            :tail => tail,
            :use_full_form_id => true
        } )%>
      <% end %>
    <% end %>
    </fieldset>
    <%= button_to_remote "Hide Attached Member Attributes",
      :url => { :action => "options_instance_elements", :id => id },
      :update => "instance_elements_options",
      :with => "'hide=true&tail=#{tail}&disable_handles=#{disable_handles}&disable_non_handles=#{disable_non_handles}'" + ((tail == "segment") ? " + '&use_ma=' + $('#{tail}_use_member_attrs').value" : "") %>
  <% end %>
<% end %>
</div>