<div id="port_mac_id_field">
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<p> MAC Address:<br/> <%= text_field_tag 'port[mac]', @port.mac%>
<%= link_to_remote "-- Grab Value",
  :url => {:action => :get_port_mac_info, :id => @port.id},
  :update => "port_mac_id_field",
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')"
%>

</p>
</div>