<div id="segmentep_monitoring_field">
  <% if @segmentep.supports_eth_oam_reflection %>
    <fieldset>
    <legend>Monitoring Maintenance Entity Details (if applicable)</legend>
      <p>MEP ID:<br/><%= text_field_tag "mep_id", @segmentep.mep_id, :size => 30 %> </p>
      <p>MEG Level:<br/><%= text_field_tag "md_level", @segmentep.md_level, :size => 30 %> </p>
      <p>MD Format:<br/><%=  select_tag "md_format", raw("<option value=''>Select</option>" + options_for_select(FrameTypes::MEG_FORMATS, @segmentep.md_format)) %> </p>
      <p>MD Name ('none' if Format is ITU-T):<br/><%= text_field_tag "md_name_ieee", @segmentep.md_name_ieee, :size => 30 %> </p>
      <p>MA Format:<br/><%= select_tag "ma_format", raw("<option value=''>Select</option>" + options_for_select(FrameTypes::MA_FORMATS, @segmentep.ma_format)) %> </p>
      <p>MA Name:<br/><%= text_field_tag "ma_name", @segmentep.ma_name, :size => 30 %> </p>
    </fieldset>
  <% end %>
</div>
