<div id="node_id_name_options">
<p> *Name:<br/> <%= text_field_tag :name, @node.name, :size => 60 %>
<%= button_to_function "Choose Default Name" do |page|
  page[:name].value = @node.name
end %></p>
<p> *Primary IP:<br/> <%= text_field_tag :primary_ip, @node.primary_ip, :size => 30 %> </p>
<p> Secondary IP:<br/> <%= text_field_tag :secondary_ip, @node.secondary_ip, :size => 30 %> </p>
<p> Gateway IP:<br/> <%= text_field_tag :gateway_ip, @node.gateway_ip, :size => 30 %> </p>
</div>
