<div id="cost_value_select">
<fieldset> <legend>CoS Mapping</legend>
  <p>Mapping Mechanism: <%=  text_field_tag 'cos_id_type', @cos_id_type, :size => 5, :disabled => true %></p>
  <p>
    *Ingress Mapping:<br/><%=  text_field_tag 'ingress_mapping', @cose.ingress_mapping, :size => 30, :readonly => @cose.is_test?%>
    Allowable Range: <%=  text_field_tag 'cos_mapping_ingress', @cos_mapping_ingress, :size => 80, :disabled => true %>
  </p>
  <p>
    *Egress Marking (Enter "-" for PCP Transparency):<br/><%=  text_field_tag 'egress_marking', @cose.egress_marking, :size => 30, :readonly => @cose.is_test?%>
    Allowable Range: <%=  text_field_tag 'cos_marking_egress', @cos_marking_egress, :size => 80, :disabled => true %>
  </p>
</fieldset>

<%= render( :partial=> 'options_cose_bwp_values', :locals => {:direction => 'Ingress', :bwpt => @ingress_bwpt}) %>
<%= render( :partial=> 'options_cose_bwp_values', :locals => {:direction => 'Egress', :bwpt => @egress_bwpt}) %>

</div>
