<%= error_messages_for 'segmentep' %>
<div id="segmentep_stag_select_field">
  <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
    <% if @segmentep.is_connected_to_demarc %>
    <p>*Outer-tag:<br/> <%= text_field_tag 'stags',@segmentep.stags, :size => 30 %>
      <%= link_to_remote '-- Suggest Valid Outer tag',
        :url => {:action => 'suggest_stag_segmentep', :segmentep_id => @segmentep.id},
        :update => 'segmentep_stag_select_field',
        :before => "Element.show('spinner')",
        :complete => "Element.hide('spinner')",
        :with => ""
      #:with => "'site_id=' + $('on_ovc_site_id').value + '&service_type=' + $('onovc_service_type').value"
      %>
      <% if @segmentep.is_qinq_encap %>
          <p>*Inner-tag:<br/> <%= text_field_tag 'ctags', @segmentep.ctags.nil? ? "*" : @segmentep.ctags, :size => 30 %>
      <% end %>
    </p>
  <% else %>
    <p>Outer-tag:<br/> <%= text_field_tag 'stags',"TBD - chosen once interface is selected", :size => 30, :disabled => true %></p>
  <% end %>
</div>
