<div id="segmentep_subclass_options">
<% case @segmentep.type
when "OnNetOvcEndPointEnni", "OnNetRouterSubIf" then %>
  <p>Interface Name:<br/>
    <%= text_field_tag 'interface_name',@segmentep.interface_name, :size => 30, :disabled => true %>
  </p>
  <%= render(:partial=> 'options_stag_segmentep')%>

  <p>Ethernet CFM Configured (at this EndPoint):
    <%= hidden_field_tag 'eth_cfm_configured', '0' %>
    <%= check_box_tag 'eth_cfm_configured', '1', @segmentep.eth_cfm_configured %>
  </p>

  <p>Nodes Involved (Derived Data):<br/>
    <%= text_field_tag 'nodes_involved',@segmentep.node_info, :size => 40, :disabled => true %>
  </p>
  <p>On Switch Name (Derived Data):<br/>
    <%= text_field_tag 'on_switch_name',@segmentep.on_switch_name, :size => 40, :disabled => true %>
  </p>
  <p>MEP ID(s) (Derived Data):<br />
    <%= text_field_tag 'mep_id', @segmentep.mep_id, :size => 10, :disabled => true %>
  </p>
  <p>Service Monitoring MEP ID(s) (Derived Data):<br />
    <%= text_field_tag 'ccm_monitoring_mep_ids', @segmentep.ccm_mep_id, :size => 10, :disabled => true %>
  </p>
  <p>MEP MAC Address (Derived Data):<br/>
    <%= text_field_tag 'mep_mac',@segmentep.enni_mac_address, :size => 40, :disabled => true %>
  </p>

<% when "OvcEndPointEnni" then %>
  <p>Outer-tag (Derived from Cenx Endpoint):<br/> <%= text_field_tag 'stags',@segmentep.outer_tag_value, :size => 40, :disabled => true %></p>
<% when "OvcEndPointUni" then %>
  <p>Reflection Enabled: 
    <%= hidden_field_tag 'reflection_enabled', '0' %>
    <%= check_box_tag 'reflection_enabled', '1', @segmentep.reflection_enabled %>
  </p>
  <p>Outer-Tag(s):<br/> <%= text_field_tag 'ctags',@segmentep.ctags, :size => 40%></p>
<% end %>
</div>
