<div id="bwp_value_select">
<fieldset> <legend><%= direction %> Rates </legend>
<p>Applicable BW Profile (Derived From OSS Data):<br/>
 <%=  text_field_tag 'bwpt_type', bwpt ? bwpt.bwp_type : "None Found", :size => 30, :readonly => true %>
  <%= if bwpt
    link_to "--View", :action => 'edit_bwpt', :id =>  bwpt.id
  end %>
</p>
<p><%= direction %> Rate Limiting Mechanism <br/>
  <% if direction == "Ingress" %>
    <%= select_tag 'ingress_rate_limiting', raw("<option value=''>Select</option>" + options_for_select(ServiceCategories::RATE_LIMITING_MECHANISM_ACTUAL, @cose.ingress_rate_limiting)), :readonly => @cose.is_test? %>
    <%#=  text_field_tag 'ingress_rate_limiting', @cose.ingress_rate_limiting, :size => 30 %>
   <% else %>
    <%= select_tag 'egress_rate_limiting', raw("<option value=''>Select</option>" + options_for_select(ServiceCategories::RATE_LIMITING_MECHANISM_ACTUAL, @cose.egress_rate_limiting)), :readonly => @cose.is_test? %>
    <%#=  text_field_tag 'egress_rate_limiting', @cose.egress_rate_limiting, :size => 30 %>
  <% end %>
  Allowable Values(s): <%=  text_field_tag 'rate_limiting_mechanism', bwpt ? bwpt.rate_limiting_mechanism : "None Found", :size => 30, :disabled => true %>
</p>
<p><%= direction %> CIR (kbps):<br/>
  <% if direction == "Ingress" %>
    <%=  text_field_tag 'ingress_cir_kbps', @cose.ingress_cir_kbps, :size => 30, :readonly => @cose.is_test? %>
  <% else %>
    <%=  text_field_tag 'egress_cir_kbps', @cose.egress_cir_kbps, :size => 30, :readonly => @cose.is_test? %>
  <% end %>
  Allowable Range (Mbps): <%=  text_field_tag 'bwpt_cir_range', bwpt ? bwpt.cir_range_notes : "None Found", :size => 80, :disabled => true %>
</p>
<p><%= direction %> CBS (kB):<br/>
  <% if direction == "Ingress" %>
    <%=  text_field_tag 'ingress_cbs_kB', @cose.ingress_cbs_kB, :size => 30, :readonly => @cose.is_test? %>
  <% else %>
    <%=  text_field_tag 'egress_cbs_kB', @cose.egress_cbs_kB, :size => 30, :readonly => @cose.is_test? %>
  <% end %>
  Allowable Range: <%=  text_field_tag 'bwpt_cbs_range', bwpt ? bwpt.cbs_range_notes : "None Found", :size => 80, :disabled => true %><br />
  <% if @cose.is_system_owner? and !@cose.is_test? %>
    <%= link_to_remote "Get Default CBS",
      :url => {:action => "get_default_burst_rate"}, 
      :update => (direction == "Ingress" ? "ingress_cbs_kB" : "egress_cbs_kB"),
      :with => "'cos_instance_id=' + $F('cose_cos_instance_id') + '&method=commited' + '&direction=#{direction.downcase}' + '&rate=' + $F('#{direction.downcase}_cir_kbps')" %>
  <% end %>
</p>
<p><%= direction %> EIR (kbps):<br/>
  <% if direction == "Ingress" %>
    <%=  text_field_tag 'ingress_eir_kbps', @cose.ingress_eir_kbps, :size => 30, :readonly => @cose.is_test? %>
  <% else %>
    <%=  text_field_tag 'egress_eir_kbps', @cose.egress_eir_kbps, :size => 30, :readonly => @cose.is_test? %>
  <% end %>
  Allowable Range (Mbps): <%=  text_field_tag 'bwpt_eir_range', bwpt ? bwpt.eir_range_notes : "None Found", :size => 80, :disabled => true %>
</p>
<p><%= direction %> EBS (kB):<br/>
  <% if direction == "Ingress" %>
    <%=  text_field_tag 'ingress_ebs_kB', @cose.ingress_ebs_kB, :size => 30, :readonly => @cose.is_test? %>
  <% else %>
    <%=  text_field_tag 'egress_ebs_kB', @cose.egress_ebs_kB, :size => 30, :readonly => @cose.is_test? %>
  <% end %>
  Allowable Range: <%=  text_field_tag 'bwpt_ebs_range', bwpt ? bwpt.ebs_range_notes : "None Found", :size => 80, :disabled => true %><br />
  <% if @cose.is_system_owner? and !@cose.is_test? %>
    <%= link_to_remote "Get Default EBS",
      :url => {:action => "get_default_burst_rate"}, 
      :with => "'cos_instance_id=' + $F('cose_cos_instance_id') + '&method=excess' + '&direction=#{direction.downcase}' + '&rate=' + $F('#{direction.downcase}_eir_kbps')" %>
  <% end %>
</p>
</fieldset>
</div>
