<div id="service_order_select_field">		
<p>*Operator Network (of Buying Member):<br/>
  <%= select_tag "operator_network_id", raw(((@so.operator_network_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@ons, :id, :name, @so.operator_network_id))%>
  <%= if @sp.name != nil
    link_to "--Add Network ", :action => 'new_on', :id => @sp.id
  end %> <br />
</p>

<% if @so.type == "OnNetOvcOrder" || @so.type == "OffNetOvcOrder"%>
  <p>*Path:<br/>
  <%= select_tag "path_id", raw(((@so.path_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(@paths, :id, :cenx_name, @so.path_id))%>
  <%= if @on.name != nil
    link_to "--Add Path ", :action => 'new_path', :id => @on.id
  end %> <br />
  <% else %>
    <%= hidden_field_tag 'path_id', @so.path_id %>
<% end %>

<%= render(:partial=> 'input_so_contacts', :locals => {:disable_tech_contact => false}) %>

</div>
