<div id="demarc_subclass_options">
  <%= render(:partial => 'select_dt_demarc') %>
  <% if @demarc.cenx_demarc_type == "UNI" %>
    <fieldset>
      <legend>UNI Options</legend>
      <div id="input_column_left">
        <p>Physical Medium:<br/>
          <%= select_tag 'physical_medium', raw("<option value=''>Select</option>" + options_for_select(@pms, @demarc.physical_medium)) %>
        </p>
        <label>Port Name: </label><br/>
        <%= text_field_tag 'port_name', @demarc.port_name, :size => 30%><br/>
        <p>Monitoring Loop-back Mechanism:<br/>
          <%= select_tag 'reflection_mechanism', raw("<option value=''>Select</option>" + options_for_select(@rms, @demarc.reflection_mechanism)) %>
        </p>
        <p>*Loopback Address (MAC or IP):<br/>
          <%= text_field_tag 'mon_loopback_address', @demarc.mon_loopback_address %>
        </p>
        <p>NID Type:<br/>
          <%= select_tag 'connected_device_type', raw("<option value=''>Select</option>" + options_for_select(@nts, @demarc.connected_device_type)) %>
        </p>
        <p>NID SW Version:<br/>
          <%= text_field_tag 'connected_device_sw_version', @demarc.connected_device_sw_version, :size => 40 %>
        </p>
      </div>
      <div id="input_column_right">
        <label>Address: </label><br/>
        <%= text_area_tag 'address', @demarc.address, :cols => 40, :rows => 5%><br/><br/>
        <fieldset>
          <legend>Site Details</legend>
          <p>End User Name:<br/><%= text_field_tag 'end_user_name', @demarc.end_user_name %> </p>
          <p>New Construction:
            <%= hidden_field_tag 'is_new_construction', '0' %>
            <%= check_box_tag 'is_new_construction', '1', @demarc.is_new_construction %></p>
          <p>Site Contact Info:<br/><%= text_area_tag 'contact_info', @demarc.contact_info, :cols => 40, :rows => 2%></p>
        </fieldset>
        <p>Demarc Icon:</br> <%= select_tag 'demarc_icon', options_for_select(HwTypes::DEMARC_ICONS, @demarc.demarc_icon) %></p>
      </div>
    </fieldset>

  <% elsif @demarc.cenx_demarc_type == "ENNI" %>
    <fieldset>
      <legend>ENNI Options</legend>
      <div id="input_column_left">
        <p>Physical Medium:<br/>
          <%= select_tag 'physical_medium', raw("<option value=''>Select</option>" + options_for_select(@pms, @demarc.physical_medium)) %>
        </p>
        <p>*Site:<br/><%= select_tag 'site_id', raw("<option value=''>Select</option>" + options_from_collection_for_select(@sites, :id, :name, @demarc.site_id) )%></p>
        <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
        <p> *Protection Type:<br/> <%= select_tag 'protection_type', raw("<option value=''>Select</option>" + options_for_select(HwTypes::PROTECTION_TYPES, @demarc.protection_type)) %></p>
        <%= observe_field 'protection_type',
          :on => "changed",
          :url => { :action => :options_protection_type_demarc },
          :update => 'enni_lag_id_select_field',
          :before => "Element.show('spinner')",
          :complete => "Element.hide('spinner')",
          :with => "'prot_type=' + value + '&demarc_id=' + #{@demarc.id}",
          :condition => 'value != ""'
      %>
        <%= render(:partial=> 'options_lag_id_demarc')%>

        <p> *Fiber Handoff Connector Type:<br/><%= select_tag 'fiber_handoff_type', raw("<option value=''>Select</option>" + options_for_select(HwTypes::FIBER_HANDOFF_TYPES, @demarc.fiber_handoff_type))%> </p>
        <p> *Port Encapsulation:<br/><%= select_tag 'port_enap_type', raw("<option value=''>Select</option>" + options_for_select(FrameTypes::PORT_ENCAP_TYPES, @demarc.port_enap_type))%> </p>
        <% if EnniNew.get_active_cenx_ennis.include? @demarc %>
          <p> <%= link_to "See Graphs", {:controller => "stats", :action => "stats_input_params_enni", :id => @demarc.id} %> </p>
        <% end %>
      </div>
      <div id="input_column_right">
        <p> Autonegotiate: <%= check_box "demarc", "auto_negotiate", {}, "true", "false" %> </p>
        <p> 802.3ah (Link OAM) Supported: <%= check_box "demarc", "ah_supported", {}, "true", "false" %> </p>
        <p> *Ether Type:<br/>
          <% if @ets.length == 1 %>
            <%= hidden_field_tag 'ether_type', @ets[0][0] %>
            <%= text_field_tag 'ether_type', @ets[0][0], :size => 30, :disabled => true %>
          <% else %>
            <%= select_tag 'ether_type', raw("<option value=''>Select</option>" + options_for_select(@ets, @demarc.ether_type)) %>
          <% end %>
        </p>
        <p>24 x 7 Support:<br/><%= select_tag :'emergency_contact_id', raw("<option value=''>Select</option>" + options_from_collection_for_select(
            @contacts, :id, :name, @demarc.emergency_contact_id)), :prompt => "Select"%>
          Wk. No: <%=  text_field_tag 'emergency_contact_phone_no', @demarc.emergency_contact_id ? @demarc.emergency_contact.work_phone : "TBD", :size => 20, :readonly => true %>
          <%= if @demarc.emergency_contact_id
            link_to "--View", :action => 'edit_contact', :id =>   @demarc.emergency_contact_id
          end %>
        </p>
        <p>*Demarc Icon:</br> <%= select_tag 'demarc_icon', options_for_select(HwTypes::DEMARC_ICONS, @demarc.demarc_icon) %></p>
        <p> CIR Rate Limit (%): <br />
          <%= text_field_tag 'cir_limit', @demarc.cir_limit %></p>
        <p> EIR Rate Limit (%): <br />
          <%= text_field_tag 'eir_limit', @demarc.eir_limit %></p>
      </div>
    </fieldset>
  <% else %>
    <label>Address: </label><br/>
    <%= text_area_tag 'address', @demarc.address, :cols => 40, :rows => 5 %><br/><br/>
    <p>*Demarc Icon:</br> <%= select_tag 'demarc_icon', options_for_select(HwTypes::DEMARC_ICONS, @demarc.demarc_icon) %></p>
  <% end %>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @demarc, :tail => 'demarc' }) %>
</div>
