<div id="segment_subclass_options">
<% if @segment.kind_of? OnNetSegment %>
<%# if @segment.type == ("OnNetOvc" || "OnNetRouter" || true)%>
*Site:<br/><%= select_tag 'site_id', raw("<option value=''>Select</option>" + options_from_collection_for_select(@sites, :id, :name, @segment.site_id )) %>
<%= observe_field 'site_id',
		    :on => "changed",
		    :url => { :action => :update_on_segment },
		    :update => 'est_select_field',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'site_id=' + value",
			:condition => 'value != ""'
			%>
<%= render( :partial=> 'select_est', :object => @segment,
                        :locals => {
                          :prompt => '*Ethernet Service Type:',
                          :action => 'options_est_segment',
                          :update => 'est_select_field',
                          :with => "'onid=' + #{@segment.get_operator_network ? @segment.get_operator_network.get_candidate_ethernet_service_types : 0}" }) %>

<%= render( :partial=> 'select_segmentt', :object => @segment) %>

<%= render(:partial=> 'options_id_onovc')%>
<p>Nodes Involved (Derived Data):<br/><%= text_field_tag 'nodes',@segment.node_info, :size => 40, :disabled => true %></p>

<% elsif @segment.type == "OffNetOvc" %>
  <% if is_new && !@so %>
    *Operator Role: (Role of member providing this Segment) <br/> <%= select_tag 'segment_owner_role', raw("<option value=''>Select</option>" + options_for_select(ServiceProviderTypes::OWNER_ROLE, @segment.segment_owner_role)) %>
    <%= observe_field 'segment_owner_role',
		    :on => "changed",
		    :url => { :action => :options_sp_segment },
		    :update => 'sp_select_field',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'role=' + value + '&pathid=' + #{@path.id}",
			:condition => 'value != ""'
			%>
    <%= render( :partial=> 'select_sp', :object => @segment,
                        :locals => {
                          :prompt => '*Member:',
                          :action => 'options_on_segment',
                          :update => 'on_select_field',
                          :with => "'spid=' + value" }) %>

    <%= render( :partial=> 'select_on', :object => @segment,
                        :locals => {
                          :prompt => '*Network:',
                          :action => 'options_est_segment',
                          :update => 'st_select_field',
                          :with => "'onid=' + value" }) %>

    <%= render( :partial=> 'select_est', :object => @segment,
                        :locals => {
                          :prompt => '*Ethernet Service Type:',
                          :action => 'options_segmentt_segment',
                          :update => 'est_select_field',
                          :with => "'onid=' + value" }) %>
  
    <%= render( :partial=> 'select_segmentt', :object => @segment) %>
    
  <% else %>
    
    <p>*Operator Role: (Role of member providing this Segment) <br/>
      <%= text_field_tag 'segment_owner_role', @segment.segment_owner_role, :size => 40, :disabled => true  %>
      <%= hidden_field_tag 'segment_owner_role', @segment.segment_owner_role %>
    </p>
      
    <p>*Member: <br/> <%= text_field_tag 'sp_info_segment', @segment.sp_info_segment, :size => 40, :disabled => true %></p>
    
    <p>*Network: <br/>
      <%= text_field_tag 'on_info_segment', @segment.on_info_segment, :size => 40, :disabled => true  %>
      <%= hidden_field_tag 'operator_network_id', @segment.operator_network_id  %>
      <%= if @segment.operator_network_id != nil
        link_to "--View", :action => 'edit_on', :id =>  @segment.operator_network_id
      end %>
    </p>
    
    <% if !is_new || @so.ordered_object_type %>
      <p>*Ethernet Service Type: <br/>
        <%= text_field_tag 'est_info_segment', @segment.est_info_segment, :size => 40, :disabled => true  %>
        <%= hidden_field_tag 'ethernet_service_type_id', @segment.ethernet_service_type_id  %>
        <%= if @segment.ethernet_service_type_id != nil
          link_to "--View ", :action => 'edit_est', :id =>  @segment.ethernet_service_type_id
        end %>
      </p>
      <p>*Segment Type: <br/>
        <%= text_field_tag 'est_info_segment', @segment.segmentt_info_segment, :size => 40, :disabled => true  %>
        <%= hidden_field_tag 'segment_type_id', @segment.segment_type_id  %>
        <%= if @segment.segment_type_id != nil
          link_to "--View ", :action => 'edit_segmentt', :id =>  @segment.segment_type_id
        end %>
      </p>
    <% else %>
      <%= render( :partial=> 'select_est', :object => @segment,
                        :locals => {
                          :prompt => '*Ethernet Service Type:',
                          :action => 'options_segmentt_segment',
                          :update => 'segmentt_select_field',
                          :with => "'estid=' + value" }) %>
  
      <%= render( :partial=> 'select_segmentt', :object => @segment) %>
    <% end %>
    
  <% end %>
<% end %>
</div>


