<div id="so_oe_snapshot_field">
  <fieldset>
  <legend>Ordered Entity Snapshot</legend>
    <p><%= text_area_tag "ordered_entity_snapshot", @so.ordered_entity_snapshot, :style => "width:100%;", :wrap => "off", :rows => 30, :readonly => true %><br/>
    <% button_to_remote "Take Snapshot", :update => "so_oe_snapshot_field", :url => {:action => :options_oe_snapshot_so, :id => @so.id } %>
  </fieldset>
</div>
