<fieldset>
  <legend> <strong> <%= legend %> </strong> </legend>


  <% if @result.empty? %>
    No Alarm Keys Found
  <%  else %>
    <% @result.each do |key| %>
        <p><span style="color: red;"><%= key %></span></p>
    <% end %>
<% end %>

</fieldset>
