<% segmentep_class = (defined? segmentep_class) ? segmentep_class : "" %>
<div id="segmentep_select_field" >	
  <label>Segment End Point</label><br/>
  <%= if @segmenteps
collection_select( :segmentep , :id, @segmenteps,  :id, :cenx_name , 
                         options ={:prompt => "Select a Segment End Point"},
                         :class =>"segmentep")

  end %> 

  <%=  if @segment
link_to "-- Add New Segment End Point - Segment: #{@segment.cenx_name}", :action => 'new_segmentep', :id => @segment.id, :segmentep_class => segmentep_class

        end %> <br />
	

</div>