<div id="service_order_entity_select_field">
<% if @so.action != nil && @so.action != "" && @so.action != "New"%>
<p>*Entity Affected:<br/>
  <%= select_tag "affected_entity_id", raw(((@so.ordered_entity_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(
    @oes, :id, :cenx_name, @so.ordered_entity_id))%>
  <br />
</p>
<%= observe_field "affected_entity_id",
		    :on => "changed",
		    :url => { :action => 'options_type_element_instance_element' },
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
		    :update => 'instance_element_options',
			:with => "'ordered_entity=' + value + ';#{@so.is_a?(DemarcOrder) ? "demarc" : "segment"}&te_id=' + $('ordered_entity_group_id').value + '&te_type=oeg&ie_id=#{@so.id}&ie_type=so'"
			%>
<% end %>
</div>
