<div id="site_select_field" >	
  <label><%= prompt %></label><br/>
  <%= if @sites
	collection_select( :site , :id, @sites,  :id, :name , 
                         options ={:prompt => "Select Site"}, 
                         :class =>"site")
  end %>

  <%= observe_field 'site_id',
                    :on => "changed", 
                    :url => { :action => action },
                    :update => update,
                    :before => "Element.show('spinner')",
                    :complete => "Element.hide('spinner')" , 
                    :with => with,
                    :condition => 'value != ""'
                    %>
</div>