<div id="demarc_select_field" >
  <label><%= prompt %>:</label><br/>
  <%= if @demarcs
	collection_select( :demarc , :id, @demarcs,  :id, :pull_down_name ,
                         options ={:prompt => "Select a #{prompt}"},
                         :class =>"demarc")

  end %>

</div>
