<div id="node_select_field" >	
  <label><%= prompt %></label><br/>
  <%= if @nodes
	collection_select( :node , :id, @nodes,  :id, :name , 
                         options ={:prompt => "Select a Node"},
                         :class =>"node")
   end %>

  <%= observe_field 'node_id',
                    :on => "changed", 
                    :url => { :action => action },
                    :update => update,
                    :before => "Element.show('spinner')",
                    :complete => "Element.hide('spinner')" , 
					:with => with,
					:condition => 'value != ""'
					%>
</div>
