<div id="enni_order_enni_select_field">
  <p><% if (@so && @so.ordered_object_type) %>
    Member Demarc Type:<br/> <%= text_field_tag "dt_info_demarc", @demarc.demarc_type_name, :size => 30, :disabled => true %>
    <%= hidden_field_tag "demarc_type_id", @demarc.demarc_type_id %>
  <% else %>
    Member Demarc Type:<br/> <%= select_tag "demarc_type_id",
     raw("<option>Select - if Defined</option>" + options_from_collection_for_select(@dts, :id, :name, @demarc.demarc_type_id))%>
    <%= observe_field 'demarc_type_id',
		    :on => "changed",
		    :url => { :action => :options_demarc_type_demarc },
		    :update => 'demarc_subclass_options',
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => "'dt_id=' + value + '&demarc_type=' + document.getElementById('demarc_cenx_demarc_type').value + '&demarc_id=' + '#{@demarc.id}' + '&on_id=' + '#{@demarc.operator_network_id}' + #{@so ? "'&so_id=" + @so.id.to_s : ""}'",
			:condition => 'value != ""'
			%>
    <span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
  <% end %>
  <%= if @demarc.demarc_type_id != nil && @demarc.demarc_type_id > 0
    link_to "--View Demarc Type ", :action => 'edit_dt', :id =>  @demarc.demarc_type_id
  end %></p>
</p>
</div>
