<div id="segment_select_field" >	
  <label><%= prompt %></label><br/>
  <%= if @segments
	collection_select( :segment , :id, @segments,  :id, :cenx_name , 
                         options ={:prompt => "Select a Segment"},
                         :class =>"segment")
   end %>

  <%= observe_field 'segment_id',
                    :on => "changed", 
                    :url => { :action => action },
                    :update => update,
                    :before => "Element.show('spinner')",
                    :complete => "Element.hide('spinner')" , 
					:with => with,
					:condition => 'value != ""'
					%>
</div>
