<%if !defined?(prefix) || prefix.nil?
  prefix = ""
end
%>
<div id="<%= prefix %>ot_select_field">
<%= prompt %><br/>
<%= if @ots

select_tag "#{prefix}order_type_id",
        raw((( select_ot.send("#{prefix}order_type") ) ? "" : "<option>Select</option>") +
		  options_from_collection_for_select(@ots, :id, :name, select_ot.send("#{prefix}order_type") ? select_ot.send("#{prefix}order_type").id : :nil))
end %>
  <%= if select_ot.order_type != nil
    link_to "--View ", :action => 'edit_ot', :id =>  select_ot.send("#{prefix}order_type") ? select_ot.send("#{prefix}order_type").id : :nil
  end %>
    <%= observe_field "#{prefix}order_type_id",
		    :on => "changed",
		    :url => { :action => action },
		    :update => update,
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')",
			:with => with,
			:condition => 'value != ""'
			%>
</div>