<%if !defined?(prefix) || prefix.nil?
  prefix = ""
end
%>
<div id="<%= prefix %>on_select_field">
<label><%= prompt %></label><br/>
<%= if !defined?(list) || list.nil?
  list = @ons
end
  
select_tag "#{prefix}operator_network_id",
        raw((( select_on.send("#{prefix}operator_network") ) ? "" : "<option>Select</option>") + 
        options_from_collection_for_select(list, :id, :name, select_on.send("#{prefix}operator_network") ? select_on.send("#{prefix}operator_network").id : nil ))
%>
  <%= if select_on.operator_network_id != nil
    link_to "--View", :action => 'edit_on', :id =>  select_on.operator_network_id
  end %>
<%= observe_field "#{prefix}operator_network_id",
		    :on => "changed", 
		    :url => { :action => action },
		    :update => update,
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" , 
			:with => with,
			:condition => 'value != ""' 
			%>
</div>