<%if !defined?(prefix) || prefix.nil?
  prefix = ""
end
%>
<div id="<%= prefix %>oeg_select_field">
<%= prompt %><br/>
<%= select_tag "#{prefix}ordered_entity_group_id",
			raw("<option>Select</option>" +
                        options_from_collection_for_select(@oegs, :id, :name, select_oeg.ordered_entity_group_id))%>
  <%= if select_oeg.ordered_entity_group_id != nil
    link_to "--View", :action => 'edit_oeg', :id =>  select_oeg.ordered_entity_group_id
  end %>
<%= observe_field "#{prefix}ordered_entity_group_id",
		    :on => "changed",
		    :url => { :action => action },
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
		    :update => update,
			:with => with
			%>
<%= observe_field "#{prefix}ordered_entity_group_id",
		    :on => "changed",
		    :url => { :action => 'options_type_element_instance_element' },
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
		    :update => 'instance_element_options',
			:with => "'te_id=' + value + '&te_type=oeg&ie_id=#{@so.id}&ie_type=so&ordered_entity=' + ($('affected_entity_id') ? $('affected_entity_id').value : '0') + ';#{@so.is_a?(DemarcOrder) ? "demarc" : "segment"}'"
			%>

</div>
