<div id="service_order_oet_field">
<% unless @so.ordered_entity_group.nil? %>
<p>*Ordered Entity Type:<br/>
<%= select_tag "ordered_object_type_id", raw(((@so.ordered_object_type_id) ? "" : "<option value =''>Select</option>") + options_from_collection_for_select(
    @oets, :id, :name, @so.ordered_object_type_id))%>
  <br />
</p>
<% else %>
<%= hidden_field_tag "ordered_object_type_id", nil %>
<% end %>
</div>
