<%if !defined?(prefix) || prefix.nil?
  prefix = ""
end
%>
<div id="<%= prefix %>sp_select_field">
<label><%= prompt %></label><br/>
<%= if @sps
  
select_tag "#{prefix}service_provider_id",
raw((( select_sp.service_provider ) ? "" : "<option>Select</option>") + 
		  options_from_collection_for_select(@sps, :id, :name, select_sp.send("#{prefix}service_provider") ? select_sp.send("#{prefix}service_provider").id : nil ))
end %>
<%= observe_field "#{prefix}service_provider_id",
		    :on => "changed", 
		    :url => { :action => action },
		    :update => update,
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" , 
			:with => with,
			:condition => 'value != ""' 
			%>
</div>