<div id="port_select_field" >	
  <label>Port</label><br/>
  <%= if @ports
	collection_select( :port , :id, @ports,  :id, :name , 
                         options ={:prompt => "Select a Port"},
                         :class =>"port")

  end %> 

  <%=  if @node
        link_to "-- Add New Port - Node: #{@node.name}", :action => 'new_port', :id => @node.id
        end %> <br />
	

</div>