<div id="segmentt_select_field">
*Segment Type:<br/>
<%= select_tag "segment_type_id",
raw((select_segmentt.segment_type_id ? "" : "<option value=''>Select</option>") +
                        options_from_collection_for_select(@segmentts, :id, :display_name, select_segmentt.segment_type_id))%>
  <%= if select_segmentt.segment_type_id != nil
    link_to "--View", :action => 'edit_segmentt', :id =>  select_segmentt.segment_type_id
  end %>
<%= observe_field 'segment_type_id',
		    :on => "changed",
		    :url => { :action => :options_type_element_segment },
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
		    :update => 'instance_element_options',
			:with => "'segmentt_id=' + value + '&use_ma=' + $('segment_use_member_attrs').checked + '&on_id=' + ($('operator_network_id') ? $('operator_network_id').value : false) + '&site_id=' + ($('site_id') ? $('site_id').value : false) + '&path_id=' + $('path_id').value + '&est_id=' + $('ethernet_service_type_id').value"
			%>

</div>
