
<fieldset id="state_info">
<div style="color: red" ><%= flash[:state_error] -%></div>

<%= javascript_tag do %>

function check_live_sanity(id, confirm_msg)
{          		
 var url = '<%= url_for(:action => 'sh_check_live_sanity') %>/' + id;
 notice = ""
 new Ajax.Request(url, {
  asynchronous:false, evalScripts:true,
  method: 'get',
  parameters:'authenticity_token=' + encodeURIComponent("<%= form_authenticity_token %>"),
  onSuccess: function(transport) {
    notice = transport.responseText
  }
 });
 return confirm_msg + "\n" + notice
}
<% end %>

<legend><b>State information</b></legend>
<div id="input_column_left">
<% display_states.each do |stateful| %>
  <%= stateful.name %>:
  <%= text_field_tag 'state', stateful.get_state.name, :size => 20, :readonly => true %>
<% end %>

<% change_states.each do |stateful| %>
  <% stateful.get_state.valid_transitions.each do |possible_state| %>
    <% if !stateful.get_state.is_a?(possible_state) %>
      <br>
      <% if !possible_state.new.is_a?(ProvLive) %>
	    <%=  button_to_remote "Move to '#{possible_state.state_name}' State", :url => {:action => 'sh_new_state', :id => stateful.id, :new_state => "#{possible_state.to_s}", :display_states => display_states, :change_states => change_states}, :confirm => "#{stateful.to_specific(possible_state).pre_text(stateful)}\nAre you sure?", :update => "updateable_state_div" %>
	
	  <% else %>  
	    <%=  button_to_remote "Move to '#{possible_state.state_name}' State", :url => {:action => 'sh_new_state', :id => stateful.id, :new_state => "#{possible_state.to_s}", :display_states => display_states, :change_states => change_states}, :onclick => "return confirm(check_live_sanity(#{stateful.id}, \"#{stateful.to_specific(possible_state).pre_text(stateful)}\") + \"\\nAre you sure?\")", :update => "updateable_state_div" %>
	
	<% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<!= # Hide the field if no text =>
<% if !display_states.all? {|stateful| stateful.get_state.class.post_text(stateful).empty?} %>
<div id="input_column_right">
  To Do in Current State:
  <%= text_area_tag 'post actions', display_states.collect {|stateful| stateful.get_state.class.post_text(stateful)}.join("\n"), :readonly => true, :size => "50x2"%>
</div>
<% end %>
</fieldset>



