<div id="est_select_field">
<%= prompt %><br/>
<%= if @ests

select_tag "ethernet_service_type_id",
		raw((( update_on.operator_network_id ) ? "" : "<option>Select</option>") +
		    options_from_collection_for_select(@ests, :id, :name, update_on.ethernet_service_type_id ))
end %>
  <%= if update_on.ethernet_service_type_id != nil
    link_to "--View ", :action => 'edit_est', :id =>  update_on.ethernet_service_type_id
  end %>
<%= observe_field 'ethernet_service_type_id',
		    :on => "changed",
		    :url => { :action => action },
		    :update => update,
		    :before => "Element.show('spinner')",
		    :complete => "Element.hide('spinner')" ,
			:with => with,
			:condition => 'value != ""'
			%>
</div>
