<% legend = get_class_lookup_table %>
<% sorted = legend.sort {|a,b| a[0].to_i <=> b[0].to_i } %>

<h1>The CENX ID Format</h1>
<p>The CENX ID is a 12 digit number that follows the following convention:<br />
{Version:<strong>2</strong>}{Type ID:<strong>2</strong>}{Random ID:<strong>8</strong>}</p>
Where:
<ul>
  <li>Version is the version of the CENX ID Format used for this ID</li>
  <li>Type ID is the ID that corresponds to the class of data.</li>
  <li>Random ID is a randomly generated unique ID for this version and type.</li>
</ul>
<p>The chart below shows each Type ID and it's class.</p>
<div id="simple_table" >
    <table>
    <thead>
      <tr>
        <th>Type ID</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
    <% sorted.each do |type_id, type| %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td><%= type_id %></td><td><%= type %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>