<h1>Segment End Point Type Selection for <%= @est.name %></h1>

<%= error_messages_for 'est' %>
<fieldset>
  <legend>Add a Segment Type</legend>
  <%= form_tag :action => 'add_segmentept_est', :id => @est.id do %>
  <%= collection_select( :segmentept , :id, @segmentepts,  :id, :name ,
    options ={:prompt => "Select Segment End Point Type"},
                         :class =>"segmentt")%> <br /><br />

    <%= submit_tag "Add to Ethernet Service Type", :id => @est.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@est.name}", :action => 'edit_est', :id => @est.id %><br />

