<h1>Segment End Point Selection for <%= @demarc.cenx_name %></h1>

<%= error_messages_for 'demarc' %>
<%= error_messages_for 'segmentep' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
	
<fieldset>
  <legend>Select a Segment End Point</legend>
  <p>Member:<br/>
    <%= text_field_tag 'service_provider_name',@demarc.operator_network.service_provider.name, :size => 20, :disabled => true %>
  </p>
  <p>Network:<br/>
    <%= text_field_tag 'operator_network_name',@demarc.operator_network.name, :size => 60, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_segmentep_demarc', :id => @demarc.id do %>
	<%= render :partial=> 'select_segment',
                     :locals => {
                          :prompt => 'Segment',
                          :action => 'options_segmentep',
                          :update => 'segmentep_select_field',
                          :with => '"id=" + value + "&demarc_id=' + @demarc.id.to_s + '"' } %>

	<%= render :partial=> 'select_segmentep',
        :locals => { :segmentep_class => case @demarc.type
          when "EnniNew" then (@segment.is_a? OnNetOvc) ? "OnNetOvcEndPointEnni" : "OvcEndPointEnni"
          when "Uni" then (@segment.is_a? OnNetOvc) ? "" : "OvcEndPointUni"
          # This is an ERROR - lets pass a clue about where the call came from
          else "View: choose_segmentep_demarc: #{@demarc.type}"
        end
      } %>
    <br/>
    <%= submit_tag "Attach to Demarc", :id => @demarc.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@demarc.cenx_name}", :action => 'edit_demarc', :id => @demarc.id %><br />

