<h1>Class of Service Type Selection for <%= @est.name %></h1>

<%= error_messages_for 'est' %>
<fieldset>
  <legend>Add a Class of Service Type</legend>
  <%= form_tag :action => 'add_cost_est', :id => @est.id do %>
  <%= collection_select( :cost , :id, @costs,  :id, :name ,
    options ={:prompt => "Select Class of Service Type"},
                         :class =>"cost")%> <br /><br />

    <%= submit_tag "Add to Ethernet Service Type", :id => @est.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@est.name}", :action => 'edit_est', :id => @est.id %><br />

