<h1>Segment Type Selection for <%= @est.name %></h1>

<%= error_messages_for 'est' %>
<fieldset>
  <legend>Add a Segment Type</legend>
  <%= form_tag :action => 'add_segmentt_est', :id => @est.id do %>
  <%= collection_select( :segmentt , :id, @segmentts,  :id, :display_name ,
    options ={:prompt => "Select Segment Type"},
                         :class =>"segmentt")%> <br /><br />

    <%= submit_tag "Add to Ethernet Service Type", :id => @est.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@est.name}", :action => 'edit_est', :id => @est.id %><br />

