<h1>Connect Port <%= @port.name %> to a New ENNI</h1>

<%= error_messages_for 'port' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<fieldset>
  <legend>Select an New ENNI to connect to</legend>
  <p>Site:<br/>
    <%= text_field_tag 'site_name',@port.site_info, :size => 20, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_demarc_port', :id => @port.id do %>
	<%= render :partial=> 'select_demarc', :locals => {:prompt => "ENNI"} %>
    <br/>
    <%= submit_tag "Link to ENNI", :id => @port.id %>
  <% end %>
</fieldset>

<%= link_to "Edit Port #{@port.name}", :action => 'edit_port', :id => @port.id %><br />

