<h1>Ordered Entity Type Selection for <%= @oeg.name %></h1>

<%= error_messages_for 'oeg' %>
<fieldset>
  <legend>Add a Type</legend>
  <%= form_tag :action => 'link_type_oeg', :id => @oeg.id do %>
    <%= select( :oet , :id_class,
      @oets.collect{|t| [t.name, t.id.to_s + ";" + t.class.table_name.classify] },
      options ={:prompt => "Select Ordered Entity Type"})
    %><br /><br />

    <%= submit_tag "Add to Ordered Entity Group", :id => @oeg.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@oeg.name}", :action => 'edit_oeg', :id => @oeg.id %><br />

