<h1>Port Selection for <%= @enni.cenx_name %></h1>

<%= error_messages_for 'enni' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
	
<fieldset>
  <legend>Select a Port</legend>
  <p>Site:<br/>
    <%= text_field_tag 'site_name',@enni.site.name, :size => 20, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_port_enni', :id => @enni.id do %>
	<%= render :partial=> 'select_site',
                     :locals => {
                          :prompt => 'Site',
                          :action => 'options_node',
                          :update => 'node_select_field',
                          :with => '"id=" + value' } %>

	<%= render :partial=> 'select_node', 
                     :locals => {
                          :prompt => 'Node',
                          :action => 'options_unlinked_port',
                          :update => 'port_select_field',
                          :with => '"id=" + value' } %>

	<%= render :partial=> 'select_port' %>
    <br/>
    <%= submit_tag "Link to ENNI", :id => @enni.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@enni.cenx_name}", :action => 'edit_enni', :id => @enni.id %><br />

