<h1>Connect COS End Point <%= @cose.cos_name %> to another COS End Point</h1>

<%= error_messages_for 'cose' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<fieldset>
  <legend>Select an COS End Point to connect to</legend>
  <p>Segment End Point Name:<br/>
    <%= text_field_tag 'segmentep_name',@cose.end_point_info, :size => 90, :disabled => true %>
  </p>
  <p>Connected Segment End Point Name:<br/>
    <%= text_field_tag 'connected_segmentep_name',@cose.segment_end_point_connection_info, :size => 90, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_cose_cose', :id => @cose.id do %>
  <p>CoS End Points:<br/>
  <%= collection_select( :cose , :id, @coses,  :id, :pulldown_name ,
                         options ={:prompt => "Select"},
                         :class =>"cose") %>
  </p>
  <%= submit_tag "Link to EndPoint", :id => @cose.id %>
  <% end %>
</fieldset>

<%= link_to "Edit COS End Point #{@cose.cos_name}", :action => 'edit_cose', :id => @cose.id %><br />
