<h1>Path Selection for <%= @segment.cenx_name %></h1>

<%= error_messages_for 'path' %>
<%= error_messages_for 'segment' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
	
<fieldset>
  <legend>Select a Path</legend>
  <%= form_tag :action => 'link_path_segment', :id => @segment.id do %>
    <label>Path:</label><br/>
    <%= if @paths
      collection_select( :path , :id, @paths,  :id, :cenx_name , 
                         options ={:prompt => "Select a Path"},
                         :class =>"path")

    end %>
    <br/>
    <%= submit_tag "Attach to Segment", :id => @segment.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@segment.cenx_name}", :action => 'edit_segment', :id => @segment.id %><br />

