<h1>Connect Port <%= @port.name %> on <%= @port.node.name %> to another Port</h1>

<%= error_messages_for 'port' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<fieldset>
  <legend>Select a Port to connect to</legend>
  <p>Site:<br/>
    <%= text_field_tag 'site_name',@port.site_info, :size => 20, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_port_port', :id => @port.id do %>
	<%= render :partial=> 'select_site',
                     :locals => {
                          :prompt => 'Site',
                          :action => 'options_node',
                          :update => 'node_select_field',
                          :with => '"id=" + value' } %>

	<%= render :partial=> 'select_node',
                     :locals => {
                          :prompt => 'Node',
                          :action => 'options_unlinked_port',
                          :update => 'port_select_field',
                          :with => '"id=" + value' } %>
  
	<%= render :partial=> 'select_port' %>
    <br/>
    <%= submit_tag "Link to Port", :id => @port.id %>
  <% end %>
</fieldset>

<%= link_to "Edit Port #{@port.name}", :action => 'edit_port', :id => @port.id %><br />
