<h1>Demarc Type Selection for <%= @est.name %></h1>

<%= error_messages_for 'est' %>
<fieldset>
  <legend>Add a Demarc Type</legend>
  <%= form_tag :action => 'add_dt_est', :id => @est.id do %>
  <%= collection_select( :dt , :id, @dts,  :id, :name ,
    options ={:prompt => "Select Demarc Type"},
                         :class =>"dt")%> <br /><br />

    <%= submit_tag "Add to Ethernet Service Type", :id => @est.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@est.name}", :action => 'edit_est', :id => @est.id %><br />

