<h1>Connect Segment End Point <%= @segmentep.cenx_name %> to another Segment End Point</h1>

<%= error_messages_for 'segmentep' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<fieldset>
  <legend>Select an Segment End Point to connect to</legend>
  <p>Demarc Name:<br/>
    <%= text_field_tag 'site_name',@segmentep.demarc_connection_info_segmentep, :size => 40, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_segmentep_segmentep', :id => @segmentep.id do %>
  <p>Segment End Points:<br/>
	<%= collection_select( :segmentep , :id, @segmenteps,  :id, :cenx_name ,
                         options ={:prompt => "Select"},
                         :class =>"port") %>
  </p>
  <%= submit_tag "Link to EndPoint", :id => @segmentep.id %>
  <% end %>
</fieldset>

<%= link_to "Edit Segment End Point #{@segmentep.cenx_name}", :action => 'edit_segmentep', :id => @segmentep.id %><br />
