<h1>Connect Segment Endpoint <%= @segmentep.cenx_name %> to a <%=  @segmentep.demarc_string_for_view %></h1>

<%= error_messages_for 'segmentep' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<fieldset>
  <legend>Select an <%= "#{@segmentep.demarc_string_for_view}" %> to connect to</legend>
  <p>Site:<br/>
    <%= text_field_tag 'site_name',@segmentep.site_info_segmentep, :size => 60, :disabled => true %>
  </p>
  <%= form_tag :action => 'link_demarc_segmentep', :id => @segmentep.id do %>
	<%= render( :partial=> 'select_demarc', :locals => {:prompt => "#{@segmentep.demarc_string_for_view}"}) %>
    <br/>
    <%= submit_tag "Link to #{@segmentep.demarc_string_for_view}", :id => @segmentep.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@segmentep.cenx_name}", :action => 'edit_segmentep', :id => @segmentep.id %><br />

