<h1>Segment Selection for <%= @path.cenx_name %></h1>

<%= error_messages_for 'path' %>
<%= error_messages_for 'segment' %>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
	
<fieldset>
  <legend>Select a Segment</legend>
  <%= form_tag :action => 'link_segment_path', :id => @path.id do %>
    <label>Segment:</label><br/>
    <%= if @segments
      collection_select( :segment , :id, @segments,  :id, :cenx_name , 
                         options ={:prompt => "Select a Segment"},
                         :class =>"segment")

    end %> 
    <%= if @segment_class
      hidden_field_tag( :segment_class, @segment_class)
    end %> 
    <br/>
    <%= submit_tag "Attach to Path", :id => @path.id %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@path.cenx_name}", :action => 'edit_path', :id => @path.id %><br />

