<h1>Recommended Config for <%= @demarc.cenx_name%></h1>

<p> Copy the commands below to CLI on nodes indicated:<br/>
<%= text_area_tag 'demarc_config',@config_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@demarc.cenx_name}", :action => 'edit_demarc', :id => @demarc.id %><br />
