<h1>Recommended Config for <%= @costv.cenx_name%></h1>

<p> Data Below must be configured into Brixworks:<br/>
<%= text_area_tag 'costv_config',@config_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@costv.cenx_name}", :action => 'edit_costv', :id => @costv.id %><br />

