<h1>Recommended Config <%= @segment.cenx_name%></h1>

<p> Copy the commands below to CLI on nodes indicated:<br/>
<%= text_area_tag 'segment_config',@config_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@segment.cenx_name}", :action => 'edit_segment', :id => @segment.id %><br />
