<h1>Recommended Monitoring Config for <%= @segmentep.cenx_name%></h1>

<p> Data Below must be configured into Brixworks:<br/>
<%= text_area_tag 'segmentep_config',@config_text, :style => "width:100%;", :rows => 50, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@segmentep.cenx_name}", :action => 'edit_segmentep', :id => @segmentep.id %><br />


