<h1>Recommended Config for <%= @enni.cenx_name%></h1>

<p> Copy the commands below to CLI on nodes indicated:<br/>
<%= text_area_tag 'enni_config',@config_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@enni.cenx_name}", :action => 'edit_enni', :id => @enni.id %><br />