<h1>QoS Policy Updates</h1>

<% @updates.keys.sort.each do |name| %>
<h3><%= name %></h3>
<ul>
  <% @updates[name].each do |info| %>
    <% if info.is_a?(Array) %>
      <ul><% info.each do |i| %> <li> <%= raw i %> </li> <% end %></ul>
    <% else %>
      <li><%= raw info %></li>
    <% end %>
  <% end %>
</ul>
<% end %>

<%= link_to "Back to Edit #{@segment.name}",:action => 'edit_segment', :id => @segment.id %>