<h1>Port Connections for <%= @site.name%></h1>

<p> Please ensure the following port connections are made:<br/>
<%= text_area_tag 'port_conect',@connect_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %></p>

<%= link_to "Edit #{@site.name}", :action => 'edit_site', :id => @site.id %><br />