<fieldset>
  <legend>Copy Details</legend>
  <%= form_remote_tag :url => { :action => "copy_ports_results"}, :update => "result" do %>
    <p>Source Site:<br />
    <%=  select_tag :source_site_id, raw("<option>Select</option>" +
                      options_from_collection_for_select(@sites, :id, :name))%></p>
    
    <p>Destination Site:<br />
    <%=  select_tag :dest_site_id, raw("<option>Select</option>" +
                      options_from_collection_for_select(@sites, :id, :name))%></p>

    <%= submit_tag "Copy Ports" %>
  <% end %>
</fieldset>

<div id="result"></div>