<h1>Edit Order Annotation for Service Order <%= @so.title %> </h1>

<%= error_messages_for 'order_annotation' %>

<%= form_for :oa, :url => { :action => 'update_oa', :id => @oa.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render( :partial => 'input_oa', :object => @oa, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %> 

<%= link_to "Edit Service Order: #{@so.title}", :action => 'edit_so', :id => @so.id %><br />

