<h1>Edit User</h1>

<%= error_messages_for 'user_service_provider' %>

<%= form_for :contact, :url => { :action => 'destroy_user_service_provider', :id => @sp.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>


<%= link_to "Edit Member: #{@sp.name}",
            :action => 'edit_sp', :id =>  @sp.id %><br />
