<h1>Edit Service Order</h1>

<%= error_messages_for 'so' %>
<%= error_messages_for 'demarc' %>
<%= error_messages_for 'segment' %>

<%= form_for :so, :url => { :action => 'update_so', :id => @so.id} do |f| %>
  <fieldset>
  <legend>Details</legend>
    <%= render(:partial => 'input_so', :object => @so, :locals => {:f => f, :is_new => false}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @so, :tail => "so" }) %>
  <% if @so.ordered_entity %>
    <%= render(:partial => "options_oe_snapshot_so") %>
  <% end %>
  <%= submit_tag (@so.ordered_entity ? 'Update':"Create #{@so.ordered_entity_type}"), :class => 'submit' %>
<% end %>

<p>
<%= render( :partial => 'list_any_type', :object => @so.containing_bulk_orders,
             :locals => {
				:legend => 'Bulk Orders which contain this order',
                    :fcn_tail => 'so',
                    :cols => %w{Type Title State},
                    :local_link => 'type',
                    :detail_link => nil,
				:attrs => %w{title},
				:details => %w{get_order_name}
				} ) %>
</p>

<%= render(:partial => 'list_oa', :locals => { :oa => @so.order_annotations, :tail => "bo", :id => @so.id }) %>				
<%= render( :partial => 'input_state_info', :object => @so, :locals => {:display_states => [@so.order_state], :change_states => [[OrderTested, OrderAccepted, OrderCreated, OrderReceived, OrderReadyToOrder].include?(@so.order_state.to_generic(@so.get_order_state)) ? @so.order_state : nil].compact}) %>

<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>

<%= render(:partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "so", :id => @so.id }) %>

<%= link_to "Edit Operator Network: #{@so.operator_network.name}",:action => 'edit_on', :id => @so.operator_network_id %><br />

