<h1>Edit Network Manager</h1>

<%= error_messages_for 'nm' %>

<%= form_for :nm, :url => { :action => 'update_nm', :id => @nm.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_nm', :object => @nm, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @nm_servers, 
             :locals => {
               :legend => 'Network Management Servers',
               :fcn_tail => 'nm_server', 
				:cols => %w{Name Primary\ IP},
				:local_link => 'name',
				:detail_link => nil,
				:attrs => %w{primary_ip},
				:details => %w{},
				:enable_delete => true
				} %>

<%=  button_to 'Add', {:action => 'new_nm_server', :id => @nm.id } %>

<%= render :partial => 'list_any_type', :object => @nodes, 
             :locals => {
				:legend => 'Nodes',
				:fcn_tail => 'node', 
				:cols => %w{Name IP Type Site},
				:local_link => 'name',
				:detail_link => nil,
				:attrs => %w{primary_ip node_type},
				:details => %w{site_info},
				:enable_delete => true
				} %>

<%= render( :partial => 'list_any_type', :object => @nm.alarm_histories,
            :locals => {
			  :legend => 'Event Histories',
                              :fcn_tail => 'eh',
                              :cols => %w{Filter type event\ count},
                              :local_link => 'event_filter',
                              :detail_link => nil,
		  	  :attrs => %w{type},
			  :details => %w{alarm_records_count}
			 } ) %>
							
