<h1>Edit Class of Service Type</h1>

<%= error_messages_for 'cost' %>

<%= form_for :cost, :url => { :action => 'update_cost', :id => @cost.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_cost', :object => @cost, :locals => {:f => f, :isnew => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @slgts, 
             :locals => {
                :legend => 'Service Level Guarantee Types',
				:fcn_tail => 'slgt', 
				:cols => %w{min\ km max\ km delay\ (us) delay\ variation\ (us)},
                                :local_link => 'min_dist_km',
                                :detail_link => nil,
				:attrs => %w{max_dist_km delay_us delay_variation_us},
				:details => %w{}	
				} %>
				
<%= button_to 'Add', :action => 'new_slgt', :id => @cost.id %>

<%= render :partial => 'list_any_type', :object => @bwpts, 
             :locals => {
               :legend => 'Bandwidth Profile Types',
				:fcn_tail => 'bwpt', 
				:cols => %w{type Rate\ Limiting\ Performed Rate\ Limiting\ Mechanism},
                                :local_link => 'bwp_type',
                                :detail_link => nil,
				:attrs => %w{rate_limiting_performed rate_limiting_mechanism},
				:details => %w{}	
				} %>
				
<%= button_to 'Add', :action => 'new_bwpt', :id => @cost.id %>

<% if false %>
<%= render :partial => 'list_any_type', :object => @cosis,
             :locals => {
				:legend => 'Class of Service Instances (Live in the Network)',
                                :fcn_tail => 'cosi',
				:cols => %w{Parent\ Segment mark(ENNI-E) map(ENNI-I) mark(UNI-E) map(UNI-I) COS\ ENDPOINT\ COUNT},
                                :local_link => nil,
                                :detail_link => 'segment_name',
				:attrs => %w{},
				:details => %w{cos_marking_enni_egress cos_mapping_enni_ingress cos_marking_uni_egress cos_mapping_uni_ingress cos_end_point_count}
				} %>
<% end %>


<%= render :partial => 'index_ma',
  :locals => {
    :mas => @cost.member_attrs,
    :id => @cost.id,
    :ae_type => 'cost'
} %>

<%= link_to "Edit Operator Network Type #{@cost.operator_network_type.name}",
            :action => 'edit_ont', :id => @cost.operator_network_type_id %><br />