<h1>Offered Services Study Info</h1>

<%= error_messages_for 'ossi' %>

<%= form_for :ossi, :url => { :action => 'update_ossi', :id => @ossi.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_ossi', :object => @ossi, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "ossi", :id => @ossi.id } %>

<%= link_to "Edit Operator Network Type: #{@ossi.operator_network_type.name}",
            :action => 'edit_ont', :id => @ossi.operator_network_type_id %><br />
