<h1>Edit Ethernet Service Type</h1>

<%= error_messages_for 'est' %>

<%= form_for :est, :url => { :action => 'update_est', :id => @est.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_est', :object => @est, :locals => {:f => f} %>
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_special_any_type', :object => @segmentts,
             :locals => {
		:legend => 'Segment Types',
                :action => 'edit',
		:fcn_tail => 'segmentt',
		:cols => %w{Name Segment\ Type Attributes},
                :local_link => nil,
                :detail_link => 'display_name',
                :attrs => %w{segment_type},
                :details => %w{member_attr_count},
                :methods => {},
                :confirm_methods => {"Unlink" => "remove_segmentt_est?est_id=#{@est.id}"}
				} %>

<%= button_to 'Link a Segment Type', :action => 'choose_segmentt_est', :id => @est.id %>

<%= render :partial => 'list_special_any_type', :object => @costs,
             :locals => {
                :legend => 'Class of Service Types',
                :action => 'edit',
		:fcn_tail => 'cost', 
                :cols => %w{name mark(ENNI-E) map(ENNI-I) mark(UNI-E) map(UNI-I) avail(%) flr(%) mttr(hrs) Attributes}, # range\ count},
                :local_link => 'name',
                :detail_link => nil,
                :attrs => %w{cos_marking_enni_egress cos_mapping_enni_ingress cos_marking_uni_egress cos_mapping_uni_ingress availability frame_loss_ratio mttr_hrs},
                :details => %w{member_attr_count}, #%w{slg_count},
                :methods => {},
                :confirm_methods => {"Unlink" => "remove_cost_est?est_id=#{@est.id}"}
				} %>

<%= button_to 'Link a Class of Service Type', :action => 'choose_cost_est', :id => @est.id %>

<%= render :partial => 'list_special_any_type', :object => @dts,
             :locals => {
                :legend => 'Demarc Types',
                :action => 'edit',
		:fcn_tail => 'dt',
		:cols => %w{name type mtu autonegotiate Attributes},
                :local_link => 'name',
                :detail_link => nil,
                :attrs => %w{demarc_type_type mtu auto_negotiate},
                :details => %w{member_attr_count},
	        :methods => {},
                :confirm_methods => {"Unlink" => "remove_dt_est?est_id=#{@est.id}"}
				} %>

<%= button_to 'Link a Demarc Type', :action => 'choose_dt_est', :id => @est.id %>

<%= render :partial => 'list_special_any_type', :object => @segmentepts,
             :locals => {
                :legend => 'Segment End Point Types',
                :action => 'edit',
                :fcn_tail => 'segmentept',
		:cols => %w{Name Default\ COS Attributes},
                :local_link => nil,
                :detail_link => 'name',
                :attrs => {},
                :details => %w{default_cos_type_info member_attr_count},
                :methods => {},
                :confirm_methods => {"Unlink" => "remove_segmentept_est?est_id=#{@est.id}"}
				} %>

<%= button_to 'Link a Segment End Point Type', :action => 'choose_segmentept_est', :id => @est.id %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @est.member_attrs,
    :id => @est.id,
    :ae_type => 'est'
} %>

<%= link_to "Edit Operator Network Type: #{@est.operator_network_type.name}", :action => 'edit_ont', :id => @est.operator_network_type_id %><br />

