<h1>Edit Node</h1>

<%= error_messages_for 'node' %>

<%= form_for :node, :url => { :action => 'update_node', :id => @node.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render( :partial => 'input_node', :object => @node, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %> 

<%= render( :partial => 'input_state_info', :object => @node, :locals => {:display_states => [@node.prov_state], :change_states => [@node.prov_state]}) %>

<div id="port_list">
<%= render( :partial => 'list_any_type', :object => @ports,
             :locals => {
				:legend => 'Ports',
				:fcn_tail => 'port',
				:cols => %w{name phy\ type strands slot/port color_code mac connected_to},
                                :local_link => 'name',
                                :detail_link => nil,
                                :sorted => true,
				:attrs => %w{phy_type strands patch_panel_slot_port color_code mac},
				:details => %w{ all_connection_info_port}
				} ) %>
</div>

<%= button_to 'Add Port', :action => 'new_port', :id => @node.id %>
				
<%= render( :partial => 'list_any_type', :object => @ehs,
             :locals => {
				:legend => 'Event Histories',
                                :fcn_tail => 'eh',
                                :cols => %w{Filter type event\ count},
                                :local_link => 'event_filter',
                                :detail_link => nil,
				:attrs => %w{type},
				:details => %w{alarm_records_count}
				} ) %>
				
<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>


<%= link_to "Edit Site: #{@node.site.name}", :action => 'edit_site', :id => @node.site_id %><br />

