<h1>Edit CosInstance</h1>

<%= error_messages_for 'cosi' %>

<%= form_for :cosi, :url => { :action => 'update_cosi', :id => @cosi.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_cosi', :object => @cosi, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render( :partial => 'list_any_type', :object => @coses,
             :locals => {
				:legend => 'Cos End Points',
                                :fcn_tail => 'cose',
                                :cols => %w{COS\ Name Ing.\ RL Eg.\ RL Ingress\ Mapping Egress\ Marking ing.\ cir\ (kbps) ing.\ eir\ (kbps) eg.\ cir\ (kbps) eg.\ eir\ (kbps) locale connected\ to},
                                :local_link => nil,
                                :detail_link => 'cos_name',
				:attrs => %w{ingress_rate_limiting egress_rate_limiting ingress_mapping egress_marking ingress_cir_kbps ingress_eir_kbps egress_cir_kbps egress_eir_kbps},
				:details => %w{locale cos_end_point_connection_info}
				} ) %>

<%= link_to "Edit #{@cosi.segment.cenx_name}",
            :action => 'edit_segment', :id => @cosi.segment_id %><br />
