<h1>Edit Path Type</h1>

<%= error_messages_for 'patht' %>

<%= form_for :patht, :url => { :action => 'update_patht', :id => @patht.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_patht', :object => @patht, :locals => {:f => f, :is_new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @patht.member_attrs,
    :id => @patht.id,
    :ae_type => 'patht'
} %>

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />

