<h1>Edit Order Type</h1>

<%= error_messages_for 'ot' %>

<%= form_for :ot, :url => { :action => 'update_ot', :id => @ot.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render ( :partial => 'input_ot', :object => @ot, :locals => {:f => f}) %>
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @oegs,
             :locals => {
               :legend => 'Ordered Entity Groups',
               :fcn_tail => 'oeg',
               :cols => %w{Name Ordered\ Entity\ Types},
                :local_link => 'name',
                :detail_link => nil,
                :attrs => {},
                :details => %w{ordered_entity_type_count}
				} %>

<%= button_to 'Add', :action => 'new_oeg', :id => @ot.id %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @ot.member_attrs,
    :id => @ot.id,
    :ae_type => 'ot'
} %>

<%= link_to "Edit Operator Network Type: #{@ot.operator_network_type.name}", :action => 'edit_ont', :id => @ot.operator_network_type_id %><br />

