<h1>Edit <%= @demarc.cenx_demarc_type %></h1>

<%= error_messages_for 'demarc' %>

<%= form_for :demarc, :url => { :action => 'update_demarc', :id => @demarc.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_demarc', :object => @demarc, :locals => {:f => f, :is_new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%  if @demarc.cenx_demarc_type == "ENNI" %>
  <%=  button_to "Generate Config", {:action => 'config_gen_demarc', :id => @demarc.id},
                html_options = {:disabled => (@demarc.new_port_can_be_linked)} %>
  <%=  button_to "View CAC Report", {:action => 'show_enni_cac', :id => @demarc.id} %>
<% end %>

<%= render( :partial => 'input_state_info', :object => @demarc, :locals => {:display_states => [@demarc.prov_state, @demarc.get_latest_order == nil ?  nil : @demarc.get_latest_order.order_state].compact, :change_states => [@demarc.prov_state]}) %>

<%  if @demarc.cenx_demarc_type == "ENNI" %>
<%= render( :partial => 'list_special_any_type', :object => @demarc.ports,
             :locals => {
				:legend => 'Ports Linked',
				:cols => %w{name mac node site},
                                :action => 'edit',
                                :fcn_tail => 'port',
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => %w{mac},
				:details => %w{node_info site_info},
				:methods => {},
                                :confirm_methods => {"Unlink" => "unlink_port_demarc"}
				} ) %>

<p>
  <%=  button_to 'Link a Cenx Port',
                 {:action => 'choose_port_demarc', :id => @demarc.id},
                 html_options = {:disabled => (!@demarc.new_port_can_be_linked)}
               %>
</p>
<% end %>
<%= render( :partial => 'list_special_any_type', :object => @segmenteps,
             :locals => {
               :legend => "Segment End Points Attached to this #{@demarc.cenx_demarc_type}",
				:action => 'edit',
                                :fcn_tail => 'segmentep',
				:cols => @demarc.cenx_demarc_type == "ENNI" ? %w{name monitored outer-tag inner-tag} : %w{name monitored outer-tag},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{is_monitored},
				:details => @demarc.cenx_demarc_type == "ENNI" ? %w{outer_tag_value ctags} : %w{outer_tag_value},
				:methods => {},
                                #:confirm_methods => {"Unlink" => "unlink_segmentep_demarc"} TODO this was crashing
                                :confirm_methods => {}
				} ) %>
<p>
  <%=  button_to 'Attach a Segment End Point',
                 {:action => 'choose_segmentep_demarc', :id => @demarc.id}
               %>
</p>
<%  if @demarc.cenx_demarc_type == "ENNI" %>
			  
<%= render(:partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "demarc", :id => @demarc.id }) %>

<%= render( :partial => 'list_any_type', :object => @sos,
             :locals => {
				:legend => 'Orders',
				:fcn_tail => 'so',
				:cols => %w{description cenx\ id order\ type State},
                                :local_link => 'title',
                                :detail_link => nil,
				:attrs => %w{cenx_id action},
				:details => %w{get_order_name}
				} ) %>
<% end %>

<%= render( :partial => 'list_any_type', :object => @ehs,
            :locals => {
			  :legend => 'Event Histories',
                              :fcn_tail => 'eh',
                              :cols => %w{Filter type event\ count},
                              :local_link => 'event_filter',
                              :detail_link => nil,
		  	  :attrs => %w{type},
			  :details => %w{alarm_records_count}
			 } ) %>

<%  if @demarc.cenx_demarc_type == "ENNI" %>
<%= form_remote_tag :url => { :action => "get_alarm_keys"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'Demarc' %>
    <%= hidden_field_tag :id, @demarc.id %>
    <%= submit_tag "Check Current Alarm Keys" %>
 <% end %>
<%= form_remote_tag :url => { :action => "force_alarm_sync"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'Demarc' %>
    <%= hidden_field_tag :id, @demarc.id %>
    <%= submit_tag "Force Alarm Sync" %>
 <% end %>
 <div id="result"></div>
 <% end %>
			
<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>

<%  if @demarc.cenx_demarc_type == "ENNI" %>			
  <%= render :partial => 'list_kpi', :locals => {:object => @demarc}%>
<% end %>								
				
<%= link_to "Edit Operator Network: #{@demarc.operator_network.name}",
            :action => 'edit_on', :id => @demarc.operator_network_id %><br />

