<h1>Edit Fallout Exception </h1>
<%= error_messages_for 'fe' %>

<%= form_for :fe, :url => { :action => 'update_fe', :id => @fe.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
	<%= render :partial => 'input_fe', :object => @fe, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag "Update", :class => "submit" %>
<% end %>
