<h1>Edit Cabinet</h1>

<%= error_messages_for 'cab' %>

<%= form_for :cab, :url => { :action => 'update_cab', :id => @cab.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render ( :partial => 'input_cab', :object => @cab, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @nodes,
             :locals => {
				:legend => 'Nodes',
				:fcn_tail => 'node',
				:cols => %w{Name ip Type},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{primary_ip node_type},
				:details => %w{}
				} %>


<%= link_to "Edit Site #{@cab.site.name}", :action => 'edit_site', :id => @cab.site_id %><br />

