<h1>Edit Segment Type</h1>

<%= error_messages_for 'segmentt' %>

<%= form_for :segmentt, :url => { :action => 'update_segmentt', :id => @segmentt.id} do |f| %>
  <fieldset>
  <legend>Details</legend>
   <%= render :partial => 'input_segmentt', :object => @segmentt, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @segmentt.member_attrs,
    :id => @segmentt.id,
    :ae_type => 'segmentt'
} %>

<%= link_to "Edit Operator Network Type: #{@segmentt.operator_network_type.name}", :action => 'edit_ont', :id => @segmentt.operator_network_type_id %><br />
