<h1>Edit Attribute Definition</h1>

<%= error_messages_for 'ma' %>

<%= form_for :ma, :url => { :action => 'update_ma', :id => @ma.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_ma', :object => @ma, :locals => {:f => f, :id => @ma.affected_entity_id, :new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @macs,
             :locals => {
               :legend => 'Member Attribute Controls',
				:fcn_tail => 'mac',
				:cols => %w{summary type order},
                :local_link => 'description',
                :detail_link => nil,
                :attrs => %w{action execution_order},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_mac', :id => @ma.id %>

<% if @ma.affected_entity_id %>
  <%= link_to "Edit Afftected Entity #{@ma.ae_info_ma}", :action => "edit_#{@ae_type}", :id => @ma.affected_entity_id %><br />
<% end %>
