<h1>Edit SiteGroup</h1>

<%= error_messages_for 'site_group' %>
<%= form_for :site_group, :url => { :action => 'update_site_group', :id => @site_group.id } do |f| %>
<fieldset>
  <legend>Details</legend>
    <%= render :partial => 'input_site_group', :object => @site_group, :locals => {:f => f, :is_new => false} %>
</fieldset>	
<%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @sites, 
             :locals => {
				:legend => 'Sites',
				:fcn_tail => 'site', 
				:cols => %w{name host clli type},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{site_host clli site_type},
				:details => %w{}	
				} %>

<%= form_for :site, :url => { :action => 'new_site' } do |f| %>
 <%= f.select :type, options_for_select([Site.name, AggregationSite.name]), :prompt => false %>
 <%= submit_tag 'Add Site', :class => 'submit' %>
<% end %>				

