<h1>Edit Event History</h1>

<%= error_messages_for 'eh' %>

<%= form_for :eh, :url => { :action => 'update_eh', :id => @eh.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_eh', :object => @eh, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @ers,
             :locals => {
				:legend => 'Event Records',
                                :fcn_tail => 'er',
                                :cols => %w{time epoch type state original\ state details},
                                :local_link => nil,
                                :detail_link => 'human_time',
				:attrs => %w{time_of_event type state original_state details},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_er', :id => @eh.id %>