<h1>Edit Site</h1>

<%= error_messages_for 'site' %>

<%= form_for :site, :url => { :action => 'update_site', :id => @site.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_site', :object => @site, :locals => {:f => f, :is_new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>	
<% end %>

<%= if @site.can_seed
  button_to "Seed Site Nodes, Ports, ENNIs, Interconnections", {:action => 'seed_all_site', :id => @site.id}
end %>

<%= button_to "Site Deploy Checkist", {:action => 'connect_gen_site', :id => @site.id} %>

<fieldset>
  <legend>Rename Nodes</legend>
  <%= form_tag :action => :rename_nodes_site, :id => @site.id do %>
    New Node Name Prefix:
    <%= text_field_tag :new_prefix %>
    <%= submit_tag "Rename" %>
  <% end %>
</fieldset>

<%= render :partial => 'list_any_type', :object => @cabs,
             :locals => {
				:legend => 'Cabinets',
				:fcn_tail => 'cab',
				:cols => %w{name node\ count},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{node_count}
				} %>

<%= button_to 'Add', :action => 'new_cab', :id => @site.id %>

<%= render :partial => 'list_any_type', :object => @site.site_groups,
             :locals => {
				:legend => 'Site Groups',
				:fcn_tail => 'site_group', 
				:cols => %w{Name},
				:local_link => 'name',
				:detail_link => nil,
				:attrs => {},
				:details => {}
				} %>
				
<%= render :partial => 'list_special_any_type', :object => @nodes,
             :locals => {
				:legend => 'Nodes',
                                :action => 'edit',
				:fcn_tail => 'node', 
				:cols => %w{Name Type IP loopback Cabinet state},
				:local_link => 'name',
				:detail_link => nil,
				:attrs => %w{node_type primary_ip loopback_ip},
				:details => %w{cabinet_info get_prov_name},
				:methods => {},
				:confirm_methods => {"Add to Inventory" => "new_ii_from_node"},
				:enable_delete => true
				} %>

<%= button_to 'Add', :action => 'new_node', :id => @site.id %>

<%= render :partial => 'list_any_type', :object => @pps,
             :locals => {
				:legend => 'MMR Patch Panels',
				:fcn_tail => 'pp',
				:cols => %w{Name Floor},
				:local_link => 'name',
				:detail_link => nil,
				:attrs => %w{floor},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_pp', :id => @site.id %>

<%= render :partial => 'list_any_type', :object => @iis,
             :locals => {
				:legend => 'Inventory',
				:fcn_tail => 'ii',
				:cols => %w{vendor cabinet make/model description cenx\ naming\ std serial\ number cenx\ po\ number service\ start\ date service\ end\ date},
                                :local_link => 'vendor',
                                :detail_link => nil,
				:attrs => %w{cabinet_position make_model description cenx_naming_std serial_number cenx_po_number service_start_date service_end_date},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_ii', :id => @site.id %>

<%= render :partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "site", :id => @site.id } %>

<%= render :partial => 'list_kpi', :locals => {:object => @site}%>

