<h1>Edit CoS End Point</h1>

<%= error_messages_for 'cose' %>

<%= form_for :cose, :url => { :action => 'update_cose', :id => @cose.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_cose', :object => @cose, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render( :partial => 'list_special_any_type', :object => @coses,
             :locals => {
               :legend => 'Connected CoS End Points',
                                :action => 'edit',
                                :fcn_tail => 'cose',
                                :cols => %w{Name Ing.\ RL Eg.\ RL Ing.\ Map Eg.\ Mark ing.\ cir\ (kbps) ing.\ eir\ (kbps) eg.\ cir\ (kbps) eg.\ eir\ (kbps) End\ Point},
                                :local_link => nil,
                                :detail_link => 'name',
                                :attrs => %w{ingress_rate_limiting egress_rate_limiting ingress_mapping egress_marking ingress_cir_kbps ingress_eir_kbps egress_cir_kbps egress_eir_kbps},
				:details => %w{end_point_info},
				:methods => {},
                                :confirm_methods => {"Unlink" => "unlink_cose_cose?cose_id=#{@cose.id}&controller=admin"}
				} ) %>

<%= button_to 'Link a COS End Point', {:action => 'choose_cose_cose', :id => @cose.id},
        html_options = {:disabled => (@cose.get_candidate_cos_end_points.empty?)} %>

<%= render :partial => 'list_any_type', :object => @costvs,
             :locals => {
				:legend => 'CoS Test Vectors',
				:fcn_tail => 'costv',
				:cols => %w{Name Type Delay\ (Err) Delay\ (Warn) DV\ (Err) DV\ (Warn) FLR\ (Err) FLR\ (Warn) target filter},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{type delay_error_threshold delay_warning_threshold dv_error_threshold dv_warning_threshold flr_error_threshold flr_warning_threshold},
				:details => %w{test_target_address bx_event_filter}
				} %>

<%=  button_to 'Add Brix', {:action => 'new_costv', :id => @cose.id, :costv_class => "BxCosTestVector" } %>
<%=  button_to 'Add Spirent', {:action => 'new_costv', :id => @cose.id, :costv_class => "SpirentCosTestVector" } %>


<%= render( :partial => 'list_any_type', :object => @cose.get_sibling_cos_end_points,
             :locals => {
               :legend => 'Sibling CoS End Points',
                                :fcn_tail => 'cose',
                                :cols => %w{Name Ing.\ RL Eg.\ RL Ing.\ Map Eg.\ Mark ing.\ cir\ (kbps) ing.\ eir\ (kbps) eg.\ cir\ (kbps) eg.\ eir\ (kbps) End\ Point},
                                :local_link => nil,
                                :detail_link => 'name',
                                :attrs => %w{ingress_rate_limiting egress_rate_limiting ingress_mapping egress_marking ingress_cir_kbps ingress_eir_kbps egress_cir_kbps egress_eir_kbps},
				:details => %w{end_point_info},
				:methods => {}
				} ) %>

<%= link_to "Edit #{@cose.segment_end_point.cenx_name}",
            :action => 'edit_segmentep', :id => @cose.segment_end_point_id %><br />
