<h1>Edit Operator Network</h1>

<%= error_messages_for 'on' %>

<%= form_for :on, :url => { :action => 'update_on', :id => @on.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_on', :object => @on, :locals => {:f => f} %>
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>


<%= render :partial => 'list_any_type', :object => @ennins,
             :locals => {
               :legend => 'ENNIs (Physical Interconnects)',
               :fcn_tail => 'demarc', 
               :cols => %w{Cenx\ Name Cenx\ id Member\ ID Demarc\ Type Site Paths End\ Points On\ Behalf\ Of icon},
               :local_link => nil,
                                :detail_link => 'cenx_name',
                                :attrs => %w{},
				:details => %w{cenx_id member_handle demarc_type_name site_info path_count end_point_count on_behalf_of_info_demarc demarc_icon}
				} %>

<%= render(:partial => 'list_any_type', :object => @ennis_on_behalf_of,
           :locals => {
             :legend => "ENNIs (Provisioned on behalf of #{@sp.name})",
             :fcn_tail => 'demarc',
             :cols => %w{Cenx\ Name Cenx\ id Member\ ID Demarc\ Type Site Paths End\ Points Operated\ By icon},
             :local_link => nil,
             :detail_link => 'cenx_name',
             :attrs => %w{cenx_id member_handle},
             :details => %w{demarc_type_name site_info path_count end_point_count sp_info_demarc demarc_icon}
              }) %>

<%=  button_to 'Add - Skip Order Form', {:action => 'new_demarc', :id => @on.id} %>



<%= render :partial => 'list_any_type', :object => @paths,
             :locals => {
				:legend => 'Paths (bought by this network)',
				:fcn_tail => 'path', 
				:cols => %w{CENX\ Name Cenx\ id Member\ ID Segments type},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{member_handle segment_count cenx_path_type}
				} %>

<%= button_to 'Add', :action => 'new_path', :id => @on.id %>

<%= render :partial => 'list_any_type', :object => @demarcs,
             :locals => {
               :legend => 'Demarcs',
               :fcn_tail => 'demarc', 
               :cols => %w{Cenx\ Name Cenx\ id Demarc\ Class Member\ ID Demarc\ Type Paths End\ Points state icon lat long},
               :local_link => nil,
                                :detail_link => 'cenx_name',
                                :attrs => %w{cenx_id cenx_demarc_type member_handle},
				:details => %w{demarc_type_name path_count end_point_count get_prov_name demarc_icon latitude longitude}
				} %>

<%= button_to 'Add', :action => 'new_demarc', :id => @on.id %>

<%= render :partial => 'list_kpi', :locals => {:object => @on}%>

<%= render :partial => 'list_any_type', :object => @access_permissions,
             :locals => {
        :legend => 'Access Permissions',
        :fcn_tail => 'ap', 
        :cols => %w{Target Permission},
                                :local_link => nil,
                                :detail_link => 'target_name',
        :attrs => %w{permission},
        :details => %w{}
        } %>

<%= button_to 'Add', :action => 'new_ap', :id => @on.id %>

<%= link_to "Edit Member: #{@on.service_provider.name}", :action => 'edit_sp', :id => @on.service_provider_id %><br />
