<h1>Edit Bullk Order</h1>

<%= error_messages_for 'so' %>
<%= error_messages_for 'bulk_order' %>

<%= form_for :so, :url => { :action => 'update_bo', :id => @so.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render(:partial => 'input_bo', :object => @so, :locals => {:f => f, :is_new => false}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @so, :tail => "so" }) %>
  <% if @so.ordered_entity %>
    <%= render(:partial => "options_oe_snapshot_so") %>
  <% end %>
  <%= submit_tag ((@so.ordered_entity == nil && @so.bulk_order_type == "Circuit Order") ? "Create #{@so.ordered_entity_type}" : 'Update'), :class => 'submit' %>
<% end %>

<%= render( :partial => 'list_any_type', :object => @so.containing_bulk_orders,
             :locals => {
				:legend => 'Orders which contain this Order',
                :fcn_tail => 'so',
                :cols => %w{Type Title State},
                :local_link => 'type',
                :detail_link => nil,
				:attrs => %w{title},
				:details => %w{get_order_name}
				} ) %>
					
<%= render( :partial => 'list_special_any_type', :object => @so.service_orders,
             :locals => {
		:legend => 'Orders belonging to this Order',
                :action => 'edit',
                :fcn_tail => 'so',
                :cols => %w{Type Title State},
                :local_link => 'type',
                :detail_link => nil,
		:confirm_methods => {"Unlink" => "bo_remove_order?so_id=#{@so.id}"},
		:methods => {},
		:attrs => %w{title},
		:details => %w{get_order_name}
		} ) %>

  <%= form_tag :action => 'bo_add_order', :method => 'post', :id => @so.id do %>  	
    <%= collection_select( :post , :co_id, ServiceOrder.all,  :id, :title , options ={:prompt => "Select"})%>
    <%= submit_tag "Add Order", :class => "submit" %>
  <% end %>

<%= render(:partial => 'list_oa', :locals => { :oa => @so.order_annotations, :tail => "bo", :id => @so.id }) %>				

<%= render( :partial => 'input_state_info', :object => @so, :locals => {:display_states => [@so.order_state], :change_states => []}) %>

<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>

<%= render(:partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "bo", :id => @so.id }) %>

<%= link_to "Edit Operator Network: #{@so.operator_network.name}",:action => 'edit_on', :id => @so.operator_network_id %><br />

