<h1>Edit Member</h1>

<%= error_messages_for 'sp' %>

<%= form_for :sp, :url => { :action => 'update_sp', :id => @sp.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_sp', :object => @sp, :locals => {:f => f} %>
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>


<%= render( :partial => 'list_any_type', :object => @users,
             :locals => {
				:legend => 'Users',
				:fcn_tail => 'service_provider', 
				:details => %w{first_name last_name},
				:cols => %w{email First\ Name Last\ Name},
                                :local_link => 'email',
                                :detail_link => nil,
				:attrs => %w{},
				:enable_delete => true,
				:confirm_methods => {"Remove" => "destroy_user_service_provider"}
				} ) %>
				
<%= button_to 'Add', :action => 'new_user_service_provider', :id => @sp.id %>


<%= render( :partial => 'list_any_type', :object => @ons,
             :locals => {
				:legend => 'Networks',
				:fcn_tail => 'on', 
				:cols => %w{name type},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{type_info_on}
				} ) %>
				
<%= button_to 'Add', :action => 'new_on', :id => @sp.id %>

<%= render( :partial => 'list_any_type', :object => @onts,
             :locals => {
				:legend => 'Network Types',
				:fcn_tail => 'ont',
				:cols => %w{name OSS\ Count},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{oss_count}
				} ) %>

<%= button_to 'Add', :action => 'new_ont', :id => @sp.id %>

<%= render( :partial => 'list_any_type', :object => @contacts,
             :locals => {
				:legend => 'Contacts',
				:fcn_tail => 'contact',
				:cols => %w{name e-mail phone position},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{e_mail work_phone position},
				:details => %w{}
				} ) %>

<%= button_to 'Add', :action => 'new_contact', :id => @sp.id %>

<%= render( :partial => 'list_any_type', :object => @ennis,
             :locals => {
               :legend => 'ENNIs (Physical Interconnects)',
               :fcn_tail => 'demarc',
               :cols => %w{Cenx\ Name Cenx\ id Demarc\ Type Site Paths End\ Points On\ Behalf\ Of},
               :local_link => nil,
                                :detail_link => 'cenx_name',                         
				:attrs => %w{cenx_id demarc_type_name site_info path_count end_point_count on_behalf_of_info_demarc},
                                :details => %w{}
				} ) %>

<%= render(:partial => 'list_any_type', :object => @ennis_on_behalf_of,
           :locals => {
             :legend => "ENNIs (Provisioned on behalf of #{@sp.name})",
             :fcn_tail => 'demarc',
             :cols => %w{Cenx\ Name Cenx\ id Member\ Handle Demarc\ Type Site Paths End\ Points Operated\ By},
             :local_link => nil,
             :detail_link => 'cenx_name',
             :attrs => %w{cenx_id member_handle},
             :details => %w{demarc_type_name site_info path_count end_point_count sp_info_demarc}
				   }) %>


<%= render(:partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "sp", :id => @sp.id }) %>

<%= render :partial => 'list_kpi', :locals => {:object => @sp}%>


	
