<h1>Edit KPI <%= @kpi.actual_kpi ? "Actual" : "Mask" %> </h1>
<%= error_messages_for 'kpi' %>

<% if @kpi.actual_kpi %>
  <%= render :partial => 'list_any_type', :object => [@kpi],
             :locals => {
				:legend => 'Resultant KPI',
                                :fcn_tail => 'kpi',
                                :cols => %w{Name Units Warning\ Threshold Warning\ Time Error\ Threshold Error\ Time Delta_t},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{units warning_threshold warning_time error_threshold error_time delta_t},
				:details => %w{}
				} %>				
<% else %>
   <%= form_for :kpi, :url => { :action => 'update_kpi', :id => @kpi.id } do |f| %>
     <fieldset>
       <legend>Edit Mask</legend>
	   <%= render :partial => 'input_kpi', :object => @kpi, :locals => {:f => f, :new_kpi => false} %>
     </fieldset>
    <%= submit_tag "Update", :class => "submit" %>
   <% end %>
<% end %>

