<h1>Edit Path</h1>

<%= error_messages_for 'path' %>

<%= form_for :path, :url => { :action => 'update_path', :id => @path.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_path', :object => @path, :locals => {:f => f, :is_new => false} %>
  <%= link_to_remote "Generate Diagram",
    :url => {:action => :generate_diagram, :path_id => @path.id},
    :html => {:class => 'submit_button'},
    :before => "document.getElementById('generate_diagram_loading').style.display = 'inline'",
    :update => { :success => "generate_diagram_success" },
    :after => "document.getElementById('generate_diagram_loading').style.display = 'none'",
    :failure => "alert('Server Error during diagram generation')"
  %>
  <span style="display:none" id="generate_diagram_loading">Generating ...</span>
  <span id="generate_diagram_success"></span>

  </fieldset>
  <%= render :partial => "options_instance_element", :locals => {:ie => @path, :tail => "path" } %>
  <%= render :partial => "options_instance_elements", :locals => {:id => @path.id, :tail => "path", :hide => (((defined? @hide) && @hide=="false") ? 0 : 1)} %>

  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'input_state_info', :object => @path, :locals => {:display_states => [@path.prov_state, @path.get_latest_order == nil ?  nil : @path.get_latest_order.order_state].compact, :change_states => []} %>

<%= render :partial => 'list_special_any_type', :object => @onovcs,
             :locals => {
				:legend => 'On Net OVCs',
                                :action => 'edit',
				:fcn_tail => 'segment',
				:cols => %w{Name Cenx\ id Site Nodes_Involved End\ Points State Vlan\ Info},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{site_info node_info end_point_count get_prov_name get_vlan_translation},
                                :methods => {},
                                :confirm_methods => {"Unlink" => "unlink_segment_path?path_id=#{@path.id}"},
                                :enable_delete => true
				} %>

<%=  button_to 'Add - Skip Order Form', {:action => 'new_segment', :path_id => @path.id, :segment_class => "OnNetOvc" } %>
<%=  button_to 'Link Existing On Net OVC', {:action => 'choose_segment_path', :id => @path.id, :segment_class => "OnNetOvc" } %>

<%= render :partial => 'list_special_any_type', :object => @onrouters,
             :locals => {
				:legend => 'On Net Routers',
                                :action => 'edit',
				:fcn_tail => 'segment',
				:cols => %w{Name Cenx\ id Site Nodes_Involved End\ Points State Vlan\ Info},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{site_info node_info end_point_count get_prov_name get_vlan_translation},
                                :methods => {},
                                :confirm_methods => {"Unlink" => "unlink_segment_path?path_id=#{@path.id}"},
                                :enable_delete => true
				} %>

<%=  button_to 'Add - Skip Order Form', {:action => 'new_segment', :path_id => @path.id, :segment_class => "OnNetRouter" } %>
<%=  button_to 'Link Existing On Net Router', {:action => 'choose_segment_path', :id => @path.id, :segment_class => "OnNetRouter" } %>

<%= render :partial => 'list_special_any_type', :object => @offovcs,
             :locals => {
				:legend => 'Off Net OVCs',
                                :action => 'edit',
				:fcn_tail => 'segment',
				:cols => %w{Name Cenx\ id Owner\ role network Nodes_Involved End\ Points State Vlan\ Info},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id segment_owner_role},
				:details => %w{on_info_segment node_info end_point_count get_prov_name get_vlan_translation},
                                :methods => {},
                                :confirm_methods => {"Unlink" => "unlink_segment_path?path_id=#{@path.id}"},
                                :enable_delete => true
				} %>

<%=  button_to 'Add - Skip Order Form', {:action => 'new_segment', :path_id => @path.id, :segment_class => "OffNetOvc" } %>
<%=  button_to 'Link Existing Off Net Path', {:action => 'choose_segment_path', :id => @path.id, :segment_class => "OffNetOvc" } %>

<%= render :partial => 'list_any_type', :object => @path.demarcs,
             :locals => {
				:legend => 'Demarcs',
				:fcn_tail => 'demarc',
				:cols => %w{Cenx\ Name Cenx\ id Member Demarc\ Class Demarc\ Type End\ Points State lat long},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{sp_info_demarc cenx_demarc_type demarc_type_name end_point_count get_prov_name latitude longitude},
				} %>

<%= render :partial => 'list_any_type', :object => @path.ennis,
             :locals => {
				:legend => 'ENNIs',
				:fcn_tail => 'demarc',
				:cols => %w{ Cenx\ Name Cenx\ id Lag encap Prot. Member State 24x7\ Support},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id lag_id port_enap_type},
				:details => %w{short_prot_type sp_info_enni get_prov_name emergency_contact_number},
				} %>

<%= render :partial => 'list_any_type', :object => @ehs,
            :locals => {
			  :legend => 'Event Histories',
                              :fcn_tail => 'eh',
                              :cols => %w{Filter type event\ count},
                              :local_link => 'event_filter',
                              :detail_link => nil,
		  	  :attrs => %w{type},
			  :details => %w{alarm_records_count}
			 } %>

<%= render :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} %>
				
<%= render :partial => 'list_any_type', :object => @sos,
             :locals => {
				:legend => 'Orders',
				:fcn_tail => 'so',
				:cols => %w{title cenx\ id order\ type State},
                                :local_link => 'title',
                                :detail_link => nil,
				:attrs => %w{cenx_id action},
				:details => %w{get_order_name}
				} %>
				
<%= render :partial => 'list_any_type', :object => @path.fallout_exceptions,
             :locals => {
				:legend => 'Fallout Exceptions',
				:fcn_tail => 'fe',
				:cols => %w{timestamp exception\ type severity details},
                :local_link => 'time',
                :detail_link => nil,
				:attrs => %w{exception_type severity details[0..60]},
				:details => %w{}
				} %>				
							
<%= link_to "Edit Operator Network: #{@path.operator_network.name}",:action => 'edit_on', :id => @path.operator_network_id %><br />
