<h1>Edit State History (Beware only for people who know what they are doing!)</h1>

<%= error_messages_for 'sh' %>

<%= form_for :sh, :url => { :action => 'update_sh', :id => @sh.id} do |f| %>
 <fieldset>
  <legend>Details</legend>
    <%= render( :partial => 'input_sh', :object => @sh, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit', :confirm => "Are you sure?" %>
<% end %>

<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'States',
                                :fcn_tail => 'state',
                                :cols => %w{timestamp type name notes},
                                :local_link => nil,
                                :detail_link => 'timestamp',
				:attrs => %w{type name notes},
				:details => %w{}
				} ) %>

<%= button_to 'Add', :action => 'new_state', :id => @sh.id %>