<h1>Edit State Record for State History: <%= @sh.type %> </h1>
<%= error_messages_for 'state' %>

<%= form_for :state, :url => { :action => 'update_state', :id => @state.id } do |f| %>
  <fieldset>
    <legend>Details</legend>

	<%= render :partial => 'input_state', :object => @state, :locals => {:f => f} %>

  </fieldset>
  <%= submit_tag "Update", :class => "submit" %>
 <% end %>

<%= link_to "Edit State History: #{@sh.type}", :action => 'edit_sh', :id => @sh.id %><br />