<h1>Edit Segment Endpoint</h1>

<%= error_messages_for 'segmentep' %>

<%= form_for :segmentep, :url => { :action => 'update_segmentep', :id => @segmentep.id} do |f| %>
 <fieldset>
  <legend>Details</legend>
  
    <%= render( :partial => 'input_segmentep', :object => @segmentep, :locals => {:f => f}) %>
 </fieldset>
 <%= render(:partial => "options_instance_element", :locals => {:ie => @segmentep, :tail => "segmentep" }) %>
 <%= submit_tag 'Update', :class => 'submit' %>

<% end %>

<% if (@segmentep.is_monitored_by_exfo and !@segmentep.is_a? OnNetOvcEndPointEnni ) %>
  <%=  button_to "Generate EXFO Config", {:action => 'config_gen_segmentep', :id => @segmentep.id} %>
<% end %>

<%= render( :partial => 'input_state_info', :object => @segmentep, :locals => {:display_states => [@segmentep.prov_state], :change_states => []}) %>

<fieldset>
<legend><strong> <%= "#{@segmentep.demarc_string_for_view}" %> Connection Details</strong></legend>
Endpoint: <%= "#{@segmentep.cenx_name}" %><br/>is attached to:
<%=if @segmentep.is_connected_to_demarc
    link_to "#{@segmentep.demarc_connection_info_segmentep} [#{@segmentep.demarc_prov_info}]", :action => "edit_demarc",  :id => @segmentep.demarc_id
  else
    "#{@segmentep.demarc_connection_info_segmentep}"
  end %>
 
 <br/><%= "State: #{@segmentep.demarc.get_prov_name}" if @segmentep.is_connected_to_demarc %>

 <%=if @segmentep.is_connected_to_demarc
  button_to "Unlink from #{@segmentep.demarc_string_for_view}", {:action => 'unlink_demarc_segmentep', :id => @segmentep.id}
end %>

<p>
<%  if !@segmentep.is_connected_to_demarc %>
<%=  button_to "Link to a #{@segmentep.demarc_string_for_view}", {:action => 'choose_demarc_segmentep', :id => @segmentep.id} %>
<% end %>
</p>
</fieldset>

<% if @segmentep.is_connected_to_demarc %>

<%= render :partial => 'list_special_any_type', :object => @segmenteps,
             :locals => {
               :legend => 'Connected Segment End Points',
                                :action => 'edit',
				:fcn_tail => 'segmentep',
				:cols => (@segmentep.is_a?(OvcEndPointEnni) ? %w{name nodes\ involved COS\ Endpoints} : %w{name COS\ Endpoints}),
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{},
				:details => (@segmentep.is_a?(OvcEndPointEnni) ? %w{node_info cos_end_point_count} : %w{cos_end_point_count}),
				:methods => %w{},
                                :confirm_methods => {"Unlink" => "unlink_segmentep_segmentep?segmentep_id=#{@segmentep.id}"}
				} %>
				
<%= button_to 'Link this End Point to another End Point', {:action => 'choose_segmentep_segmentep', :id => @segmentep.id},
        html_options = {:disabled => (@segmentep.get_candidate_endpoints_to_link_with.empty?)}  %>

<% end %>

<%= render( :partial => 'list_any_type', :object => @coses,
             :locals => {
				:legend => 'CoS End Points',
                                :fcn_tail => 'cose',
                                :cols => %w{Name  Ing.\ RL Eg.\ RL Ing.\ Map Eg.\ Mark ing.\ cir\ (kbps) ing.\ eir\ (kbps) eg.\ cir\ (kbps) eg.\ eir\ (kbps) connected\ to},
                                :local_link => nil,
                                :detail_link => 'cos_name',
				:attrs => %w{ingress_rate_limiting egress_rate_limiting ingress_mapping egress_marking ingress_cir_kbps ingress_eir_kbps egress_cir_kbps egress_eir_kbps},
				:details => %w{cos_end_point_connection_info}
				} ) %>

<%= button_to 'Add', :action => 'new_cose', :id => @segmentep.id %>

<%= render( :partial => 'list_any_type', :object => @ehs,
             :locals => {
				:legend => 'Event Histories',
                                :fcn_tail => 'eh',
                                :cols => %w{Filter type event\ count},
                                :local_link => 'event_filter',
                                :detail_link => nil,
				:attrs => %w{type},
				:details => %w{alarm_records_count}
				} ) %>

<%= form_remote_tag :url => { :action => "get_alarm_keys"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'SegmentEndPoint' %>
    <%= hidden_field_tag :id, @segmentep.id %>
    <%= submit_tag "Check Current Alarm Keys" %>
<% end %>
<%= form_remote_tag :url => { :action => "force_alarm_sync"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'SegmentEndPoint' %>
    <%= hidden_field_tag :id, @segmentep.id %>
    <%= submit_tag "Force Alarm Sync" %>
 <% end %>
 <div id="result"></div>

<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>

<%= render :partial => 'list_any_type', :object => @costvs,
             :locals => {
				:legend => 'CoS Test Vectors',
				:fcn_tail => 'costv',
				:cols => %w{Name filter},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{},
				:details => %w{bx_event_filter}
				} %>

<% if @segmentep.kind_of? OnNetOvcEndPointEnni %>
<%= render :partial => 'list_any_type', :object => @segmentep.qos_policies,
             :locals => {
				:legend => "QoS Policies",
				:fcn_tail => 'qosp',
				:cols => %w{Policy\ Name Policy\ ID Direction Associated\ Endpoints},
                                :local_link => 'policy_name',
                                :detail_link => nil,
				:attrs => %w{policy_id},
				:details => %w{direction associated_endpoints_count}
				} %>
<% end %>

<% if @segment.type == "OnNetOvc" %>
<%= render :partial => 'list_any_type', :object => @siblings,
             :locals => {
				:legend => 'Sibling On Net Segment End Points',
				:fcn_tail => 'segmentep',
				:cols => %w{on\ switch\ name outer\ tag encap ENNI MAC nodes\ involved COS\ Endpoints Connected\ Endpoints is\ Test\ IF State},
                                :local_link => nil,
                                :detail_link => 'on_switch_name',
				:attrs => %w{stags},
				:details => %w{port_encap_type_onovce demarc_connection_info_segmentep enni_mac_address node_info cos_end_point_count  connected_end_point_count is_connected_to_test_port get_prov_name}
				} %>

<%= render :partial => 'list_kpi', :locals => {:object => @segmentep}%>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => "OnNetOvcEndPointEnni" } %>

<% elsif @segment.type == "OffNetOvc" %>

<%= render :partial => 'list_any_type', :object => @enni_siblings,
             :locals => {
				:legend => 'Sibling Segment End Points @ ENNI',
				:fcn_tail => 'segmentep',
				:cols => %w{name outer\ tag demarc nodes\ involved COS\ Endpoints Connected\ Endpoints State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{},
				:details => %w{outer_tag_value demarc_connection_info_segmentep node_info cos_end_point_count connected_end_point_count get_prov_name}
				} %>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => "OvcEndPointEnni" } %>

<%= render :partial => 'list_any_type', :object => @uni_siblings,
             :locals => {
				:legend => 'Sibling Segment End Points @ UNI',
				:fcn_tail => 'segmentep',
				:cols => %w{name outer\ tag monitored demarc COS\ Endpoints Connected\ Endpoints State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{ctags is_monitored},
				:details => %w{demarc_connection_info_segmentep cos_end_point_count connected_end_point_count get_prov_name}
				} %>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => "OvcEndPointUni" } %>

<% end %>

<%= link_to "Edit #{@segmentep.segment.cenx_name}",
            :action => 'edit_segment', :id => @segmentep.segment_id %><br />

