<h1>Edit Ordered Entity Group</h1>

<%= error_messages_for 'oeg' %>

<%= form_for :oeg, :url => { :action => 'update_oeg', :id => @oeg.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_oeg', :object => @oeg, :locals => {:f => f} %>

  </fieldset>	
  <%= button_to_function "Order" do |page|
    @oetls.map{|oetl| oetl.ordered_entity_type}.each{|oet|
      page << "window.open('#{
        type = case oet.class.to_s
          when "DemarcType" then "Demarc"
          when "UniType" then "Demarc"
          when "SegmentType" then "OffNetOvc"
        end
        url_for :action => "new_so", :ordered_entity_type => type, :oeg_id => @oeg.id, :oet_id => oet.id, :oet_type => parent_type_from_table(oet.class.to_s)
      }');"
    }
  end %><br/>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_special_any_type', :object => @oetls,
             :locals => {
               :legend => 'Ordered Entity Types',
               :action => 'edit',
               :fcn_tail => "oetl",
               :cols => %w{Name Class},
                :local_link => nil,
                :detail_link => "oet_name",
                :attrs => {},
                :details => %w{oet_class},
                :methods => {},
                :confirm_methods => { "Unlink" => "unlink_type_oeg?oeg_id=#{@oeg.id}" }
				} %>

<%= button_to 'Link an Ordered Entity Type', :action => 'choose_type_oeg', :id => @oeg.id %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @oeg.member_attrs,
    :id => @oeg.id,
    :ae_type => 'oeg'
} %>

<%= link_to "Edit Order Type: #{@oeg.order_type.name}", :action => 'edit_ot', :id => @oeg.order_type_id %><br />

