<h1>Edit Contact</h1>

<%= error_messages_for 'contact' %>

<%= form_for :contact, :url => { :action => 'update_contact', :id => @contact.id} do |f| %>
	<fieldset>
		<legend>Details</legend>
		<%= render :partial => 'input_contact', :object => @contact, :locals => {:f => f} %>
	</fieldset>
    <%= submit_tag 'Update', :class => 'submit' %>
<% end %>


<%= link_to "Edit Member: #{@contact.service_provider.name}",
            :action => 'edit_sp', :id => @contact.service_provider_id %><br />
