<h1>Edit CosTestVector</h1>

<%= error_messages_for 'costv' %>

<%= form_for :costv, :url => { :action => 'update_costv', :id => @costv.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_costv', :object => @costv, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%=  button_to "Generate Config", {:action => 'config_gen_costv', :id => @costv.id},
               html_options = {:disabled => (!@costv.can_gen_config)} %>

<%= render( :partial => 'list_any_type', :object => @ehs,
             :locals => {
				:legend => 'Event Histories',
                                :fcn_tail => 'eh',
                                :cols => %w{Filter type event\ count},
                                :local_link => 'event_filter',
                                :detail_link => nil,
				:attrs => %w{type},
				:details => %w{alarm_records_count}
				} ) %>
<%= form_remote_tag :url => { :action => "get_alarm_keys"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'CosTestVector' %>
    <%= hidden_field_tag :id, @costv.id %>
    <%= submit_tag "Check Current Alarm Keys" %>
<% end %>
<%= form_remote_tag :url => { :action => "force_alarm_sync"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'CosTestVector' %>
    <%= hidden_field_tag :id, @costv.id %>
    <%= submit_tag "Force Alarm Sync" %>
 <% end %>
<div id="result"></div>

<%= render :partial => 'list_kpi', :locals => {:object => @costv}%>				

<%= link_to "Edit CoS Endpoint: #{@cose.name}",
            :action => 'edit_cose', :id => @cose.id %><br />
