<h1>Edit MMR Patch Panel</h1>

<%= error_messages_for 'pp' %>

<%= form_for :pp, :url => { :action => 'update_pp', :id => @pp.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_pp', :object => @pp, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= link_to "Edit Site #{@pp.site.name}", :action => 'edit_site', :id => @pp.site_id %><br />
