<h1>Edit Port</h1>

<%= error_messages_for 'port' %>

<%= form_for :port, :url => { :action => 'update_port', :id => @port.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
	 <%= render :partial => 'input_port', :object => @port, :locals => {:f => f} %>	
  </fieldset>         
  <%= submit_tag 'Update', :class => "submit" %>
<% end %>

<fieldset>
<legend><strong>Demarc Connection Details</strong></legend>
Port is connected to:
<%=if @port.is_port_connected_to_demarc
    action = ""
    id = 0
    if@port.is_connected_to_enni_new
      action = "edit_demarc"
      id = @port.demarc_id
    end
    link_to "#{@port.demarc_connection_info_port}", :action => action,  :id => id
    
  else
    "#{@port.demarc_connection_info_port}"
end %>
<p>
<%=if @port.is_connected_to_enni_new
  button_to 'Unlink from ENNI', {:action => 'unlink_demarc_port', :id => @port.id}
end %>
</p>
<%#*<p>%>
<%#=if !@port.is_port_connected_to_demarc
  button_to 'Link this port to an ENNI', {:action => 'choose_enni_port', :id => @port.id}
end %>
<%#*</p>%>
<p>
<%=if !@port.is_port_connected_to_demarc
  button_to 'Link to ENNI', {:action => 'choose_demarc_port', :id => @port.id}
end %>
</p>

</fieldset>

<fieldset>
<legend><strong>Port Connection Details</strong></legend>
Port is connected to:
<%=if @port.is_connected_to_port
    action = ""
    id = 0
    if@port.is_connected_to_port
      action = "edit_port"
      id = @port.connected_port_id
      link_to "#{@port.port_connection_info_port}", :action => action,  :id => id
    end

  else
    "#{@port.port_connection_info_port}"
end %>
<p>
<%=if @port.is_connected_to_port
  button_to 'Unlink from Port', {:action => 'unlink_port_port', :id => @port.id}
end %>
<p>
<%=if !@port.is_connected_to_port
  button_to 'Link to another CENX port', {:action => 'choose_port_port', :id => @port.id}
end %>
</p>
</p>

</fieldset>

<%= render :partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "port", :id => @port.id } %>

<%= link_to "Edit Node: #{@node.name}", :action => 'edit_node', :id => @node.id %><br />