<h1>Edit Bandwidth Profile Type</h1>

<%= error_messages_for 'bwpt' %>

<%= form_for :bwpt, :url => { :action => 'update_bwpt', :id => @bwpt.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_bwpt', :object => @bwpt, :locals => {:f => f} %>	
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @bwpt.member_attrs,
    :id => @bwpt.id,
    :ae_type => 'bwpt'
} %>

<%= link_to "Edit Class of Service Type #{@bwpt.class_of_service_type.name}",
            :action => 'edit_cost', :id => @bwpt.class_of_service_type_id %><br />