<h1>Edit Service Level Guarantee Type</h1>

<%= error_messages_for 'slgt' %>

<%= form_for :slgt, :url => { :action => 'update_slgt', :id => @slgt.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_slgt', :object => @slgt, :locals => {:f => f} %>	
  </fieldset>	
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @slgt.member_attrs,
    :id => @slgt.id,
    :ae_type => 'slgt'
} %>

<%= link_to "Edit Class of Service Type #{@slgt.class_of_service_type.name}",
            :action => 'edit_cost', :id => @slgt.class_of_service_type_id %><br />