<h1>Edit <%= @dt.demarc_type_type %></h1>

<%= error_messages_for 'dt' %>

<%= form_for :dt, :url => { :action => 'update_dt', :id => @dt.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_dt', :object => @dt, :locals => {:f => f, :is_new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>
<%= render :partial => 'index_ma',
  :locals => {
    :mas => @dt.member_attrs,
    :id => @dt.id,
    :ae_type => 'dt'
} %>


<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />

