<h1>Edit Segment</h1>

<%= error_messages_for 'segment' %>

<%= form_for :segment, :url => { :action => 'update_segment', :id => @segment.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render( :partial => 'input_segment', :object => @segment, :locals => {:f => f, :is_new => false}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @segment, :tail => "segment" }) %>
  <%= render :partial => "options_instance_elements", :locals => {:id => @segment.id, :tail => "segment", :hide => (((defined? @hide) && @hide=="false") ? 0 : 1)} %>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<% if @segment.type == "OnNetOvc" %>
  <%= button_to "Generate QoS Policies", {:action => 'config_gen_qosp', :id => @segment.id} %>
  <%=  button_to "Generate Config", {:action => 'config_gen_segment', :id => @segment.id}, html_options = {:disabled => (@segment.on_net_ovc_end_point_ennis.empty? or not @segment.qos_policies_correct?)}%>
<% end %>

<%= render( :partial => 'input_state_info', :object => @segment, :locals => {:display_states => [@segment.prov_state, @segment.get_latest_order == nil ?  nil : @segment.get_latest_order.order_state].compact, :change_states => [@segment.prov_state]}) %>

<%= render( :partial => 'list_special_any_type', :object => @paths,
             :locals => {
				:legend => 'Paths (that contain this Segment)',
				:action => 'edit',
                                :fcn_tail => 'path',
				:cols => %w{CENX\ Name Cenx\ id Member\ ID State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
                                :methods => {},
				:details => %w{member_handle get_prov_name},
                                :confirm_methods => {"Unlink" => "unlink_segment_path?segment_id=#{@segment.id}"}
				} ) %>
				
<%=  button_to 'Attach an Path', {:action => 'choose_path_segment', :id => @segment.id } %>


<% if @segment.kind_of? OnNetSegment %>
<%= render( :partial => 'list_any_type', :object => @onovces,
             :locals => {
				:legend => 'On Net Segment End Points',
				:fcn_tail => 'segmentep',
				:cols => %w{on\ switch\ name outer\ tag encap ENNI ENNI\ state MAC nodes\ involved COS\ Endpoints Connected\ Endpoints is\ Test\ IF meps State},
                                :local_link => nil,
                                :detail_link => 'on_switch_name',
				:attrs => %w{stags},
				:details => %w{port_encap_type_onovce demarc_connection_info_segmentep demarc_prov_info enni_mac_address node_info cos_end_point_count  connected_end_point_count is_connected_to_test_port all_mep_ids get_prov_name}
				} ) %>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => (@segment.type == "OnNetOvc" ? "OnNetOvcEndPointEnni" : "OnNetRouterSubIf")} %>
<% end %>

<% if @segment.type == "OnNetOvc" %>
  <%= render :partial => 'list_any_type', :object => @segment.qos_policies,
             :locals => {
				:legend => "QoS Policies in #{@segment.name}",
				:fcn_tail => 'qosp',
				:cols => %w{Policy\ Name Policy\ ID Direction Associated\ Endpoints},
                                :local_link => 'policy_name',
                                :detail_link => nil,
				:attrs => %w{policy_id},
				:details => %w{direction associated_endpoints_count}
				} %>

<% end %>

<% if @segment.type == "OffNetOvc" %>

<%= render( :partial => 'list_any_type', :object => @segmentepes,
             :locals => {
				:legend => 'Segment End Points @ ENNI',
				:fcn_tail => 'segmentep',
				:cols => %w{name outer\ tag demarc nodes\ involved COS\ Endpoints Connected\ Endpoints State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{},
				:details => %w{outer_tag_value demarc_connection_info_segmentep node_info cos_end_point_count connected_end_point_count get_prov_name}
				} ) %>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => "OvcEndPointEnni" } %>

<%= render( :partial => 'list_any_type', :object => @segmentepus,
             :locals => {
				:legend => 'Segment End Points @ UNI',
				:fcn_tail => 'segmentep',
				:cols => %w{name outer\ tag monitored demarc COS\ Endpoints Connected\ Endpoints State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{ctags is_monitored},
				:details => %w{demarc_connection_info_segmentep cos_end_point_count connected_end_point_count get_prov_name}
				} ) %>

<%=  button_to 'Add', {:action => 'new_segmentep', :id => @segment.id, :segmentep_class => "OvcEndPointUni" } %>

<% end %>

<%= render( :partial => 'list_any_type', :object => @cosis,
             :locals => {
				:legend => 'Class of Service Instances',
                                :fcn_tail => 'cosi',
				:cols => %w{NAME mark(ENNI-E) map(ENNI-I) mark(UNI-E) map(UNI-I) COS\ ENDPOINT\ COUNT},
                                :local_link => nil,
                                :detail_link => 'cos_name',
				:attrs => %w{},
				:details => %w{cos_marking_enni_egress cos_mapping_enni_ingress cos_marking_uni_egress cos_mapping_uni_ingress cos_end_point_count}
				} ) %>

<%= button_to 'Add', :action => 'new_cosi', :id => @segment.id %>

<%= render(:partial => 'list_ufs', :locals => { :ufs => @ufs, :tail => "segment", :id => @segment.id }) %>

<%= render( :partial => 'list_any_type', :object => @ehs,
             :locals => {
				:legend => 'Event Histories',
                                :fcn_tail => 'eh',
                                :cols => %w{Filter type event\ count},
                                :local_link => 'event_filter',
                                :detail_link => nil,
				:attrs => %w{type},
				:details => %w{alarm_records_count}
				} ) %>

<%= form_remote_tag :url => { :action => "get_alarm_keys"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'Segment' %>
    <%= hidden_field_tag :id, @segment.id %>
    <%= submit_tag "Check Current Alarm Keys" %>
 <% end %>
<%= form_remote_tag :url => { :action => "force_alarm_sync"}, :update => "result" do %>
    <%= hidden_field_tag :table, 'Segment' %>
    <%= hidden_field_tag :id, @segment.id %>
    <%= submit_tag "Force Alarm Sync" %>
 <% end %>
 <div id="result"></div>

<%= render( :partial => 'list_any_type', :object => @states,
             :locals => {
				:legend => 'State Histories',
                                :fcn_tail => 'sh',
                                :cols => %w{Type Name Count},
                                :local_link => 'type',
                                :detail_link => nil,
				:attrs => %w{name},
				:details => %w{state_count}
				} ) %>


<%= render( :partial => 'list_any_type', :object => @sos,
             :locals => {
				:legend => 'Orders',
				:fcn_tail => 'so',
				:cols => %w{title cenx\ id order\ type State},
                                :local_link => 'title',
                                :detail_link => nil,
				:attrs => %w{cenx_id action},
				:details => %w{get_order_name}
				} ) %>

<%= render :partial => 'list_kpi', :locals => {:object => @segment}%>
				

<%= link_to "Edit #{@segment.path_network.name}",:action => 'edit_on', :id => @segment.path_network_id %>
<br/>
