<h1>Edit Network Management Server</h1>

<%= error_messages_for 'nm_server' %>

<%= form_for :nm_server, :url => { :action => 'update_nm_server', :id => @nm_server.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_nm_server', :object => @nm_server, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= link_to "Edit Network Manager: #{@nm_server.nm_info}",:action => 'edit_nm', :id => @nm_server.network_manager_id %><br />
