<h1>Edit Access Permission</h1>

<%= error_messages_for 'access_permission' %>

<%= form_for :access_permission, :url => { :action => 'update_ap', :id => @access_permission.id } do |f| %>
  <fieldset>
    <legend>Enter Access Permission Details</legend>
    <%= render( :partial => 'input_ap', :object => @access_permission, :locals => {:f => f, :is_new => false}) %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>
