<h1>Edit Inventory Item</h1>

<%= error_messages_for 'ii' %>

<%= form_for :ii, :url => { :action => 'update_ii', :id => @ii.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_ii', :object => @ii, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>


<%= link_to "Edit Site #{@ii.site.name}", :action => 'edit_site', :id => @ii.site_id %><br />
