<h1>Edit Email Config</h1>
<%= form_for :ec, :url => { :action => 'update_emailconfig', :id => @ec.id} do |f| %>
  <fieldset>
    <div id="input_column_left">                                                                       
      <%= error_messages_for 'ec' %>

      <p>These email addresses are very static and typically are the Ticketing system emails<p>
      <% [:cenx_ops, :cenx_ops_request, :cenx_eng, :cenx_cust_ops, :cenx_prov, :cenx_billing].each do |attr| %>
        <p><%= attr %> <br/><%= text_area_tag "ec[#{attr}]", @ec.send(attr).join("\n"), :cols => 50 %> </p>
      <% end %>
    </div>
    <div id="input_column_right">
      <p>These email addresses are used for debug</br>
        The debug_* will send emails to the normal recipients and send a copy to the provided email</br>
        The override_* will NOT send emails to the normal recipients only to the provided email<p>	
      <% [:debug_bcc_event_email_addresses, :debug_bcc_order_email_addresses, :override_event_email_address, :override_order_email_address].each do |attr| %>
        <p><%= attr %> <br/><%= text_area_tag "ec[#{attr}]", @ec.send(attr).join("\n"), :cols => 50 %> </p>
      <% end %>
      <p>Enable Email Delivery (for production):<%= f.check_box :enable_delivery %> </p>	
      <p>Enable Email Delivery (for development):<%= f.check_box :development_enable_delivery %> </p>	
      <p>Enable Order Emails:<%= f.check_box :enable_order_email %> </p>	
      <p>Enable Fault Emails:<%= f.check_box :enable_fault_email %> </p>
    </div>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<fieldset>
<h2>Email mappings</h2>
<div id='simple_table'>
	<table>
	  <tr>
	    <th>Event</th>
	    <th>To</th>
	    <th>Cc</th>
	    <th>Bcc</th>
	  </tr>
	<% @mappings.each do |mapping| %>
	  <tr>
	    <td><%= mapping[:name] %></td>
	    <td><%= mapping[:to].is_a?(Array) ? mapping[:to].join(", ") : "" %></td>
	    <td><%= mapping[:cc].is_a?(Array) ? mapping[:cc].join(", ") : "" %></td>
	    <td><%= mapping[:bcc].is_a?(Array) ? mapping[:bcc].join(", ") : "" %></td>
	  </tr>
	<% end %>
	</table>
</div>
</fieldset>
<fieldset>
<h2>Check Email delivery</h2>                                          
<%= render :partial => 'input_email_delivery' %>
</fieldset>

