<h1>QoS Policy Details</h1>

<%= error_messages_for 'qosp' %>
<fieldset>
  <legend>Details</legend>
    <%= render( :partial => 'input_qos_policy', :object => @qosp) %>
</fieldset>
<% label = (@qosp.class == IngressQosPolicy ? "Mapping" : "Marking") %>
<%= render( :partial => 'list_any_type', :object => @qosp.classes_of_service,
             :locals => {
				:legend => "Classes of Service in this Policy",
				:fcn_tail => nil,
				:cols => %w{Name Rate\ Limiting cir\ (kbps) cbs\ (kB) eir\ (kbps) ebs\ (kB)} << label,
                                :local_link => nil,
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{name rlm cir_kbps cbs_kB eir_kbps ebs_kB mapping_str},
                                :sorted => true
				} ) %>

<%= render( :partial => 'list_any_type', :object => @qosp.on_net_ovc_end_point_ennis,
             :locals => {
				:legend => 'On Net Segment End Points using this Policy',
				:fcn_tail => 'segmentep',
				:cols => %w{on\ switch\ name outer\ tag encap ENNI MAC nodes\ involved COS\ Endpoints Connected\ Endpoints is\ Test\ IF},
                                :local_link => nil,
                                :detail_link => 'on_switch_name',
				:attrs => %w{stags},
				:details => %w{port_encap_type_onovce demarc_connection_info_segmentep enni_mac_address node_info cos_end_point_count  connected_end_point_count is_connected_to_test_port}
				} ) %>

<fieldset>
  <legend>Config</legend>
  <%= text_area_tag 'qosp_config', @config_text, :style => "width:100%;", :rows => 30, :wrap => "off", :readonly => true %>
</fieldset>