<h1>Edit Operator Network Type</h1>

<%= error_messages_for 'ont' %>

<%= form_for :ont, :url => { :action => 'update_ont', :id => @ont.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_ont', :object => @ont, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'list_any_type', :object => @ossis,
             :locals => {
               :legend => 'Offered Services Studies',
				:fcn_tail => 'ossi',
				:cols => %w{title date cenx\ prime member\ prime},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{completion_date},
				:details => %w{cenx_contact_info member_contact_info}
				} %>

<%= button_to 'Add', :action => 'new_ossi', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @ots,
             :locals => {
               :legend => 'Order Types',
				:fcn_tail => 'ot',
				:cols => %w{name ordered\ entity\ groups},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => {},
                                :details => %w{ordered_entity_group_count}
				} %>

<%= button_to 'Add', :action => 'new_ot', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @ests,
             :locals => {
               :legend => 'Ethernet Service Types',
				:fcn_tail => 'est',
				:cols => %w{name CoS\ types Demarc\ types Live\ Count Attributes},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => {},
                                :details => %w{cost_count dt_count segment_count member_attr_count}
				} %>

<%= button_to 'Add', :action => 'new_est', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @pathts,
             :locals => {
               :legend => 'Path Types',
				:fcn_tail => 'patht',
				:cols => %w{name path\ type mtu Attributes},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => %w{path_type mtu},
                                :details => %w{member_attr_count}
				} %>

<%= button_to 'Add', :action => 'new_patht', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @segmentts,
             :locals => {
				:legend => 'Segment Types',
				:fcn_tail => 'segmentt',
				:cols => %w{Name Segment\ Type Max.\ Num\ CoS MTU Attributes},
                :local_link => nil,
                :detail_link => 'display_name',
                :attrs => %w{segment_type max_num_cos max_mtu},
                :details => %w{member_attr_count}
				} %>

<%= button_to 'Add', :action => 'new_segmentt', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @costs,
             :locals => {
                :legend => 'Class of Service Types',
				:fcn_tail => 'cost',
			    :cols => %w{name mark(ENNI-E) map(ENNI-I) mark(UNI-E) map(UNI-I) avail(%) flr(%) mttr(hrs) Live\ Count Attributes}, # range\ count},
                :local_link => 'name',
                :detail_link => nil,
                :attrs => %w{cos_marking_enni_egress cos_mapping_enni_ingress cos_marking_uni_egress cos_mapping_uni_ingress availability frame_loss_ratio mttr_hrs},
                :details => %w{cosi_count member_attr_count} #%w{slg_count}
				} %>

<%= button_to 'Add', :action => 'new_cost', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @segmentepts,
             :locals => {
               :legend => 'Segment End Point Types',
                :fcn_tail => 'segmentept',
	        :cols => %w{Name Default\ Cos Attributes},
                :local_link => nil,
                :detail_link => 'name',
                :attrs => {},
                :details => %w{default_cos_type_info member_attr_count}
				} %>

<%= button_to 'Add', :action => 'new_segmentept', :id => @ont.id %>

<%= render :partial => 'list_any_type', :object => @dts,
             :locals => {
               :legend => 'Demarc Types',
				:fcn_tail => 'dt',
				:cols => %w{name type mtu autonegotiate serv.\ mux bundl. a21\ buldl. Live\ Count Attributes},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => %w{demarc_type_type mtu auto_negotiate service_multiplexing bundling ato_bundling},
                                :details => %w{demarc_count member_attr_count}
				} %>

<%= button_to 'Add', :action => 'new_dt', :id => @ont.id %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @ont.member_attrs,
    :id => @ont.id,
    :ae_type => 'ont'
} %>

<%= link_to "Edit Member: #{@ont.service_provider.name}", :action => 'edit_sp', :id => @ont.service_provider_id %><br />