<h1>Edit Attribute Control</h1>

<%= error_messages_for 'mac' %>

<%= form_for :mac, :url => { :action => 'update_mac', :id => @mac.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_mac', :object => @mac, :locals => {:f => f, :new => false} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= link_to "Edit Member Attr #{@mac.member_attr.name}", :action => "edit_ma", :id => @mac.member_attr_id %><br />

