<h1>Edit Segment End Point Type</h1>

<%= error_messages_for 'segmentept' %>

<%= form_for :segmentept, :url => { :action => 'update_segmentept', :id => @segmentept.id} do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_segmentept', :object => @segmentept, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= render :partial => 'index_ma',
  :locals => {
    :mas => @segmentept.member_attrs,
    :id => @segmentept.id,
    :ae_type => 'segmentept'
} %>

<%= link_to "Edit Operator Network Type: #{@segmentept.operator_network_type.name}", :action => 'edit_ont', :id => @segmentept.operator_network_type_id %><br />
