<h1>Edit Event Record for Event History: <%= @eh.event_filter %> </h1>
<%= error_messages_for 'er' %>

<%= form_for :er, :url => { :action => 'update_er', :id => @er.id } do |f| %>
  <fieldset>
    <legend>Details</legend>

	<%= render :partial => 'input_er', :object => @er, :locals => {:f => f} %>

  </fieldset>
  <%= submit_tag "Update", :class => "submit" %>
 <% end %>

<%= link_to "Edit Event History: #{@eh.event_filter}", :action => 'edit_eh', :id => @eh.id %><br />