<%= debug(params) %>
<%= simple_format(@array) %>

<%= link_to (image_tag("rails.png"), new_enni_path ) %><br />
<%= link_to (image_tag("small-loading.gif"), new_enni_path ) %>


select_tag(:port_id ,options_for_select(["-Select a Port"]+@ports)) 

<fieldset>
	<legend>Ports</legend>
	<% @ports.each do |p| %>
	  <div class="<%= cycle('list-line-odd', 'list-line-even') %>">
	    <td><b>
	    <% for c in cols %>
          <%=h o.read_attribute(c) %> -
	    <% end %>
	    ... </b></td>
		<td><%= link_to 'Show', :action => "show_port",  :id => p.id %></td>
		<td><%= link_to 'Delete', { :action => "destroy_#{fcn_tail}", :id => o.id},        	
								  {:confirm => 'Are you sure?'} %></td><br />

	  </div>
	<% end %>
</fieldset>



<td><%= link_to 'Show', :action => "show_#{fcn_tail}",  :id => o.id %></td>
<td><%= link_to 'Edit', :action => "edit_#{fcn_tail}",  :id => o.id %></td>
<td><%= link_to 'Delete', { :action => "destroy_#{fcn_tail}", :id => o.id},        	
						  {:confirm => 'Are you sure?'} %></td><br />
						
<%=  hinted_text_field_tag 'xx', params[:search], "Enter name, brand or mfg.", :size => 30 %>
						
page.visual_effect :shake, 'db_status'
page.visual_effect :highlight, 'db_status'



Show an object
<legend>Site Details</legend>
  <%= render ( :partial => 'show_any_type', :object => @site, :locals => {:type => Site}) %>
  <%= button_to 'Edit', :action => 'edit_site', :id => @site.id %>



<p>  Patch Panel: <%= f.select :patch_panel_id,
         options_from_collection_for_select(@pps, :id, :name, @port.patch_panel_id ), 
         :prompt => "Select Patch Panel"%></p>



validates_format_of :mac,
                      :with => /(^$)|(^(([A-Fa-f0-9]{2}):){5}([A-Fa-f0-9]{2})$)/,
                      :message => "Should be left empty or strict MAC address format xx:xx:xx:xx:xx:xx "


<p>
  <%=  button_to 'Link to a Port',
                 {:action => 'choose_port_onovce', :id => @onovce.id},
                 html_options = {:disabled => (!@onovce.new_port_can_be_linked)}
               %>
</p>

<p>
  <%=  button_to 'Link to an ENNI',
                 {:action => 'choose_port_onovce', :id => @onovce.id},
                 html_options = {:disabled => (!@onovce.new_enni_can_be_linked)}
               %>
</p>


<p>ENNI:<br/>
<%= f.select :enni_id,
         options_from_collection_for_select(@ennis, :id, :cenx_name, @onovce.enni_id ),
         :prompt => "Select ENNI"%></p>
<p>Port:<br/>
<%= f.select :enni_id,
         options_from_collection_for_select(@ennis, :id, :cenx_name, @onovce.enni_id ),
         :prompt => "Select ENNI"%></p>


<p>Customer Segment:<br/>
<%= f.select :segment_id,
		 options_from_collection_for_select(@segments, :id, :cenx_name, @onovce.segment_id ),
		 :prompt => "Select Customer Segment"%></p>





    <!-- <%= if !@node && !@site
  will_paginate @ports
end
%> -->


<%= image_tag "test.gif", :size => '1000x500' %><br />


    #TODO use transaction
    @onovce = OnNetOvcEndPoint.find(params[:onovce_id])
    @onovce.segment_id = @segment.id
    respond_to do |format|
      if @segment.save
        @onovce.save






<div id="enni_order_enni_select_field">
<% if @eo.order_type != nil && @eo.order_type != "New" && @eo.enni_id == nil%>
<p>*Enni Affected:<br/>
  <%= select_tag "affected_enni_id", raw("<option>Select</option>" + options_from_collection_for_select(@ennis, :id, :cenx_name, @eo.enni_id))%>
  <br />
</p>
<% end %>
</div>




<fieldset>
<legend><strong>Physical Connection Details</strong></legend>
Segment is attached to
<%=if @segment.on_net_ovc_end_point != nil
    if @segment.on_net_ovc_end_point.is_connected_to_something
      action = ""
      id = 0
      if @segment.on_net_ovc_end_point.is_connected_to_enni
        action = "edit_enni"
        id = @segment.on_net_ovc_end_point.enni_id
      else
        action = "edit_port"
        id = @segment.on_net_ovc_end_point.port_id
      end

      link_to "#{@segment.on_net_ovc_end_point.phys_connection_info_onovce}", :action => action,  :id => id
    else
      "#{@segment.on_net_ovc_end_point.phys_connection_info_onovce}"
    end

  else
    "TBD - Segment not yet linked to a On Net OVC Endpoint"
end %>
</fieldset><br/>


<p>Cenx Service Endpoint:<br/>
<%= select_tag "onovce_id", raw("<option>Select</option>" + options_from_collection_for_select(
  @onovces, :id, :pulldown_name, (@segment.on_net_ovc_end_point != nil ? @segment.on_net_ovc_end_point.id : nil))) %>
    <%= if @segment.on_net_ovc_end_point != nil
    link_to "--View Cenx Endpoint Info ", :action => 'edit_onovce', :id => @segment.on_net_ovc_end_point.id
  end %>
</p>

@onovces = @segment.get_candidate_onovces
ennis_to_check = Enni.where("site_id = ?", on_net_ovc.site.id)

<%= render :partial => 'list_any_type', :object => @onovcis,
             :locals => {
				:legend => 'On Net OVC Intermediate Points',
				:fcn_tail => 'onovci',
				:cols => %w{name},
                                :local_link => 'on_switch_name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{}
				} %>

<%= button_to 'Add', :action => 'new_onovci', :id => @onovc.id %>


@ennis = Enni.where("site_id = ?", @port.node.site.id)


User = Struct.new( :first, :last, :country )
p = User.new('James', 'Robertson', 'UK')

puts "User: #{p.first} #{p.last}, #{p.country}"
# => "User: James Robertson, (UK)"

puts "User: #{p[0]} #{p[1]}, #{p[2]}"
# => "User: James Robertson, (UK)"

puts p.length
# => 3

p.each {|item| puts item}
# =>
"James"
"Robertson"
"UK"





class AddDemarkTableDropUni < ActiveRecord::Migration
  def self.up

    create_table :demarcs do |t|
      t.string :type

      # common attributes
      t.string :name t.string :email

      # attributes for type=Uni
      t.decimal :balance, :precision => 10, :scale => 2

    end

    drop_table :unis

  end

  def self.down

    drop_table :demarcs

    create_table :unis do |t|
      t.timestamps
    end
  end
end
