<%= render :partial => 'list_any_type', :object => @sites, 
             :locals => {
				:legend => 'Sites',
				:fcn_tail => 'site', 
				:cols => %w{Name configuration Cenx\ monitor\ ennis Member\ ennis cenx\ segment\ count network type lo hi},
                :local_link => 'name',
                :detail_link => nil,
				:attrs => %w{},
				:details => %w{site_configuration cenx_mon_ennis_count member_ennis_count onovc_count on_info_site site_layout service_id_low service_id_high},
				:enable_search => true
				} %>

<%= form_for :site, :url => { :action => 'new_site' } do |f| %>
 <%= f.select :type, options_for_select([Site.name, CellSite.name, AggregationSite.name]), :prompt => false %>
 <%= submit_tag 'Add Site', :class => 'submit' %>
<% end %>