<%= render :partial => 'list_any_type', :object => @ossi,
             :locals => {
				:legend => 'OSS Imports',
				:fcn_tail => 'ossi',
				:cols => %w{name member\ name cenx\ prime #\ of\ ests #\ of\ coss #\ of\ demarc\ types is\ sm\ supported},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{member_name cenx_contact_info ests_count coss_count demarc_types_count is_sm_supported}
				} %>