<%= form_tag :action => 'index_on' do %>
  <%= render :partial => 'list_any_type', :object => @ons,
             :locals => {
				:legend => 'Operator Networks',
				:fcn_tail => 'on',
				:cols => %w{Name Member Type},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{sp_info_on type_info_on},
				:enable_search => true
				} %>
				
  <%= submit_tag "Reset Filtering" %>
<% end %>
