

<%= render :partial => 'list_any_type', :object => @sps, 
             :locals => {
				:legend => 'Members',
				:fcn_tail => 'sp', 
				:cols => %w{name cenx\ id cenx\ cma enni\ count path\ count demarc\ count short\ name netwk\ types contacts},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{cenx_id cenx_cma},
				:details => %w{enni_count path_count demarc_count short_name ont_count contact_count},
				:enable_search => true
				} %>

<%= button_to 'Add', :action => 'new_sp' %>

