<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<%= form_tag :action => 'index_demarc_order' do %>

  <%= render :partial=> 'select_sp',  :object => @on,
                      :locals => {
                          :prompt => 'Filter by Member:',
                          :action => 'filter_sp_so',
                          :update => 'demarc_order_list_field',
                          :with => "'spid=' + value + '&tail=demarc'" } %>

  <%= render :partial=> 'index_filter_demarc_order' %>


  <%= submit_tag "Reset Filtering" %>
<% end %>

<%=  button_to 'New Demarc Order', {:action => 'new_so', :ordered_entity_type => "Demarc"} %>
