<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<%= form_tag :action => 'index_enni_new_order' do %>

  <%= render :partial=> 'select_sp',  :object => @on,
                      :locals => {
                          :prompt => 'Filter by Member:',
                          :action => 'filter_sp_so',
                          :update => 'enni_new_order_list_field',
                          :with => "'spid=' + value + '&tail=enni_new'" } %>

  <%= render :partial=> 'index_filter_enni_new_order' %>


  <%= submit_tag "Reset Filtering" %>
<% end %>

<%=  button_to 'New Order', {:action => 'new_so', :ordered_entity_type => "ENNI"} %>
