<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<%= form_tag :action => 'index_ii' do %>

  <%= render :partial => 'list_any_type', :object => @costvs,
             :locals => {
				:legend => 'Cos Test Vectors',
				:fcn_tail => 'costv',
				:cols => %w{Name Type Delay\ (Err) Delay\ (Warn) DV\ (Err) DV\ (Warn) FLR\ (Err) FLR\ (Warn) target},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{type delay_error_threshold delay_warning_threshold dv_error_threshold dv_warning_threshold flr_error_threshold flr_warning_threshold},
				:details => %w{test_target_address}
				} %>
<% end %>
