<%= render :partial => 'list_any_type', :object => @site_groups, 
             :locals => {
				:legend => 'Site Groups',
				:fcn_tail => 'site_group', 
				:cols => %w{Name},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{},
				:enable_search => true
				} %>

<%= button_to 'Add', :action => 'new_site_group' %>




