<%= render :partial => 'list_any_type', :object => @onovcs,
             :locals => {
				:legend => 'On Net OVCs (Service Interconnects)',
				:fcn_tail => 'segment',
				:cols => %w{cenx\ Name Cenx\ id Site Owner Path Nodes\ Involved end\ points State 24x7\ Support},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{site_info owner_info_segment path_info_segment node_info end_point_count get_prov_name emergency_contact_number},
				:enable_search => true
				} %>
<% if @paths && !@paths.empty? %>
<%= form_tag("new_segment", :method => "get") do |f|%>
  <%= submit_tag 'Add New On Net OVC' %> to Path:
  <%= select_tag "path_id", options_from_collection_for_select(@paths, :id, :cenx_name ), :prompt => "Select" %>
  <%= hidden_field_tag "segment_class", "OnNetOvc" %>
<% end %>
<% end %>
<% if @show_order_button %>
<%=  button_to 'Order New', {:action => 'new_so', :ordered_entity_type => "OnNetOvc"} %>
<% end %>
