<%= render :partial => 'list_any_type', :object => @demarcs,
             :locals => {
				:legend => 'Demarcs',
				:fcn_tail => 'demarc',
				:cols => %w{Cenx\ Name Cenx\ id Member Demarc\ Class Demarc\ Type End\ Points State Icon Lat Long},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id},
				:details => %w{sp_info_demarc cenx_demarc_type demarc_type_name end_point_count get_prov_name demarc_icon latitude longitude},
				:enable_search => true
				} %>

<% if @ons && !@ons.empty? %>
<%= form_tag("new_demarc", :method => "get") do %>
  <%= submit_tag 'Add New Demarc' %> at:
  <%= select_tag "id", options_from_collection_for_select(@ons, :id, :pull_down_name_on ), :prompt => "Select" %>
<% end %>
<% end %>
<% if @show_order_button %>
<%=  button_to 'Order New', {:action => 'new_so', :ordered_entity_type => "Demarc" } %>
<% end %>
