<%= form_tag :action => 'index_ont' do %>
  <%= render :partial => 'list_any_type', :object => @onts,
             :locals => {
				:legend => 'Operator Network Types',
				:fcn_tail => 'ont',
				:cols => %w{Name Member OSS\ Count Service\ Types},
                                :local_link => 'name',
                                :detail_link => nil,
				:attrs => %w{},
				:details => %w{sp_info_ont oss_count est_count},
				:enable_search => true
				} %>
				
  <%= submit_tag "Reset Filtering" %>
<% end %>
