<%= form_tag :action => "index_nm" do |f|%>
  <%= render :partial => 'list_any_type', :object => @nms,
             :locals => {
               :legend => 'Network Managers',
               :fcn_tail => 'nm', 
               :cols => %w{Name Type Server\ Count Node\ Count Alarm\ State},
                                :local_link => 'name',
                                :detail_link => nil,
                :attrs => %w{nm_type},
				:details => %w{nm_server_count node_count alarm_state},
				:enable_search => true
				} %>
  <%= submit_tag "Reset Filtering" %>
<% end %>
				
<%= form_tag :action => "new_nm" do %>
  <%= submit_tag 'Add' %>
<% end %>
				
