
<%= render :partial => 'list_any_type', :object => @cmas,
             :locals => {
               :legend => 'Class Wide Member Attributes',
				:fcn_tail => 'ma', 
				:cols => %w{name class type syntax value\ range optional},
                                :local_link => 'name',
                                :detail_link => nil,
                                :attrs => %w{affected_entity_type type syntax value_range allow_blank},
				:details => %w{},
				:enable_search => true
				} %>      
				
<%= button_to 'Add', :action => 'new_ma', :id => nil %>