
<%= render( :partial => 'list_any_type', :object => @paths,
             :locals => {
				:legend => 'Paths',
				:fcn_tail => 'path', 
				:cols => %w{Cenx\ Name Cenx\ id Type Owner Segments State},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{cenx_id cenx_path_type},
				:details => %w{owner_info_path segment_count get_prov_name},
				:enable_search => true
				} ) %>
<%= form_tag :action => "new_path" do %>
<%= submit_tag 'Add New Path' %> Buyer Network:
<%= select_tag "id", options_from_collection_for_select(@ons, :id, :pull_down_name_on ), :prompt => "Select" %>
<% end %>
