<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<%= form_tag :action => 'index_port' do %>

  <%= render( :partial=> 'select_site',
                     :locals => {
                          :prompt => 'Filter by Site:',
                          :action => 'filter_site_port',
                          :update => 'port_list_field',
                          :with => '"id=" + value' }) %>
                      
  <%= render( :partial=> 'index_filter_port' ) %>

  <%= submit_tag "Reset Filtering" %>

<% end %>