<%= render :partial => 'list_any_type', :object => @qosps,
             :locals => {
				:legend => "QoS Policies",
				:fcn_tail => 'qosp',
				:cols => %w{Policy\ Name Policy\ ID Direction Site Nodes\ Involved Associated\ Endpoints},
                                :local_link => 'policy_name',
                                :detail_link => nil,
				:attrs => %w{policy_id},
				:details => %w{direction site_name node_info associated_endpoints_count},
                                :enable_search => true
				} %>