<div id="enni_list_field" >
<%= render :partial => 'list_any_type', :object => @results,
             :locals => {
				:legend => 'ENNI Utilization Reports',
				:fcn_tail => nil,
                                :action => 'show_enni_cac',
				:cols => %w{ Cenx\ Name Site Rate\ (Mbps) CIR\ Limit\ % EIR\ Limit\ % CIR\ % EIR\ %} + @titles.collect{|t|"#{t} %"}.sort,
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => %w{},
				:details => %w{site rate cir_limit eir_limit cir eir} + @titles.collect{|t|t.gsub(/\s+/,"")}.sort,
				:enable_search => true
				} %>
</div>