<%= render :partial=> 'index_filter_enni_new' %>

<% if @ons && !@ons.empty? %>
  <%= form_tag("new_demarc", :method => "get") do %>
    <%= submit_tag 'Add New Demarc' %> at:
    <%= select_tag "id", options_from_collection_for_select(@ons, :id, :pull_down_name_on ), :prompt => "Select" %>
    <%= hidden_field_tag "demarc_type", "ENNI" %>
  <% end %>
<% end %>
<% if @show_order_button %>
  <%=  button_to 'Order New', {:action => 'new_so', :ordered_entity_type => "ENNI" } %>
<% end %>
