<fieldset>
  <legend>Move Details</legend>
  <%= form_remote_tag :url => { :action => "move_info"}, :update => "result" do %>
    <p>Cenx IDs:<br />
    <%= text_field_tag :cenx_ids, nil, :size => 100 %></p>
    <p>New VPLS ID (Segment Only):<br />
    <%= text_field_tag :vpls_id, nil, :size => 30 %></p>
    <div id='sites'><%= render :partial => 'move_object_site' %></div>
    <%= submit_tag "Get Move Details" %>
  <% end %>
</fieldset>

<div id="result"></div>
