<h1>New Offered Service Study Info for <%= @ont.name %> with <%= @ont.service_provider.name %></h1>

<%= error_messages_for 'ossi' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :ossi, :url => { :action => 'save_ossi', :id => @ont.id } do |f| %>
	  <%= render :partial => 'input_ossi', :object => @ossi, :locals => {:f => f} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />
