<h1>New Port for <%= @node.name %> </h1>

<%= error_messages_for 'port' %>

<fieldset>
  <legend>Port Details</legend>
  <%= form_for :port, :url => { :action => 'save_port', :id => @node.id } do |f| %>
	<%= render :partial => 'input_port', :object => @port, :locals => {:f => f} %>			      
    <%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Node #{@node.name}", :action => 'edit_node', :id => @node.id %><br />

