<h1>New Network Manager</h1>

<%= error_messages_for 'nm' %>

<%= form_for :nm, :url => { :action => 'save_nm' } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render( :partial => 'input_nm', :object => @nm, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>
