<h1>New Network Management Server</h1>

<%= error_messages_for 'nm_server' %>

<%= form_for :nm_server, :url => { :action => 'save_nm_server', :id => @nm.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render( :partial => 'input_nm_server', :object => @nm_server, :locals => {:f => f}) %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>

<%= link_to "Edit Network Managemer: #{@nm.name}",:action => 'edit_nm', :id => @nm.id %><br />
