<h1>New Site Group</h1>

<%= error_messages_for 'site_group' %>

<%= form_for :site_group, :url => { :action => 'save_site_group' } do |f| %>
  <fieldset>
    <legend>Enter Site Group Details</legend>
    <%= render( :partial => 'input_site_group', :object => @site_group, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>
