<h1>New Demarc Type for <%= @ont.name  %> with <%= @ont.service_provider.name %></h1>

<%= error_messages_for 'dt' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :dt, :url => { :action => 'save_dt', :id => @ont.id } do |f| %>
	  <%= render :partial => 'input_dt', :object => @dt, :locals => {:f => f, :is_new => true} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />



