<% # TODO BJW should be a list of site groups.... Sie in [sg1, sg2 etc %>
<h1>New Node for <%= @site.name %> Site in <%= @site.site_groups.first.name %> Site Group</h1>

<%= error_messages_for 'node' %>

<fieldset>
	<legend>Enter Node Details</legend>
	<%= form_for :node, :url => { :action => 'save_node', :id => @site.id } do |f| %>
	  <%= render :partial => 'input_node', :object => @node, :locals => {:f => f} %>
	  <%= submit_tag "Save", :class => "submit" %>
  <% end %>
  
</fieldset>	

<%= link_to "Edit Site #{@site.name}", :action => 'edit_site', :id => @site.id %><br />
