<h1>New Cos End Point on <%= @segmentep.cenx_name %></h1>
<%= error_messages_for 'cose' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :cose, :url => { :action => 'save_cose', :id => @segmentep.id } do |f| %>
      <%= render( :partial => 'input_cose', :object => @cose, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@segmentep.cenx_name}", :action => 'edit_segmentep', :id => @segmentep.id %><br />
