<h1>Attach a file to <%= @parent.name %> </h1>
<%=  error_messages_for("uf") %>
<%= form_for(:uf,
            :url => {:action => 'save_uf', :parent_type => @parent_type, :id => @parent.id},
            :html => { :multipart => true }) do |form| %>
Comment:<br/><%=form.text_field("comment", :size => 60)%><br/><br/>
Enter URL:<br/><%=  form.text_field("url", :size => 60)%><br/>
-OR-<br/>
Choose File:<br/><%=  form.file_field("uploaded_file", :size => 50)%><br/><br/>
<%= submit_tag("Attach") %>
<% end %>
<%= link_to "Edit #{@parent.name}", :action => "edit_#{@parent_type}", :id => @parent.id %><br />