<h1>New Path for <%= @on.name %> with <%= @on.service_provider.name %></h1>

<%= error_messages_for 'path' %>

<%= form_for :path, :url => { :action => 'save_path', :id => @on.id, :so_id => (@so ? @so.id : nil) } do |f| %>
  <fieldset>
	  <legend>Details</legend>
      <%= render( :partial => 'input_path', :object => @path, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @path, :tail => "path" }) %>
  <%= submit_tag "Save", :class => "submit" %>
<% end %>

<%= link_to "Edit Network #{@on.name}", :action => 'edit_on', :id => @on.id %><br />
