<h1>New Operator Network for <%= @sp.name %></h1>

<%= error_messages_for 'on' %>

<fieldset>
	<legend>Enter Details</legend>
	<%= form_for :on, :url => { :action => 'save_on', :id => @sp.id } do |f| %>
      <%= render( :partial => 'input_on', :object => @on, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Member: #{@sp.name}", :action => 'edit_sp', :id => @sp.id %><br />


