<h1>New Site </h1>

<%= error_messages_for 'site' %>

<%= form_for :site, :url => { :action => 'save_site', :class => @site.type} do |f| %>
  <fieldset>
    <legend>Enter Site Details</legend>
    <%= render( :partial => 'input_site', :object => @site, :locals => {:f => f, :is_new => true}) %>
  </fieldset>	
  <%= submit_tag "Save", :class => "submit" %>
<% end %>
