<h1>New User for <%= @sp.name %></h1>

<%= error_messages_for 'user_service_provider' %>

<fieldset>
  <legend>Users</legend>
  <%= form_for @user, :url => { :action => 'save_user_service_provider', :id => @sp.id } do |f| %>
    <%= f.hidden_field :service_provider_id %>
    <%= f.select :id, @users.map {|u| [u.email, u.id] } %>
    <%= submit_tag "Add", :class => "submit" %>


  <% end %>
</fieldset>

<%= link_to "Edit Member #{@sp.name}", :action => 'edit_sp', :id => @sp.id %><br />
