<h1>Order <%= "#{@so.ordered_entity_type}" %> </h1>
<%= error_messages_for 'so' %>
<%= error_messages_for 'demarc' %>
<%= error_messages_for 'segment' %>
<%= form_for :so, :url => { :action => 'save_so', :id => @on.id } do |f| %>
  <fieldset>
    <legend><%= "#{@so.ordered_entity_type}" %> Order Details</legend>
    <%= render(:partial => 'input_so', :object => @so, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @so, :tail => "so", :with => @so.ordered_entity_group ? "type_element=#{@so.ordered_entity_group.id};#{parent_type_from_table(@so.ordered_entity_group.class.to_s)}" : "" }) %>
  <%= submit_tag "Continue", :class => "submit" %>
<% end %>

<%= link_to "ENNI Inventory", :action => 'index_member_enni'%><br />
<%= link_to "On Net OVC Inventory", :action => 'index_onovc'%><br />

<%= link_to "Off Net OVC Inventory", :action => 'index_offovc'%><br />