<h1>New CosTestVector on <%= @cose.pulldown_name %></h1>
<%= error_messages_for 'costv' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :costv, :url => { :action => 'save_costv', :id => @cose.id, :costv_class => @costv.type} do |f| %>
	<%= render :partial => 'input_costv', :object => @costv, :locals => {:f => f} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@cose.pulldown_name}", :action => 'edit_cose', :id => @cose.id %><br />

