<h1>New Access Permission</h1>

<%= error_messages_for 'access_permission' %>

<%= form_for :access_permission, :url => { :action => 'save_ap' } do |f| %>
  <fieldset>
    <legend>Enter Access Permission Details</legend>
    <%= render( :partial => 'input_ap', :object => @access_permission, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>
