<h1>Bulk Order</h1>
<%= error_messages_for 'so' %>
<%= form_for :so, :url => { :action => 'save_bo', :id => @on.id } do |f| %>
  <fieldset>
    <legend>Bulk Order Details</legend>
    <%= render(:partial => 'input_bo', :object => @so, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @so, :tail => "so", :with => "" }) %>
  <%= submit_tag "Continue", :class => "submit" %>
<% end %>

<%= link_to "ENNI Inventory", :action => 'index_member_enni'%><br />
<%= link_to "On Net OVC Inventory", :action => 'index_onovc'%><br />

<%= link_to "Off Net OVC Inventory", :action => 'index_offovc'%><br />