<h1>New Ethernet Service Type for <%= @ont.name %> with <%= @ont.service_provider.name %></h1>
<%= error_messages_for 'est' %>

<fieldset>
  <legend>Enter Ethernet Service Type Details</legend>
  <%= form_for :est, :url => { :action => 'save_est', :id => @ont.id } do |f| %>
	<%= render( :partial => 'input_est', :object => @est, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />