<h1>New Bandwidth Profile Type for COS Type: <%= @cost.name %> </h1>
<%= error_messages_for 'bwpt' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :bwpt, :url => { :action => 'save_bwpt', :id => @cost.id } do |f| %>
	<%= render :partial => 'input_bwpt', :object => @bwpt, :locals => {:f => f} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Class of Service Type #{@cost.name}", :action => 'edit_cost', :id => @cost.id %><br />