<h1>New Member</h1>

<%= error_messages_for 'sp' %>

<%= form_for :sp, :url => { :action => 'save_sp' } do |f| %>
  <fieldset>
    <legend>Enter Member Details</legend>
    <%= render( :partial => 'input_sp', :object => @sp, :locals => {:f => f}) %>
  </fieldset>	
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>
