<h1>New Path Type for <%= @ont.name  %> with <%= @ont.service_provider.name %></h1>

<%= error_messages_for 'patht' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :patht, :url => { :action => 'save_patht', :id => @ont.id } do |f| %>
	  <%= render :partial => 'input_patht', :object => @patht, :locals => {:f => f, :is_new => true} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />



