<h1>New Contact for <%= @sp.name %></h1>

<%= error_messages_for 'contact' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :contact, :url => { :action => 'save_contact', :id => @sp.id } do |f| %>
    <%= render( :partial => 'input_contact', :object => @contact, :locals => {:f => f}) %>
    <%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit Member #{@sp.name}", :action => 'edit_sp', :id => @sp.id %><br />
