<h1>New KPI mask for: <%= @obj.class.name %> </h1>
<%= error_messages_for 'kpi', 'kpi_ownership' %>

<%= form_for :kpi, :url => { :action => 'save_kpi', :id => @kpi.id, :obj_id => @obj.id, :object => @obj.class.name } do |f| %>
  <fieldset>
    <legend>Details</legend>

	<%= render :partial => 'input_kpi', :object => @kpi, :locals => {:f => f, :new_kpi => true} %>

  </fieldset>
  <%= submit_tag "Save", :class => "submit" %>
<% end %>
