<h1>New <%= @so ? @so.ordered_entity_subtype : "Demarc" %> for <%= @on.name %> with <%= @on.service_provider.name %></h1>
<%#= error_message_on 'demarc', 'lag_id', :prepend_text => "Lag ", :css_class => "errorExplanation" %>
<%= error_messages_for 'demarc' %>
                                                                          
                                                                     
<fieldset>
	<legend>Enters Demarc Details</legend>
	<%= form_for :demarc, :url => { :action => 'save_demarc', :id => @on.id, :so_id => (@so ? @so.id : nil)} do |f| %>
	  <%= render( :partial => 'input_demarc', :object => @demarc, :locals => {:f => f, :is_new => true}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Network #{@on.name}", :action => 'edit_on', :id => @on.id %><br />


