<h1>New Segment End Point Type for <%= @ont.name %> with <%= @ont.service_provider.name %></h1>
<%= error_messages_for 'segmentept' %>

<fieldset>
  <legend>Enter Segment End Point Type Details</legend>
  <%= form_for :segmentept, :url => { :action => 'save_segmentept', :id => @ont.id } do |f| %>
	<%= render :partial => 'input_segmentept', :object => @segmentept, :locals => {:f => f} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />