<h1>New Ordered Entity Group for <%= @ot.name %></h1>
<%= error_messages_for 'oeg' %>

<fieldset>
  <legend>Enter Ordered Entity Group Details</legend>
  <%= form_for :oeg, :url => { :action => 'save_oeg', :id => @ot.id } do |f| %>
	<%= render( :partial => 'input_oeg', :object => @oeg, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Order Type #{@ot.name}", :action => 'edit_ot', :id => @ot.id %><br />