<h1>New Cabinet</h1>

<%= error_messages_for 'cab' %>

<%= form_for :cab, :url => { :action => 'save_cab', :id => @site.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
    <%= render :partial => 'input_cab', :object => @cab, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>

<%= link_to "Edit Site #{@site.name}", :action => 'edit_site', :id => @site.id %><br />