<h1>New Service Level Guarantee Type for COS Type: <%= @cost.name %> </h1>
<%= error_messages_for 'slgt' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :slgt, :url => { :action => 'save_slgt', :id => @cost.id } do |f| %>
	<%= render :partial => 'input_slgt', :object => @slgt, :locals => {:f => f} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Class of Service Type #{@cost.name}", :action => 'edit_cost', :id => @cost.id %><br />