<h1>New CosInstance on <%= @segment.cenx_name %></h1>
<%= error_messages_for 'cosi' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :cosi, :url => { :action => 'save_cosi', :id => @segment.id } do |f| %>
	<%= render( :partial => 'input_cosi', :object => @cosi, :locals => {:f => f} ) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@segment.cenx_name}", :action => 'edit_segment', :id => @segment.id %><br />
