<% if @ma.affected_entity_id %>
  <h1>New Member Attribute Control for <%= @ma.name %> on <%= @ma.ae_info_ma %> </h1>
<% else %>
  <h1>New Member Attribute Control for <%= @ma.name %> on <%= @ma.at_info_ma %> </h1>
<% end %>

<%= error_messages_for 'mac' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :mac, :url => { :action => 'save_mac', :id => @ma.id } do |f| %>
	  <%= render :partial => 'input_mac', :object => @mac, :locals => {:f => f, :new => true} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit #{@ma.name}", :action => "edit_ma", :id => @ma.id %><br />
