<h1>New MMR Patch Panel at <%=@site.name%> Site</h1>

<%= error_messages_for 'pp' %>

<%= form_for :pp, :url => { :action => 'save_pp', :id => @site.id } do |f| %>
  <fieldset>
    <legend>Enter Details</legend>
    <%= render :partial => 'input_pp', :object => @pp, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag 'Save', :class => 'submit' %>
<% end %>

<%= link_to "Edit Site #{@site.name}", :action => 'edit_site', :id => @site.id %><br />