<% if @ae_id %>
  <h1>New Member Attribute for <%= @ma.ae_info_ma %> </h1>
<% else %>
  <h1>New Class Wide Member Attribute</h1>
<% end %>

<%= error_messages_for 'ma' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :ma, :url => { :action => 'save_ma', :ae_type => @ae_type, :id => @ae_id } do |f| %>
	  <%= render( :partial => 'input_ma', :object => @ma, :locals => {:f => f, :id => @ae_id, :new => true}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<% if @ae_id %>
  <%= link_to "Edit #{@ma.ae_info_ma}", :action => "edit_#{@ae_type}", :id => @ae_id %><br />
<% end %>