<h1>New Operator Network Type for <%= @sp.name %></h1>

<%= error_messages_for 'ont' %>

<fieldset>
	<legend>Enter Details</legend>
	<%= form_for :ont, :url => { :action => 'save_ont', :id => @sp.id } do |f| %>
      <%= render( :partial => 'input_ont', :object => @ont, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>

<%= link_to "Edit Member: #{@sp.name}", :action => 'edit_sp', :id => @sp.id %><br />
