<h1>New Segment</h1>

<%= error_messages_for 'segment' %>

<%= form_for :segment, :url => { :action => 'save_segment', :path_id => @path.id, :so_id => (@so ? @so.id : nil), :segment_class => @segment.type } do |f| %>
  <fieldset>
	<legend>Details</legend>
	<%= render(:partial => 'input_segment', :object => @segment, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @segment, :tail => "segment" }) %>
  <%= submit_tag "Save", :class => "submit" %>
<% end %>

<%= link_to "Edit #{@path.cenx_name}", :action => 'edit_path', :id => @path.id %><br />
