<h1>New Inventory Item for <%= @site.name %> </h1>

<%= error_messages_for 'ii' %>

<fieldset>
	<legend>Details</legend>
	<%= form_for :ii, :url => { :action => 'save_ii', :id => @site.id } do |f| %>
	  <%= render :partial => 'input_ii', :object => @ii, :locals => {:f => f} %>
	  <%= submit_tag "Save", :class => "submit" %>
  <% end %>

</fieldset>

<%= link_to "Edit Site #{@site.name}", :action => 'edit_site', :id => @site.id %><br />

