<h1>New Segment Endpoint for <%= @segment.cenx_name %></h1>

<%= error_messages_for 'segmentep' %>

<%= form_for :segmentep, :url => { :action => 'save_segmentep', :id => @segment.id } do |f| %>
  <fieldset>
	<legend>Details</legend>
	  <%= render( :partial => 'input_segmentep', :object => @segmentep, :locals => {:f => f, :is_new => true}) %>
  </fieldset>
  <%= render(:partial => "options_instance_element", :locals => {:ie => @segmentep, :tail => "segmentep" }) %>
  <%= submit_tag "Create", :class => "submit" %>
<% end %>

<%= link_to "Edit #{@segment.cenx_name}", :action => 'edit_segment', :id => @segment.id %><br />