<h1>New Order Annotation</h1>

<%= error_messages_for 'oa' %>

<fieldset>
	<legend>Enter Order Annotation Details</legend>
	<%= form_for :oa, :url => { :action => 'save_oa', :id => @oa.id , :so_id => @so.id} do |f| %>
	  <%= render :partial => 'input_oa', :object => @oa, :locals => {:f => f} %>
	  <%= submit_tag "Save", :class => "submit" %>
  <% end %>
  
</fieldset>	

<%= link_to "Edit Service Order: #{@so.title}", :action => 'edit_so', :id => @so.id %><br />
