<h1>New Segment Type for <%= @ont.name %> with <%= @ont.service_provider.name %></h1>
<%= error_messages_for 'segmentt' %>

<fieldset>
  <legend>Enter Segment Type Details</legend>
  <%= form_for :segmentt, :url => { :action => 'save_segmentt', :id => @ont.id } do |f| %>
	<%= render( :partial => 'input_segmentt', :object => @segmentt, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />