<h1>New Order Type for <%= @ont.name %> with <%= @ont.service_provider.name %></h1>
<%= error_messages_for 'ot' %>

<fieldset>
  <legend>Enter Order Type Details</legend>
  <%= form_for :ot, :url => { :action => 'save_ot', :id => @ont.id } do |f| %>
	<%= render( :partial => 'input_ot', :object => @ot, :locals => {:f => f}) %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />