<h1>New Class of Service Type for Operator Network Type <%= @ont.name %> with <%= @ont.service_provider.name %></h1>
<%= error_messages_for 'cost' %>

<fieldset>
  <legend>Details</legend>
  <%= form_for :cost, :url => { :action => 'save_cost', :id => @ont.id } do |f| %>
	<%= render :partial => 'input_cost', :object => @cost, :locals => {:f => f, :isnew => true} %>
	<%= submit_tag "Save", :class => "submit" %>
  <% end %>
</fieldset>	

<%= link_to "Edit Operator Network Type #{@ont.name}", :action => 'edit_ont', :id => @ont.id %><br />