
<% if @results.empty? %>
No Results Found
<% end %>

<% @results.each do |type, results| %>
  <%= render :partial => 'list_any_type', :object => results,
             :locals => {
               :legend => "#{CDBInfo::CLASS_SHORT_NAMES.invert[type]} Results",
				:fcn_tail => type,
				:cols => %w{value name},
                                :local_link => 'value',
                                :detail_link => nil,
                                :attrs => %w{},
				:details => %w{name}
				} %>
<% end %>