<h1>File: <%= @uf.comment %></h1>
<% @sanitizer = HTML::FullSanitizer.new
if @uf.url && !@uf.url.empty?%>
    <%= link_to "Download", @uf.url %><br/>
<% else
  if @uf.content_type.match(/^image/)%>
    <img src="<%= url_for(:action => 'get_uf', :id => @uf.id) %>"/><br/>
  <% elsif @uf.content_type.match(/^text/) && @uf.content_type != "text/rtf"%>
    <div style="overflow:auto;width:100%;height:40em;border-style:solid;border-width:1px;">
    <%= raw(@sanitizer.sanitize(@uf.data).gsub(/[\n\r]/, "<br/>\n").gsub(/\s/, "&nbsp;").gsub(/\t/, "&nbsp;&nbsp;&nbsp;&nbsp;"))%>
    </div>
  <% else #elsif @uf.content_type == "application/pdf"
  %>
    <object data="<%= url_for(:action => 'get_uf', :id => @uf.id) %>" type="<%= @uf.content_type %>" width="100%" height="700px">
    Your browser does not know how to display this file. Please download to use and view.<br/><br/></object>
  <% end %>
  <a href="<%= url_for(:action => 'get_uf', :id => @uf.id, :disposition => 'attachment') %>">Download <%= @uf.name %></a><br/>
<% end %>
File Type: <%= @uf.content_type %> <br/><br/>

<%= if @parent
  link_to "Edit #{@parent.name}", :action => "edit_#{@parent_type}", :id => @parent.id
end %><br />