<h1>ENNI CAC Report</h1>

<fieldset>
  <legend>ENNI Details</legend>
  <div id="input_column_left">
    <p>ENNI Name:<br />
    <%= text_field_tag 'cenx_name', @enni.cenx_name, :size => 60, :disabled => true %>
    <%= link_to "--View ENNI", :action => "edit_demarc", :id =>  @enni.id %></p>
    <p>Cenx ID:<br />
    <%= text_field_tag 'cenx_id', @enni.cenx_id, :size => 60, :disabled => true %></p>
    <p>Member:<br />
    <%= text_field_tag 'member', @enni.operator_network.service_provider.name, :size => 60, :disabled => true %></p>
    <p>Capacity (Mbps):<br />
    <%= text_field_tag 'rate', @enni.rate, :size => 60, :disabled => true %></p>
  </div>
  <div id="input_column_right">
  <fieldset>
  <legend>CAC Rules</legend>
  <% if @costs.empty? %>
    No Cenx CoS Endpoints Found
  <%  else %>
    <table border="0">
      <tr><td></td><td>CIR</td><td>EIR</td></tr>
    <% @costs.sort_by{|c| c.name }.each do |cost| %>
    <tr>
      <td><%= "#{cost.name}:" %></td>
      <td><%= text_field_tag "#{cost.name}_cir_cac_limit", ServiceCategories::ON_NET_OVC_COS_TYPES[cost.name][:cir_cac_limit], :size => 5, :disabled => true %>%</td>
      <td><%= text_field_tag "#{cost.name}_eir_cac_limit", ServiceCategories::ON_NET_OVC_COS_TYPES[cost.name][:eir_cac_limit], :size => 5, :disabled => true %>%</td>
      <td><%= link_to " --View", :action =>'edit_cost', :id => cost.id %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
  </fieldset>
  <p>CIR Limit:
    <%= text_field_tag 'cir_limit', @enni.cir_limit, :size => 5, :disabled => true %>%
  </p>
  <p>EIR Limit: 
    <%= text_field_tag 'eir_limit', @enni.eir_limit, :size => 5, :disabled => true %>%
  </p>
  </div>
</fieldset>

<%= render :partial => 'options_cac_provisioned_bandwidth', :object => @provisioned_bandwidth, :locals => {:legend => "Provisioned Bandwidth", :errors => nil} %>

<fieldset>
  <legend>Capacity Check</legend>
  <% if @costs.empty? %>
    No Cenx CoS Endpoints Found
  <%  else %>
    <%= form_remote_tag :url => { :action => "cac_capacity_check"}, :update => "result" do %>
    <table border="0">
      <tr><td></td><td>CIR</td><td>EIR</td></tr>
    <% @costs.sort_by{|c| c.name }.each do |cost| %>
     <tr>
       <td><%= "#{cost.name}:" %></td>
       <td><%= text_field_tag "#{cost.name}:cir", "0", :size => 15 %>Mbps &nbsp;&nbsp;</td>
       <td><%= text_field_tag "#{cost.name}:eir", "0", :size => 15 %>Mbps</td>
     </tr>
    <% end %>
    </table>
    <%= hidden_field_tag :enni_id, @enni.id %>
    <%= submit_tag "Check" %>
  <% end %>
  <% end %>
  <div id="result"></div>
</fieldset>

<%= render :partial => 'list_any_type', :object => @onovces,
             :locals => {
				:legend => 'On Net Segment End Points @ ENNI',
				:fcn_tail => 'segmentep',
				:cols => %w{on\ switch\ name Ingress\ CIR\ (Mbps) Ingress\ EIR\ (Mbps) Egress\ CIR\ (Mbps) Egress\ EIR\ (Mbps) CoS\ Count is\ Test\ IF State},
                                :local_link => nil,
                                :detail_link => 'on_switch_name',
				:attrs => %w{},
				:details => %w{ingress_cir_Mbps ingress_eir_Mbps egress_cir_Mbps egress_eir_Mbps cos_end_point_count is_connected_to_test_port get_prov_name}
				} %>
