html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
   }
ul {
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}   
   

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

hr {
  margin: 0; }


#content {
  margin-left:1.5em;
}

#content_wrapper {
  min-height: 100%;
  margin-bottom: -65px;
  position: relative;
}

.clearfooter {
   height: 65px;
   clear: both;
}

/* Lifted corners */
.picture {
  border: solid 1px #DDD;
  padding: 15px;
}

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}


.drop-shadow {
    position:relative;
    float:left; 
    padding:1em; 
    margin:1em 0px 4em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}

/* jQuery UI CSS Framework 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API */
/* Layout helpers
 *---------------------------------- */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix {
  display: inline-block; }
  .ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* required comment for clearfix to work in Opera \ */
* html .ui-helper-clearfix {
  height: 1%; }

.ui-helper-clearfix {
  display: block; }

/* end clearfix */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

/* Interaction Cues
 *---------------------------------- */
.ui-state-disabled {
  cursor: default !important; }

/* Icons
 *---------------------------------- */
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
 *---------------------------------- */
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }


/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5 */
  display/**/: block;
  /*sorry for IE5 */
  position: absolute;
  /*must have */
  z-index: -1;
  /*must have */
  filter: mask();
  /*must have */
  top: -4px;
  /*must have */
  left: -4px;
  /*must have */
  width: 200px;
  /*must have */
  height: 200px;
  /*must have */ }

/** jQuery UI Progressbar 1.8.11
 **
 ** Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 ** Dual licensed under the MIT or GPL Version 2 licenses.
 ** http://jquery.org/license
 **
 ** http://docs.jquery.com/UI/Progressbar#theming */
.ui-progressbar {
  height: 2em;
  text-align: left; }
  .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%; }

.tipsy {
  padding: 15px;
  font-size: 10px;
  position: absolute;
  z-index: 100000;
  overflow: visible; }

.tipsy-close {
  position: absolute;
  right: -1px;
  top: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 500; }

.tipsy-inner {
  background: #eae8e5;
  padding: 15px;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #aaaaaa;
  -moz-box-shadow: 1px 1px 3px #aaaaaa;
  -ms-box-shadow: 1px 1px 3px #aaaaaa;
  -o-box-shadow: 1px 1px 3px #aaaaaa;
  box-shadow: 1px 1px 3px #aaaaaa;
  color: white; }

.tipsy-arrow {
  position: absolute;
  background: url("/images/tipsy.gif") no-repeat top left;
  width: 22px;
  height: 11px; }

.tipsy-n .tipsy-arrow {
  top: 5px;
  left: 50%;
  margin-left: -4px; }

.tipsy-nw .tipsy-arrow {
  top: 5px;
  left: 20px; }

.tipsy-nl .tipsy-arrow {
  top: 5px;
  left: 140px; }

.tipsy-ne .tipsy-arrow {
  top: 5px;
  right: 20px; }

.tipsy-nr .tipsy-arrow {
  top: 5px;
  right: 140px; }

.tipsy-s .tipsy-arrow {
  bottom: 5px;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left; }

.tipsy-sw .tipsy-arrow {
  bottom: 5px;
  left: 20px;
  background-position: bottom left; }

.tipsy-sl .tipsy-arrow {
  bottom: 5px;
  left: 140px;
  background-position: bottom left; }

.tipsy-se .tipsy-arrow {
  bottom: 5px;
  right: 20px;
  background-position: bottom left; }

.tipsy-sr .tipsy-arrow {
  bottom: 5px;
  right: 140px;
  background-position: bottom left; }

.tipsy-e .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  right: 0;
  width: 5px;
  height: 9px;
  background-position: top right; }

.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  left: 0;
  width: 5px;
  height: 9px; }

html, body {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  border-top: 2px solid #333333; }

body {
  min-width: 960px;
  width: 100%;
  border-top: 3px solid #fbad31;
  color: #444444;
  -webkit-font-smoothing: antialiased; }
  body.fixed .header_wrapper {
    width: 960px; }
  body.fixed .menu {
    width: 780px; }

.header_wrapper {
  margin-left: auto;
  margin-right: auto;
  font: 12px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  padding: 0 20px; }
  .header_wrapper .logo {
    margin-top: 10px;
    width: 130px;
    float: left; }
    .header_wrapper .logo img {
      border: none; }
  .header_wrapper a {
    text-decoration: none; }

#header-sub-nav {
  margin: 0px;
  list-style: none;
  padding-left: 20px;
  height: 28px;
  background-color: #f2f2f2;
  padding-top: 10px;
  font: 12px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #header-sub-nav li {
    display: inline; }
  #header-sub-nav a {
    float: left;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #f2f2f2;
    color: #888888;
    display: block;
    font-size: 1em;
    margin-right: 15px;
    padding: 2px 12px;
    text-decoration: none;
    height: 14px;
    line-height: 14px; }
    #header-sub-nav a:hover {
      border: 1px solid #cccccc;
      color: #444444;
      text-decoration: none; }
  #header-sub-nav li.current a {
    border: 1px solid #d1d1d1;
    background-color: #e3e3e3;
    text-shadow: 1px 1px 0 #f0f0f0;
    color: #444444; }

.header_bottom {
  background-color: #dddddd;
  height: 1px;
  margin-bottom: 1em; }

.header_spacer {
  background-color: #dddddd;
  height: 1px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#header-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #f0f0f0;
  height: 45px;
  float: left; }
  #header-nav li {
    display: inline; }
  #header-nav a {
    display: block;
    float: left;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #f0f0f0;
    position: relative;
    color: #aaaaaa;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 12px; }
    #header-nav a:hover {
      color: #444444; }
    #header-nav a:active {
      position: relative;
      top: 1px; }
  #header-nav li.current a {
    color: #444444; }
  #header-nav li.current span {
    width: 19px;
    height: 8px;
    background: url(/images/nav_arrow.png);
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -9px; }

.support {
  margin-right: 20px; }

.login, .support {
  float: right;
  color: #aaaaaa;
  height: 45px;
  line-height: 45px;
  position: relative; }
  .login a, .support a {
    color: #aaaaaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-: 15px; }
    .login a:hover, .support a:hover {
      color: #444444; }
    .login a:active, .support a:active {
      position: relative;
      top: 1px; }
    .login a.current, .support a.current {
      color: #444444; }
  .login ul, .support ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .login ul li.menu-dropdown, .support ul li.menu-dropdown {
      margin: 0 !important; }
      .login ul li.menu-dropdown a, .support ul li.menu-dropdown a {
        background: url(/images/menu_arrow.png) no-repeat right center;
        padding-right: 20px;
        display: block;
        z-index: 999;
        position: relative;
        margin-left: 14px;
        margin-right: 0px; }
      .login ul li.menu-dropdown:hover a, .support ul li.menu-dropdown:hover a {
        background: url(/images/menu_arrow_hover.png) no-repeat right center;
        color: #444444; }
      .login ul li.menu-dropdown ul, .support ul li.menu-dropdown ul {
        display: none;
        z-index: 998;
        position: absolute;
        left: 0px;
        top: -10px;
        width: 85%;
        padding: 40px 15px 10px 15px;
        margin: 10px 0 0 0;
        background: white;
        border: 1px solid #e0e0e0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }
      .login ul li.menu-dropdown:hover ul, .support ul li.menu-dropdown:hover ul {
        visibility: inherit;
        display: inline; }
      .login ul li.menu-dropdown ul li, .support ul li.menu-dropdown ul li {
        margin: 0 !important;
        height: 35px;
        line-height: 35px;
        float: none;
        background: none;
        border-bottom: 1px solid #f0f0f0; }
      .login ul li.menu-dropdown:hover ul li a, .support ul li.menu-dropdown:hover ul li a {
        color: #aaaaaa;
        background-image: none;
        display: block; }
      .login ul li.menu-dropdown ul li:last-child, .support ul li.menu-dropdown ul li:last-child {
        border-bottom: none; }
      .login ul li.menu-dropdown ul li a, .support ul li.menu-dropdown ul li a {
        line-height: 35px;
        height: 35px;
        font-size: 12px;
        padding: 0;
        font-weight: normal; }
        .login ul li.menu-dropdown ul li a:hover, .support ul li.menu-dropdown ul li a:hover {
          color: #444444; }

/*styles for jquery ui daterangepicker plugin */
.ui-daterangepickercontain {
  position: absolute;
  z-index: 999; }
  .ui-daterangepickercontain .ui-daterangepicker {
    float: left;
    padding: 5px !important;
    width: auto;
    display: inline;
    background-image: none !important;
    clear: left; }

.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
  float: left;
  padding: 0;
  margin: 0; }
.ui-daterangepicker .ranges {
  width: auto;
  position: relative;
  padding: 5px 5px 40px 0;
  margin-left: 10px; }
.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
  margin-left: 5px; }
.ui-daterangepicker button.btnDone {
  margin: 0 5px 5px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  clear: both;
  cursor: pointer;
  font-size: 1.1em; }
.ui-daterangepicker ul {
  width: 17.6em;
  background: none;
  border: 0; }
.ui-daterangepicker li {
  list-style: none;
  padding: 1px;
  cursor: pointer;
  margin: 1px 0; }
  .ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
    padding: 0; }
  .ui-daterangepicker li.preset_0 {
    margin-top: 1.5em !important; }
.ui-daterangepicker .ui-widget-content a {
  text-decoration: none !important; }
.ui-daterangepicker li a {
  font-weight: normal;
  margin: 0.3em 0.5em;
  display: block; }
.ui-daterangepicker li span {
  float: right;
  margin: 0.3em 0.2em; }
.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
  display: block;
  margin: 0 0 0.2em;
  font-size: 1em;
  padding: 0 4px 2px; }
.ui-daterangepicker .ui-datepicker-inline {
  font-size: 1em; }

.ui-daterangepicker-arrows {
  padding: 2px;
  width: 204px;
  position: relative; }
  .ui-daterangepicker-arrows input.ui-rangepicker-input {
    width: 158px;
    margin: 0 2px 0 20px;
    padding: 2px;
    height: 1.1em; }
  .ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
    position: absolute;
    top: 2px;
    padding: 1px; }
  .ui-daterangepicker-arrows .ui-daterangepicker-prev {
    left: 2px; }
  .ui-daterangepicker-arrows .ui-daterangepicker-next {
    right: 2px; }
  .ui-daterangepicker-arrows .ui-daterangepicker-prev:hover, .ui-daterangepicker-arrows .ui-daterangepicker-next:hover, .ui-daterangepicker-arrows .ui-daterangepicker-prev:focus, .ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
    padding: 0; }

.date_range {
  margin: 10px 0 10px 0; }

.tab_content {
  display: none;
  margin: 10px 25px; }
  .tab_content ul, .tab_content .table_target, .tab_content .history {
    clear: left; }

.active_content {
  display: block; }

#graphs_content h4 {
  margin: 0; }
#graphs_content ul {
  clear: left; }
#graphs_content li {
  list-style: none; }
#graphs_content .cos_wrapper {
  margin-top: 20px; }
#graphs_content .show_all_graphs, #graphs_content .hide_all_graphs {
  margin-left: 10px; }
#graphs_content .graphs .graph_type {
  font-size: 14px;
  margin: 0; }
#graphs_content .graphs li {
  clear: left;
  margin-left: 15px;
  padding-top: 10px; }
  #graphs_content .graphs li a {
    padding-right: 30px;
    background: url(../images/arrow-hide.png) no-repeat center right;
    line-height: 25px;
    color: #888888;
    text-decoration: none; }
  #graphs_content .graphs li a:hover {
    text-decoration: underline; }
  #graphs_content .graphs li a.arrow_show {
    background: url(../images/arrow-show.png) no-repeat center right; }
  #graphs_content .graphs li a.arrow_spin {
    background: url(../images/arrow-spin.gif) no-repeat center right; }
  #graphs_content .graphs li .graphs_container {
    display: none;
    margin: 15px 0 25px 0;
    /* Fix issue with google charts and reset.css */ }
    #graphs_content .graphs li .graphs_container table, #graphs_content .graphs li .graphs_container td, #graphs_content .graphs li .graphs_container th, #graphs_content .graphs li .graphs_container tr {
      vertical-align: top; }
    #graphs_content .graphs li .graphs_container .graph {
      margin-left: 20px; }
      #graphs_content .graphs li .graphs_container .graph .template {
        display: none; }
      #graphs_content .graphs li .graphs_container .graph .graph_container {
        float: left;
        margin-left: 15px;
        margin-bottom: 25px;
        width: 300px; }
        #graphs_content .graphs li .graphs_container .graph .graph_container .legend {
          float: right; }
          #graphs_content .graphs li .graphs_container .graph .graph_container .legend li {
            float: left;
            clear: none; }
      #graphs_content .graphs li .graphs_container .graph .graph_container.first {
        margin-left: 0; }
      #graphs_content .graphs li .graphs_container .graph .graph_labels {
        padding: 15px;
        line-height: 1.5em;
        font-size: 0.9em; }
      #graphs_content .graphs li .graphs_container .graph .dygraph-title {
        font-size: 14px; }
        #graphs_content .graphs li .graphs_container .graph .dygraph-title span {
          color: #777777; }
      #graphs_content .graphs li .graphs_container .graph .dygraph-ylabel {
        font-size: 12px;
        background-color: #fcfcfc; }
      #graphs_content .graphs li .graphs_container .graph .dygraph-xlabel {
        font-size: 12px;
        margin-top: 10px; }
      #graphs_content .graphs li .graphs_container .graph .table {
        padding-bottom: 15px;
        border-bottom: 1px solid #aaaaaa; }
        #graphs_content .graphs li .graphs_container .graph .table table td {
          padding: 3px 10px; }
          #graphs_content .graphs li .graphs_container .graph .table table td.label {
            font-weight: bold; }
    #graphs_content .graphs li .graphs_container .warning {
      background-color: #bf0000;
      color: white; }
    #graphs_content .graphs li .graphs_container .ok {
      background-color: #007f00;
      color: white; }
    #graphs_content .graphs li .graphs_container .no_data {
      background-color: #dddddd;
      color: #111111; }
    #graphs_content .graphs li .graphs_container .label {
      text-align: right;
      padding: 8px 10px 8px 0; }
    #graphs_content .graphs li .graphs_container .small_box {
      width: 300px;
      padding: 15px;
      text-align: center; }

#reports_content ul li {
  background: url(../images/adobe-acrobat-icon.png) no-repeat center left;
  padding-left: 25px;
  line-height: 25px; }

#events_content .event_date_range {
  margin-top: -5px; }
  #events_content .event_date_range .date_range {
    margin: 0; }
#events_content .notice {
  font-size: 1.1em; }
#events_content table.styled {
  width: 100%; }
  #events_content table.styled .date_time {
    width: 150px; }
  #events_content table.styled .status {
    width: 175px; }
  #events_content table.styled .message {
    width: 658px; }
#events_content .arrow_spin {
  background: url(../images/arrow-spin.gif) no-repeat center left;
  padding-left: 30px; }
#events_content .time_display {
  font-size: 14px;
  margin: 5px 4px 10px 4px; }
#events_content .submit_button {
  float: right;
  margin-left: 10px;
  margin-top: -3px; }
#events_content .events_live {
  margin-bottom: 25px; }

.dygraphDefaultAnnotation {
  cursor: default; }

#provisioning_legend_box, #ordering_legend_box, #monitoring_legend_box {
  left: -322px;
  top: -1px;
  position: absolute;
  display: none;
  z-index: 99; }
  #provisioning_legend_box .legend, #ordering_legend_box .legend, #monitoring_legend_box .legend {
    padding: 10px;
    border: 1px solid #dddddd;
    background: #f7f7f7;
    width: 300px; }

.evc {
  padding: 0; }

table.evc_info {
  margin: 20px 0 0 10px;
  border-collapse: separate;
  border-spacing: 5px 0; }
  table.evc_info td {
    padding: 5px 10px 10px 10px;
    border: 1px solid #dddddd; }
    table.evc_info td.states {
      width: 300px; }
    table.evc_info td.action {
      background: #eeeeee;
      vertical-align: middle; }
      table.evc_info td.action a {
        text-decoration: underline;
        color: #777777; }
    table.evc_info td.attention {
      background-color: #fdffb6 !important; }
    table.evc_info td label {
      float: left;
      color: #777777;
      margin-right: 5px; }
    table.evc_info td span {
      float: left; }
    table.evc_info td .state {
      margin-top: 2px; }

.viewport {
  position: relative; }

.diagram_wrapper {
  overflow: auto;
  background-color: white;
  padding: 0 0 10px 0; }
  .diagram_wrapper.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .diagram_wrapper .diagram {
    margin: 10px 15px 0 15px; }
    .diagram_wrapper .diagram table {
      width: 100%; }
    .diagram_wrapper .diagram label {
      color: #888888; }
    .diagram_wrapper .diagram tr.data_set_row {
      display: none; }
    .diagram_wrapper .diagram td {
      max-width: 600px; }
    .diagram_wrapper .diagram td.data_set_cell {
      text-align: center;
      vertical-align: top; }
      .diagram_wrapper .diagram td.data_set_cell.static_info {
        position: relative;
        vertical-align: bottom; }
      .diagram_wrapper .diagram td.data_set_cell.vertical_line_info {
        position: static;
        vertical-align: top !important; }
      .diagram_wrapper .diagram td.data_set_cell .vertical_diagram_line {
        position: absolute;
        width: 16px;
        border-left: 1px solid #111111;
        border-right: 1px solid #111111;
        border-color: rgba(0, 0, 0, 0.25); }
      .diagram_wrapper .diagram td.data_set_cell.redacted_info {
        text-align: left;
        padding-left: 35px; }
        .diagram_wrapper .diagram td.data_set_cell.redacted_info .provider_logo {
          margin: 0 10px 0 0; }
    .diagram_wrapper .diagram td.redacted_entity_before {
      background: white url(../images/redacted_ovc_before.png) no-repeat right top;
      padding: 5px 45px 4px 1px;
      vertical-align: middle;
      text-align: right; }
    .diagram_wrapper .diagram td.redacted_entity_after {
      background: white url(../images/redacted_ovc_after.png) no-repeat left top;
      padding: 5px 1px 4px 45px;
      vertical-align: middle; }
    .diagram_wrapper .diagram td.entity {
      cursor: pointer;
      text-align: center;
      vertical-align: middle; }
      .diagram_wrapper .diagram td.entity.ovc {
        min-width: 300px;
        background: none;
        padding: 6px 1px 6px 1px; }
        .diagram_wrapper .diagram td.entity.ovc .component {
          width: 100%;
          height: 17px;
          border: 1px solid black;
          border-color: rgba(0, 0, 0, 0.25); }
          .diagram_wrapper .diagram td.entity.ovc .component.multi_end_point {
            width: 50%; }
            .diagram_wrapper .diagram td.entity.ovc .component.multi_end_point.right {
              float: right; }
            .diagram_wrapper .diagram td.entity.ovc .component.multi_end_point.left {
              float: left; }
      .diagram_wrapper .diagram td.entity.ovc_end_point_left {
        min-width: 27px;
        width: 27px;
        background: white url(../images/end-point-left.png) no-repeat left top; }
      .diagram_wrapper .diagram td.entity.ovc_end_point_right {
        min-width: 28px;
        width: 28px;
        background: white url(../images/end-point-right.png) no-repeat right top; }
      .diagram_wrapper .diagram td.entity.demarc {
        min-width: 29px;
        width: 29px;
        background: white url(../images/enni.png) no-repeat left top; }
      .diagram_wrapper .diagram td.entity.demarc_icon {
        border: none;
        outline: none;
        background: transparent url(../images/demarc/building.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.internet_icon {
        background: transparent url(../images/demarc/internet.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.router_icon {
        background: transparent url(../images/demarc/router.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.sbc_icon {
        background: transparent url(../images/demarc/sbc.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.building_icon {
        background: transparent url(../images/demarc/building.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.voip_icon {
        background: transparent url(../images/demarc/voip.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.vpn_icon {
        background: transparent url(../images/demarc/vpn.png) no-repeat 0 0; }
      .diagram_wrapper .diagram td.entity.cell_site_icon {
        background: transparent url(../images/demarc/cell_site.png) no-repeat 0 0; }
    .diagram_wrapper .diagram .service_provider {
      font-size: 1.2em;
      line-height: 1em;
      font-weight: bold;
      color: white; }
    .diagram_wrapper .diagram .attention {
      background-color: #fdffb6 !important; }
      .diagram_wrapper .diagram .attention .service_provider {
        color: #111111; }
    .diagram_wrapper .diagram .data_set {
      z-index: 500;
      background: white url(../images/data-set-pointer.png) no-repeat center top;
      background-color: rgba(255, 255, 255, 0.9);
      padding-bottom: 15px; }
      .diagram_wrapper .diagram .data_set .address label {
        float: left;
        margin-right: 3px; }
      .diagram_wrapper .diagram .data_set .address p {
        float: left; }
      .diagram_wrapper .diagram .data_set h3 {
        margin: 0;
        padding: 0; }
      .diagram_wrapper .diagram .data_set .section {
        margin-bottom: 10px; }
      .diagram_wrapper .diagram .data_set p {
        margin: 0; }
    .diagram_wrapper .diagram .with_pointer {
      padding-top: 18px; }
      .diagram_wrapper .diagram .with_pointer .block {
        padding-bottom: 5px;
        border-bottom: 2px solid #e5e5e5; }
    .diagram_wrapper .diagram .pointer_on_left .with_pointer {
      background: white url(../images/data-set-pointer-left.png) no-repeat left top; }
    .diagram_wrapper .diagram .pointer_on_right .with_pointer {
      background: white url(../images/data-set-pointer-right.png) no-repeat right top; }
    .diagram_wrapper .diagram .block {
      display: inline-block;
      margin: 0 auto;
      text-align: left;
      max-width: 380px; }
    .diagram_wrapper .diagram .vlan {
      margin-right: 2px;
      background: white url(../images/preserv.png) no-repeat left center; }
      .diagram_wrapper .diagram .vlan span {
        background-color: white;
        padding: 0 5px; }
      .diagram_wrapper .diagram .vlan .vlan_arrow_head {
        margin-right: -2px;
        background: transparent url(../images/preserv-arrow-head.png) no-repeat right center; }
    .diagram_wrapper .diagram .all_to_one_bundle {
      display: inline-block;
      margin: 2px 0 0 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      background-color: #333333;
      width: 15px;
      height: 15px;
      color: white;
      font-size: 15px;
      cursor: pointer; }
    .diagram_wrapper .diagram .encap {
      background: white url(../images/encap.png) no-repeat right center; }
    .diagram_wrapper .diagram .decap {
      background: white url(../images/decap.png) no-repeat left center; }
    .diagram_wrapper .diagram .preserv {
      margin-right: 2px;
      background: white url(../images/preserv.png) no-repeat left center; }
      .diagram_wrapper .diagram .preserv .preserv_arrow_head {
        margin-right: -2px;
        background: transparent url(../images/preserv-arrow-head.png) no-repeat right center; }
    .diagram_wrapper .diagram .encap span, .diagram_wrapper .diagram .decap span, .diagram_wrapper .diagram .preserv span {
      background-color: white;
      padding: 0 5px; }
    .diagram_wrapper .diagram .positioned .data_set_cell .data_set {
      position: absolute;
      min-width: 150px; }
      .diagram_wrapper .diagram .positioned .data_set_cell .data_set.max_width {
        position: relative; }

#evcs-edit .clickable_during_edit, #evcs-update .clickable_during_edit {
  cursor: pointer; }
#evcs-edit .diagram_wrapper, #evcs-update .diagram_wrapper {
  padding-bottom: 15px;
  -webkit-box-shadow: 0 2px 2px #aaaaaa;
  -moz-box-shadow: 0 2px 2px #aaaaaa;
  -ms-box-shadow: 0 2px 2px #aaaaaa;
  -o-box-shadow: 0 2px 2px #aaaaaa;
  box-shadow: 0 2px 2px #aaaaaa; }
  #evcs-edit .diagram_wrapper .ovc_end_point_left, #evcs-edit .diagram_wrapper .ovc_end_point_right, #evcs-update .diagram_wrapper .ovc_end_point_left, #evcs-update .diagram_wrapper .ovc_end_point_right {
    cursor: default; }
#evcs-edit .form_wrapper, #evcs-update .form_wrapper {
  width: 960px;
  margin: 25px auto;
  padding: 30px;
  border: 1px solid #cccccc; }
  #evcs-edit .form_wrapper fieldset, #evcs-update .form_wrapper fieldset {
    border-top: 1px solid #dddddd;
    padding: 0 0 15px 10px; }
    #evcs-edit .form_wrapper fieldset legend, #evcs-update .form_wrapper fieldset legend {
      padding: 5px; }
    #evcs-edit .form_wrapper fieldset ul, #evcs-update .form_wrapper fieldset ul {
      margin: 0; }
      #evcs-edit .form_wrapper fieldset ul li, #evcs-update .form_wrapper fieldset ul li {
        margin: 15px 0 0 0; }
    #evcs-edit .form_wrapper fieldset label, #evcs-update .form_wrapper fieldset label {
      display: block;
      font-weight: bold;
      font-size: 14px;
      padding: 0 0 2px 0; }
      #evcs-edit .form_wrapper fieldset label span, #evcs-update .form_wrapper fieldset label span {
        font-weight: normal; }
    #evcs-edit .form_wrapper fieldset input, #evcs-update .form_wrapper fieldset input {
      padding: 8px;
      width: 800px;
      font-size: 16px; }
      #evcs-edit .form_wrapper fieldset input.attention, #evcs-update .form_wrapper fieldset input.attention {
        background-color: #fdffb6 !important; }
  #evcs-edit .form_wrapper .submit_button, #evcs-update .form_wrapper .submit_button {
    margin: 10px 10px 0 0; }

button::-moz-focus-inner {
  border: none; }

input::-moz-focus-inner {
  border: none; }

.submit_button {
  display: inline-block;
  padding: 7px 9px;
  font-size: 12px;
  line-height: 1;
  color: #3c3c3d;
  text-shadow: 1px 1px 0 white;
  background: #ececec url("/images/css3buttons_backgrounds.png") 0 0 no-repeat;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #cacaca;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  position: relative;
  zoom: 1;
  line-height: 1.11;
  *display: inline;
  *vertical-align: middle; }
  .submit_button.primary {
    font-weight: bold; }
  .submit_button:hover {
    color: white;
    border-color: #388ad4;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    background-position: 0 -40px;
    background-color: #2d7dc5; }
  .submit_button:active, .submit_button.active {
    background-position: 0 -81px;
    border-color: #347bba;
    background-color: #0f5ea2;
    color: white;
    text-shadow: none; }
  .submit_button:active {
    top: 1px; }
  .submit_button.negative:hover {
    color: white;
    background-position: 0 -121px;
    background-color: #d84743;
    border-color: #911d1b; }
  .submit_button.negative:active, .submit_button.negative.active {
    background-position: 0 -161px;
    background-color: #a5211e;
    border-color: #911d1b; }
  .submit_button.pill {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    padding: 6px 12px; }
  .submit_button.submit_button_left {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0px; }
  .submit_button.submit_button_middle {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-left: none; }
  .submit_button.submit_button_right {
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    border-left: none; }
  .submit_button.submit_button_left:active, .submit_button.submit_button_middle:active, .submit_button.buton_right:active {
    top: 0px; }
  .submit_button.big {
    font-size: 16px;
    padding: 7px 16px; }
  .submit_button span.icon {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin: auto 4px auto auto;
    position: relative;
    top: 1px;
    background-image: url("/images/css3buttons_icons.png");
    background-repeat: no-repeat; }

.big.submit_button span.icon {
  top: 0px; }

.submit_button span.icon.book {
  background-position: 0 0; }
.submit_button .spinner_wrapper {
  padding: 7px 9px; }
.submit_button:hover span.icon.book {
  background-position: 0 -15px; }
.submit_button span.icon.calendar {
  background-position: 0 -30px; }
.submit_button:hover span.icon.calendar {
  background-position: 0 -45px; }
.submit_button span.icon.chat {
  background-position: 0 -60px; }
.submit_button:hover span.icon.chat {
  background-position: 0 -75px; }
.submit_button span.icon.check {
  background-position: 0 -90px; }
.submit_button:hover span.icon.check {
  background-position: 0 -103px; }
.submit_button span.icon.clock {
  background-position: 0 -116px; }
.submit_button:hover span.icon.clock {
  background-position: 0 -131px; }
.submit_button span.icon.cog {
  background-position: 0 -146px; }
.submit_button:hover span.icon.cog {
  background-position: 0 -161px; }
.submit_button span.icon.comment {
  background-position: 0 -176px; }
.submit_button:hover span.icon.comment {
  background-position: 0 -190px; }
.submit_button span.icon.cross {
  background-position: 0 -204px; }
.submit_button:hover span.icon.cross {
  background-position: 0 -219px; }
.submit_button span.icon.downarrow {
  background-position: 0 -234px; }
.submit_button:hover span.icon.downarrow {
  background-position: 0 -249px; }
.submit_button span.icon.fork {
  background-position: 0 -264px; }
.submit_button:hover span.icon.fork {
  background-position: 0 -279px; }
.submit_button span.icon.heart {
  background-position: 0 -294px; }
.submit_button:hover span.icon.heart {
  background-position: 0 -308px; }
.submit_button span.icon.home {
  background-position: 0 -322px; }
.submit_button:hover span.icon.home {
  background-position: 0 -337px; }
.submit_button span.icon.key {
  background-position: 0 -352px; }
.submit_button:hover span.icon.key {
  background-position: 0 -367px; }
.submit_button span.icon.leftarrow {
  background-position: 0 -382px; }
.submit_button:hover span.icon.leftarrow {
  background-position: 0 -397px; }
.submit_button span.icon.lock {
  background-position: 0 -412px; }
.submit_button:hover span.icon.lock {
  background-position: 0 -427px; }
.submit_button span.icon.loop {
  background-position: 0 -442px; }
.submit_button:hover span.icon.loop {
  background-position: 0 -457px; }
.submit_button span.icon.magnifier {
  background-position: 0 -472px; }
.submit_button:hover span.icon.magnifier {
  background-position: 0 -487px; }
.submit_button span.icon.mail {
  background-position: 0 -502px; }
.submit_button:hover span.icon.mail {
  background-position: 0 -514px; }
.submit_button span.icon.move {
  background-position: 0 -526px; }
.submit_button:hover span.icon.move {
  background-position: 0 -541px; }
.submit_button span.icon.pen {
  background-position: 0 -556px; }
.submit_button:hover span.icon.pen {
  background-position: 0 -571px; }
.submit_button span.icon.pin {
  background-position: 0 -586px; }
.submit_button:hover span.icon.pin {
  background-position: 0 -601px; }
.submit_button span.icon.plus {
  background-position: 0 -616px; }
.submit_button:hover span.icon.plus {
  background-position: 0 -631px; }
.submit_button span.icon.reload {
  background-position: 0 -646px; }
.submit_button:hover span.icon.reload {
  background-position: 0 -660px; }
.submit_button span.icon.rightarrow {
  background-position: 0 -674px; }
.submit_button:hover span.icon.rightarrow {
  background-position: 0 -689px; }
.submit_button span.icon.rss {
  background-position: 0 -704px; }
.submit_button:hover span.icon.rss {
  background-position: 0 -719px; }
.submit_button span.icon.tag {
  background-position: 0 -734px; }
.submit_button:hover span.icon.tag {
  background-position: 0 -749px; }
.submit_button span.icon.trash {
  background-position: 0 -764px; }
.submit_button:hover span.icon.trash {
  background-position: 0 -779px; }
.submit_button span.icon.unlock {
  background-position: 0 -794px; }
.submit_button:hover span.icon.unlock {
  background-position: 0 -809px; }
.submit_button span.icon.uparrow {
  background-position: 0 -824px; }
.submit_button:hover span.icon.uparrow {
  background-position: 0 -839px; }
.submit_button span.icon.user {
  background-position: 0 -854px; }
.submit_button:hover span.icon.user {
  background-position: 0 -869px; }

.ordering.submitted {
  background-color: #ffe6c8 !important; }
.ordering.created {
  background-color: #ffe6c8 !important; }
.ordering.received {
  background-color: #ffc26e !important; }
.ordering.order_accepted {
  background-color: #e6a043 !important; }
.ordering.design_complete {
  background-color: #b66a27 !important; }
.ordering.provisioned {
  background-color: #bc9248 !important; }
.ordering.tested {
  background-color: #997f5b !important; }
.ordering.customer_accepted {
  background-color: #68563d !important; }
.ordering.delivered {
  background-color: #432e0f !important; }

.provisioning.maintenance {
  background-color: #858585 !important; }
.provisioning.deleted {
  background-color: white !important; }
.provisioning.requested {
  background-color: #b591f8 !important; }
.provisioning.pending {
  background-color: #d9d9d9 !important; }
.provisioning.designed {
  background-color: #c5d3fa !important; }
.provisioning.testing {
  background-color: #c5e8fa !important; }
.provisioning.ready {
  background-color: #009ddb !important; }
.provisioning.live {
  background-color: #0c60b7 !important; }

.monitoring.no_state {
  background-color: #333333 !important; }
.monitoring.maintenance {
  background-color: #858585 !important; }
.monitoring.not_applicable {
  background-color: #d9d9d9 !important; }
.monitoring.not_monitored {
  background-color: #dcde32 !important; }
.monitoring.unavailable {
  background-color: #640d0d !important; }
.monitoring.failed {
  background-color: #ba2a2a !important; }
.monitoring.warning {
  background-color: #ff8d20 !important; }
.monitoring.indeterminate {
  background-color: #9fde32 !important; }
.monitoring.ok {
  background-color: #609c25 !important; }

html {
  overflow-y: scroll; }

a {
  color: #4083a9;
  text-decoration: none; }
  a:hover {
    color: #205f82; }
  a.view_all {
    font-size: 11px;
    padding-left: 5px; }

body {
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555; }

body.wait * {
  cursor: wait !important; }

#hidden-templates {
  display: none; }

.button {
  background-color: #c2baac;
  border: "2px" "solid" #dddddd;
  width: 10em;
  text-align: center;
  padding: 0.8em;
  cursor: pointer; }

#footer {
  clear: both;
  color: #4d4a45;
  font-size: 14px;
  padding: 1em;
  margin-top: 2em;
  border-top: solid 1px #CFCFCF;
  border-bottom: solid 1px #CFCFCF;
  background-color: #F2F2F2;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
  color: #666; }
  #footer a {
    color: black;
    text-decoration: none; }

.hidden {
  display: none; }

.disabled {
  color: #dddddd; }

.left {
  float: left; }

.align_left {
  text-align: left; }

.right {
  float: right; }

.align_right {
  text-align: right; }

.inline {
  display: inline; }

.block {
  display: block; }

.relative {
  position: relative; }

.toggle_mode {
  margin-bottom: 20px; }

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -76.5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -150px; }

#actions {
  float: right;
  width: 150px;
  padding: 5px; }
  #actions div img {
    cursor: pointer; }

#filters, #actions, #relabel_submit {
  font-size: 80%; }
  #filters .title, #actions .title, #relabel_submit .title {
    padding: 0 0 5px 0; }

#generic-error {
  width: 50%;
  position: absolute;
  top: 0;
  left: 25%;
  background-color: #8f0000;
  color: white;
  padding: 15px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

#generic-error-message {
  position: relative; }
  #generic-error-message p {
    margin: 5px 0; }
  #generic-error-message a {
    color: white;
    text-decoration: underline; }
  #generic-error-message #generic-error-ok {
    float: right;
    background-color: white;
    border: 1px solid #333333;
    color: #333333;
    padding: 5px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.75em;
    text-decoration: none; }
    #generic-error-message #generic-error-ok:link {
      text-decoration: none; }
    #generic-error-message #generic-error-ok:visited {
      text-decoration: none; }
    #generic-error-message #generic-error-ok:hover {
      text-decoration: none;
      background-color: #333333;
      color: white; }
    #generic-error-message #generic-error-ok:active {
      text-decoration: none; }

#ui-datepicker-div {
  font-size: 0.85em; }

.ui-daterangepickercontain {
  z-index: 900; }

.clearfix {
  clear: both; }

.states label {
  margin-right: 5px; }
  .states label.states_label {
    float: left; }
.states .state_text {
  margin-left: 5px; }

.dot {
  height: 15px;
  width: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  float: left;
  border: 1px solid #111111;
  border-color: rgba(1, 1, 1, 0.25); }

.rect {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  border: 1px solid #111111;
  border-color: rgba(1, 1, 1, 0.25); }

.tipsy {
  max-width: 1150px; }

.entity_details, .tipsy-inner {
  color: #111111; }
  .entity_details .header, .tipsy-inner .header {
    background: transparent;
    border: none;
    padding: 0;
    color: white; }
    .entity_details .header .provider_logo, .tipsy-inner .header .provider_logo {
      float: right;
      width: 100px;
      height: 26px; }
    .entity_details .header .cenx_logo, .tipsy-inner .header .cenx_logo {
      float: right; }
  .entity_details h2, .tipsy-inner h2 {
    color: #333333;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    float: left;
    margin: 0 0 0 3px; }
    .entity_details h2 span, .tipsy-inner h2 span {
      font-weight: normal; }
  .entity_details h3, .tipsy-inner h3 {
    clear: both;
    margin: 10px 0 0 0;
    padding: 4px 8px 6px 8px;
    font-size: 1.3em;
    line-height: 1.2em;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #cccccc;
    color: #333333; }
  .entity_details div.tipsy_container, .tipsy-inner div.tipsy_container {
    margin: 0;
    padding: 8px;
    font-size: 1.2em;
    line-height: 1.4em;
    background: white;
    border: 1px solid #dddddd;
    border-top: none;
    color: #111111;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
    .entity_details div.tipsy_container label, .tipsy-inner div.tipsy_container label {
      color: #888888; }
    .entity_details div.tipsy_container li, .tipsy-inner div.tipsy_container li {
      margin-bottom: 2px; }
  .entity_details .clearfix, .tipsy-inner .clearfix {
    margin-bottom: 5px;
    padding: 0;
    background: transparent;
    border: none; }
  .entity_details .ui-tabs, .tipsy-inner .ui-tabs {
    background: none;
    border: none; }
    .entity_details .ui-tabs .ui-tabs-hide, .tipsy-inner .ui-tabs .ui-tabs-hide {
      display: none; }
  .entity_details .tabs .ui-tabs-nav, .tipsy-inner .tabs .ui-tabs-nav {
    background: transparent;
    border: none; }
    .entity_details .tabs .ui-tabs-nav .ui-state-default, .tipsy-inner .tabs .ui-tabs-nav .ui-state-default {
      background: #dad9d6; }
      .entity_details .tabs .ui-tabs-nav .ui-state-default:first-child, .tipsy-inner .tabs .ui-tabs-nav .ui-state-default:first-child {
        margin-left: 3px; }
    .entity_details .tabs .ui-tabs-nav .ui-state-active, .tipsy-inner .tabs .ui-tabs-nav .ui-state-active {
      background: #fcfcfc;
      border-color: #dddddd; }
    .entity_details .tabs .ui-tabs-nav .ui-tabs-selected, .tipsy-inner .tabs .ui-tabs-nav .ui-tabs-selected {
      padding-bottom: 2px; }
    .entity_details .tabs .ui-tabs-nav li a, .tipsy-inner .tabs .ui-tabs-nav li a {
      padding: 5px 10px; }
  .entity_details .tabs ul, .tipsy-inner .tabs ul {
    background: #fcfcfc;
    border: 1px solid #dddddd; }
    .entity_details .tabs ul .section, .tipsy-inner .tabs ul .section {
      float: left;
      margin: 5px 15px 0 0;
      font-size: 0.9em; }
      .entity_details .tabs ul .section h4, .tipsy-inner .tabs ul .section h4 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0; }
    .entity_details .tabs ul ul, .tipsy-inner .tabs ul ul {
      border: none; }

dl.evc_info dt {
  width: 100px;
  text-align: right;
  color: #999999;
  float: left;
  clear: left; }
dl.evc_info dd {
  color: #333333;
  float: left;
  margin-left: 3px; }
dl.evc_info .highlight {
  color: #3399ff; }

#evcs-show #evc_details, #evcs-monitoring #evc_details {
  border: 1px solid #bfbeb7;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #eae8e5;
  margin: 0 5px; }
#evcs-show #contents, #evcs-monitoring #contents {
  overflow: auto; }
#evcs-show #arrow_pointing_space, #evcs-monitoring #arrow_pointing_space {
  height: 15px; }
#evcs-show #details_pointer, #evcs-monitoring #details_pointer {
  width: 24px;
  height: 127px;
  position: absolute;
  background-image: url("/images/details_pointer.png");
  display: none; }
#evcs-show .loading_gif, #evcs-monitoring .loading_gif {
  text-align: center; }
#evcs-show #main, #evcs-monitoring #main {
  position: relative; }
#evcs-show #bubble_header, #evcs-monitoring #bubble_header {
  padding: 5px 25px; }
#evcs-show #title, #evcs-monitoring #title {
  font-weight: bold;
  font-size: 20px;
  float: left;
  width: 200px; }
#evcs-show #footer, #evcs-monitoring #footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
#evcs-show dl.evc_info, #evcs-monitoring dl.evc_info {
  line-height: 1.3em;
  margin: 0 0 1em 0; }
  #evcs-show dl.evc_info dt, #evcs-monitoring dl.evc_info dt {
    width: 150px; }

.container_12, .container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.grid_3 {
  width: 165px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.container_12 .grid_3, .container_16 .grid_4 {
  width: 220px; }

.container_12 .grid_6, .container_16 .grid_8 {
  width: 460px; }

.container_12 .grid_9, .container_16 .grid_12 {
  width: 700px; }

.container_12 .grid_12, .container_16 .grid_16 {
  width: 940px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.container_12 .grid_1 {
  width: 60px; }
.grid_2 {
  width: 140px; 
}
.container_12 .grid_4 {
  width: 300px; }
.container_12 .grid_5 {
  width: 380px; }
.container_12 .grid_7 {
  width: 540px; }
.container_12 .grid_8 {
  width: 620px; }
.container_12 .grid_10 {
  width: 780px; }
.container_12 .grid_11 {
  width: 860px; }

.container_16 .grid_1 {
  width: 40px; }
.container_16 .grid_2 {
  width: 100px; }
.container_16 .grid_3 {
  width: 160px; }
.container_16 .grid_5 {
  width: 280px; }
.container_16 .grid_6 {
  width: 340px; }
.container_16 .grid_7 {
  width: 400px; }
.container_16 .grid_9 {
  width: 520px; }
.container_16 .grid_10 {
  width: 580px; }
.container_16 .grid_11 {
  width: 640px; }
.container_16 .grid_13 {
  width: 760px; }
.container_16 .grid_14 {
  width: 820px; }
.container_16 .grid_15 {
  width: 880px; }

.container_12 .prefix_3, .container_16 .prefix_4 {
  padding-left: 240px; }

.container_12 .prefix_6, .container_16 .prefix_8 {
  padding-left: 480px; }

.container_12 .prefix_9, .container_16 .prefix_12 {
  padding-left: 720px; }

.container_12 .prefix_1 {
  padding-left: 80px; }
.container_12 .prefix_2 {
  padding-left: 160px; }
.container_12 .prefix_4 {
  padding-left: 320px; }
.container_12 .prefix_5 {
  padding-left: 400px; }
.container_12 .prefix_7 {
  padding-left: 560px; }
.container_12 .prefix_8 {
  padding-left: 640px; }
.container_12 .prefix_10 {
  padding-left: 800px; }
.container_12 .prefix_11 {
  padding-left: 880px; }

.container_16 .prefix_1 {
  padding-left: 60px; }
.container_16 .prefix_2 {
  padding-left: 120px; }
.container_16 .prefix_3 {
  padding-left: 180px; }
.container_16 .prefix_5 {
  padding-left: 300px; }
.container_16 .prefix_6 {
  padding-left: 360px; }
.container_16 .prefix_7 {
  padding-left: 420px; }
.container_16 .prefix_9 {
  padding-left: 540px; }
.container_16 .prefix_10 {
  padding-left: 600px; }
.container_16 .prefix_11 {
  padding-left: 660px; }
.container_16 .prefix_13 {
  padding-left: 780px; }
.container_16 .prefix_14 {
  padding-left: 840px; }
.container_16 .prefix_15 {
  padding-left: 900px; }

.container_12 .suffix_3, .container_16 .suffix_4 {
  padding-right: 240px; }

.container_12 .suffix_6, .container_16 .suffix_8 {
  padding-right: 480px; }

.container_12 .suffix_9, .container_16 .suffix_12 {
  padding-right: 720px; }

.container_12 .suffix_1 {
  padding-right: 80px; }
.container_12 .suffix_2 {
  padding-right: 160px; }
.container_12 .suffix_4 {
  padding-right: 320px; }
.container_12 .suffix_5 {
  padding-right: 400px; }
.container_12 .suffix_7 {
  padding-right: 560px; }
.container_12 .suffix_8 {
  padding-right: 640px; }
.container_12 .suffix_10 {
  padding-right: 800px; }
.container_12 .suffix_11 {
  padding-right: 880px; }

.container_16 .suffix_1 {
  padding-right: 60px; }
.container_16 .suffix_2 {
  padding-right: 120px; }
.container_16 .suffix_3 {
  padding-right: 180px; }
.container_16 .suffix_5 {
  padding-right: 300px; }
.container_16 .suffix_6 {
  padding-right: 360px; }
.container_16 .suffix_7 {
  padding-right: 420px; }
.container_16 .suffix_9 {
  padding-right: 540px; }
.container_16 .suffix_10 {
  padding-right: 600px; }
.container_16 .suffix_11 {
  padding-right: 660px; }
.container_16 .suffix_13 {
  padding-right: 780px; }
.container_16 .suffix_14 {
  padding-right: 840px; }
.container_16 .suffix_15 {
  padding-right: 900px; }

.spacer {
  margin-top: 2em;
  margin-bottom: 2em; }

.spacer_top {
  margin-top: 2em; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.border {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 1em;
  margin-bottom: 2em; }

.sub_border {
  border-bottom: solid 1px #dddddd;
  margin-bottom: 1em; }

.sub_nav {
  float: right;
  margin-top: 1.25em; }

.no_wrap {
  white-space: nowrap; }

.red {
  color: #ba2a2a; }

.notice {
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #d4d287;
  background-color: #fffed0;
  color: #333333;
  font: normal 0.9em/1.3em Arial, Helvetica, sans-serif; }

#error_explanation {
  padding: 20px;
  border: 1px solid #990000;
  margin: 10px 0;
  background-color: #cc0000;
  color: white; }
  #error_explanation h2 {
    color: black;
    font-size: 1.4em;
    font-weight: normal; }
  #error_explanation ul {
    margin-top: 10px; }
    #error_explanation ul li {
      margin: 5px 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

p {
  margin-bottom: 1em; }

.loading {
  background: url("/images/loading.gif") no-repeat center center;
  min-height: 150px;
  -webkit-transition: opacity 500ms ease-out 100ms;
  -moz-transition: opacity 500ms ease-out 100ms;
  -o-transition: opacity 500ms ease-out 100ms;
  transition: opacity 500ms ease-out 100ms; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  margin-bottom: 0.5em; }

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 20px;
  line-height: 22px; }

h3 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px; }

h4 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px; }

h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 4px; }

h6 {
  font-size: 10px;
  line-height: 16px; }

.stat_box {
  margin-bottom: 2em; }

.service_provider_logo {
  padding-top: 10px; }

.published {
  font-family: "Droid Serif", Georgia, Times, serif;
  font-size: 11px;
  font-style: italic;
  color: #999999;
  margin-bottom: 10px; }

.member_announcemnt {
  clear: both;
  margin-bottom: 3em; }

.clickable {
  cursor: pointer;
}

.left_column {
  float: left;
  width: 45%; }

.right_column {
  float: left;
  width: 45%;
  margin-left: 8%; }

.sidebar {
  position: relative;
  padding: 0 0 5px 0 !important;
  background: #f6f6f6;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
  text-shadow: 1px 1px 0px white;
  color: #666666; }
  .sidebar .title {
    margin-bottom: 5px;
    background: #cfcfcf;
    border-bottom: 1px solid #bbbbbb;
    border-top: none;
    padding: 0px 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
    height: 30px;
    line-height: 30px;
    color: #666666;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #d9d9d9));
    background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #d9d9d9 100%); }
  .sidebar .sidebar_content {
    padding: 5px 10px; }
    .sidebar .sidebar_content ul{
      margin: 0px; 
      list-style: none;
      padding-left: 5px;}

form {}
  form label {
    font-weight: bold;
    display: block;
    font-size: 13px;
    margin-bottom: 2px; }
  form label.info_text {
    font-weight: normal;
    display: inline; }
  form input[type=text], form input[type=password] {
    border: 1px solid #cecece;
    padding: 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) inset;
    margin: 0 0 0.5em 0; }
  form input.entry {
    width: 120px; }
  form select {
    margin-bottom: 1em; }

.lookup_form {
  position: absolute;
  right: 5px;
  margin-top: -8px; }

#seller_chart {
  margin-left: -30px; }

.pagination {
  margin: 5px 50px;
  text-align: right; }
  .pagination span, .pagination a {
    margin: 0 1px;
    padding: 4px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  .pagination a {
    text-decoration: none; }
    .pagination a:hover {
      background: #2d7dc5;
      color: white; }
  .pagination .previous_page, .pagination .next_page {
    text-transform: lowercase; }
  .pagination .current {
    background: #999999;
    color: white; }

table.styled {
  width: 100%;
  border-bottom: 1px solid #d1d1d1; }
  table.styled th {
    text-align: left;
    padding: 0 15px 0 10px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #666666; }
  table.styled td {
    text-align: left;
    padding: 10px;
    border-top: 1px solid #dddddd; }
    table.styled td.empty {
      padding: 30px 0;
      text-align: center;
      background: #f7f7f7; }
  table.styled tr:nth-child(odd) td {
    background: #f5f5f5;
    border-bottom: none; }
  table.styled tr:hover td {
    background: #e6f1f6; }
  table.styled .small a {
    font-size: 11px;
    color: #666666; }

#monitoring_popup .ui-tabs-panel {
  width: 1060px; }

#evcs-index strong {
  font-weight: bold; }
#evcs-index .filtered_results {
  float: right;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  margin-top: 4px;
  background-color: #fffed0;
  font-size: 10px;
  border: 1px solid #adac75;
  color: #555555;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
#evcs-index .toggle_mode {
  margin-left: 15px; }
#evcs-index .clickable {
  cursor: pointer; }
#evcs-index .list_header {
  height: 100px; }
  #evcs-index .list_header h1 {
    margin-left: 15px;
    margin-top: 20px; }
  #evcs-index .list_header .find_and_sort_stub form .submit {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px #aaaaaa;
    -moz-box-shadow: 1px 1px 3px #aaaaaa;
    -ms-box-shadow: 1px 1px 3px #aaaaaa;
    -o-box-shadow: 1px 1px 3px #aaaaaa;
    box-shadow: 1px 1px 3px #aaaaaa;
    padding: 4px 10px 3px 10px;
    background: #eeeeee;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(250, 250, 250, 0.7);
    color: #333333;
    border: solid 1px #aaaaaa; }
    #evcs-index .list_header .find_and_sort_stub form .submit:hover {
      background-color: #bbbbbb;
      text-decoration: none; }
    #evcs-index .list_header .find_and_sort_stub form .submit:active {
      background-color: #888888; }
    #evcs-index .list_header .find_and_sort_stub form .submit:focus {
      outline: 0; }
  #evcs-index .list_header .find_and_sort_stub form button.expand {
    background: #eeeeee url(../images/menu_arrow_hover.png) no-repeat center center; }
  #evcs-index .list_header .box {
    float: right;
    border: 1px solid #dddddd;
    background: #f7f7f7;
    padding: 10px;
    margin-right: 15px;
    position: relative; }
    #evcs-index .list_header .box h3 {
      font-weight: bold;
      border-bottom: 1px solid #dddddd;
      padding: 0 0 10px 0;
      margin-bottom: 10px; }
#evcs-index .circuit_view_options {
  width: 200px; }
#evcs-index #find_and_sort_dialog {
  -webkit-box-shadow: 5px 5px 10px #888888;
  -moz-box-shadow: 5px 5px 10px #888888;
  -ms-box-shadow: 5px 5px 10px #888888;
  -o-box-shadow: 5px 5px 10px #888888;
  box-shadow: 5px 5px 10px #888888;
  display: none;
  position: absolute;
  top: 64px;
  right: 15px;
  width: 450px;
  z-index: 600;
  border: 1px solid #bbbbbb;
  background: #f7f7f7;
  padding: 10px; }
  #evcs-index #find_and_sort_dialog h3 {
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding: 0 0 3px 0; }
  #evcs-index #find_and_sort_dialog .close_button {
    position: absolute;
    right: 0px;
    margin: -48px -15px 0 0; }
  #evcs-index #find_and_sort_dialog form {
    padding: 0 0; }
  #evcs-index #find_and_sort_dialog .submit {
    margin: 15px 0 0 0;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px #aaaaaa;
    -moz-box-shadow: 1px 1px 3px #aaaaaa;
    -ms-box-shadow: 1px 1px 3px #aaaaaa;
    -o-box-shadow: 1px 1px 3px #aaaaaa;
    box-shadow: 1px 1px 3px #aaaaaa;
    padding: 4px 10px 3px 10px;
    background: #eeeeee;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(250, 250, 250, 0.7);
    color: #333333;
    border: solid 1px #aaaaaa; }
    #evcs-index #find_and_sort_dialog .submit:hover {
      background-color: #bbbbbb;
      text-decoration: none; }
    #evcs-index #find_and_sort_dialog .submit:active {
      background-color: #888888; }
    #evcs-index #find_and_sort_dialog .submit:focus {
      outline: 0; }
  #evcs-index #find_and_sort_dialog label {
    display: block;
    font-weight: bold;
    font-size: 88%;
    margin: 10px 0 5px 0; }
  #evcs-index #find_and_sort_dialog label.date_range_to {
    text-align: center;
    margin: 5px 0 5px 0; }
  #evcs-index #find_and_sort_dialog select {
    width: 200px;
    margin-bottom: 1em; }
  #evcs-index #find_and_sort_dialog input.entry {
    width: 200px; }
  #evcs-index #find_and_sort_dialog select.sort {
    width: 170px; }
#evcs-index #search_controls {
  margin: 0 0 20px 20px;
  font-size: 0.8em; }
  #evcs-index #search_controls .filter_col {
    float: left;
    margin-right: 25px; }
  #evcs-index #search_controls label {
    display: block;
    line-height: 24px; }
  #evcs-index #search_controls img {
    float: right;
    position: relative;
    margin: -16px 0 0 0; }
    #evcs-index #search_controls img.sort_handle_image {
      margin-top: -18px; }
    #evcs-index #search_controls img.sort_add_image {
      margin-right: 16px; }
    #evcs-index #search_controls img.sort_remove_image {
      margin-right: 32px; }
  #evcs-index #search_controls .search input {
    width: 200px;
    padding: 3px 3px; }
  #evcs-index #search_controls .sort_by {
    width: 465px;
    line-height: 24px; }
    #evcs-index #search_controls .sort_by .ui-sortable-placeholder {
      background: #cc99ff; }
    #evcs-index #search_controls .sort_by .sort_row {
      margin: 5px 0; }
  #evcs-index #search_controls .show input {
    margin: 0 3px; }
#evcs-index .circuit_result_count {
  margin-left: 15px; }
#evcs-index #data_set_options {
  margin-top: 8px; }
#evcs-index #data_set_spinner {
  margin-top: 8px;
  display: none;
  padding: 12px 0; }
#evcs-index .evcs_list {
  clear: both; }
#evcs-index .evc_separator {
  margin: 0 15px; }

/* START:notice */
#notice {
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}
/* END:notice */


.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

.errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    /*margin: -7px;*/
    background-color: #c00;
    color: #fff;
}

.errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

.errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}


/* START:mainlayout */
/* Styles for main page */


#sidebar {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    /*padding-right: 1em;*/
    padding-bottom: 1em;
    width: 12em;
    background: #141;
}

#sidebar a {
    color: #bfb;
    font-size: small;
}

#use_case {
    color: white;
    border-top: 1px dotted #595;
}

#small_use_case {
    color: white;
    font-size: smaller;
    border-top: 1px dotted #595;
}

#main {
    margin-left: 13em;
    padding-top: 4ex;
    padding-left: 1em;
    padding-right: 1em;
    background: #FFFFCC;
    min-height: 89em;
}


/* END:mainlayout */
#input_column_left {
    float: left;
    width: 50%;
}
#input_column_right {
    margin-left: 50%;
}

/* START:i18n */
.locale {
    float:right;
    /*padding-top: 0.2em*/
}
/* END:i18n */


/*
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com
*/

#fancy_table table {
    background:#5C443a;
    border:1px solid gray;
    border-collapse:collapse;
    color:#fff;
    font:normal 12px verdana, arial, helvetica, sans-serif;
}
#fancy_table caption {
    border:1px dotted gray;
    background:#5C443A;
    color:#FFFFFF;
    font-weight:bold;
    letter-spacing:10px;
    padding:3px 2px 4px 0px;
    text-align:center;
    text-transform:uppercase;
}
#fancy_table td, th {
    color:#363636;
    padding:.4em;
}
#fancy_table tr {
    border:1px dotted gray;
}
#fancy_table thead th, tfoot th {
    background:#5C443A;
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:left;
    text-transform:uppercase;
}
#fancy_table tbody td a { color:#363636;
                          text-decoration:none;
}
#fancy_table tbody td a:visited { color:gray;
                                  text-decoration:line-through;
}
#fancy_table tbody td a:hover { text-decoration:underline;
}
#fancy_table tbody th a { color:#363636;
                          font-weight:normal;
                          text-decoration:none;
}
#fancy_table tbody th a:hover { color:#363636;
}
#fancy_table tbody td+td+td+td a { 
    /* background-image:url('bullet_blue.png');*/
    background-position:left center;
    background-repeat:no-repeat;
    color:#03476F;
    padding-left:15px;
}
#fancy_table tbody td+td+td+td a:visited { 
    /* background-image:url('bullet_white.png');*/
    background-position:left center;
    background-repeat:no-repeat;
}
#fancy_table tbody th, tbody td { text-align:left;
                                  vertical-align:top;
}
#fancy_table tfoot td { background:#5C443A;
                        color:#FFFFFF;
                        padding-top:3px;
}
#fancy_table tbody tr:hover { background:#99BCBF;
                              border:1px solid #03476F;
                              color:#000000;
}

.main_tabnav {
    color: #000;
    border-bottom:1px solid gray;
    margin: 13px 0px 0px 0px;
    padding: 0px;
    z-index: 1;
    padding-left: 10px }

.main_tabnav ul {
    margin: 0px;
    padding: 0px;
}

.main_tabnav li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }

.main_tabnav li span.disabled {
    color: #888888;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none;}

.main_tabnav a, main_tabnav a.active {
    color: #000000;
    background: #EEEEEE;
    /* font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;*/
    font:bold 12px verdana, arial, helvetica, sans-serif;
    border:1px solid gray;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }

.main_tabnav a.active {
    background: #FFFFCC;
    border-bottom: 3px solid #FFFFCC;
}

.main_tabnav a:hover {
    color: #FFFFFF;
    background: #CCCCCC; }

.main_tabnav a:visited {
    color: #000000; }

.main_tabnav a.active:hover {
    background: #FFFFFF;
    color: #000000; }

.main_tabnav_content {
    background: #FFFFCC;
    padding: 5px;
    border:1px solid gray;
    border-top: none;
    z-index: 2;
    min-height: 40em;
}


.spiffy{display:block}
.spiffy *{
    display:block;
    height:1px;
    overflow:hidden;
    font-size:.01em;
    background:#C3D9FF}
.spiffy1{
    margin-left:3px;
    margin-right:3px;
    padding-left:1px;
    padding-right:1px;
    border-left:1px solid #e5eeff;
    border-right:1px solid #e5eeff;
    background:#d2e2ff}
.spiffy2{
    margin-left:1px;
    margin-right:1px;
    padding-right:1px;
    padding-left:1px;
    border-left:1px solid #f9fbff;
    border-right:1px solid #f9fbff;
    background:#cee0ff}
.spiffy3{
    margin-left:1px;
    margin-right:1px;
    border-left:1px solid #cee0ff;
    border-right:1px solid #cee0ff;}
.spiffy4{
    border-left:1px solid #e5eeff;
    border-right:1px solid #e5eeff}
.spiffy5{
    border-left:1px solid #d2e2ff;
    border-right:1px solid #d2e2ff}
.spiffyfg{
    padding: 0 5px;
    background:#C3D9FF}

fieldset {
  background: #F6F6F6;
  border: 1px solid #D1D1D1;
  margin: 0px 15px 4px 0;
  padding: 1em;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  font-size: 14px;
  padding: 0px 5px;
}

.dashboard_sub_title {text-transform: uppercase; font-size: 10px; color: #666; margin: 0 0 8px 0; letter-spacing: 1px; white-space:nowrap;} 
.dashboard_stat { font-size: 250%; font-weight: bold; }
.dashboard_stat_total { font-size: 150%; font-weight:bold; color: #777;}
.dashboard_sub_title_list { font-size: 110%; font-weight:bold; }
.dashboard_stat_text { margin-bottom: 1ex; }
.dashboard_legend { margin: 6ex 0 1ex 0; float:left;}
.dashboard_legend_item { margin-bottom: 1ex;}
.dashboard_legend_box { border: solid 1px #999;-webkit-background-clip: padding-box; width: 15px; height: 15px; float:left; margin-right: 10px; margin-top: 2px; -webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}
.dashboard_legend_count {font-size: 11px;}
.sub_links { margin-top:2px;}
.sub_links a {padding: 0 2px;}
.sub_links a:first-child {padding-left: 0;}

#simple_table table {background:#f2f2f2; border-top:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:0px 1px 3px rgba(0,0,0,0.04); -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.04); -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.04);}
#simple_table table th {text-transform: uppercase; cursor:pointer;  text-align:left; padding:0 15px 0 10px; margin-right: 5px; text-shadow:1px 1px 0px rgba(255,255,255,0.6); height:30px; line-height:30px; font-size:12px; font-weight:700; color:#666666; box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset; -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset; -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(204,204,204)),color-stop(1, rgb(217,217,217))); background-image: -moz-linear-gradient(center bottom,rgb(204,204,204) 0%,rgb(217,217,217) 100%);}
#simple_table table th:hover {background:#ddd;}
#simple_table table td.empty {padding:30px 0; text-align:center; background:#f7f7f7;}
#simple_table table td {text-align:left; padding:4px 10px; border-top:1px solid #ddd;}
#simple_table table tr:nth-child(odd) td {background:#eee; border-bottom:none;}
#simple_table table tr:last-child td:first-child {-webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-left-radius: 4px;}
#simple_table table tr:last-child {-webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-left-radius: 4px;}
#simple_table table tr:hover td {background:#cae3ee;}
#simple_table table .small a {font-size:11px; color:#666;}

#simple_table table th.sorting_desc {background:#ddd url('../images/sort-desc.png') no-repeat 97% 50%;}
#simple_table table th.sorting_asc {background:#ddd url('../images/sort-asc.png') no-repeat 97% 50%;}
.dataTables_length {float:left; padding:5px;}
.dataTables_length select {margin:0;}
.dataTables_filter {float:right; padding:5px;}
.dataTables_wrapper {margin: 1em 0 2em 0; background:#ededed; border:1px solid #d1d1d1; padding: 0px; color:#888; background:#ccc; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(226,226,226)),color-stop(1, rgb(238,238,238))); background-image: -moz-linear-gradient(center bottom,rgb(226,226,226) 0%,rgb(238,238,238) 100%); box-shadow:0px 1px 0px rgba(255,255,255,0.15) inset; -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.35) inset; -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.15) inset; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.dataTables_filter input {box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:3px; border:1px solid #ccc;}
.dataTables_info {width:60%; display:inline-block; padding:5px 10px; color:#666; text-shadow:1px 1px 0px #eee; text-align:left; font-size:12px; font-style:italic; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.dataTables_filter input {display:inline-block;}
.dataTables_paginate { float:right; margin-right: 10px; margin-top: 5px; width: 42px;}

.paginate_enabled_previous, .paginate_disabled_previous, .paginate_enabled_next, .paginate_disabled_next { width: 20px; height: 20px; margin-left: 1px; background: url(../images/pagination.png) no-repeat; float:left; cursor:pointer; }
.paginate_enabled_previous { background-position: -21px -21px; }
.paginate_enabled_previous:hover { background-position: -1px -21px; }
.paginate_disabled_previous { background:none; }
.paginate_enabled_next { background-position: -21px -1px; }
.paginate_enabled_next:hover { background-position: 0px -1px; }
.paginate_disabled_next { background:none; }


/* Menu */

.login, .support, .legend {
  float: right;
  color: #888888;
  height: 45px;
  line-height: 45px;
  position: relative;
  margin-right: 10px; }
  .login a, .support a, .legend a {
    margin-right: 10px;
    color: #888888;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 10px 11px; }
    .login a:hover, .support a:hover, .legend a:hover {
      color: #444444; }
    .login a:active, .support a:active, .legend a:active {
      position: relative;
      top: 1px; }
    .login a.current, .support a.current, .legend a.current {
      color: #444444; }
  .login ul, .support ul, .legend ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.login {
  margin-right: 0px; }

.legend table {
  padding: 0 10px 10px 10px;
  white-space: nowrap; }
  .legend table th {
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold; }
  .legend table td {
    padding: 0 20px 0 10px; }
    .legend table td .dashboard_legend_box {
      float: left; }
    .legend table td .dashboard_legend_item {
      line-height: 22px;
      clear: both; }


li.dropdown a {
  padding-right: 20px;
  background: url("/images/menu_arrow.png") no-repeat right center; }
li.dropdown:hover a {
  background: url("/images/menu_arrow_hover.png") no-repeat right center;
  color: #444444; }
li.dropdown .dropdown-menu {
  z-index: 2000; }
li.dropdown .dropdown-menu li a {
  color: #888888;
  background-image: none; }
li.dropdown .dropdown-menu li a:hover {
  color: #444444; }

li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.menu-dropdown, .dropdown-menu {
  background-color: white;
  right: 0;
  float: left;
  display: none;
  position: absolute;
  top: 45px;
  z-index: 900;
  min-width: 220px;
  max-width: 460px;
  _width: 220px;
  margin-left: 0;
  margin-right: 0;
  padding: 2px 0;
  zoom: 1;
  border-color: #999999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0 1px 1px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.menu-dropdown li, .dropdown-menu li {
  float: none;
  display: block;
  background-color: none; }

.open .menu-dropdown, .dropdown.open .menu-dropdown, .open .dropdown-menu, .dropdown.open .dropdown-menu {
  display: block; }
