#master_dash
  %h1 Master Dashboard
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("grid_area", 
    "grid/_grid_status", 
    { frequency: 1800, method: 'get' })
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("abc_area", 
    "automated_build_center/_abc_status", 
    { frequency: 1800, method: 'get' })
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("da_area", 
    "data_archive/_da_status", 
    { frequency: 1800, method: 'get' })
  %script{ type: "text/javascript" }
    new Ajax.PeriodicalUpdater("lkp_area", 
    "lkp/_lkp_status", 
    { frequency: 1800, method: 'get' })
  %fieldset
    %legend Grid
    #grid_area
      %p Loading...
    = link_to 'More Grid Status Info', controller: :grid, action: :index
  %fieldset
    %legend ABC
    #abc_area
      %p Loading...
    = link_to 'More Automated Build Center Status Info', controller: :automated_build_center, action: :index
  %fieldset
    %legend DA
    #da_area
      %p Loading...
    = link_to 'More Data Archive Status Info', controller: :data_archive, action: :index
  %fieldset
    %legend LKP
    #lkp_area
      %p Loading...
    = link_to 'More LKP Status Info', controller: :lkp, action: :index
