%fieldset
  %legend= name
  - if globals.nil? || globals.empty?
    %p No global configruations
  - else
    %div{ :class => "history" }
      %table
        %tr
          %th Name
          %th Value
        - globals.each do |k,v|
          %tr
            %td= k
            %td= v
  - if CENX_APPS[:osl].nil?
    %p Please set :osl url in 02_cenx_apps.rb to enable config edits
  - else
    - case mode
    - when :att
      %p AT&T Website
      %ul
        %li= link_to "Local", "#{CENX_APPS[:osl]}webit/global-set/att_ordering_url/#{CGI::escape("http://att.local")}"
        %li= link_to "Demo", "#{CENX_APPS[:osl]}webit/global-set/att_ordering_url/#{CGI::escape("http://toto.cenx.localnet:4849")}"
        %li= link_to "Live", "#{CENX_APPS[:osl]}webit/global-set/att_ordering_url/#{CGI::escape("https://access-os2.att.com")}"
      %p AT&T User
      %ul
        %li= link_to "aforward", "#{CENX_APPS[:osl]}webit/global-set/username/aforward"
        %li= link_to "srycroft", "#{CENX_APPS[:osl]}webit/global-set/username/srycroft"
    - when :jira
      %p Jira Project
      %ul
        %li= link_to "Demo (EOT)", "#{CENX_APPS[:osl]}jira/set/project/EOT"
        %li= link_to "Live (EO)", "#{CENX_APPS[:osl]}jira/set/project/EO"
