%fieldset
  %legend= name
  - if orders.nil? || orders.empty?
    %p No orders processed
  - else
    %div{ :class => "history" }
      %p= "The last #{orders.size} order(s)"
      %table
        %tr
          %th Cascade
          %th PON
          %th ICSC
          %th State
          %th Last Accessed
        - orders.each do |o|
          %tr
            %td= o[:cascade]
            %td= o[:attributes]["PON"]
            %td= o[:attributes]["ICSC"]
            %td= o[:state]
            %td= Cmaudit::Validator.time_to_s(o[:ts],"","%Y-%m-%d %H:%M:%S UTC")
