%fieldset
  %legend= name
  - if statuses.nil? || statuses.empty?
    %p No order statuses processed
  - else
    %div{ :class => "history" }
      %table
        %tr
          %th Cascade
          %th Should Receive Answer By
        - statuses.each do |cascade,due_by|
          %tr
            %td= cascade
            %td= "#{due_by} UTC"

