%fieldset
  %legend Order Command History
  =form_tag('/order/history', :controller => 'order', :action => 'history') do
    = text_field_tag( :num_lines, @history.size)
    = submit_tag("Refresh")
  = render partial: "eve/history", locals:  { history: @history, controller: "" }