%fieldset
  %legend Order Summary

  = render :partial => "order/globals", :locals => { :name => "AT&T Ordering Config", :globals => @webit_globals, :mode => :att }
  = render :partial => "order/globals", :locals => { :name => "Jira Ticket Config", :globals => @jira_globals, :mode => :jira }
  = render :partial => "order/list", :locals => { :name => "UNI Order Status", :orders => @uni_orders }
  = render :partial => "order/list", :locals => { :name => "EVC Order Status", :orders => @evc_orders }
  = render :partial => "order/unconfirmed_status", :locals => { :name => "UNI Unconfirmed FOCs", :statuses => @uni_statuses }
  = render :partial => "order/unconfirmed_status", :locals => { :name => "EVC Unconfirmed FOCs", :statuses => @evc_statuses }
  = render :partial => "eve/jira_cmds", :locals => { :name => "Jira Tickets", :cmds => @jira_cmds }
  = render :partial => "eve/exec", :locals => { :name => "Ordering Current Task", :exec => @order_exec }
  = render :partial => "eve/enqueue", :locals => { :name => "Ordering Upcoming Tasks (#{@order_q})", :enqueued => @order_enqueued }
  = render :partial => "eve/queue_processed", :locals => { :name => "Ordering Processed Tasks", :enqueued => @order_processed }
  = render :partial => "eve/queue_failed", :locals => { :name => "Ordering Failed Tasks", :enqueued => @order_failed }
  = render :partial => "eve/enqueue", :locals => { :name => "Sitehandler Upcoming Tasks (#{@sitehandler_q})", :enqueued => @sitehandler_enqueued }
  = render :partial => "eve/polling", :locals => { :poll_cmds => @poll_cmds, :duration => @poll_duration, :polling => @polling }

  <script type="text/javascript">
  new Ajax.PeriodicalUpdater("update_area", "/order/_order_status", 
  { frequency: 30, method: 'get' })
  </script>
  #update_area
    %p Loading...

  %fieldset
    %legend Versions and Misc
    %ul
      %li
        = render :partial => "grid/versions", :locals => { :versions => @versions, :names => ["Eve","Grid", "Osl"] }
      %li= render :partial => "eve/redis", :locals => { :redis => @redis }
