- if poe.unprocessed?
  %h3
  - if @has_pending_jobs
    %p In a few moments, your POE should begin processing:
    = render :partial => "plan_of_execution/spinner"
  - else
    %h3 Unprocessed

  = "Location: #{poe.filename}"
  %br
  = "# Circuits To Be Processed: #{poe.build_summary[:overall][:count]}"
  %ul
    - poe.build_summary.each do |name,data| 
      - next if [:internal,:overall].include? name
      %li
        = "#{name}: #{data[:count]}"
- elsif poe.processing?
  %h3
    Processing...
    = render :partial => "plan_of_execution/spinner"
  = "Location: #{poe.filename}"
  %br
  = "# Path Processed So Far: #{poe.build_summary[:overall][:processed]} out of #{poe.build_summary[:overall][:count]}"
  %ul
    - poe.build_summary.each do |name,data|
      - next if name == :overall || name == :internal
      %li= "# #{name == :overall ? "Paths" : name} (#{data[:processed]} of #{data[:count]}): #{data[:successes]} successes, #{data[:failures]} failures, #{data[:errors]} errors"

- elsif poe.processed?
  %h3 Processed
  = "Paths Processed: #{poe.build_summary[:overall][:processed]}"
  %ul
    - poe.build_summary.each do |name,data|
      - next if name == :overall || name == :internal
      %li= "# #{name == :overall ? "Paths" : name} (#{data[:processed]}): #{data[:successes]} successes, #{data[:failures]} failures, #{data[:errors]} errors"

- else
  %h3 Status
  %pre -- N/A --
