
<% if poe.unprocessed? -%>
<%   if @has_pending_jobs -%>
  <h3>In a few moments, your POE should begin processing: <%= render :partial => "plan_of_execution/spinner" %></h3>
<%   else -%>
  <h3>Unprocessed</h3>
<%   end -%>
  Located: <%= poe.filename %></br>
  # Paths To Be Processed: <%= poe.build_summary[:overall][:count] %>
  <ul>
<%   poe.build_summary.each do |name,data| -%>
    <li># <%= name == :overall ? "Paths" : name %>:  <%= data[:count] %></li>
<%   end -%>
  </ul>
<% elsif poe.processing? -%>
  <h3>Processing... <%= render :partial => "plan_of_execution/spinner" %></h3>
  Located: <%= poe.filename %></br>
  # Path Processed So Far: <%= poe.build_summary[:overall][:processed] %> out of <%= poe.build_summary[:overall][:count] %>
  <ul>
<%   poe.build_summary.each do |name,data| -%>
<%     next if name == :overall || name == :internal -%>
    <li>
      # <%= name == :overall ? "Paths" : name %> (<%= data[:processed] %> of <%= data[:count] %>):  
      <%= data[:successes] %> successes, <%= data[:failures] %> failures, <%= data[:errors] %> errors
    </li>
<%   end -%>
  </ul>

<% elsif poe.processed? -%>
  <h3>Processed</h3>
  # Paths Processed: <%= poe.build_summary[:overall][:processed] %>
  <ul>
<%   poe.build_summary.each do |name,data| -%>
<%     next if name == :overall || name == :internal -%>
    <li>
      # <%= name == :overall ? "Paths" : name %> (<%= data[:processed] %>):  
      <%= data[:successes] %> successes, <%= data[:failures] %> failures, <%= data[:errors] %> errors
    </li>
<%   end -%>
  </ul>

<% else -%>
  <h3>Status</h3>
  <pre>-- N/A --</pre>
<% end -%>
  <div>

