<script>
  var time = new Date().getTime();
  function refresh() 
  {
    if(new Date().getTime() - time >= 10000) { window.location.reload(true); }
    else { setTimeout(refresh, 4000); }
  }
  setTimeout(refresh, 4000);
</script>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" /></span>