<%
spreadsheet = Kpigen::Spreadsheet.load(poe.filename, :max_data_rows => 100) || Kpigen::Spreadsheet.new
num_processed = poe.build_summary[:overall][:processed]
0.upto(num_processed - 1).each { |i| spreadsheet.add_row_attribute(i,"class","processed") }
spreadsheet.add_row_attribute(num_processed,"class","processing") if poe.processing?
%>
<style>
.spreadsheet table { width: 95%; margin: 10px 0 10px 0; border-collapse:collapse; }
.spreadsheet table, .spreadsheet tr, .spreadsheet th, .spreadsheet td { border: 1px solid black; padding: 2px 5px 2px 2px; }
.spreadsheet th.primary { background-color: #CFCFCF;  }
.spreadsheet th.secondary { background-color: #f6f6f6; }

.spreadsheet td.processed { background-color: #F1F4CD; }
.spreadsheet td.processing { background-color: #03C2EC; }
.spreadsheet td.unprocessed { background-color: white; }

</style>
  <div class="spreadsheet">
    <table>
<%  0.upto(spreadsheet.num_header_rows-1).each do |index| -%>
      <tr>
<%    spreadsheet.get_header_row(index).each do |header| %>        
        <th class="<%= index == spreadsheet.header_row_index ? "primary" : "secondary" %>" ><%= header %></th>
<%    end -%>
      </tr>
<%  end -%>
<%   0.upto(spreadsheet.num_data_rows-1).each do |index| -%>
      <tr>
<%     spreadsheet.get_data_row(index).each do |entry| %>
        <td class="<%= spreadsheet.row_attributes_at(index,"class") || "unprocessed" %>"><%= entry %></td>
<%     end -%>
      </tr>
<%   end -%>
    </table>
  </div>
