%style
  .poe h2 { padding: 5px 0 3px 0; margin: 0 }
  .poe h3 { padding: 20px 0 3px 0; margin: 0 }
  .poe h4 { padding: 20px 0 3px 0; margin: 0 }
  .poe .pre { padding: 0; margin: 0; }

- if @all.empty?
  = render :partial => "plan_of_execution/none"
- else
  %h2 POE Listings
  - @all.each do |poe|
    %h3= poe.title
    %ul
      - poe.versions.each do |version|
        %li
          %div{ :class=>"poe2" } 
            %h2
              = link_to version, :action => :show, :id => poe.id, :version => Osl::PlanOfExecution.strip_for_url(version)
  - unless @queued_tasks.empty?
    %h3 The following tasks are queued up to be processed:
    %ul
      - @queued_tasks.each do |task|
        %li= task