%h1 Upload VIP Spreadsheets

= form_for :file_upload, {:html => {:multipart => true,:id => "file_upload"}, :url => { :action => :create }} do |f|
  
  %p= f.file_field :poe

  %p 
    If this is a new VIP:
    %br
    = f.submit :value => "Create NEW VIP"
  
  %p 
    For updated spreadsheets (i.e. same filename):
    %br
    = f.submit :value => "Update Existing VIP"