

<p>In a few moments, your POE (<%= @poe.id %>) should begin processing:</p>
<ul>
  <li><%= link_to "Track POE progress", :controller => :plan_of_execution, :action => :show, :id => @poe.id %></li>
  <li><%= link_to "Troubleshoot if POE is not starting (JOB Server)", "/jobs" %></li>
</ul>