%div= link_to 'Back to Summary', :controller => :plan_of_execution, :action => :index
%style
  = ".por h2 { padding: 5px 0 3px 0; margin: 0 }"
  = ".por h3 { padding: 20px 0 3px 0; margin: 0 }"
  = ".por h4 { padding: 20px 0 3px 0; margin: 0 }"
  = ".por .pre { padding: 0; margin: 0; }"

%div{ :class => "por" }
  
  - if @poe.nil?
    %h2 Unknown POE
  - else
    - if @poe.current_version.nil?
      %h2= "#{@poe.bulk_order.title} (Latest Version -- #{@poe.id})"
    - else    
      %h2= "#{@poe.bulk_order.title} (#{@poe.current_version} -- #{@poe.id})"

    - if @poe.unprocessed? && !@has_osl_workers 
      %br
      %div{ :class=>"error" }Workers Not Available Yet, refresh page to check again.
    - elsif @poe.unprocessed? && !@has_pending_jobs
      = button_to "process", :controller => :plan_of_execution, :action => :process_poe, :id => @poe.id

    = render :partial => "plan_of_execution/build_summary", :locals => { :poe => @poe }
    = render :partial => "plan_of_execution/spreadsheet", :locals => { :poe => @poe }

    %h3 Detailed Logs  
    - @poe.logs.reverse.each do |l|
      %h4= "#{l.filename} -- #{l.when_to_s}"
      %div
        %pre= l.content

    - if @poe.logs.empty?
      = "-- N/A --"
