%fieldset
  %legend= name
  - if exec[:exec]
    %p The following processes appear to be running.
    %div{ :class => "history" }
      %table
        %tr
          %th Task
          %th PID
          %th Started At
        - exec[:process_info].each do |pid,cmds|
          - cmds.each_with_index do |data,index|
            - notice = index == 0 ? "" : "SUB TASK (#{index}) "
            %tr
              %td= "#{notice}#{data["cmd"]}"
              %td= pid 
              %td= Cmaudit::Validator.time_to_s(data["started"],"","%Y-%m-%d %H:%M:%S UTC")
  - else
    %p The process is idle