%style
  = ".history table { width: 95%; margin: 10px 0 10px 0; border-collapse:collapse; }"
  = ".history table, .history tr, .history th, .history td { border: 1px solid black; padding: 2px 5px 2px 2px; }"
  = ".history th { background-color: #c6c6c6; }"
%fieldset
  %legend History
  -if history.empty?
    %p
      No history
      = " (may be filtered) " unless controller.empty?
      =button_to "More History", {:controller => controller, :action => "history"} unless controller.empty?
  - else
    %div{ :class => "history" }
      %p
        ="The last #{history.size} command(s) are:"
        =button_to "More History", {:controller => controller, :action => "history"} unless controller.empty?
      %table
        %tr
          %th Command
          %th Duration
          %th Started At
        - history.each do |data|
          %tr
            %td= data[:cmd]
            %td= data[:duration]
            %td= "#{data[:started]} UTC"