%fieldset
  %legend= name
  - if cmds.nil? || cmds.empty?
    %p No jira tickets raised or resolved
  - else
    %div{ :class => "history" }
      %p= "The last #{cmds.size} tickets tracked from our systems."
      %table
        %tr
          %th Operation
        - cmds.each do |cmd|
          %tr
            %td= cmd

