%fieldset
  %legend Polling
  - if polling[:exec]
    %p Polling is on
    %ul
      - polling[:process_info].each do |pid,data|
        %li= "#{data["status"]} (#{pid} running since #{data["started"]})"
  - else
    %p Polling is off

  - if poll_cmds.empty?
    %p Not configured to poll any commands
  - else
    - friendly_duration = Eve::Message.friendly_duration(duration)
    %p= "Polling configured to run the following commands every #{friendly_duration}"
    %ul
      - poll_cmds.each do |cmd|
        %li= cmd