%fieldset
  %legend= name
  - if !enqueued.empty?
    %div{ :class => "history" }
      %p The following tasks were processed
      %table
        %tr
          %th Command
          %th Started At
        - enqueued.each do |cmd,ts|
          %tr
            %td= cmd
            %td= Cmaudit::Validator.time_to_s(ts,"","%Y-%m-%d %H:%M:%S UTC")
  - else
    %p No tasks have been processed yet.
