Redis: 
- if redis.nil?
  NONE.  E.g. redis mem, redis local, redis 127.0.0.1:4848, redis /path/to/redis.sock
- elsif redis.class.to_s == "MockRedis"
  Iin memory instance of redis -- nothing persisted!
- elsif !redis.client.host.nil?
  = "#{redis.client.host}:#{redis.client.port}"
- elsif !redis.client.path.nil?
  = "#{redis.client.path}"
- else
  Unknown
  %pre= redis.inspect