<div id="input_column_left">                                                                       
<p> *Name:<br/><%= f.text_field :name, :size => 60%> </p>
<p> *Enabled:<%= f.check_box :enabled %> </p>
<p> *Trigger:<br/><%= f.text_field :trigger, :size => 60%> </p>
<p> *Execution Time:<br/><%= datetime_select "sr", "execution_time" %> </p>
<p> *Timezone:<br/><%= time_zone_select( "sr", "timezone", nil, :include_blank => true) %> </p>
<p> *Retention Time(days):<br/><%= f.text_field :retention_time, :size => 60%> </p>
<p> Last Run:<br/><%= f.text_field :last_run, :size => 60, :disabled => 'disabled' %> </p>
<p> *Scheduled Task:<br/><%= select_tag "sr[scheduled_task_id]", raw(((@sr.scheduled_task_id) ? "" : "<option>Select</option>") + options_from_collection_for_select(ScheduledTask.all, :id, :name, @sr.scheduled_task_id)) %>
<% if @sr.scheduled_task_id != nil %>
   <%=  link_to "View Scheduled Task ", :action => 'edit_st', :id =>  @sr.scheduled_task_id %>
<% end %>	
</p>
</div>
<div id="input_column_right">                                                                       
<h2>Email Options</h2>
<p> Email Distribution:<%= f.check_box :email_distribution %>  </p>
<p> Attachments:
<% @sr.formats.each do |key, value| %>
 <%= key %>:<%= check_box_tag "sr[formats[#{key}]]", true, value %>
<% end %> </p>
<p> Email To: (comma separated)<br/><%= f.text_field :email_to, :size => 60%> </p>
<p> Email Cc: (comma separated)<br/><%= f.text_field :email_cc, :size => 60%> </p>
<p> Email Bcc: (comma separated)<br/><%= f.text_field :email_bcc, :size => 60%> </p>
<p> Email Subject:<br/><%= f.text_field :email_subject, :size => 60%>  </p>
<p> Email Body:<br/><%= f.text_area :email_body, :rows => 10, :columns => 60%>  </p>
</div>