<p> Run Date:<br/><%= datetime_select "report", :run_date %> </p>
<p> Report Period start:<br/><%= datetime_select "report", :report_period_start %>  </p>
<p> Report Period end:<br/><%= datetime_select "report", :report_period_end %>  </p>
<p> Number Minor Exceptions:<br/><%= f.text_field :minor_exceptions, :size => 60%> </p>
<p> Number Major Exceptions:<br/><%= f.text_field :major_exceptions, :size => 60%> </p>
<p> Number Critical Exceptions:<br/><%= f.text_field :critical_exceptions, :size => 60%> </p>
<% if @report.schedule != nil %>
   <%=  link_to "View Schedule ", :action => 'edit_schedule', :id =>  @report.schedule_id %>
<% else %>
  <strong> No Schedule!!</strong>
<% end %>