<p> *Name:<br/><%= f.text_field :name, :size => 60%> </p>
<p> Scheduled Task type:</br><%= f.text_field :type, :size => 60, :readonly => true %> </p>

<%= render(:partial=> 'options_subclass_st', :object => @st, :locals => {:f => f})%>
