<div id="st_subclass_options">
<% if @st.type == "FilterTemplate" %>
 <p> User: <%= select_tag "st[user_id]", raw(options_from_collection_for_select(User.all, :id, :email, @st.user_id)), :include_blank => true %> </p>
 <% if !@st.new_record? %>
  <p> Environment:</br><%= f.text_field :environment, :size => 60, :readonly => true %> </p>
  <p> Executable:<br/><%= text_field_tag "executable_script", @st.executable_script, :size => 60, :readonly => true %> </p>
 <% end %>
 <p> *filter Options:<br/><%= text_field_tag "st[filter_options]", @st.filter_options.to_json, :size => 60%> </p>
 <p> Report type:</br><%= f.text_field :report_type, :size => 60 %> </p>
<% elsif @st.type == "ScheduledAudit" %>
 <p> *Audit:</br><%= select_tag "st[report_type]", raw(options_for_select(ScheduledAudit::POSSIBLE_AUDITS.keys, @st.report_type)) %> </p>
 <% if !@st.new_record? %>
  <p> Environment:</br><%= f.text_field :environment, :size => 60, :readonly => true%> </p>
  <p> Executable:<br/><%= text_field_tag "executable_script", @st.executable_script, :size => 60, :readonly => true %> </p>
  <p> User:</br><%= select_tag "st[user_id]", raw(options_from_collection_for_select(User.all, :id, :email, @st.user_id)), :include_blank => true, :readonly => true %> </p>
 <% end %>
<% else %>
  <p> *User:</br><%= select_tag "st[user_id]", raw(options_from_collection_for_select(User.all, :id, :email, @st.user_id)), :include_blank => true %> </p>
  <p> *Executable:<br/><%= text_field_tag "executable_script", @st.executable_script, :size => 60 %> </p>
  <p> *Environment:</br><%= select_tag "st[environment]", raw(options_for_select(ScheduledTask::ENVIRONMENTS, @st.environment)) %> </p>
<% end %>
</div>
