<h1>Edit Scheduled Task</h1>
<%= error_messages_for 'st' %>

<%= form_for :st, :url => { :action => 'update_st', :id => @st.id} do |f| %>
 <fieldset>
  <legend>Details</legend>
    <%= render( :partial => 'input_st', :object => @st, :locals => {:f => f}) %>
 </fieldset>
<%= submit_tag 'Update', :class => 'submit', :confirm => "If the filter_options have been changed this will update all previous reports. Are you Sure?"%>
<% end %>

<%= render( :partial => 'admin/list_any_type', :object => @st.schedules,
             :locals => {
				:legend => 'Schedules',
                :fcn_tail => 'schedule',
                :cols => %w{Name Trigger Enabled Last\ Run Email\ Enabled},
                :local_link => nil,
                :detail_link => 'name',
				:attrs => %w{trigger enabled last_run email_distribution},
				:details => %w{}
				} ) %>
<%= button_to 'Add Schedule', :action => 'new_schedule' %>
