<h1>Edit Report</h1>
<%= error_messages_for 'report' %>

<%= form_for :report, :url => { :action => 'update_report', :id => @report.id} do |f| %>
 <fieldset>
  <legend>Details</legend>
    <%= render( :partial => 'input_report', :object => @report, :locals => {:f => f}) %>
 </fieldset>
<%= submit_tag 'Update', :class => 'submit' %>
<% end %>

