<h1>Edit Schedule <%= @sr.name %></h1>
<%= error_messages_for 'sr' %>

<%= form_for :sr, :url => { :action => 'update_schedule', :id => @sr.id} do |f| %>
 <fieldset>
  <legend>Details</legend>
    <%= render( :partial => 'input_schedule', :object => @sr, :locals => {:f => f}) %>
 </fieldset>
<%= submit_tag 'Update', :class => 'submit' %>
<% end %>

<%= button_to 'Run now', :action => 'run_now_schedule', :id => @sr.id %>

<%= render( :partial => 'admin/list_any_type', :object => @reports,
             :locals => {
				:legend => 'Reports',
                :fcn_tail => 'report',
                :cols => %w{Run\ Date Period\ Start Period\ End Critical Major Minor},
                :local_link => nil,
                :detail_link => 'run_date',
				:attrs => %w{report_period_start report_period_end critical_exceptions major_exceptions minor_exceptions},
				:details => %w{}
				} ) %>
