<%= form_tag :action => 'index_schedule' do %>
  <%= render :partial => 'admin/list_any_type', :object => @srs,
             :locals => {
				:legend => 'Schedules',
				:fcn_tail => 'schedule',
				:cols => %w{Name Enabled Trigger Email Last\ Run},
                :local_link => 'name',
                :detail_link => nil,
				:attrs => %w{enabled trigger email_distribution last_run},
				:details => %w{},
				:enable_search => true
				} %>
				
  <%= submit_tag "Reset Filtering" %>
<% end %>
<%= button_to 'Add', :action => 'new_schedule' %>
