<%= form_tag :action => 'index_st' do %>
  <%= render :partial => 'admin/list_any_type', :object => @sts,
             :locals => {
				:legend => 'Scheduled Tasks',
				:fcn_tail => 'st',
				:cols => %w{Name Report\ Type},
                :local_link => 'name',
                :detail_link => nil,
				:attrs => %w{type},
				:details => %w{},
				:enable_search => true
				} %>
				
  <%= submit_tag "Reset Filtering" %>

<% end %>
<%= form_tag :action => 'new_st' do %>
 <%= select_tag "type", options_from_collection_for_select((ScheduledTask.descendants << 'ScheduledTask'.constantize), 'name', 'name') %>
 <%= submit_tag 'Create' %>
<% end %>




