<h1>New Schedule:</h1>
<%= error_messages_for 'schedule' %>
<%= form_for :sr, :url => { :action => 'save_schedule', :id => @sr.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
	<%= render :partial => 'input_schedule', :object => @sr, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag "Save", :class => "submit" %>
 <% end %>
