<h1>New Scheduled Task:</h1>
<%= error_messages_for 'st' %>

<%= form_for :st, :url => { :action => 'save_st', :id => @st.id } do |f| %>
  <fieldset>
    <legend>Details</legend>
	<%= render :partial => 'input_st', :object => @st, :locals => {:f => f} %>
  </fieldset>
  <%= submit_tag "Save", :class => "submit" %>
 <% end %>
