Dear Valued Customer,</br>
Your <%= @order_type %> order has been placed with Coresite.</br>
<% if !@order_info[:auto_accept] %>
<%= @order_info[:tenant_z] %> has specified that orders from you (<%= @order_info[:tenant_a] %>) must be explicitly accepted.</br>
This order will complete once <%= @order_info[:tenant_z] %> accepts this order via the Coresite Portal.</br>
<% end %>
<%= render(:partial=> 'order_info') %>

If you have any questions please direct them to <%= @coresite_contact.name %> (<%= @coresite_contact.e_mail %>)
</br>
</br>Regards,
</br>Coresite Provisioning