Dear <%= @coresite_contact.name %>,</br>
A <%= @order_type %> order has been <%= @order_abort_reason %>.</br>

<%= render(:partial=> 'coresite_order_info') %>

</br>Regards,
</br>Coresite Provisioning