Dear <%= @coresite_contact.name %>,</br>
The following <%= @order_type %> order has been placed with CoreSite.</br>
<% if !@order_info[:auto_accept] %>
<%= @order_info[:tenant_z] %> has specified that orders from <%= @order_info[:tenant_a] %> must be explicitly accepted.
This order will complete once <%= @order_info[:tenant_z] %> accepts this order via the Coresite Portal.</br>
<% end %>

<%= render(:partial=> 'coresite_order_info') %>

</br>Regards,
</br>Coresite Provisioning