Dear <%= @coresite_contact.name %>,</br>
A <%= @order_type %> NNI order has been processed.</br>
<p></p>
NNI Work Order Number: <%= @order_info[:work_order] %>
<br/>Tenant: <%= @order_info[:tenant_name] %>
<br/>Site: <%= @order_info[:sitename] %>
<br/>Port Info: <%= @port_name %>
<br/>Tenant ID: <%= @order_info[:external_name] %>
<br/>CoreSite ID: <%= @order_info[:work_order] %> <!-- The CoreSite member handle is the same as the work_order -->
<br/>Phy Type: <%= @order_info[:phy_type] %>

<p></p>Regards,
</br>Coresite Provisioning