Dear Valued Customer,</br>
A <%= @order_type %> order has been <%= @order_abort_reason %> where you are the target.</br>

<%= render(:partial=> 'order_info') %>

If you have any questions please direct them to <%= @coresite_contact.name %> (<%= @coresite_contact.e_mail %>)
</br>
</br>Regards,
</br>Coresite Provisioning