<%= button_to_remote 'Check CoreSite OSS connectivity',
  :url => {:action => "test_coresite_oss"},
  :update => 'oss_result' %>
</br>

Site: <%=  collection_select( :obj , :id, Site.all, :id, :name ,
  options ={:prompt => "Select", :selected => @id},
  :class =>"site")%>

<%= button_to_remote 'Check Site connectivity',
  :url => {:action => "check_site"},
  :update => 'site_info',
  :before => "Element.show('spinner_site_info')",
  :complete => "Element.hide('spinner_site_info')",
  :with => "'site=' + $('obj_id').value" %>
<span><img alt="spinner_site_info" id="spinner_site_info" src="/images/small-loading.gif" style="display:none"/></span>
<%= render :partial => 'site_info' %>

</br>

Path: <%=  collection_select( :obj , :id, @paths, :id, :cenx_name ,
  options ={:prompt => "Select", :selected => @id},
  :class =>"path")%>

Ignore Errors <%= select_tag 'ignore_errors', options_from_collection_for_select(@config_options, "to_s", "to_s") %>

<%= button_to_remote 'Delete Router Configuration',
  :url => {:action => "del_config"},
  :update => 'oss_result',
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :with => "'path=' + $('obj_id').value + '&ignore_errors=' + $('ignore_errors').value" %>

<%= button_to_remote 'Configure Router',
  :url => {:action => "router_config"},
  :update => 'oss_result',
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :with => "'path=' + $('obj_id').value + '&ignore_errors=' + $('ignore_errors').value" %>

<%= button_to_remote 'Clear fallout',
  :url => {:action => "clear_fallout"},
  :update => 'oss_result',
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :with => "'path=' + $('obj_id').value" %>

</br>
Node: <%=  collection_select( :node_obj , :id, @nodes, :id, :name ,
  options ={:prompt => "Select", :selected => @id},
  :class =>"node")%>
<%= button_to_remote 'Execute Commands',
  :url => {:action => "execute_commands"},
  :update => 'oss_result',
  :before => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :with => "'node=' + $('node_obj_id').value + '&ignore_errors=' + $('ignore_errors').value + '&cmds=' + $('router_cmds').value" %>
<p> Router Configuration commands:<br/><%= text_area_tag :router_cmds, @router_cmds, :cols => 60, :rows => 5 %> </p>

<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<p> Result (Scroll to the bottom to see the latest result):<br/><%= text_area_tag :oss_result, @result, :cols => 60, :rows => 10, :readonly => true %> </p>


