<div id='site_info'>

<% if @node_counts %>
<%= render :partial => 'admin/list_any_type', :object => @node_counts,
           :locals => {
		     :legend => 'Site Connectivity Summary',
		     :fcn_tail => '',
		     :cols => ["Reason", "Count"],
             :local_link => nil,
             :detail_link => nil,
		     :attrs => %w{first last},
		     :details => %w{},
		     :enable_search => true
		   }
%>
<%= render :partial => 'admin/list_any_type', :object => @error_info,
           :locals => {
		     :legend => 'Site Connectivity Details',
		     :fcn_tail => '',
		     :cols => ["CDB Node Name", "CDB IP Address", "Router Prompt", "Failure Reason"],
             :local_link => nil,
             :detail_link => nil,
		     :attrs => %w{fetch(:node_name) fetch(:ip_address) fetch(:prompt) fetch(:reason)},
		     :details => %w{},
		     :enable_search => true
		   }
%>
<% end %>
</div>