<div id='build_logs_auto_update'>

<script type="text/javascript">
  new Ajax.PeriodicalUpdater("build_logs_auto_update", 
    "/coresite_build_center/auto_update", 
    { frequency: 30, 
      method: 'get' })
</script>

<%= render :partial => 'update' %>
</div>
<fieldset>
	<legend>Import Tenants</legend>
	<%= form_tag({:action => :upload_tenants}, :multipart => true) do %>
	  <%= file_field_tag :tenants_file %>
	  <%= submit_tag :Upload %>
	<% end %>
</fieldset>
<fieldset>
 <legend>CoreSite Build Center Logs</legend>
 <%= form_tag :action => "abc_filter", :method => 'post' do %>
   <p>Circuit Id:<%= text_field_tag 'cid_filter', @cid_filter, :size => 30 %>
   Summary:<%= text_field_tag 'summary_filter', @summary_filter, :size => 10 %>

 <%= button_to_remote 'Filter',
   :url => {:action => "abc_filter"},
   :update => 'abc_results',
   :with => "'cid_filter=' + $('cid_filter').value + '&summary_filter=' + $('summary_filter').value" %>
 <% end %>
 </p>
<%= render :partial => 'abc_results' %>
</fieldset>

<fieldset>
 <legend>CoreSite Tools</legend>
 <%= render :partial => 'coresite_tools' %>
</fieldset>






