<table border="0">
	<tr><td>Total: </td><td><%= @results[:total] %></td></tr>
	<tr><td>Complete: </td><td><%= @results[:complete] %></td></tr>
	<tr><td>Changed: </td><td><%= @results[:changed] %></td></tr>
	<tr><td>Already Imported: </td><td><%= @results[:skipped] %></td></tr>
	<tr><td>Missing National Tenant: </td><td><%= @results[:missing_id] %></td></tr>
	<tr><td>Missing Site: </td><td><%= @results[:missing_site] %></td></tr>
	<tr><td>Contacts Created: </td><td><%= @results[:contacts] %></td></tr>
	<tr><td>Failed: </td><td><%= @results[:failed] %></td></tr>
</table>

<%= text_area_tag :output, @output, :cols => 60, :rows => 20, :readonly => true %>