Order Title:                  <%= @so.title %>
Service Being Ordered:        <%= (@so.ordered_entity_subtype && !@so.ordered_entity_subtype.empty? && @so.ordered_entity_type != "UNI") ? @so.ordered_entity_subtype : @so.ordered_entity_type %>
Cenx ID:                      <%= @so.cenx_id %>
<% if @so.operator_network -%>
Member:                       <%= @so.operator_network.service_provider.name %>
Operator Network:             <%= @so.operator_network.name %>
<% end -%>
<% if @so.type == "OnNetOvcOrder" || @so.type == "OffNetOvcOrder" -%>
Path:                          <%= @so.path.cenx_name %>
<% end -%>
<% if ["OffNetOvcOrder", "DemarcOrder", "UniOrder"].include? @so.type -%>
Selling Member:               <%= @so.osp_info_so %>
Seller Network:               <%= @so.oon_info_so %>
  <% if @so.ordered_object_type -%>
Ordered Entity Group:         <%= @so.oeg_info_so %>
Ordered Entity Type:          <%= @so.oet_info_so %>
  <% end -%>
<% end -%>
Order Activity Type:          <%= @so.action %>
Entity Affected:              <%= (@so.ordered_entity ? @so.ordered_entity.cenx_name : "Unknown") %>
Expedite:                     <%= @so.expedite %>
Order Received Date:          <%= @so.order_received_date %>
Requested Service Date:       <%= @so.requested_service_date %>
Order Acceptance Date:        <%= @so.order_acceptance_date %>
Design Complete Date:         <%= @so.design_complete_date %>
Firm Order Completion Date:   <%= @so.foc_date %>
Order Completion Date:        <%= @so.order_completion_date %>
Customer Acceptance Date:     <%= @so.customer_acceptance_date %>
Billing Start Date:           <%= @so.billing_start_date %>

<% if !@so.notes.blank? -%>
Notes: 
<%= @so.notes %>
<% end -%>
