The following <%= @ordered_entity_type %> order is now in the "<%= @so.get_order_name %>" state.
Please review the order and take appropriate actions
A link to the Order Form in Alfresco is in the Order Notes in CDB.

<% if @so.ordered_entity -%>
<% todo_text = (@so.ordered_entity.get_prov_state.class.post_text(@so.ordered_entity.prov_state) + "\n" + @so.get_order_state.class.post_text(@so.order_state)).gsub(/^\n/,"") -%>
<% if !todo_text.blank? -%>
To Do:
<%= todo_text %>
<% end -%>
<% end -%>

CDB Order URL: <%= url_for(URI.join("#{CdbMailer.cdb_url}", "/admin/edit_so/#{@so.id}").to_s) %>
<% if @so.ordered_entity_id -%>
CDB <%= @ordered_entity_type %> URL: <%= url_for(URI.join("#{CdbMailer.cdb_url}", "/admin/edit_#{CdbMailer.parent_type_from_table @so.ordered_entity.class.table_name.classify}/#{@so.ordered_entity_id}").to_s) %>
<% end -%>
RT Tickets Related to this order: <%= url_for("http://rt.cenx.localnet/Search/Simple.html?q=") + @so.title.gsub(/ /,"+") %>