The following ENNI has indicated a fault

ENNI <%= @obj.cenx_name %> (CENX id: <%= @obj.cenx_id %>)
Owner: <%= @obj.operator_network.service_provider.name %>
Owners's ENNI ID: <%= @obj.owner_member_handle_value %>
State: <%= @obj.get_SM_state.state %>
Details: <%= @obj.get_SM_state.details %>
CDB URL: <%= url_for(URI.join("#{CdbMailer.cdb_url}", "/admin/edit_demarc/#{@obj.id}").to_s) %>
SIN URL: <%= url_for(URI.join("#{CdbMailer.sin_url}", "/ennis?enni_details=#{@obj.id}&mode=monitoring").to_s) %>

The following Paths pass through the affected ENNI
<% @affected_paths.each do |path| -%>
  <%= path.cenx_name %> (CENX ID: <%= path.cenx_id %>) State: <%= path.get_SM_state.state %> Details: <%= path.get_SM_state.details %>
<% end %>
