Dear <%= @so.primary_contact.name %>,</br>
Your <%= @ordered_entity_type %> order has been Accepted by CENX.</br>
Attached are the relevant CENX IDs and Firm Order Completion (FOC) Date:</br>
CENX ID’s</br>
Segment Order: <%= @so.cenx_id %></br>
<%= @ordered_entity_type %>: <%= @so.ordered_entity.cenx_id %>
<% if !@so.ordered_entity.owner_member_handle_value.blank? %>
Your ID: <%= @so.ordered_entity.owner_member_handle_value %> 
<%end %>
<p>
<% if !@so.foc_date.blank? -%>	
Firm Order Completion (FOC) Date: <%= @so.foc_date %></br>
A followup order completion notice will be sent on or before the FOC date above.
<% end %>

If you have any questions please direct them to <%= CdbMailer.cenx_prov %>

Regards,
CENX Provisioning