The following Path has indicated a fault

Path <%= @obj.cenx_name %> (CENX id: <%= @obj.cenx_id %>) belonging to member <%= @obj.owner_info_path %> has indicated a fault
State: <%= @obj.get_SM_state.state %>
Details: <%= @obj.get_SM_state.details %>
CDB URL: <%= url_for(URI.join("#{CdbMailer.cdb_url}", "/admin/edit_path/#{@obj.id}").to_s) %>
SIN URL: <%= url_for(URI.join("#{CdbMailer.sin_url}", "/paths?mode=monitoring&path_details=#{@obj.id}").to_s) %>


<% #The state of the Segments which are not OK and endpoints which are not Ok %>
<% @obj.segments.collect {|segment| segment if (segment.get_SM_state.state > AlarmSeverity::OK) && (segment.get_SM_state.state <= AlarmSeverity::UNAVAILABLE)}.compact.each do |segment| -%>
 Segment <%= segment.cenx_name %> (CENX id: <%= segment.cenx_id %>)
 ==============================================================================
 Member: <%= segment.owner_info_segment %>
 Member id: <%= segment.owner_member_handle_value %>
 State: <%= segment.get_SM_state.state %>
 Details: <%= segment.get_SM_state.details %>
 CDB URL: <%= url_for(URI.join("#{CdbMailer.cdb_url}", "/admin/edit_segment/#{segment.id}").to_s) %>
 <% segment.segment_end_points.collect {|ep| ep if (ep.get_SM_state.state > AlarmSeverity::OK) && (ep.get_SM_state.state <= AlarmSeverity::UNAVAILABLE)}.compact.each do |ep| %>
   Endpoint: <%= ep.cenx_name %>
   State: <%= ep.get_SM_state.state %>
   Details: <%= ep.get_SM_state.details %>
 <% end %>

<% end %>
