%p
  =@body_text

%p
  =link_to "View this report in your browser  →", filter_template_url(@sched_report.scheduled_task, {:host => @host})
  
%p
  ="Report generated on #{@report.run_date.in_time_zone(@sched_report.timezone)}."
