<div id="stats_graph_field">
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<p>
		
<script type="text/javascript">

  function SendRS_onclick(d) {
    var action = '<%= "upload_image_#{action_postfix}" %>'
    var form = new Element('form', {method: 'post', action: action});
    form.insert(new Element('input', {name: 'data', value: d, type: 'hidden'}));
    form.insert(new Element('input', {name: 'start_time', value: $('graph_start_time').value, type: 'hidden'}));
    form.insert(new Element('input', {name: 'end_time', value: $('graph_end_time').value, type: 'hidden'}));
    form.insert(new Element('input', {name: 'obj_id', value: $('obj_id').value, type: 'hidden'}));
    form.insert(new Element('input', {name: 'report_type', value: $('report_type').value, type: 'hidden'}));
    form.insert(new Element('input', {name: 'authenticity_token', value: "<%= form_authenticity_token %>", type: 'hidden'}));


    $(document.body).insert(form);
    form.submit();
    return;
  }

function upload_pngs(debug)
{          		
  e = document.getElementsByTagName('object');

    var concat_png = ""
    var i = 0
    var graph
    for(i = 0; i < e.length; i++) 
    {
      graph = document.getElementById(e[i].id);
      if (e[i].id.substr(0,7) == "cenxsla")
      {
        concat_png = concat_png + graph.get_img_binary() + "#";
      }
    }
    SendRS_onclick(concat_png);
}
</script>

  <%= form_tag :action => "save_to_csv_#{action_postfix}", :method => 'post' do %>
    <%= button_to_remote 'Get Data',
      :url => {:action => "stats_graph_#{action_postfix}"},
      :update => 'stats_graph_field',
      :before => "Element.show('spinner')",
      :complete => "Element.hide('spinner')",
      :with => "'start_time=' + $('graph_start_time').value + '&end_time=' + $('graph_end_time').value + '&obj_id=' + $('obj_id').value + '&report_type=' + $('report_type').value"
  %>

    <% if @graphs.size != 0 %>
      <%= button_to_function "Save to PDF", "upload_pngs()" %>
      <%= hidden_field_tag 'start_time', @start_time %>
      <%= hidden_field_tag 'end_time', @end_time %>
      <%= hidden_field_tag 'obj_id', @obj_id %>
      <%= hidden_field_tag 'report_type', @report_type %>
      <%= submit_tag("Save to CSV") %>
    <% end %>
  <% end %>


  <% if @graphs.size == 0 %>
  <p><%= text_area_tag 'error_text',@error_text, :cols => 30, :rows => 2, :readonly => true %></p>
<% end %>

<% @graphs.each do |graph| %> 
  <% if graph %>
    <p><%= raw graph %></p>
  <% else %>
    <p><%= text_area_tag 'error_text',@error_text, :cols => 30, :rows => 2, :readonly => true %></p>
  <% end %>
<% end %>

<% if @graphs.size != 0 %>
  <%= form_tag :action => "save_to_csv_#{action_postfix}", :method => 'post' do %>
    <%= button_to_remote 'Get Data',
      :url => {:action => "stats_graph_#{action_postfix}"},
      :update => 'stats_graph_field',
      :before => "Element.show('spinner')",
      :complete => "Element.hide('spinner')",
      :with => "'start_time=' + $('graph_start_time').value + '&end_time=' + $('graph_end_time').value + '&obj_id=' + $('obj_id').value + '&report_type=' + $('report_type').value"
  %>

    <%= button_to_function "Save to PDF", "upload_pngs()" %>
    <%= hidden_field_tag 'start_time', @start_time %>
    <%= hidden_field_tag 'end_time', @end_time %>
    <%= hidden_field_tag 'obj_id', @obj_id %>
    <%= hidden_field_tag 'report_type', @report_type %>
    <%= submit_tag("Save to CSV") %>
  <% end %>
<% end %>

</p>
</div>
