<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<%= form_tag :action => 'index_segment_state' do %>

<%= render(:partial => 'admin/list_any_type', :object => @segments,
            :locals => {
				:legend => 'Segments',
				:fcn_tail => 'segment', 
				:cols => %w{Segment\ Name State Operational\ state},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => {},
				:details => %w{get_prov_name get_SM_state_formatted},
				:enable_search => true,
				:ctl_name => :admin
			}) %>
<% end %>