<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>

<%= form_tag :action => 'index_node_state' do %>

<%= render(:partial => 'admin/list_any_type', :object => @nodes,
           :locals => {
				:legend => 'Nodes',
				:fcn_tail => 'node', 
				:cols => %w{Node\ Name State},
                                :local_link => nil,
                                :detail_link => 'name',
				:attrs => {},
				:details => %w{get_prov_name},
				:enable_search => true,
				:ctl_name => :admin
			}) %>
<% end %>
