<span><img alt="spinner" id="spinner" src="/images/small-loading.gif" style="display:none"/></span>
<%= form_tag :action => 'index_segment_end_point_state' do %>

<%= render( :partial => 'admin/list_any_type', :object => @eps,
            :locals => {
				:legend => 'Segment endpoints',
				:fcn_tail => 'segmentep', 
				:cols => %w{Endpoint\ Name State Operational\ state},
                                :local_link => nil,
                                :detail_link => 'cenx_name',
				:attrs => {},
				:details => %w{get_prov_name get_SM_state_formatted},
				:enable_search => true,
				:ctl_name => :admin
			}) %>
<% end %>