<p style="text-align:center"><img src="public/images/cenx.png"/></p>
<p style="text-align:right">
<%= raw(ServiceProvider.find_by_is_system_owner(true).address.gsub("\n", "<br>")) %>
<br>
<%= ServiceProvider.find_by_is_system_owner(true).website %>
</p>
<div id="banner">
  <br/><br/><br/>
  <h1 style="text-align:center">SERVICE MONITORING REPORT</h1>
  <br/><br/><br/><br/>
  <h2>Buyer:  <br/> <%= @segmentep.segment.owner_info_segment %></h2>
  <h2>Buyer's Circuit ID: <br/> <%= @segmentep.segment.owner_member_handle_value %></h2>
  <h2>Seller:  <br/> <%= @segmentep.segment.operator_info_segment %></h2>
  <h2>Seller's Circuit ID: <br/> <%= @segmentep.segment.operator_member_handle_value %></h2>
  <h2>CENX Circuit ID:  <br/> <%= @segmentep.segment.cenx_id %></h2>
  <h2>Test Type:  <br/> <%= @segmentep.cos_end_points.first.cos_test_vectors.first.test_type %></h2>
  <h2>Period:  <br/> <%= Time.at(@start_time).strftime("%d/%m/%y %H:%M") %> - <%= Time.at(@end_time).strftime("%d/%m/%y %H:%M") %> </h2>
</div>
<p style="page-break-before: always"></p>
<% @png_images.each do |png| %>
<img src='data:image/png;base64,<%= png %>' />
<% end %>

