<p style="text-align:center"><img src="public/images/cenx.png"/></p>
<p style="text-align:right">
<%= raw(formatted_address) %>
<br/>
<%= formatted_website %>
</p>
<div id="banner">
  <br/><br/><br/><br/><br/><br/><br/>
  
  <% if @report_type == "Turnup Test Report" %>
    <h1 style="text-align:center">CIRCUIT TURNUP REPORT</h1>
  <% elsif @report_type == "SLA Report" %>
    <h1 style="text-align:center">SLA REPORT</h1>
  <% elsif @report_type == "Troubleshooting Report" %>
    <h1 style="text-align:center">TROUBLESHOOTING REPORT</h1>
  <% else %>
    <h1 style="text-align:center">UNDEFINED REPORT</h1>
  <% end %>

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <h2>Member:  <br/> <%= @onovc.owner_info_segment %></h2>
  <h2>Member's Circuit ID: <br/> <%= @onovc.owner_member_handle_value %></h2>
  <h2>CENX Circuit ID:  <br/> <%= @onovc.cenx_id %></h2>
  <h2>Period:  <br/> <%= Time.at(@start_time).strftime("%d/%m/%y %H:%M") %> - <%= Time.at(@end_time).strftime("%d/%m/%y %H:%M") %> </h2>
</div>
<p style="page-break-before: always"></p>
<% @png_images.each do |png| %>
<img src='data:image/png;base64,<%= png %>' />
<br/><br/>
<% end %>
