<p style="text-align:center"><img src="public/images/cenx.png"/></p>
<p style="text-align:right">
<%= raw(ServiceProvider.find_by_name("Cenx").address.gsub("\n", "<br>")) %>
<br>
<%= ServiceProvider.find_by_name("Cenx").website %>
</p>
<div id="banner">
  <br/><br/><br/>
  <h1 style="text-align:center">SERVICE MONITORING REPORT</h1>
  <br/><br/><br/><br/>
  <h2>Owner:  <br/> <%= @enni.operator_network.service_provider.name %></h2>
  <h2>Owners's ENNI ID: <br/> <%= @enni.owner_member_handle_value %></h2>
  <h2>CENX ENNI ID:  <br/> <%= @enni.cenx_id %></h2>
  <h2>Period:  <br/> <%= Time.at(@start_time).strftime("%d/%m/%y %H:%M") %> - <%= Time.at(@end_time).strftime("%d/%m/%y %H:%M") %> </h2>
</div>
<p style="page-break-before: always"></p>
<% @png_images.each do |png| %>
<img src='data:image/png;base64,<%= png %>' />
<% end %>

