<h1>CENX ENNI Report</h1>

<p>*ENNI:<br/>
  <%=  collection_select( :obj , :id, @ennis,  :id, :config_description ,
    options ={:prompt => "Select", :selected => @id},
    :class =>"enni_new")%>
  <%= observe_field 'obj_id',
    :on => "changed",
    :function => 'if (!$("admin_link").visible()){$("admin_link").toggle();}',
    :condition => 'value != ""'%>
  <div id="admin_link" style="display:none;">
    <%= link_to_remote "See Admin Page",
        :url => {:action => "redirect_to_admin"},
        :with => "'id=' + $F('obj_id') + '&page=edit_demarc'" %>
  </div>
</p>

<p>*Start Date:<br/>
  <%= calendar_date_select :graph, :start_time%>
</p>

<p>*End Date:<br/>
  <%= calendar_date_select :graph, :end_time%>
</p>

<%= select_tag 'report_type', options_for_select(ServiceReportTypes::REPORT_TYPES, "Troubleshooting Report"), :disabled => true, :hidden => true %>


<%= render( :partial=> 'stats_graph', :locals => {:action_postfix => 'enni'} ) %>
