<h1>On Net OVC Report</h1>

<p>*Segment:<br/>
  <%=  collection_select( :obj , :id, @onovcs, :id, :pull_down_name_onovc ,
    options ={:prompt => "Select", :selected => @id},
    :class =>"on_net_ovc")%>
  <%= observe_field 'obj_id',
    :on => "changed",
    :function => 'if (!$("admin_link").visible()){$("admin_link").toggle();}',
    :condition => 'value != ""'%>
  <div id="admin_link" style="display:none;">
    <%= link_to_remote "See Admin Page",
        :url => {:action => "redirect_to_admin"},
        :with => "'id=' + $F('obj_id') + '&page=edit_segment'" %>
  </div>
</p>

<p>*Start Date:<br/>
  <%= calendar_date_select :graph, :start_time%>
</p>

<p>*End Date:<br/>
  <%= calendar_date_select :graph, :end_time%>
</p>

<p>*Report Type:<br/>
  <%= select_tag 'report_type', options_for_select(ServiceReportTypes::REPORT_TYPES, "SLA Report")%>
</p>

<%= render( :partial=> 'stats_graph', :locals => {:action_postfix => 'onovc'} ) %>

