<?xml version='1.0' encoding='utf-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang='en'> 
<head> 
    <meta charset='utf-8' content='text/html' http-equiv='Content-Type' /> 
		<%= csrf_meta_tag %>

    <title>CENX ADMIN | <%= controller.action_name %></title>
    <link href='/images/favicon.ico' rel='shortcut icon' /> 
    
    <%= stylesheet_link_tag 'admin', :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes "red"
    # or "blue", or "silver", or nil for the default!
    %>
    <%= javascript_tag do %>
      function toggle_visibility(id)
      {
        obj = $(id)
        obj.style.display = (obj.style.display == "none") ? "inline" : "none"
      }

      var delete_on = <%= CDBInfo::DELETE_ON %>
      var toggle_functions = new Object();
      function update_lists()
      {
        delete_on = !delete_on
        for( var i in toggle_functions)
        {
          toggle_functions[i]();
        }
      }
    <% end -%>
  </head>

  <body id="admin">
    
    
    <div class='header_wrapper'> 
      <div class='header'> 
        <div class='rule top'></div> 
        <div class='logo'> 
          <a href='/'> 
            <img alt='CENX' height='27' src='/images/cenx_logo.jpg' width='104' /> 
          </a> 
        </div> 
        <img alt='loading...' class='right' height='16' id='small_spinner' src='/images/small-loading.gif' style='display:none;margin-top:13px;margin-right:30px' width='16' /> 
      </div> 
    
      <div class='login'> 
        <ul>
          <li class="dropdown">
            <a href='#' class='dropdown-toggle'>
              <%= @current_user.email -%>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a href="<%= logout_url -%>" class="signout_link">
                  Signout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
      <ul id='header-nav'> 
        <li class='current'> 
          <a href='<%= url_for(:controller => 'admin') %>'> 
            DB Admin
            <span></span> 
          </a> 
        </li> 
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'stats') %>'> 
            Stats
            <span></span> 
          </a> 
        </li> 
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'path_factory') %>'> 
            Path Factory
            <span></span> 
          </a> 
        </li> 
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'reporting') %>'> 
            Reporting
            <span></span> 
          </a> 
        </li>
      </ul> 
      <div class='clear'></div> 
    </div> 
    
    <div class='header_spacer'></div> 
    
    <ul id='header-sub-nav'> 
      <%= render(:partial => "admin/db_search")%>
      
      <li class='current'> 
        <a href='#'> 
          <%= server = Socket.gethostname.split(".").first
          server = (server == "gandalf") ? "Live" : server
          (@page_title || "Central Database")  %>
          <%#*#(@page_title || "Central Database") + " (#{server})"  %>
        </a> 
      </li> 
    </ul> 

    <div class='clear'></div> 
    <div class='header_bottom'></div>

<table style="width:100%">
<tr>
  <td style="width:180px">
    <div class="grid_3">
      <%- unless @current_user.service_provider.is_sprint? -%>
        <div class='sidebar box'> 
          <h4 class='title'>Service Inventory</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'ENNIs', :controller => 'admin', :action => 'index_member_enni' %>
              </li> 
              <li> 
                <%= link_to 'Paths', :controller => 'admin', :action => 'index_path' %>
              </li> 
              <li> 
                <%= link_to 'On Net OVCs', :controller => 'admin', :action => 'index_onovc' %>
              </li> 
              <li>
                <%= link_to 'Off Net OVCs', :controller => 'admin', :action => 'index_offovc' %>
              </li>
              <li>
                <%= link_to 'Demarcs', :controller => 'admin', :action => 'index_member_demarc' %>
              </li>
            </ul> 
          </div> 
        </div>
        
        <div class='sidebar box'> 
          <h4 class='title'>Member Inventory</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'Members', :controller => 'admin', :action => 'index_sp' %>
              </li> 
              <li> 
                <%= link_to 'Networks', :controller => 'admin', :action => 'index_on' %>
              </li> 
              <li> 
                <%= link_to 'Network Types', :controller => 'admin', :action => 'index_ont' %>
              </li> 
              <li>
                <%= link_to 'OSS Data', :controller => 'admin', :action => 'index_ossi' %>
              </li>
            </ul> 
          </div> 
        </div>
        
        <div class='sidebar box'> 
          <h4 class='title'>OPS Inventory</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'Site Groups', :controller => 'admin', :action => 'index_site_group' %>
              </li>
              <li> 
                <%= link_to 'Sites', :controller => 'admin', :action => 'index_site' %>
              </li>
              <li>
                <%= link_to 'Nodes', :controller => 'admin', :action => 'index_node' %>
              </li>
              <li>
                <%= link_to 'Ports', :controller => 'admin', :action => 'index_port' %>
              </li>
              <li>
                <%= link_to 'OPS NNIs', :controller => 'admin', :action => 'index_cenx_enni' %>
              </li>
              <li>
                <%= link_to 'OPS Paths', :controller => 'admin', :action => 'index_cenx_path' %>
              </li>
              <li>
                <%= link_to 'OPS On Net OVCs', :controller => 'admin', :action => 'index_onovc' %>
              </li>
              <li>
                <%= link_to 'OPS Off Net OVCs', :controller => 'admin', :action => 'index_cenx_offovc' %>
              </li>
              <li>
                <%= link_to 'OPS Demarcs', :controller => 'admin', :action => 'index_cenx_demarc' %>
              </li>
              <li>
                <%= link_to 'OPS Networks', :controller => 'admin', :action => 'index_cenx_on' %>
              </li>
              <li>
                <%= link_to 'Equipment', :controller => 'admin', :action => 'index_ii' %>
              </li>
              <li>
                <%= link_to 'Network Managers', :controller => 'admin', :action => 'index_nm' %>
              </li>
              <li>
                <%= link_to 'QoS Policies', :controller => 'admin', :action => 'index_qosp'  %>
              </li>
              <li>
                <%= link_to 'Monitoring Flows', :controller => 'admin', :action => 'index_costv' %>
              </li>
            </ul> 
          </div> 
        </div>

        <div class='sidebar box'> 
          <h4 class='title'>Ordering</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'ENNI Order', :controller => 'admin', :action => 'new_so', :ordered_entity_type => "ENNI" %>
              </li>
              <li>
                <%= link_to 'On Net OVC Order', :controller => 'admin', :action => 'new_so', :ordered_entity_type => "OnNetOvc"%>
              </li>
              <li>
                <%= link_to 'Off Net OVC Order', :controller => 'admin', :action => 'new_so', :ordered_entity_type => "OffNetOvc"%>
              </li>
              <li>
                <%= link_to 'Demarc Order', :controller => 'admin', :action => 'new_so', :ordered_entity_type => "Demarc" %>
              </li>
              <li>
                <%= link_to 'Bulk Order', :controller => 'admin', :action => 'new_bo' %>
              </li>
            </ul> 
          </div> 
        </div>
      
        <div class='sidebar box'> 
          <h4 class='title'>Order Inventory</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'ENNI Orders', :controller => 'admin', :action => 'index_enni_new_order' %>
              </li>
              <li>
                <%= link_to 'On Net OVC Orders', :controller => 'admin', :action => 'index_onovc_order' %>
              </li>
              <li>
                <%= link_to 'Off Net OVC Orders', :controller => 'admin', :action => 'index_offovc_order' %>
              </li>
              <li>
                <%= link_to 'Demarc Orders', :controller => 'admin', :action => 'index_demarc_order' %>
              </li>
              <li>
                <%= link_to 'Bulk Orders', :controller => 'admin', :action => 'index_bulk_order' %>
              </li>
            </ul> 
          </div> 
        </div>
      
        <div class='sidebar box'> 
          <h4 class='title'>Utilization Reports</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li> 
                <%= link_to 'Member ENNI', :controller => 'admin', :action => 'index_member_enni_utilization' %>
              </li>
              <li>
                <%= link_to 'CENX IF', :controller => 'admin', :action => 'index_cenx_enni_utilization' %>
              </li>
            </ul> 
          </div> 
        </div>
      <%- end -%>

      <div class='sidebar box'> 
        <h4 class='title'>Status Dashboards</h4> 
          <div class='sidebar_content'> 
            <ul> 
              <li><%= link_to 'Master Dash', controller: :master_dashboard, action: :index %></li>
              <li>---------------------------</li>
              <li><%= link_to 'CoreSite Build Center', :controller => :coresite_build_center, :action => :index %></li>
			  <li><%= link_to 'Automated Build Center', controller: :automated_build_center, action: :index %></li>
              <li><%= link_to 'Data Archive', controller: :data_archive, action: :index%></li>
              <li><%= link_to 'Grid', controller: :grid, action: :index %></li>
              <li><%= link_to 'Audit', controller: :audit, action: :index %></li>
              <li><%= link_to 'Orders', controller: :order, action: :index %></li>
              <li><%= link_to 'LKP', controller: :lkp, action: :index%></li>
            </ul> 
        </div> 
      </div> 

      <%- unless @current_user.service_provider.is_sprint? -%>
        <div class='sidebar box'> 
          <h4 class='title'>Tools</h4> 
          <div class='sidebar_content'> 
            <ul> 
  			      <li><%= link_to 'List POEs', :controller => :plan_of_execution, :action => :index %></li>
              <li><%= link_to 'Upload POE (OBSOLETE -- TO BE DELETED)', :controller => :plan_of_execution, :action => :new %></li>
              <li> 
                <%= link_to 'CENX ID Legend', :controller => 'admin', :action => 'cenx_id_legend' %>
              </li>
              <li>
                <%= link_to 'DB Schema', :controller => 'admin', :action => 'show_new_schema' %>
              </li>
              <li>
                <%= link_to 'Path Model', :controller => 'admin', :action => 'show_path_schema' %>
              </li>
              <li>
                <%= link_to 'Class Member Attrs', :controller => 'admin', :action => 'index_cma'%>
              </li>
              
              <li>
                <%= link_to 'SW Version', '/version' %>
              </li>
            </ul> 
          </div> 
        </div>
      
        <div class='sidebar box'> 
          <h4 class='title clickable' onclick="$(this).siblings()[0].toggle();">Restricted Tools</h4> 
          <div class='sidebar_content' style="display:none"> 
            <ul> 
              <li> 
                <%= link_to_function 'Toggle Delete',  "update_lists()" %>
              </li>
              <li>  x
                <%= link_to 'Backup DB', {:controller => 'admin', :action => 'backup_db'}, :confirm => 'Are you sure?' -%>
              </li>
              <li>
                <%= link_to 'Reset DB', :controller => 'db', :action => 'index' %>
              </li>
              <!-- <li>
                <%= link_to 'Restore', {:controller => 'admin', :action => 'restore_db'}, :confirm => 'Are you sure?' -%>
              </li>
              <li>
                <%= link_to 'Audit', {:controller => 'admin', :action => 'audit_db'}, :confirm => 'Are you sure?' -%>
              </li> -->
              <li>
                <%= link_to 'Old DB Schema', :controller => 'admin', :action => 'show_schema' %>
              </li>
              <li>
                <%= link_to 'Move Objects', :controller => 'admin', :action => 'move_objects' %>
              </li>
              <li>
                <%= link_to 'Copy Ports', :controller => 'admin', :action => 'copy_ports' %>
              </li>
              <li>
                <%= link_to 'New Relic Profiling', '/newrelic' %>
              </li>
              <li>
                <%= link_to 'Recompute LKP Exceptions', {:controller => 'admin', :action => 'recompute_sla_exceptions_with_lkp'}, :confirm => 'Are you sure you want to recompute all the SLA exceptions? This may take a while.' -%>
              </li>
              <li>
                <%= link_to 'Recompute Utilization Exceptions', {:controller => 'admin', :action => 'recompute_utilization_exceptions'}, :confirm => 'Are you sure you want to recompute all the Utilization exceptions for the current year? This may take a while.' -%>
              </li>
              <li>
                <%= link_to 'Make everything Live', {:controller => 'admin', :action => 'make_all_live'}, :confirm => 'Are you sure? This may take a while and will run in the background wait for the process to finish. This will create fake data and there is NO undo.' -%>
              </li>  
              </li>
                <%= link_to 'Email Configuration', {:controller => 'admin', :action => 'edit_emailconfig'} -%>
              </li>     
            </ul> 
          </div> 
        </div>
      
        <div class='sidebar box'> 
          <h4 class='title clickable' onclick="$(this).siblings()[0].toggle();">EXFO OSS (Testing)</h4> 
          <div class='sidebar_content' style="display:none"> 
            <ul> 
              <li>
                <%= link_to 'Autorization.wsdl', :controller => 'admin', :action => 'render_bx_auth' %>
              </li>
              <li>
                <%= link_to 'DataExtract.wsdl', :controller => 'admin', :action => 'render_bx_de' %>
              </li>
              <li>
                <%= link_to 'DataExtractNew.wsdl', :controller => 'admin', :action => 'render_bx_den' %>
              </li>
              <li>
                <%= link_to 'Util.wsdl', :controller => 'admin', :action => 'render_bx_util' %>
              </li>
            </ul> 
          </div> 
        </div>
      <%- end -%>
    </div><!-- end sidebar -->
  
  </td>
  <td>
    <div id="content">
      
      <div style="color: green" ><%= flash[:notice] -%></div>
      <div style="color: red" ><%= flash[:error] -%></div>
      
      <%= yield :layout %>
    </div>
  </td>
</tr>
</table>

    <div id="footer">
      <p style="color: #609C25" > <b>Notices:</b> <%= flash[:notice] %>
        <% if flash[:error] %>
          <br/><span style="color: #ba2a2a" > <b>Errors:</b> <%= flash[:error] %></span>
        <% end %></p>
    </div>
    
  </body>
</html>
