<?xml version='1.0' encoding='utf-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang='en'> 
<head> 
    <meta charset='utf-8' content='text/html' http-equiv='Content-Type' /> 
		<%= csrf_meta_tag %>

    <title>CENX ADMIN | <%= controller.action_name %></title>
    <link href='/images/favicon.ico' rel='shortcut icon' /> 
    
    <%= stylesheet_link_tag 'admin', :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes "red"
    # or "blue", or "silver", or nil for the default!
    %>
    <%= javascript_tag do %>
      function toggle_visibility(id)
      {
      obj = $(id)
      obj.style.display = (obj.style.display == "none") ? "inline" : "none"
      }

      var delete_on = <%= CDBInfo::DELETE_ON %>
      var toggle_functions = new Object();
      function update_lists()
      {
      delete_on = !delete_on
      for( var i in toggle_functions)
      {
      toggle_functions[i]();
      }
      }
    <% end -%>
  </head>

  <body id="admin">
    <div class='header_wrapper'> 
      <div class='header'> 
        <div class='rule top'></div> 
        <div class='logo'> 
          <a href='/'> 
            <img alt='CENX' height='27' src='/images/cenx_logo.jpg' width='104' /> 
          </a> 
        </div> 
        <img alt='loading...' class='right' height='16' id='small_spinner' src='/images/small-loading.gif' style='display:none;margin-top:13px;margin-right:30px' width='16' /> 
      </div> 
    
      <div class='login'> 
        <ul>
          <li class="dropdown">
            <a href='#' class='dropdown-toggle'>
              <%= @current_user.email -%>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a href="<%= logout_url -%>" class="signout_link">
                  Signout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <ul id='header-nav'> 
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'admin') %>'> 
            DB Admin
            <span></span> 
          </a> 
        </li> 
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'stats') %>'> 
            Stats
            <span></span> 
          </a> 
        </li> 
        <li class='current'> 
          <a href='<%= url_for(:controller => 'path_factory') %>'> 
            Path Factory
            <span></span> 
          </a> 
        </li>
        <li class='app_link'> 
          <a href='<%= url_for(:controller => 'reporting') %>'> 
            Reporting
            <span></span> 
          </a> 
        </li>
      </ul> 
      <div class='clear'></div> 
    </div> 
    
    <div class='header_spacer'></div> 
    
    <ul id='header-sub-nav'> 
      <li class='current'> 
        <a href='#'> 
          <%= server = Socket.gethostname.split(".").first
          server = (server == "gandalf") ? "Live" : server
           (@page_title || "Path Factory (UNDER CONSTRUCTION)") + " (#{server})" %>
        </a> 
      </li> 
    </ul> 

    <div class='clear'></div> 
    <div class='header_bottom'></div>

<table style="width:100%">
<tr>
  <td style="width:180px">
    <div class="grid_3">
      <div class='sidebar box'> 
        <h4 class='title'>Create</h4> 
        <div class='sidebar_content'> 
          <ul> 
            <li> 
              <%= link_to 'Standard Path', :action => 'new_path' %>
            </li> 
            <li> 
              <%= link_to 'LS Single-Cell Path', :action => 'stats_input_params_segmentep' %>
            </li> 
            <li> 
              <%= link_to 'LS Multi-Cell Path', :action => 'stats_input_params_segmentep' %>
            </li> 
          </ul> 
        </div> 
      </div>

      <div class='sidebar box'> 
        <h4 class='title'>Tools</h4> 
        <div class='sidebar_content'> 
          <ul> 
            <li> 
              <%= link_to_function 'Toggle Delete',  "update_lists()" %>
            </li> 
          </ul> 
        </div> 
      </div>
    </div><!-- end sidebar -->
  
  </td>
  <td>
    <div id="content">
      
      <div style="color: green" ><%= flash[:notice] -%></div>
      <div style="color: red" ><%= flash[:error] -%></div>
      
      <%= yield :layout %>
    </div>
  </td>
</tr>
</table>

    <div id="footer">
      <p style="color: #609C25" > <b>Notices:</b> <%= flash[:notice] %>
        <% if flash[:error] %>
          <br/><span style="color: #ba2a2a" > <b>Errors:</b> <%= flash[:error] %></span>
        <% end %></p>
    </div>
    
  </body>
</html>
